{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "autorized_user.add" | trans }}{% endblock %}
{% block body %}
    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
    <div class="content animate-panel">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr><td class="col-sm-4"></td><td class="col-sm-8"></td></tr>
                            {{ form_row(form.role) }}
                            {{ form_row(form.startDate) }}
                            {{ form_row(form.endDate) }}
                            {{ form_row(form.duplicate) }}
                            </tbody>
                        </table>
                        <div class="text-right m-t-xs">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}