{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %} Display-immo - Nouvelle {{ invoice.title }} {% endblock %}
{% block body %}
    <p>Bonjour {{ username|capitalize }},</p>
    <p>
        Nous vous informons qu'une nouvelle facture est à votre disposition sur votre interface DISPLAY.<br/> <br/>
        N'hésitez pas à en prendre connaissance.<br/>
    </p>
{% endblock %}