{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %} Display-immo - Fin de l'option [Nom option] {% endblock %}
{% block body %}
    <p>Bonjour [NOM],</p>
    Nous vous informons que malgré nos relances l'(es) option(s) suivante(s) ne sont plus active(s):<br/> <br/>
    [nom de l'option]<br/><br/>
    Désormais pour les réactiver merci de bien vouloir procéder à une nouvelle commande.<br/><br/>
    Cordialement,<br/><br/>
    L'équipe DISPLAY</p>
{% endblock %}