{% extends 'AppBundle::Emails/layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "invoices.payment_activation_mail_subjet"|trans }}{% endblock %}
{% block body %}
    <p>Bonjour {{ order.user.name|capitalize }},</p>
    <p>
        Nous vous confirmons la bonne réception du règlement et l'activation de(s) option(s) de la commande
        {{ order.referenceCommand }} faite le {{ order.executionDate|date('d-m-Y à H:i:s') }}
        pour le compte de l'agence {{ order.group.name }}.z
    </p>
{% endblock %}