{% extends 'AppBundle::Emails/layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "invoices.order_received_mail_subjet"|trans }}{% endblock %}
{% block body %}
    <p>Bonjour {{ order.user.name|capitalize }},</p>
    <p>
        Veuillez trouver ci-dessous le récapitulatif de votre commande faite le
        {{ order.executionDate|date('d-m-Y à H:i:s') }} pour le compte de l'agence
        {{ order.group.name }}.<br /><br />
        {{ order.referenceCommand }}<br/>
        {{ "quantity" | trans }} : {{ order.details['quantity']}}<br/>
        {{ advantageOption.month}} {{ "Months"|trans }}<br/>
        {{ ("invoices.method."~order.payMethod) | trans }}<br/>
    </p>
{% endblock %}