{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Changement du statut du ticket {{ bug.title }}
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ bug.owner.name }} ,
    </p>
    <p>
        Votre ticket d'incident
        <a href="{{ path('gestion_bugs_view',{'remoteId':bug.remoteId}) }}"
           class="active" target="_blank" title="voir le ticket">{{ bug.title }}</a>
        ouvert le {{ bug.createdAt|date('d-m-Y à H:i:s')}} est désormais en statut
        {% if bug.status == 'resolved' %}
            Résolu
        {% elseif bug.status == 'progress' %}
            En cours
        {% else %}
            Ouvert
        {% endif %}
        <br/>
    </p>

{% endblock %}