{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Nouveau ticket d'incident
    {% if bug.status == 'resolved' %}
        Résolu
    {% elseif bug.status == 'progress' %}
        En cours
    {% else %}
        Ouvert
    {% endif %}
{% endblock %}
{% block body %}
    <p>
        Bonjour Administrateur ,
    </p>
    <p>
        Un nouveau ticket d'incident a été ouvert par "{{ bug.owner.name|capitalize }}" <br /><br>
        <b>Titre : </b>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ path('gestion_bugs_view',{'remoteId':bug.remoteId}) }}"
           class="active" target="_blank" title="voir le ticket">{{ bug.title }}</a>
        <br/><br>
        <b>Priorité : </b>
        {% if bug.priority == 'high' %}
           <b> Élevé </b> <br/>
        {% elseif bug.priority == 'medium' %}
            <b> Moyen </b> <br/>
        {% else %}
            <b> Bas </b> <br/>
        {% endif %}
        <br>
        <b>Description : </b>
        {{ bug.description|raw }}<br/><br/>
        Merci de bien vouloir y répondre dans les meilleurs délais.<br/>
    </p>

{% endblock %}