{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Nouveau ticket d'incident
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ bug.owner.name }} ,
    </p>
    <p>
        Nous vous confirmons que le ticket d'incident ouvert le {{ bug.createdAt|date('d-m-Y à H:i:s')}}
        a bien été reçu par nos services.<br/> <br/>
        <b>Titre : </b>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ path('gestion_bugs_view',{'remoteId':bug.remoteId}) }}"
           class="active" target="_blank" title="voir le ticket">{{ bug.title }}</a>
        <br/><br>
        <b>Priorité : </b>
        {% if bug.priority == 'high' %}
            <b> Élevé </b> <br/>
        {% elseif bug.priority == 'medium' %}
            <b> Moyen </b> <br/>
        {% else %}
            <b> Bas </b> <br/>
        {% endif %}
        <br>
        <b>Description : </b>
        {{ bug.description|raw }}<br/><br/>
        Nous allons vous répondre dans les meilleurs délais.<br/>
    </p>

{% endblock %}