{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Réponse au ticket {{ bug.title }}
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ bug.owner.name }} ,
    </p>
    <p>
        Une réponse vous a été envoyé sur votre interface DISPLAY concernant le ticket d'incident
        <a href="{{ path('gestion_bugs_view',{'remoteId':bug.remoteId}) }}"
           class="active" target="_blank" title="voir le ticket">{{ bug.title }}</a>
        ouvert le {{ bug.createdAt|date('d-m-Y à H:i:s')}}  <br/>
        Merci de bien vouloir en prendre connaissance rapidement en vous connectant sur
            <a href="https://www.display-immo.fr">www.display-immo.fr</a>.<br/>
    </p>

{% endblock %}