{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "employees.list" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ app.user.getGroup().parentGroup ? path('group_agency_show', { 'remoteId' : app.user.getGroup().getRemoteId() }) : path('agency_my', { 'remoteId' : app.user.getGroup().getRemoteId() }) }}">{{ "Agence" | trans }}</a></span>
                    </li>

                    <li class="active">
                        <span>{{ "employees.list" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <a href="">{{ "employees.list" | trans }}</a>
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    {{ "employees.list" | trans }}
                </div>
                <div class="panel-body">
                    {{ datatable_render(datatable) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}