{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "agency_employee_edit" | trans }}{% endblock %}

{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ user.getGroup().parentGroup ? path('group_agency_show', { 'remoteId' : user.getGroup().getRemoteId() }) : path('agency_my', { 'remoteId' : user.getGroup().getRemoteId() }) }}">{{ "Agence" | trans }}</a></span>
                    </li>
                    <li>
                        <span><a href="{{ path('agency_employee_show', { 'remoteId' : user.getRemoteId() }) }}">{{ "Employée" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ "agency_employee_edit" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <a href="">{{ "agency_employee_edit" | trans }}</a>
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <a href="{{ path('group_agency_show',{'remoteId':user.group.getRemoteId()}) }}">{{ 'back'|trans }}</a>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/employee.html.twig' %}
                    {{ form_start(form, { 'action': path('agency_employee_edit', { 'remoteId' : user.getRemoteId() }), 'attr':{'novalidate':'novalidate'} }) }}
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            {{ form_row(form.avatar) }}
                            <p class="small m-t-md">
                                {{ "employees.add_avatar_description" | trans }}
                            </p>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.username,{'attr':{'placeholder':''}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.email,{'attr':{'placeholder':''}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.name,{'attr':{'placeholder':''}}) }}
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-lg-12">
                                        {{ form_row(form.groups) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_row(form.roles) }}
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MARKETING')  %}
                                    <div class="user-status">
                                        {{ form_row(form.enabled) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="hidden">{{ form_rest(form) }}</div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {{ form_start(formPassword, { 'action': path('agency_employee_edit', { 'remoteId' : user.getRemoteId() }) }) }}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formPassword.current_password, { 'attr': {'class': 'form-control','placeholder': 'Mot de passe'} }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.first,{'attr':{'placeholder':'******'}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.second,{'attr':{'placeholder':'******'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                    </div>
                    {{ form_end(formPassword) }}
                </div>
            </div>
        </div>
        {% if formModeration is defined %}
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h3>{{ 'Modération'|trans }}</h3>
                        {% form_theme formModeration 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(formModeration) }}
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% if user.getGroup().hasAnnoncesOption() %}
                                {{ form_row(formModeration.houseModelsModeration) }}
                                {{ form_row(formModeration.adsModeration) }}
                            {% endif %}
                            {% if user.getGroup().hasProgramOption() %}
                                {{ form_row(formModeration.programModeration) }}
                            {% endif %}
                            </tbody>
                        </table>
                        <div class="text-right m-t-xs">
                            {{ form_widget(formModeration.submit) }}
                        </div>
                        {{ form_end(formModeration) }}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if formCommercialPortals is defined %}
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-body">
                    {% form_theme formCommercialPortals 'AppBundle:Common:Form/commercial_entity.html.twig' %}
                    {{ form_start(formCommercialPortals,{'attr':{'id':'form-commercials-portals', 'class':'i-checks'}}) }}
                    <table class="table table-bordered table-striped">
                        <tbody>
                        {{ form_widget(formCommercialPortals.commercialsPortal) }}
                        </tbody>
                    </table>
                    <div class="text-right m-t-xs">
                        {{ form_widget(formCommercialPortals.cancel) }}
                        {{ form_widget(formCommercialPortals.submit) }}
                    </div>
                    <div class="hidden">
                        {{ form_rest(formCommercialPortals) }}
                    </div>
                    {{ form_end(formCommercialPortals) }}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}