{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "employees.add" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ app.user.getGroup() and app.user.getGroup().hasRole('ROLE_GROUP') ? path('group_agency_show', { 'remoteId' : group.getRemoteId() }) : path('agency_my') }}">{{ "Agence" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ "employees.add" | trans }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/employee.html.twig' %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            <i class="pe-7s-user fa-5x text-muted"></i>
                            <p class="small m-t-md">
                                {{ "employees.add_avatar_description" | trans }}
                            </p>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.username,{'attr':{'placeholder':''}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.plainPassword.first,{'attr':{'placeholder':'******'}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.plainPassword.second,{'attr':{'placeholder':'******'}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.email,{'attr':{'placeholder':''}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.name,{'attr':{'placeholder':''}}) }}
                                </div>
                                <div class="col-lg-12">
                                    {{ form_row(form.roles,{'attr':{'placeholder':'Fonction', 'class':'select2-once'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="">
                        <div class="hpanel hgreen">
                            {% form_theme form 'AppBundle:Common:Form/employee.html.twig' 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                            <div class="panel-body">
                                <h3>{{ 'Modération'|trans }}</h3>
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    {% if form.houseModelsModeration is defined %}
                                    <tr>
                                        {{ form_row(form.houseModelsModeration,{'attr':{'placeholder':''}}) }}
                                    </tr>
                                    <tr>
                                        {{ form_row(form.adsModeration,{'attr':{'placeholder':''}}) }}
                                    </tr>
                                    {% endif %}
                                    {% if form.programModeration is defined %}
                                    <tr>
                                        {{ form_row(form.programModeration,{'attr':{'placeholder':''}}) }}
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="/">{{ 'action.cancel'|trans }}</a>
                        <input type="submit" class="btn btn-primary" value="{{ 'action.add'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}