{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "employees.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ user.getGroup().parentGroup ? path('group_agency_show', { 'remoteId' : user.getGroup().getRemoteId() }) : path('agency_my') }}">{{ "Agence" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ "employees.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "employees.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('agency_employee_edit', {'remoteId': user.getRemoteId() }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    {% if user.getAvatar() %}
                        <img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(user.getAvatar()) }}">
                    {% else %}
                        <i class="pe-7s-user fa-5x text-muted"></i>
                    {% endif %}
                    <h3><a href="">{{ user.name }}</a></h3>
                    <div class="text-muted font-bold m-b-xs"></div>
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr><td width="35%">{{ 'Username'|trans }}</td><td width="65%">{{ user.getUsername() }}</td></tr>
                            <tr><td>Nom</td><td>{{ user.name }}</td></tr>
                            <tr><td>Email</td><td>{{ user.getEmail() }}</td></tr>
                            <tr>
                                <td>Roles</td>
                                <td>
                                    <ul>
                                        {% for role in user.getRoles() %}
                                            {% if role != 'ROLE_AGENCY' and role != 'ROLE_USER' %}
                                                <li>{{ role|trans }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if user.hasRole('ROLE_SALESMAN') %}
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h3>{{ 'Modération'|trans }}</h3>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% if user.getGroup().hasAnnoncesOption() %}
                                <tr><td>{{ 'user.moderate_program'|trans }}</td><td>{{ user.houseModelsModeration ? 'Oui' : 'Non' }}</td></tr>
                                <tr><td>{{ 'user.moderate_ads'|trans }}</td><td>{{ user.adsModeration ? 'Oui' : 'Non' }}</td></tr>
                            {% endif %}
                            {% if user.getGroup().hasProgramOption() %}
                                <tr><td>{{ 'user.moderate_program'|trans }}</td><td>{{ user.programModeration ? 'Oui' : 'Non' }}</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h3>{{ 'Liste de portails Payant'|trans }}</h3>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% for portalRegistrationLimit in user.getCommercialsPortal() %}
                                {% if portalRegistrationLimit.getPortal().getCluster() == 'PAYANT' %}
                                    {% set portalId = portalRegistrationLimit.getPortal().getId() %}
                                    {% if portalsRegistrations[portalId] is defined %}
                                        <tr>
                                            <td class="col-sm-2"><img src="/{{ portalRegistrationLimit.getPortal().getIcon() }}" /></td>
                                            <td class="col-sm-2">{{- portalRegistrationLimit.getLimit() ~' / '~ portalsRegistrations[portalId].getAdLimit() -}}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}