{% extends 'AppBundle::layout.html.twig' %}
{% set body_class='blank' %}
{% block blank_body %}
    {% block fos_user_content %}
        <div class="login-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            Votre demande a été pris en considération. <br><br>

                            Un email de réinitiation de mot de passe à été envoyé. <br><br>

                            Veuillez consulter votre boite de réception. <br><br>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
