{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "messages" %}
{% set body_class='blank' %}
{% block blank_body %}
{% block fos_user_content %}
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>{{ "resetting.recover_pwd"|trans }}</h3>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <p>
                            {{ "resetting.email_recover"|trans }}
                        </p>
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="loginForm">
                            <div>
                                <label class="control-label" for="username">{{ 'Email'|trans }}</label>
                                <input type="text" placeholder="example@gmail.com" class="form-control" title="{{ "Please enter you email adress"|trans }}" id="username" name="username" required="required" />
                                <span class="help-block small">{{ "resetting.email_address"|trans }}</span>
                            </div>
                            <div>
                                <input class="btn btn-success btn-block" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="label label-success pull-right">{{ site.version }}</span>
                {{ site.copyright|raw }}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
{% endblock %}
