{% extends 'AppBundle::layout.html.twig' %}

{% set body_class='blank' %}
{% block blank_body %}
    {% block fos_user_content %}
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>{{ 'resetting.recover_pwd'|trans }}</h3>
                    <small>{{ 'resetting.fill_inputs'|trans }}</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <p>
                            {{ 'resetting.email_recover'|trans }}
                        </p>
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <input class="btn btn-success btn-block" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock fos_user_content %}
{% endblock %}
