{% stylesheets
	'bundles/notes/css/common.css'
    'bundles/announcements/css/announcement.css'        
    filter='cssrewrite,?yui_css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" async defer />
{% endstylesheets %}