{% set col = 12/(trackingParams.options|length > 4 ? 4 : trackingParams.options|length) %}
{% for option in trackingParams.options %}
    {% include '@App/Payment/optionTracking.html.twig'  %}
{% endfor %}