{% extends 'AppBundle::layout.html.twig' %}

{% block blank_body %}
{% set body_class ='blank' %}
    <div class="color-line"></div>
    <div class="back-link">
        <a href="/" class="btn btn-primary">Retour au tableau de bord</a>
    </div>
    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>500</h1>
        <strong>Erreur Interne au Serveur</strong>
        <p>
            Le serveur a rencontré un problème et ne peut pas donner suite à votre demande. Nous vous prions de biens vouloir nous excuser.
        </p>
        <a href="/" class="btn btn-xs btn-success">Retour au tableau de bord</a>
    </div>
{% endblock %}