{% extends 'AppBundle::layout.html.twig' %}

{% block blank_body %}
{% set body_class ='blank' %}
    <div class="color-line"></div>
    <div class="back-link">
        <a href="/" class="btn btn-primary">Retour au tableau de bord</a>
    </div>
    <div class="error-container">
        <i class="pe-7s-way text-success big-icon"></i>
        <h1>403</h1>
        <strong>Vous n'êtes pas autorisé a consulter cette page</strong>
        <a href="/" class="btn btn-xs btn-success">Retour au tableau de bord</a>
    </div>
{% endblock %}