<div class="panel-group" id="accordion{{ suffix  }}" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ suffix  }}">
            <h4 class="panel-title">
                <a class="accordion-title" data-toggle="collapse" data-parent="#accordion{{ suffix  }}" href="#collapse{{ suffix  }}"
                   aria-expanded="true" aria-controls="collapse{{ suffix  }}" >
                    <i class=" pull-right fa fa-chevron-up"></i>
                    {{ title }}
                </a>
            </h4>
        </div>
        <div id="collapse{{ suffix  }}" class="panel-collapse collapse in" role="tabpanel"
             aria-labelledby="heading{{ suffix  }}" aria-expanded="true">
            <div class="panel-body">
                {{ content }}
            </div>
        </div>
    </div>
</div>