{% javascripts
    '@AppBundle/Resources/public/js/plugins/jquery.js'
    '@AppBundle/Resources/public/js/plugins/jquery-ui.js'
    '@AppBundle/Resources/public/js/plugins/moment.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap.js'
    '@AppBundle/Resources/public/js/plugins/jquery.slimscroll.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-filestyle.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery.flot.resize.js'
    '@AppBundle/Resources/public/js/plugins/jquery_006.js'
    '@AppBundle/Resources/public/js/plugins/curvedLines.js'
    '@AppBundle/Resources/public/js/plugins/index_002.js'
    '@AppBundle/Resources/public/js/plugins/icheck.js'
    '@AppBundle/Resources/public/js/plugins/jquery_005.js'
    '@AppBundle/Resources/public/js/plugins/toastr.min.js'
    '@AppBundle/Resources/public/js/plugins/sweet-alert.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-datepicker.min.js'
    '@AppBundle/Resources/public/js/plugins/metisMenu.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-datepicker-locales/bootstrap-datepicker.fr.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery.sparkline.js'
    '@AppBundle/Resources/public/js/plugins/jszip.min.js'
    '@AppBundle/Resources/public/js/plugins/pdfmake.min.js'
    '@AppBundle/Resources/public/js/plugins/vfs_fonts.js'
    '@AppBundle/Resources/public/js/plugins/dataTables.min.js'
    '@AppBundle/Resources/public/js/plugins/dataTables.buttons.min.js'
    '@AppBundle/Resources/public/js/plugins/dataTables.responsive.min.js'
    '@AppBundle/Resources/public/js/plugins/buttons.html5.min.js'
    '@AppBundle/Resources/public/js/plugins/buttons.print.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery.cookie-1.4.1.min.js'
    '@AppBundle/Resources/public/js/plugins/select2.min.js'
    '@AppBundle/Resources/public/js/plugins/dropzone.min.js'
    '@AppBundle/Resources/public/js/plugins/homer.js'
    '@AppBundle/Resources/public/js/plugins/charts.js'
    '@AppBundle/Resources/public/js/plugins/chartjs/Chart.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-slider.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-editable.min.js'
    '@AppBundle/Resources/public/js/plugins/summernote/summernote.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery-validation/jquery.validate.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery-validation/localization/messages_fr.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js'
    '@AppBundle/Resources/public/js/plugins/jquery.form.min.js'
    '@AppBundle/Resources/public/js/plugins/fullcalendar/fullcalendar.min.js'
    '@AppBundle/Resources/public/js/plugins/fullcalendar/lang/fr.js'
    '@AppBundle/Resources/public/js/plugins/jquery.flot.pie.js'
    '@AppBundle/Resources/public/js/plugins/jquery.typeahead.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-datetimepicker.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery.minicolors.min.js'
    '@AppBundle/Resources/public/js/plugins/jquery-file-upload/js/jquery.iframe-transport.js'
    '@AppBundle/Resources/public/js/plugins/jquery-file-upload/js/jquery.fileupload.js'
    '@AppBundle/Resources/public/js/plugins/isotope/isotope.js'
    '@AppBundle/Resources/public/js/plugins/ladda/spin.min.js'
    '@AppBundle/Resources/public/js/plugins/ladda/ladda.min.js'
    '@AppBundle/Resources/public/js/plugins/ladda/ladda.jquery.min.js'
    '@AppBundle/Resources/public/js/plugins/d3/d3.min.js'
    '@AppBundle/Resources/public/js/plugins/c3/c3.min.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap-multiselect/advanced.form.js'
    '@AppBundle/Resources/public/js/index.js'
    '@AppBundle/Resources/public/js/plugins/fancybox.js'
 %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="application/javascript" src="{{ asset('bundles/app/js/plugins/select2-locales/'~app.request.locale~'.js') }}"></script>
<script type="text/javascript">
    {% if app.request.hasPreviousSession %}
        jQuery(document).ready(function(){
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    toastr.{{ label }}("{{ flash|trans }}");
                {% endfor %}
            {% endfor %}
        });
    {% endif %}
</script>