<div class="stats-label text-color">
    <span class="font-extra-bold font-uppercase">{{ app.user.name }}</span>
    {% for group in app.user.groups %}
        <small class="text-muted">{{ group.name }}</small><br/>
    {% endfor %}

    {% set currentAgency = null %}
    {% set group = null %}
    {% if app.user.group and app.user.group.hasRole('ROLE_GROUP') and app.request.cookies.has('use_agency') %}
        <div class="dropdown">
            {% for group in app.user.group.agencyGroups %}
                {% if group.getRemoteId() == app.request.cookies.get('use_agency') %}
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">{{ group.name }} <b class="caret"></b></small>
                    </a>
                    {% set currentAgency = group %}
                {% endif %}
            {% endfor %}
            {% if not currentAgency %}
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> ---- <b class="caret"></b></small>
                </a>
                {% set currentAgency = group %}
            {% endif %}
            <ul class="dropdown-menu animated flipInX m-t-xs" id="agencies_list">
                {% for parentGroup in app.user.groups %}
                    {% for group in parentGroup.agencyGroups %}
                        <li><a href="javascript:void(0);" data-id="{{ group.getRemoteId() }}">{{ group.name }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

        {% if currentAgency %}
            <div class="dropdown">
                {% set currentCommercial = null %}
                {% for commercial in currentAgency.users %}
                    {% if commercial.getRemoteId() == app.request.cookies.get('write_as_commercial')  %}
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <small class="text-muted">{{ commercial.name }} <b class="caret"></b></small>
                        </a>
                        {% set currentCommercial = commercial %}
                    {% endif %}
                {% endfor %}
                {% if not currentCommercial %}
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">--<b class="caret"></b></small>
                    </a>
                {% endif %}
                <ul class="dropdown-menu animated flipInX m-t-xs commercials">
                    <li><a href="javascript:void(0);" data-id="">---</a></li>
                    {% for commercial in currentAgency.users if commercial.hasRole('ROLE_SALESMAN') %}
                        <li><a href="javascript:void(0);" data-id="{{ commercial.getRemoteId() }}">{{ commercial.name  }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% elseif app.user.hasRole('ROLE_BRANDLEADER') %}
        <div class="dropdown">
            {% set currentCommercial = null %}
            {% for commercial in app.user.group.users if app.request.cookies.has('write_as_commercial') %}
                {% if commercial.getRemoteId() == app.request.cookies.get('write_as_commercial')  %}
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">{{ commercial.name }} <b class="caret"></b></small>
                    </a>
                    {% set currentCommercial = commercial %}
                {% endif %}
            {% endfor %}
            <ul class="dropdown-menu animated flipInX m-t-xs commercials">
                {% for commercial in app.user.group.users if app.request.cookies.has('write_as_commercial') and commercial.hasRole('ROLE_SALESMAN') %}
                    <li><a href="javascript:void(0);" data-id="{{ commercial.getRemoteId() }}">{{ commercial.name  }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>