{% trans_default_domain 'commiti' %}
<div class="stats-label text-color">
    <span class="font-extra-bold font-uppercase">{{ app.user.name }}</span>
    {% set currentGroup = null %}
    <div class="dropdown">
        {% if app.request.cookies.get('use_group') %}
            {% for group in groupsList %}
                {% if group.getRemoteId() == app.request.cookies.get('use_group') %}
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">{{ group.name }} <b class="caret"></b></small>
                    </a>
                    {% set currentGroup = group %}
                {% endif %}
            {% endfor %}
        {% else %}
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <small class="text-muted">--- <b class="caret"></b></small>
            </a>
        {% endif %}
        <ul class="dropdown-menu animated flipInX m-t-xs" id="group_list">
            <li><a href="javascript:void(0);" data-id="">---</a></li>
            {% for group in groupsList %}
                <li><a href="javascript:void(0);" data-id="{{ group.getRemoteId() }}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% set currentAgency = null %}
    {% set emptyAgency = true %}
    <div class="dropdown">
        {% if app.request.cookies.has('use_agency') %}
            {% for group in agenciesList %}
                {% if group.getRemoteId() == app.request.cookies.get('use_agency') %}
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">{{ group.name }} <b class="caret"></b></small>
                    </a>
                    {% set currentAgency = group %}
                {% endif %}
            {% endfor %}
        {% else %}
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <small class="text-muted">--- <b class="caret"></b></small>
            </a>
        {% endif %}
        <ul class="dropdown-menu animated flipInX m-t-xs" id="agencies_list">
            {% for group in agenciesList %}
                <li><a href="javascript:void(0);" data-id="{{ group.getRemoteId() }}">{{ group.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if currentAgency %}
        <div class="dropdown">
            {% set currentCommercial = null %}
            {% for commercial in commercials %}
                {% if app.request.cookies.has('write_as_commercial') %}
                    {% if commercial.getRemoteId() == app.request.cookies.get('write_as_commercial')  %}
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <small class="text-muted">{{ commercial.name }} <b class="caret"></b></small>
                        </a>
                        {% set currentCommercial = commercial %}
                    {% endif %}
                {% else %}
                    {% if loop.first %}
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <small class="text-muted">{{ commercial.name }} <b class="caret"></b></small>
                        </a>
                        {% set currentCommercial = commercial %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <ul class="dropdown-menu animated flipInX m-t-xs commercials">
                {% for commercial in commercials %}
                    <li><a href="javascript:void(0);" data-id="{{ commercial.getRemoteId() }}">{{ commercial.name  }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <hr/>
    <div class="text-center">
        <a href="{{ path('refresh_cache') }}"><i class="fa fa-refresh"></i>  {{ "Refresh cache"|trans }}</a>
    </div>
</div>