{% javascripts
    '@AppBundle/Resources/public/js/plugins/sizzle.min.js'
    'bundles/fosjsrouting/js/router.js'
    'js/fos_js_routes.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
