{% block stylesheets %}
    {% stylesheets
        'bundles/app/css/font-awesome.css'
        'bundles/app/css/metisMenu.css'
        'bundles/app/css/animate.css'
        'bundles/app/css/bootstrap.css'
        'bundles/app/css/pe-icon-7-stroke.css'
        'bundles/app/css/toastr.min.css'
        'bundles/app/css/sweet-alert.min.css'
        'bundles/app/css/helper.css'
        'bundles/app/css/bootstrap-datepicker.min.css'
        'bundles/app/css/dataTables.bootstrap.min.css'
        'bundles/app/css/datatables.min.css'
        'bundles/app/css/select2.min.css'
        'bundles/app/css/dropzone.css'
        'bundles/app/css/summernote.css'
        'bundles/app/css/summernote-bs3.css'
        'bundles/app/css/jquery.bootstrap-touchspin.min.css'
        'bundles/app/css/awesome-bootstrap-checkbox.css'
        'bundles/app/css/jquery.typeahead.css'
        'bundles/app/css/fancybox.css'
        'bundles/app/css/fullcalendar/fullcalendar.min.css'
        'bundles/app/css/bootstrap-slider.css'
        'bundles/app/css/buttons.dataTables.min.css'
        'bundles/app/css/responsive.dataTables.min.css'
        'bundles/app/css/bootstrap-editable.css'
        'bundles/app/css/bootstrap-datetimepicker.min.css'
        'bundles/app/css/jquery.minicolors.css'
        'bundles/app/css/ladda.min.css'
        'bundles/app/css/c3/c3.min.css'
        'bundles/app/css/bootstrap-multiselect.css'
        'bundles/app/css/style.css'
        '@CraueFormFlowBundle/Resources/assets/css/buttons.css'
        filter='cssrewrite,?yui_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" async defer />
    {% endstylesheets %}
{% endblock stylesheets %}
{% stylesheets
'bundles/app/css/print.css'
filter='cssrewrite' %}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="print"/>
{% endstylesheets %}