{% trans_default_domain "commiti" %}
{% set currentPath = app.request.attributes.get('_route') %}
<aside id="menu">
    <div id="navigation">
        <div class="profile-picture">
            <a href="{{ path('fos_user_profile_show') }}">
                {% if app.user.getAvatar() %}
                    <img class="img-circle m-b m-t-md avatar" src="{{ asset(app.user.getAvatar()) }}" alt="logo">
                {% else %}
                    <i class="pe-7s-user fa-5x text-muted"></i>
                {% endif %}
            </a>
            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{{ app.user.name }}</span><br>
            </div>
            {% if app.user.getAgenciesGroups|length or app.user.getAgencies|length %}
                <br />
                {% if app.user.getAgenciesGroups|length %}
                    <span class="font-extra-bold font-uppercase">{{ 'Group'|trans }} :</span>
                    {% for group in  app.user.getAgenciesGroups %}
                        {{ group.name }} {{ not loop.last  ? ', ' : '' }}
                    {% endfor %}
                    <br>
                {% endif %}
                {% if app.user.getAgencies|length %}
                    <span class="font-extra-bold font-uppercase">{{ 'Agence'|trans }} :</span>
                    {% for agence in  app.user.getAgencies %}
                        {{ agence.name }}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <hr/>
            <div class="text-center">
                <a href="{{ path('refresh_cache') }}"><i class="fa fa-refresh"></i>  {{ "Refresh cache"|trans }}</a>
            </div>
            {% endif %}
            {#{{ render(controller('AppBundle:Default:groupMenu')) }}#}
        </div>
        <ul class="nav" id="side-menu">
            {% if app.user.hasFullAccess %}
            <li class="{{ (currentPath == 'homepage') ? 'active' : '' }}">
                <a href="{{ path('homepage') }}"> <span class="nav-label"><i class="fa fa-dashboard"></i>
                        {{ 'Tableau de bord'|trans }}</span></a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_MARKETING') and app.user.hasFullAccess %}
            <li class="{{ currentPath starts with 'portails_' ? 'active' : '' }}">
                <a href="#"><span class="nav-label"><i class="pe-7s-speaker"></i> {{ 'Ma Diffusion'|trans }}</span> </a>
                <ul aria-expanded="false" class="nav nav-second-level collapse">
                    <li class="{{ (currentPath == 'portails_actifs_list') ? 'active' : '' }}">
                        <a href="{{ path('portails_actifs_list') }}">{{ 'Portails actifs'|trans }}</a></li>
                    <li class="{{ (currentPath == 'portails_catalogue_list') ? 'active' : '' }}">
                        <a href="{{ path('portails_catalogue_list') }}">{{ 'Catalogue'|trans }}</a></li>
                    <li class="{{ (currentPath == 'portails_waiting') ? 'active' : '' }}">
                        <a href="{{ path('portails_waiting') }}">{{ 'Waiting portals'|trans }}</a></li>
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                {% set inAdminRoute = (currentPath starts with 'admin') or (currentPath ends with '_admin') %}
                <li class="{{ (inAdminRoute) ? 'active' : '' }}">
                    <a href="#"><span class="nav-label"><i class="fa fa-cog"></i> {{ 'Administration'|trans }}</span>
                        <span class="fa arrow"></span> </a>
                    <ul aria-expanded="false" class="nav nav-second-level collapse">
                        <li><a href="{{ path('faq_list_admin') }}">{{ 'FAQ'|trans }}</a></li>
                        <li><a href="{{ path('portal_admin') }}">{{ 'Portails'|trans }}</a></li>
                        <li><a href="{{ path('users_admin') }}">{{ 'Utilisateurs'|trans }}</a></li>
                        <li><a href="{{ path('groups_admin') }}">{{ 'Agences'|trans }}</a></li>
                        <li><a href="{{ path('moderation_invoices') }}">{{ 'Factures'|trans }}</a></li>
                    </ul>
                </li>

                {% set inConfigurationRoute = (currentPath starts with 'configuration_') %}
                <li class="{{ (inConfigurationRoute) ? 'active' : '' }}">
                    <a href="#"><span class="nav-label"><i class="fa fa-cogs"></i> {{ 'Configuration'|trans }}</span> </a>
                    <ul aria-expanded="false" class="nav nav-second-level collapse">
                        <li><a href="{{ path('configuration_advantages') }}">{{ 'Avantages'|trans }}</a></li>
                        <li><a href="{{ path('jms_translation_index') }}">{{ 'Traductions'|trans }}</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_MARKETING') and app.user.getGroup()  and app.user.hasFullAccess %}
                {% if app.user.group and app.user.getGroup().hasRole('ROLE_GROUP') %}
                    <li class="{{ (currentPath starts with 'group_agency_show') ? 'active' : '' }}">
                        <a href="{{ path('group_agencies_list') }}"><span class="nav-label">
                                <i class="fa fa-users"></i>{{ 'Agences'|trans }}</span></a>
                    </li>
                    <li class="{{ (currentPath starts with 'agency_invoices') ? 'active' : '' }}">
                        <a href="{{ path('agency_invoices') }}"><span class="nav-label">
                                <i class="fa fa-euro"></i> {{ 'Factures'|trans }}</span></a>
                    </li>
                {% elseif( app.user.hasFullAccess ) %}
                    <li class="{{ (currentPath starts with 'agency_') ? 'active' : '' }}">
                        <a href="#"><span class="nav-label"><i class="fa fa-users"></i>{{ 'Agence'|trans }}</span>
                            <span class="fa arrow"></span> </a>
                        <ul aria-expanded="false" class="nav nav-second-level collapse">
                            <li><a href="{{ path('agency_my') }}">{{ 'Mon agence'|trans }}</a></li>
                            <li><a href="{{ path('agency_employees_list') }}">{{ 'Employées'|trans }}</a></li>
                            <li><a href="{{ path('agency_invoices') }}">{{ 'Factures'|trans }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}

            <li class="{{ (currentPath starts with 'fos_user_profile_') ? 'active' : '' }}">
                <a href="#"><span class="nav-label"><i class="fa fa-user"></i>{{ 'Mon compte'|trans }}</span>
                    <span class="fa arrow"></span> </a>
                <ul aria-expanded="false" class="nav nav-second-level collapse">
                    <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'Modifier mon compte'|trans }}</a></li>
                </ul>
            </li>
            {% if
                    is_granted('ROLE_ADMIN') or (
                    (is_granted('ROLE_MARKETING')  or is_granted('ROLE_AGENCY'))
                        and app.user.hasSuiviOption()
                        and app.user.hasFullAccess
                )
            %}
                <li class="{{ (currentPath starts with 'statistics_homepage') ? 'active' : '' }}">
                    <a href="{{ path('statistics_homepage') }}"><span class="nav-label"><i class="fa fa-area-chart"></i>
                            {{ 'Statistics'|trans }}</span><span class="fa arrow"></span> </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or app.user.hasProgramOption() %}
            <li class="{{ (currentPath starts with 'program_') ? 'active' : '' }}">
                <a href="#"><span class="nav-label"><i class="fa fa-magic"></i>{{ 'Programmes'|trans }}</span>
                    <span class="fa arrow"></span> </a>
                <ul aria-expanded="false" class="nav nav-second-level collapse">
                    <li><a href="{{  (is_granted('ROLE_MARKETING') or is_granted('ROLE_BRANDLEADER')) ? path('switch_commercial',
                        { 'redirect': path('program_create_1') }) : path('program_create_1') }}">
                            {{ 'Saisir un programme'|trans }}</a></li>
                    <li><a href="{{ path('program_index') }}">{{ 'Mes programmes'|trans }}</a></li>
                    <li><a href="{{ path('program_lots') }}">{{ 'Mes lots'|trans }}</a></li>
                    {% if is_granted('ROLE_BRANDLEADER') %}
                        <li><a href="{{ path('program_moderation') }}">{{ 'Modération'|trans }}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') or app.user.hasAnnoncesOption() %}
                {% if app.user.hasFullAccess %}
                    <li class="{{ (currentPath starts with 'housemodel') ? 'active' : '' }}">
                        <a href="#"><span class="nav-label"><i class="fa fa-image"></i>{{ 'Modèles'|trans }}</span>
                            <span class="fa arrow"></span> </a>
                        <ul aria-expanded="false" class="nav nav-second-level collapse">
                            <li><a href="{{  (is_granted('ROLE_MARKETING') or is_granted('ROLE_BRANDLEADER')) ? path('switch_commercial',
                                { 'redirect': path('housemodel_add') }) : path('housemodel_add') }}">
                                    {{ 'Saisir un modèle'|trans }}</a></li>
                            <li><a href="{{ path('housemodels_list') }}">{{ 'Liste des modèles'|trans }}</a></li>
                            {% if is_granted('ROLE_BRANDLEADER') %}
                                <li><a href="{{ path('housemodels_moderation_list') }}">{{ 'Modération'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>

                <li class="{{ (currentPath starts with 'ads_') ? 'active' : '' }}">
                    <a href="#"><span class="nav-label"><i class="fa fa-bullhorn"></i> {{ 'Annonces'|trans }}</span>
                        <span class="fa arrow"></span> </a>
                    <ul aria-expanded="false" class="nav nav-second-level collapse">
                        <li><a href="{{  (is_granted('ROLE_MARKETING') or is_granted('ROLE_BRANDLEADER')) ? path('switch_commercial',
                            { 'redirect': path('ads_create') }) : path('ads_create') }}">
                                {{ 'Saisir une annonce'|trans }}</a></li>
                        <li><a href="{{ path('ads_index') }}">{{ 'Liste des annonces'|trans }}</a></li>
                        {% if is_granted('ROLE_BRANDLEADER') %}
                        <li><a href="{{ path('ads_moderation') }}">{{ 'Modération'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                    <li class="{{ (currentPath starts with 'ads_') ? 'active' : '' }}">
                        <a href="{{ path('ads_index') }}">
                            <span class="nav-label"><i class="fa fa-bullhorn"></i>
                                {{ 'Liste des annonces'|trans }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or app.user.hasSuiviOption() %}
            <li class="{{ (currentPath starts with 'gestion') ? 'active' : '' }}">
                <a href="#"><span class="nav-label"><i class="fa fa-bar-chart-o"></i> {{ 'Suivi commercial'|trans }}</span>
                    <span class="fa arrow"></span> </a>
                <ul aria-expanded="false" class="nav nav-second-level collapse">
                    <li><a href="{{ path('gestion_agenda_view') }}">{{ 'Agenda'|trans }}</a></li>
                    <li class="{{ (currentPath == 'gestion_mailbox_inbox') ? 'active' : '' }}">
                        <a href="{{ path('gestion_mailbox_inbox') }}">{{ 'Mailbox'|trans }}</a></li>
                    <li class="{{ (currentPath == 'gestion_opportunity_list') ? 'active' : '' }}">
                        <a href="{{ path('gestion_opportunity_list') }}">{{ 'Opportunités'|trans }}</a></li>
                    <li class="{{ (currentPath == 'gestion_clients_list') ? 'active' : '' }}">
                        <a href="{{ path('gestion_clients_list') }}">{{ 'Clients' }}</a></li>
                    <li class="{{ (currentPath == 'gestion_contacts_list') ? 'active' : '' }}">
                        <a href="{{ path('gestion_contacts_list') }}">{{ 'Contacts' }}</a></li>
                    <li class="{{ (currentPath == 'gestion_contact_lists_list') ? 'active' : '' }}">
                        <a href="{{ path('gestion_contact_lists_list') }}">{{ 'Listes de Contact'|trans }}</a></li>
                    <li class="{{ (currentPath == 'gestion_campagnes_list') ? 'active' : '' }}">
                        <a href="{{ path('gestion_campagnes_list') }}">{{ 'Campagnes'|trans }}</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="{{ (currentPath == 'news_list') ? 'active' : '' }}"><a href="{{ path('news_list') }}">
                    <i class="fa fa-comments-o"></i> {{ 'Actualités'|trans }}</a></li>
            <li class="{{ (currentPath == 'faq_page') ? 'active' : '' }}"><a href="{{ path('faq_page') }}">
                    <i class="fa fa-briefcase"></i> {{ 'FAQ'|trans }}</a></li>
            <li class="{{ (currentPath == 'bugs_list') ? 'active' : '' }}"><a href="{{ path('bugs_list') }}">
                    <i class="fa fa-wrench"></i> {{ 'Tickets d\'Incident'|trans }}</a></li>
            {#<li>
                <a href="#"><span class="nav-label"><i class="fa fa-book"></i> {{ 'Documentation'|trans }}</span></a>
            </li>#}
        </ul>
    </div>
</aside>