{% trans_default_domain "commiti" %}
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    {#{% if is_granted('ROLE_MARKETING') and app.user.group.subscribeIsEnded %}
        <div class="alert-danger" style="padding: 5px;float: left;margin-top: 12px;">
            Il vous reste 5 jours pour payer votre abonnement, cliquer <a href="{{ path('payment_index',{'remoteId':app.user.group.remoteId}) }}">ici</a> pour aller a la page de paiement.
        </div>
    {% endif %}#}
    <div class="small-logo">
        <span class="text-primary">{{ 'Accueil'|trans }}</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#" style="display:none;">
        <div class="form-group">
            <input placeholder="Search something special" class="form-control" name="search" type="text">
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('homepage',{'_switch_user':'_exit'}) }}">
                            <i class="pe-7s-upload pe-rotate-90"></i> {{ 'Logout'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="pe-7s-upload pe-rotate-90"></i> {{ 'Logout'|trans }}
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right" id="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle {% if notifications %}label-menu-corner{% endif %}" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                    {% if notifications %}
                    <span class="label label-success">{{ notifications|length }}</span>
                    {% endif %}
                </a>
                {% if notifications %}
                    <ul class="dropdown-menu hdropdown notification animated flipInX">
                    {% for notification in notifications %}
                    <li>
                        <a href="{{ notification.url }}">
                            <span class="label label-warning">{{ notification.label }}</span> {{ notification.text }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-global"></i>
                </a>
                <ul class="dropdown-menu hdropdown global animated flipInX">
                    <li class="summary"><a href="{% if app.request.getLocale() == 'fr' %}javascript:void(0);{% else %}{{ path('switch_locale',{'_locale':'fr'}) }}{% endif %}"><i class="flag flag-fr"></i>Français</a></li>
                    <li class="summary"><a href="{% if app.request.getLocale() == 'en' %}javascript:void(0);{% else %}{{ path('switch_locale',{'_locale':'en'}) }}{% endif %}"><i class="flag flag-us"></i>English</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_MARKETING') %}
                {% if app.user.getGroup() and app.user.getGroup().hasRole('ROLE_GROUP') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-keypad"></i>
                        </a>
                        {% set agencies = app.user.group.agencyGroups %}
                        {% if agencies|length %}
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX agencies_list" id="agencies_list">
                            <table>
                                <tbody>
                                    {% set start = 0 %}
                                    {% set once = true %}
                                    {% for i in 0..agencies|length-1 %}
                                        {% if i== 0 or i is divisible by(10) %}{% set start = i %}<tr>{% endif %}
                                            {% if once %}
                                            <td>
                                                <a href="javascript:void(0);" data-id="all">
                                                    <i class="pe pe-7s-photo-gallery text-info"></i>
                                                    <h5>Tout les agences</h5>
                                                </a>
                                            </td>
                                            {% set once = false %}
                                            {% endif %}
                                            <td>
                                                <a href="javascript:void(0);" class="agency_item" data-id="{{ agencies[i].getRemoteId() }}">
                                                    {% if agencies[i].getAgency().getAvatar() %}
                                                        <img alt="logo" class="img-circle m-b m-t-md avatar no-margin" src="{{ asset(agencies[i].getAgency().getAvatar()) }}">
                                                    {% else %}
                                                        <i class="pe pe-7s-portfolio text-info"></i>
                                                    {% endif %}
                                                    <h5>{{ agencies[i].name }}</h5>
                                                </a>
                                            </td>
                                        {% if start + 10 == i+1 or loop.last  %}</tr>{% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            {% endif %}
                    </li>
                {% endif %}
            {% endif %}
            <li class="dropdown">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a href="{{ path('homepage',{'_switch_user':'_exit'}) }}">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>