{% form_theme form "bootstrap_3_horizontal_layout.html.twig" "AppBundle:Gestion:Agenda/_widget.html.twig" %}
<div class="modal-body">
    {{ form_start(form,{'attr': {'id':'agendaEventForm', 'novalidate':'novalidate', 'action': agendaEvent ?  path('agenda_event_form',{'id':agendaEvent.id}) : path('agenda_event_form') } }) }}
    {% if form.group is defined %}
        {{ form_row(form.group) }}
    {% endif %}
    {{ form_row(form.title) }}
    {{ form_row(form.note) }}
    {{ form_row(form.dateStart,{'id' : 'eventDateStart'}) }}
    {{ form_row(form.dateEnd,{'id' : 'eventDateEnd'}) }}
    {{ form_row(form.remind,{'id' : 'eventRemind'}) }}
    <div id="reminder-row" class="reminder-row" {% if not agendaEvent.remind %}style="display: none;" {% endif %}>
        <div class="reminder-widget row">
            <div class="col-xs-2">Avant</div>
            <div class="col-xs-5">{{ form_widget(form.temps) }}</div>
            <div class="col-xs-5">{{ form_widget(form.unit) }}</div>
        </div>
        {{ form_errors(form.unit) }}
    </div>

    <div id="types-container">
    {% if form._type is defined %}
        {{ form_row(form._type,{'id': '_type'}) }}
    {% endif %}
    </div>
    <div id="shared-container">
        {% if form.opportunity is defined %}
        <div class="form-group" {% if not form._type.vars.value or form._type.vars.value and form._type.vars.value != "listOpportunity" %}style="display: none;"{% endif %}>
            {{ form_label(form.opportunity) }}
            <div class="col-sm-10">
                {{ form_widget(form.opportunity,{'id': 'listOpportunity'}) }}
            </div>
        </div>
        {% endif %}
        {% if form.sharedUsers is defined %}
        <div class="form-group" {% if not form._type.vars.value or form._type.vars.value == "listOpportunity" %}style="display: none;"{% endif %}>
            {{ form_label(form.sharedUsers) }}
            <div class="col-sm-10">
                {{ form_widget(form.sharedUsers,{'id': 'listSharedUsers'}) }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <div class="color-palet col-md-offset-2 col-md-10">
            <span style="background-color:#83c340" class="color-tag clickable mr15 {{ not agendaEvent or (agendaEvent and agendaEvent.color == "#83c340") ? 'active' : '' }}" data-color="#83c340"></span>
            <span style="background-color:#29c2c2" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#29c2c2" ? 'active' : '' }}" data-color="#29c2c2"></span>
            <span style="background-color:#2d9cdb" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#2d9cdb" ? 'active' : '' }}" data-color="#2d9cdb"></span>
            <span style="background-color:#aab7b7" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#aab7b7" ? 'active' : '' }}" data-color="#aab7b7"></span>
            <span style="background-color:#f1c40f" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#f1c40f" ? 'active' : '' }}" data-color="#f1c40f"></span>
            <span style="background-color:#e18a00" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#e18a00" ? 'active' : '' }}" data-color="#e18a00"></span>
            <span style="background-color:#e74c3c" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#e74c3c" ? 'active' : '' }}" data-color="#e74c3c"></span>
            <span style="background-color:#d43480" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#d43480" ? 'active' : '' }}" data-color="#d43480"></span>
            <span style="background-color:#ad159e" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#ad159e" ? 'active' : '' }}" data-color="#ad159e"></span>
            <span style="background-color:#34495e" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#34495e" ? 'active' : '' }}" data-color="#34495e"></span>
            <span style="background-color:#dbadff" class="color-tag clickable mr15 {{ agendaEvent and agendaEvent.color == "#dbadff" ? 'active' : '' }}" data-color="#dbadff"></span>
        </div>
        {{ form_widget(form.color,{'id': 'eventColor'}) }}
    </div>
    {{ form_widget(form.submit,{'id': 'saveEvent'}) }}
    {{ form_end(form) }}
</div>