<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <blockquote class="font-14 text-justify" style="border-color:#e74c3c">
                <div>
                    <i class="fa fa-clock-o"></i><b>  Date de début: </b>
                    <span>{{ agendaEvent.dateStart|localizeddate('long', 'medium', app.request.locale ) }}</span>
                </div>
                <div>
                    <i class="fa fa-clock-o"></i><b>  Date de fin: </b>
                    <span>{{ agendaEvent.dateEnd|localizeddate('long', 'medium', app.request.locale ) }}</span>
                </div>
                <div>
                    <b>  Note: </b>
                    <span>{{ agendaEvent.note }}</span>
                </div>
                {% if agendaEvent.opportunity %}
                <div>
                    <b>  Opportunité: </b>
                    <span><a href="{{ path('gestion_opportunity_view',{'remoteId':agendaEvent.opportunity.remoteId}) }}" target="_blank">{{ agendaEvent.opportunity.title }}</a></span>
                </div>
                {% endif %}
                {% if agendaEvent.sharedUsers|length > 0 %}
                <div>
                    <b>  Membres: </b>
                    <span>
                            <ul>
                                {% for user in agendaEvent.sharedUsers %}
                                    <li>
                                        <span class="avatar avatar-xs mr10">
                                            {% if user.getAvatar() %}
                                                <img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(user.getAvatar()) }}">
                                            {% else %}
                                                <i class="pe-7s-user fa-5x text-muted"></i>
                                            {% endif %}
                                            {{ user.name }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                    </span>
                </div>
                {% endif %}
            </blockquote>
        </div>
    </div>
</div>
{% if agendaEvent.owner.id == app.user.id or is_granted('ROLE_BRANDLEADER') %}
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteEvent" data-action-url="{{ path('agenda_delete_event',{'id':agendaEvent.id}) }}">Supprimer</button>
    <button type="button" class="btn btn-primary" data-title="{{ agendaEvent.title }}" id="editEvent" data-action-url="{{ path('agenda_event_form',{'id':agendaEvent.id}) }}">Editer</button>
</div>
{% endif %}