{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "agenda.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "agenda.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "agenda.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="text-right">
                        <a href="#" id="eventModal" title="Nouveau" class="btn btn-success" role="button" data-act="ajax-modal" data-action-url="{{ path('agenda_event_form') }}" ><i class="glyphicon glyphicon-plus"></i> Nouveau</a>
                    </div>
                    <hr/>
                    <div id="calendar"></div>

                    <div class="modal" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog mini-modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="ajaxModalTitle" data-title="Ajouter un évenement">Ajouter un évenement</h4>
                                </div>
                                <div id="ajaxModalContent"></div>
                                <div id="ajaxModalOriginalContent" class="hide">
                                    <div class="original-modal-body">
                                        <div class="circle-loader"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        _date = null;
        $(document).ready(function() {
            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                droppable: true,
                events: function (start,end,timezone,callback) {
                    $.ajax({
                        dataType: 'json',
                        url: Routing.generate('api_events_by_commercial',{'remoteId':"{{ app.user.remoteId}}"}),
                        success: function (events) {
                            callback(events);
                        }
                    });
                },
                eventDrop: function(event, delta, revertFunc) {
                    if(event.id != 0) {
                        if (!confirm("Vous êtes de vouloir changer la date de cette demande?")) {
                            revertFunc();
                        } else {
                            $.ajax({
                                dataType: 'json',
                                data:{'dateStart':event.start.format('DD-MM-YYYY HH:mm'),'dateEnd':event.end.format('DD-MM-YYYY HH:mm')},
                                url: Routing.generate('api_update_event',{'id':event.id})
                            });

                        }
                    } else {
                        $('#eventDateStart').val(event.start.format('DD-MM-YYYY HH:mm'));
                        $('#eventDateEnd').val(event.end.format('DD-MM-YYYY HH:mm'));
                    }
                },
                eventResize: function(event, delta, revertFunc) {
                    if(event.id != 0) {
                        if (!confirm("Vous êtes de vouloir changer la date de cette demande?")) {
                            revertFunc();
                        } else {
                            $.ajax({
                                dataType: 'json',
                                data:{'dateStart':event.start.format('DD-MM-YYYY HH:mm'),'dateEnd':event.end.format('DD-MM-YYYY HH:mm')},
                                url: Routing.generate('api_update_event',{'id':event.id})
                            });

                        }
                    } else {
                        $('#eventDateStart').val(event.start.format('DD-MM-YYYY HH:mm'));
                        $('#eventDateEnd').val(event.end.format('DD-MM-YYYY HH:mm'));
                    }
                },
                dayClick: function (date, jsEvent, view) {
                    _date = date;
                    $("#eventModal").trigger("click");
                },
                eventClick: function (calEvent, jsEvent, view) {
                    jsEvent.preventDefault();
                    var response = $.get(calEvent.url).done(function() {
                        $("#ajaxModalContent").html(response.responseText);
                        $("#ajaxModalTitle").html(calEvent.title);
                        $("#ajaxModal").modal("show");
                    });
                }
            });

            $('body').on('click', '[data-act=ajax-modal]', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }

                $("#ajaxModalContent").html($("#ajaxModalOriginalContent").html());
                $("#ajaxModalContent").find(".original-modal-body").removeClass("original-modal-body").addClass("modal-body");
                $("#ajaxModal").modal('show');

                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        $("#ajaxModal").find(".modal-dialog").removeClass("mini-modal");
                        if (isLargeModal === "1") {
                            $("#ajaxModal").find(".modal-dialog").addClass("modal-lg");
                        }
                        $("#ajaxModalContent").html(response._content);

                        var $scroll = $("#ajaxModalContent").find(".modal-body"),
                                height = $scroll.height(),
                                maxHeight = $(window).height() - 200;
                        if (height > maxHeight) {
                            height = maxHeight;
                            if ($.fn.mCustomScrollbar) {
                                $scroll.mCustomScrollbar({setHeight: height, theme: "minimal-dark", autoExpandScrollbar: true});
                            }
                        }
                        $('#shared-container select').select2();
                        $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                        $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                            var endDate = event.date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                        });
                        if(_date) {
                            $('#eventDateStart').val(_date.format("YYYY-MM-DD HH:mm"));
                            var endDate = _date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format("YYYY-MM-DD HH:mm"));
                        }
                        _date = null;
                        refreshSubmittion();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
                return false;
            });

            $('body').on('click', '#deleteEvent', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }
                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        location.reload();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
            });

            $('body').on('click', '#editEvent', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }

                $("#ajaxModalContent").html($("#ajaxModalOriginalContent").html());
                $("#ajaxModalContent").find(".original-modal-body").removeClass("original-modal-body").addClass("modal-body");
                $("#ajaxModal").modal('show');

                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        $("#ajaxModal").find(".modal-dialog").removeClass("mini-modal");
                        if (isLargeModal === "1") {
                            $("#ajaxModal").find(".modal-dialog").addClass("modal-lg");
                        }
                        $("#ajaxModalContent").html(response._content);

                        var $scroll = $("#ajaxModalContent").find(".modal-body"),
                                height = $scroll.height(),
                                maxHeight = $(window).height() - 200;
                        if (height > maxHeight) {
                            height = maxHeight;
                            if ($.fn.mCustomScrollbar) {
                                $scroll.mCustomScrollbar({setHeight: height, theme: "minimal-dark", autoExpandScrollbar: true});
                            }
                        }
                        $('#shared-container select').select2();
                        $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                        $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                            var endDate = event.date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                        });
                        if(_date) {
                            $('#eventDateStart').val(_date.format("YYYY-MM-DD HH:mm"));
                            var endDate = _date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format("YYYY-MM-DD HH:mm"));
                        }
                        _date = null;
                        refreshSubmittion();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
                return false;
            });

            //abort ajax request on modal close.
            $('#ajaxModal').on('hidden.bs.modal', function (e) {
                ajaxModalXhr.abort();
                $("#ajaxModal").find(".modal-dialog").removeClass("modal-lg");
                $("#ajaxModal").find(".modal-dialog").addClass("mini-modal");

                $("#ajaxModalContent").html("");
            });

            $('body').on('change','#agenda_event_group', function(){
                var group = document.getElementById('agenda_event_group');
                var _data = {};
                _data[group.name] = group.value;
                $.ajax({
                    url: $('#agenda_event_group').closest('form').attr('action'),
                    type: "POST",
                    data: _data,
                    success: function (res) {
                        var parser          = new DOMParser();
                        var doc             = parser.parseFromString(res._content, 'text/html');

                        var target          = document.getElementById('shared-container');
                        target.innerHTML    = doc.getElementById('shared-container').innerHTML;

                        target          = document.getElementById('types-container');
                        target.innerHTML    = doc.getElementById('types-container').innerHTML;
                        $('#shared-container select').select2();
                    }
                });
            });

            $('body').on('click','#_type input', function(){
                var Id = '#'+$(this).val();
                $('#shared-container .form-group').hide();
                $(Id).closest('.form-group').show();
            });
            $('body').on('click','.color-palet .color-tag', function(){
                $('.color-palet .color-tag').removeClass('active');
                $('#eventColor').val($(this).data('color'));
                $(this).addClass('active');
            });

            function refreshSubmittion() {
                $('#agendaEventForm').ajaxForm({
                    success: function (data) {
                        if(data.success) {
                            $('#ajaxModal').modal('hide');
                            location.reload();
                        } else {
                            $("#ajaxModalContent").find('.modal-body').html(data._content);
                            $('#shared-container select').select2();
                            $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                            $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                                var endDate = event.date.add(1, 'hours');
                                $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                            });
                            refreshSubmittion();
                        }
                    }
                });
            }

            $('body').on('change', '#eventRemind', function () {
                if($(this).prop('checked')) {
                    $('#reminder-row').show();
                } else {
                    $('#reminder-row').hide();
                }
            });

        });
    </script>
{% endblock %}