<div id="step3" class="tab-pane active">
    {% set MaisonForm = null %}
    {% for BienForm in form.bienImmobilier %}
        {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Maison') %}
            {% set MaisonForm = BienForm %}
        {% endif %}
    {% endfor %}
    {% if MaisonForm %}
        <h3>{{ 'Maison'| trans  }}</h3>
        <hr/>
        {% set block1 %}
            <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                    {{ form_row(MaisonForm.type) }}
                    {{ form_row(MaisonForm.typeArchitecture) }}
                    {{ form_row(MaisonForm.surface) }}
                    {{ form_row(MaisonForm.typeCharpante) }}
                    {{ form_row(MaisonForm.typeTuile) }}
                    {{ form_row(MaisonForm.materiauxTuile) }}
                    {{ form_row(MaisonForm.zinguerie) }}
                    {{ form_row(MaisonForm.menuiserie) }}
                    {{ form_row(MaisonForm.volets) }}
                    {{ form_row(MaisonForm.porteGarage) }}
                </tbody>
            </table>
        {% endset %}
        {% set title1 %}
            <h4>{{ "Détails Maison" | trans }}</h4>
        {% endset %}
        {% include '@App/Common/accordion.html.twig' with {title: title1, suffix:"Step3Part1", content:block1} %}

        {% set block2 %}
            <table class="table table-bordered table-striped" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                    {{ form_row(MaisonForm.nbPieces) }}
                    {{ form_row(MaisonForm.nbChambres) }}
                    {{ form_row(MaisonForm.nbSalleBain) }}
                    {{ form_row(MaisonForm.siSalleEau) }}
                    {{ form_row(MaisonForm.siToilette) }}
                    {{ form_row(MaisonForm.siSalon) }}
                    {{ form_row(MaisonForm.siSalleAManger) }}
                    {{ form_row(MaisonForm.siCheminee) }}
                    {{ form_row(MaisonForm.typeCuisine) }}
                    {{ form_row(MaisonForm.revetementDeSol) }}
                    {{ form_row(MaisonForm.typeDeChauffage) }}
                    {{ form_row(MaisonForm.energieDeChauffage) }}
                    {{ form_row(MaisonForm.siBureau) }}
                    {{ form_row(MaisonForm.siPlacards) }}
                    {{ form_row(MaisonForm.siDressing) }}
                    {{ form_row(MaisonForm.siBuanderie) }}
                    {{ form_row(MaisonForm.siAlarme) }}
                    {{ form_row(MaisonForm.siTV) }}
                    {{ form_row(MaisonForm.siPMR) }}
                </tbody>
            </table>
        {% endset %}
        {% set title2 %}
            <h4>{{ "Prestations Intérieures" | trans }}</h4>
        {% endset %}
        {% include '@App/Common/accordion.html.twig' with {title: title2, suffix:"Step3Part2", content:block2} %}

        {% set block3 %}
            <table class="table table-bordered table-striped" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                    {{ form_row(MaisonForm.siParking) }}
                    {{ form_row(MaisonForm.siTerrasse) }}
                    {{ form_row(MaisonForm.siBalcons) }}
                    {{ form_row(MaisonForm.siVeranda) }}
                    {{ form_row(MaisonForm.siCave) }}
                    {{ form_row(MaisonForm.siPiscine) }}
                </tbody>
            </table>
        {% endset %}
        {% set title3 %}
            <h4>{{ "Prestations Extérieures" | trans }}</h4>
        {% endset %}
        {% include '@App/Common/accordion.html.twig' with {title:title3 , suffix:"Step3Part3", content:block3} %}


        {% set block4 %}
            <table class="table table-bordered table-striped" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                    {{ form_row(MaisonForm.DPE) }}
                    {{ form_row(MaisonForm.dpeValue) }}
                    {{ form_row(MaisonForm.GES) }}
                    {{ form_row(MaisonForm.gesValue) }}
                </tbody>
            </table>
        {% endset %}
        {% set title4 %}
            <h4>{{ "Consommation Energétique" | trans }}</h4>
        {% endset %}
        {% include '@App/Common/accordion.html.twig' with {title:title4 , suffix:"Step3Part4", content:block4} %}

    {% endif %}
    {% set TerrainForm = null %}
    {% for BienForm in form.bienImmobilier %}
        {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Terrain') %}
            {% set TerrainForm = BienForm %}
        {% endif %}
    {% endfor %}
    <h3>{{ 'Terrain'|trans }}</h3>
    <hr/>
    {% set block5 %}
        <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {% if ad.getTypeDiffusion() == 'terrain' %}
                {{ form_row(TerrainForm.type) }}
                {{ form_row(TerrainForm.surface) }}
                {{ form_row(TerrainForm.libreConstruction) }}
                {{ form_row(TerrainForm.siViabilise) }}
                {{ form_row(TerrainForm.constructible) }}
                {{ form_row(TerrainForm.servitude) }}
                {{ form_row(TerrainForm.pente) }}
                {{ form_row(TerrainForm.assainissementEauUsees) }}
                {{ form_row(TerrainForm.assainissementEauPluviale) }}
                {{ form_row(TerrainForm.certificatUrbanismeDelivrer) }}
                {{ form_row(TerrainForm.surfacePlancher) }}
            {% else %}
                {{ form_row(TerrainForm.surface) }}
                {{ form_row(TerrainForm.siViabilise) }}
                {{ form_row(TerrainForm.exposition) }}
                {{ form_row(TerrainForm.environnement) }}
                {{ form_row(TerrainForm.belleVue) }}
                {{ form_row(TerrainForm.calme) }}
            {% endif %}
            </tbody>
        </table>
    {% endset %}
    {% set title5 %}
        <h4>{{ "Détails Terrain" | trans }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title5 , suffix:"Step3Part5", content:block5} %}


    {% set block6 %}
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            {% if ad.getTypeDiffusion() == 'terrain' %}
                {{ form_row(TerrainForm.vis_a_vis) }}
                {{ form_row(TerrainForm.calme) }}
                {{ form_row(TerrainForm.belleVue) }}
            {% endif %}
            {{ form_row(TerrainForm.siProximiteCentreville) }}
            {{ form_row(TerrainForm.siProximiteCommerces) }}
            {{ form_row(TerrainForm.siProximiteCentreCommercial) }}
            {{ form_row(TerrainForm.siProximiteCreche) }}
            {{ form_row(TerrainForm.siProximiteEcolePrimaire) }}
            {{ form_row(TerrainForm.siProximiteCollege) }}
            {{ form_row(TerrainForm.siProximiteLycee) }}
            {{ form_row(TerrainForm.siProximiteUniversite) }}
            {{ form_row(TerrainForm.siProximiteSortieAutoroute) }}
            {{ form_row(TerrainForm.siProximiteGare) }}
            {{ form_row(TerrainForm.siProximiteTramway) }}
            {{ form_row(TerrainForm.siProximiteAeroport) }}
            {{ form_row(TerrainForm.siProximiteParking) }}
            {{ form_row(TerrainForm.siProximiteEspacesVerts) }}
            </tbody>
        </table>
    {% endset %}
    {% set title6 %}
        <h4>{{ "Détails environnement"| trans }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title6 , suffix:"Step3Part6", content:block6} %}


    {% if MaisonForm %}
        <a class="btn btn-primary" data-toggle="collapse" data-target="#options">{{ 'ads.see_more_options'|trans }}</a>
        <div id="options" class="collapse">
            <h3>{{ 'Certifications et labels'|trans }}</h3>
            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                {{ form_row(MaisonForm.hauteQualiteEnvironnementale) }}
                {{ form_row(MaisonForm.nfLogement) }}
                {{ form_row(MaisonForm.labelHabitatEnvironnement) }}
                {{ form_row(MaisonForm.THPE) }}
                {{ form_row(MaisonForm.HPE_ENR) }}
                {{ form_row(MaisonForm.labelBatimentBasseConsommation) }}
                {{ form_row(MaisonForm.labelHabitatEnvironnementEffinergie) }}
                {{ form_row(MaisonForm.planLocalHabitat) }}
                {{ form_row(MaisonForm.RT2012) }}
                </tbody>
            </table>
            <h3>{{ 'Avantages environnementaux'|trans }}</h3>
            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                {{ form_row(MaisonForm.siEcoQuartier) }}
                {{ form_row(MaisonForm.siBioConstruction) }}
                </tbody>
            </table>
            <h3>{{ 'Avantages Investissement'|trans }}</h3>
            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                {{ form_row(MaisonForm.loiPinel) }}
                {{ form_row(MaisonForm.loiDuflot) }}
                {{ form_row(MaisonForm.censiBouvard) }}
                {{ form_row(MaisonForm.LMP_LMNP) }}
                {{ form_row(MaisonForm.loi_Girardin_Paul) }}
                {{ form_row(MaisonForm.loi_Malraux) }}
                {{ form_row(MaisonForm.loi_Demessine) }}
                {{ form_row(MaisonForm.regime_SCPI) }}
                {{ form_row(MaisonForm.nue_Propriete) }}
                {{ form_row(MaisonForm.pret_Locatif_Social) }}
                {{ form_row(MaisonForm.PSLA) }}
                {{ form_row(MaisonForm.monumentHistorique) }}
                {{ form_row(MaisonForm.elligiblePret) }}
                {{ form_row(MaisonForm.tva_1) }}
                {{ form_row(MaisonForm.tva_2) }}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>