<!-- Visuel -->
<div id="step5" class="tab-pane active">
    <div class="col-lg-3">
        <div class="hpanel hred" id="documents-review">
            <h3>{{ 'Photo principale'|trans }}</h3>
            <div class="uploadedDocument">
                <div class="hpanel">
                    <div class="panel-body file-body">
                        <img src="{{ brouillon.getImagePrincipale() ? '/'~brouillon.getImagePrincipale() : ad.getImagePrincipale() }}" class="img-responsive" />
                    </div>
                    <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                </div>
            </div>
            {% set documents = brouillon.getImagesDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>{{ 'Photos secondaire'|trans }}</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                {% if document.getMimeType() == 'application/pdf' %}
                                    <i class="fa fa-file-pdf-o text-info"></i>
                                {% else %}
                                    <img src="{{ ('/uploads/ad/' ~ document.getName()) }}" class="img-responsive" />
                                {% endif %}
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>PDFs</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                <i class="fa fa-file-pdf-o text-info"></i>
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group pdf_buttons">
                                    <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9">
        <h3>{{ 'ads.ads_visual'|trans }}</h3>
        <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            <tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ ad.getLibelle() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td><td>{{ ad.getReferenceInterne() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.country'|trans }}</b></td><td>{{ ad.getPays()|country(app.request.locale) }}</td></tr>
            <tr><td><b>{{ 'ads.ad.city'|trans }}</b></td><td>{{ ad.getVille() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.adresse'|trans }}</b></td><td>{{ ad.getAdresse() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.zip_code'|trans }}</b></td><td>{{ ad.getCodePostal() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td><td>{{ ad.getLienVisitVirtuel() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ ad.getPrix() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.description'|trans }}</b></td><td>{{ ad.getDescription()|raw }}</td></tr>
            <tr><td><b>{{ 'ads.ad.diffusion_type'|trans }}</b></td><td>{{ ad.getTypeDiffusion() }}</td></tr>
            <tr><td><b>{{ 'ads.ad.status'|trans }}</b></td><td>{{ ad.getStat() }}</td></tr>
            </tbody>
        </table>
        {% set Terrain = ad.getTerrain() %}
        {% if Terrain %}
            <h3>{{ 'Terrain'|trans }}</h3>
            <table class="table table-bordered table-striped" id="terrain-table-review" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ Terrain.getType() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ Terrain.getSurface()~'m²' }}</td></tr>
                <tr><td><b>{{ 'ads.ad.exposition'|trans }}</b></td><td>{{ Terrain.getExpositionValue() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.environnement'|trans }}</b></td><td>{{ Terrain.getEnvironnement() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.nice_view'|trans }}</b></td><td>{{ Terrain.getBelleVue() ? 'Oui' : 'Non' }}</td></tr>
                <tr><td><b>{{ 'ads.ad.vis_a_vis'|trans }}</b></td><td>{{ Terrain.getVisAVis() ? 'Oui' : 'Non' }}</td></tr>
                {% if isDuo %}
                    <tr><td>Photos</td><td>
                            <div class="hpanel hred col-md-12" id="documents-review">
                                <div class="row">
                                    <h3>{{ 'Photo principale'|trans }}</h3>
                                    <div class="uploadedDocument col-sm-6">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <img src="{{ brouillonDuo.getImagePrincipale() ? '/'~brouillonDuo.getImagePrincipale() : ad.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                                            </div>
                                            <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                                        </div>
                                    </div>
                                </div>
                                {% set documents = brouillonDuo.getImagesDocuments() %}
                                {% set documentsCount = documents|length %}
                                {% if documentsCount > 0 %}
                                    <hr/>
                                    <div class="row">
                                        <h3>{{ 'Photos secondaire'|trans }}</h3>
                                        {% for document in documents %}
                                            <div class="uploadedDocument col-sm-6">
                                                <div class="hpanel">
                                                    <div class="panel-body file-body">
                                                        {% if document.getMimeType() == 'application/pdf' %}
                                                            <i class="fa fa-file-pdf-o text-info"></i>
                                                        {% else %}
                                                            <img src="{{ ('/uploads/ad/' ~ document.getName()) }}" class="img-responsive" />
                                                        {% endif %}
                                                    </div>
                                                    <div class="panel-footer">
                                                        <span>{{ document.getTitle() }}</span>
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% set documents = brouillonDuo.getPdfDocuments() %}
                                {% set documentsCount = documents|length %}
                                {% if documentsCount > 0 %}
                                    <hr/>
                                    <div class="row">
                                        <h3>PDFs</h3>
                                        {% for document in documents %}
                                            <div class="uploadedDocument col-md-6">
                                                <div class="hpanel">
                                                    <div class="panel-body file-body">
                                                        <i class="fa fa-file-pdf-o text-info"></i>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <span>{{ document.getTitle() }}</span>
                                                        <div class="btn-group pdf_buttons">
                                                            <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                                            <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}
        {% set maison = ad.getMaison() %}
        {% if ad.getHouseModel() %}
            {% set maison = ad.getHouseModel().getMaison() %}
        {% endif %}
        {% if maison %}
            <h3>{{ 'Maison'|trans }}</h3>
            <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ maison.getTypeValue() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td><td>{{ maison.getTypeArchitectureValue() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ maison.getSurface() ~'m²'}}</td></tr>
                <tr><td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td><td>{{ maison.nbPieces() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td><td>{{ maison.getNbChambres() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td><td>{{ maison.getNbSalleBain() }}</td></tr>
                <tr><td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td><td>{{ maison.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleEau() ? 'Nombre: '~maison.getNbSalleEau() : '' }}</td></tr>
                <tr><td><b>{{ 'ads.ad.parking'|trans }}</b></td><td>{{ maison.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiParking() ? 'Nombre: '~maison.getNbParking() : '' }}<br/>{{ maison.getSiParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : '' }}</td></tr>
                {% if maison.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ maison.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiToilette() ? 'Nombre: '~maison.getNbToilette() : '' }}</td></tr>{% endif %}
                {% if maison.getSiSejourValue() %}<tr><td><b>{{ 'ads.ad.livingroom'|trans }}</b></td><td>{{ maison.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiSalleAMangerValue() %}<tr><td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td><td>{{ maison.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getTypeCuisine() %}<tr><td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td><td>{{ maison.getTypeCuisineValue() }}</td></tr>{% endif %}
                {% if maison.getSiBureauValue() %}<tr><td><b>{{ 'ads.ad.bureau'|trans }}</b></td><td>{{ maison.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiBuanderieValue() %}<tr><td><b>{{ 'ads.ad.buanderie'|trans }}</b></td><td>{{ maison.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiTerrasseValue() %}<tr><td><b>{{ 'ads.ad.terrasse'|trans }}</b></td><td>{{ maison.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiTerrasse() ? 'Nombre: '~maison.getNbTerrasse() : '' }}<br/>{{ maison.getSiTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiDressingValue() %}<tr><td><b>{{ 'ads.ad.dressing'|trans }}</b></td><td>{{ maison.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiBalconsValue() %}<tr><td><b>{{ 'ads.ad.balcon'|trans }}</b></td><td>{{ maison.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBalcons() ? 'Nombre: '~maison.getNbBalcons() : '' }}<br/>{{ maison.getSiBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiCaveValue() %}<tr><td><b>{{ 'ads.ad.cave'|trans }}</b></td><td>{{ maison.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiVerandaValue() %}<tr><td><b>{{ 'ads.ad.veranda'|trans }}</b></td><td>{{ maison.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiChemineeValue() %}<tr><td><b>{{ 'ads.ad.cheminee'|trans }}</b></td><td>{{ maison.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getSiPlacardsValue() %}<tr><td><b>{{ 'ads.ad.placards'|trans }}</b></td><td>{{ maison.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}</td></tr>{% endif %}
                {% if maison.getRevetementDeSol() %}<tr><td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td><td>{{ maison.getRevetementDeSolValue() }}</td></tr>{% endif %}
                {% if maison.getDPE() %}<tr><td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td><td>{{ maison.getDPE() }}</td></tr>{% endif %}
                {% if maison.getGES() %}<tr><td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td><td>{{ maison.getGES() }}</td></tr>{% endif %}
                </tbody>
            </table>
        {% endif %}
        <div id="documents-review"></div>
    </div>
</div>