<html>
<head>
    <title>
        Display-immo - Signal Annonce "{{ ad.getLibelle() }}"
    </title>
</head>
<body>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Signal sur l'annonce<a href="{{ url('ads_show',{'remoteId':ad.remoteId}) }}">{{ ad.getLibelle() }}</a></p>
<p>{{ msg }}</p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />
</body>
</html>