{% trans_default_domain "commiti" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        {% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}
    </title>
    <style type="text/css">
        <!--
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #666666;
            background-color:#999999;
        }
        a:link {
            color: #666666;
            text-decoration:none;
        }
        a:visited {
            color: #666666;
            text-decoration:none;
        }
        a:active {
            color: #cad400;
            text-decoration:none;
        }
        a:hover {
            color: #cad400;
            text-decoration: underline;
        }
        .tablo {
            margin-top:40px;
        }
        .tablo_desc {
            padding: 15px 50px;
            vertical-align:top;
            min-height: 300px;
        }
        a.active{
            color: #cad400;
        }
        -->
    </style>
</head>
<body>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tablo">
    <tr>
        <td height="148">
            <a href="https://www.display-immo.fr" target="_blank">
                <img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td height="300" class="tablo_desc">
            {% block body %}{% if body is defined %}{{ body }}{% endif %}{% endblock %}
            <p>
            <br/><br/>Cordialement,<br/><br/>
                L'équipe DISPLAY
            </p>

        </td>
    </tr>
    <tr>
        <td height="20">
            <a href="https://www.display-immo.fr" target="_blank">
                <img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />
            </a>
        </td>
    </tr>
</table>
</body>
</html>