<html>
<head>
    <title>
        Display-immo - Nouvelle opportunité
    </title>
</head>
<body>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Vous venez de reçevoir une nouvelle opportunité.<br/>
    Vous pouvez la consulter en cliquant <a href="{{ url('gestion_opportunity_view',{'remoteId':opportunity.remoteId}) }}">ici</a></p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />
</body>
</html>