<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Une nouvelle opportunité "{{ opportunity.title }}" viens d'être crée par {{ opportunity.owner.name }}.<br/>
Vous pouvez la consulter en cliquant <a href="{{ url('gestion_opportunity_view',{'remoteId':opportunity.remoteId}) }}">ici</a></p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />