<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Un nouveau rendez-vous "{{ agendaEvent.title }}" viens d'être crée par {{ agendaEvent.owner.name }}.<br/>
Vous pouvez la consulter en cliquant <a href="{{ url('gestion_opportunity_meetings',{'remoteId':agendaEvent.opportunity.remoteId}) }}">ici</a></p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />