<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Ceci est un rappel pour l'événement "{{ event.title }}".<br/>
    Vous pouvez le consulter en cliquant <a href="{{ url('agenda_event_view',{'id':event.id}) }}">ici</a></p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />