<html>
<head>
    <title>
        Display-immo - Signal Annonce
    </title>
</head>
<body>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Signal sur l'annonce<a href="">aaaaaaaaaaaa</a></p>
<p>Lorem</p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />
</body>
</html>