<html>
<head>
    <title>
        Display-immo - Ticket d'incidence
    </title>
</head>
<body>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-header.png" />
<p>Bonjour,</p>
<p>Vous avez eu une nouvelle ticket d'incidence, pour la consulter, cliquer <a href="{{ url("bugs_list") }}">ici</a></p>
<img src="https://www.display-immo.fr/bundles/app/images/email-notification-display-footer.png" />
</body>
</html>