{% trans_default_domain "commiti" %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="32x32">
    {% block head %}
        {% include 'AppBundle:Common:head_styles.html.twig' %}
        {% include 'AppBundle:Common:head_scripts.html.twig' %}
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body class="{{ body_class is defined ? body_class : 'fixed-navbar fixed-sidebar' }}">
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% block blank_body %}
    <div id="header">
        <div class="color-line"> </div>
        <div id="logo" class="light-version">
            <img src="{{ asset('images/logo.png') }}" style="height: 45px; margin-top:-13px;" />
        </div>
        {% include 'AppBundle:Common:topbar.html.twig' %}
    </div>

    {% include 'AppBundle:Common:menu.html.twig' %}

    <div id="wrapper">
        {% block body %}{% endblock %}
        <footer class="footer">
            <span class="label label-success pull-right">{{ site.version }}</span>
            {{ site.copyright|raw }}
        </footer>
    </div>
    {% if not app.request.cookies.has('accept_cookie') %}
        <div id="alert-cookie" class="cookies-info">
            <div class="alert-cookie-inner">
                    <span>
                        Ce site utilise des cookies pour vous optimiser votre expérience utilisateur. En utilisant Mon Display, vous acceptez notre utilisation des cookies.
                        <div><a href="#" class="btn btn-primary gray">Voir plus</a><a href="javascript:void(0);" class="btn btn-primary accept_cookies">Accept</a></div>
                    </span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% include 'AppBundle:Common:footer_scripts.html.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>
