{% block stylesheets %}
    <style>
        .filestyle{
            background-color: #f8f8f8;
            background-size: cover;
            border: 1px solid #ccc;
            border-radius: 3px;
            border-style: dashed;
            margin-top: 7px;
            width: 250px;
            height: 250px;
        }
    </style>
{% endblock %}



<form id="form1" runat="server"></form>
<tr><td width="100" colspan="2"><img class="filestyle" src="#" /></td></tr>

{% block javascript %}
    <script href=""></script>
        <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.filestyle').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });
    </script>
{% endblock %}