{% block money_widget -%}
    {{- block('form_widget_simple') -}}
    <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
{%- endblock money_widget %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form) -}}
    {% else -%}
        {%- set label_attr = label_attr|merge({'for': id}) -%}
        <div class="checkbox checkbox-info checkbox-circle">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{% block checkbox_row -%}
    <tr {% if not valid %}class="has-error"{% endif %}>
        <td class="col-sm-4">{{- form_label(form) -}}</td>
        <td class="col-sm-8">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </td>
    </tr>
{%- endblock checkbox_row %}

{% block radio_widget -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}
    <div class="radio radio-info radio-inline">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{- form_label(form,null,{'label_attr':label_attr}) -}}
    </div>
{%- endblock radio_widget %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
    </label>
{% endblock checkbox_radio_label %}

{% block form_label_class -%}
    col-sm-4
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-8
{%- endblock form_group_class %}
