{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.add" | trans }}{% endblock %}
{% block action %}{{ "action.add" | trans }}{% endblock %}
{% block body %}
    {% block breadcrumb %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "opportunity.add" | trans }}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
                        <h3>{{ 'opportunity.add'| trans  }}</h3>
                        {% if form.opportunityGroup is defined %}
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-2">Groupe</div>
                                <div class="col-md-10">
                                    {{ form_widget(form.opportunityGroup,{'id':'group','attr':{'placeholder':'Groupe','class': 'select2'}}) }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-lg-6">
                            {{ form_row(form.title) }}
                            {{ form_row(form.source,{'id':'source'}) }}
                            {{ form_row(form.sourceAutre,{'id':'sourceAutre'}) }}
                            {{ form_row(form.email,{'attr':{'placeholder':'user@email.com'}}) }}
                            {{ form_row(form.organisation) }}
                            {% if form.ad is defined %}
                                {{ form_row(form.ad,{'id':'ad_container'}) }}
                            {% endif %}
                            {{ form_row(form.note) }}
                            {{ form_row(form.progress) }}
                        </div>
                        <div class="col-lg-6">
                            {% if form.contact is defined %}
                                {{ form_row(form.contact,{'id':'contact_container'}) }}
                            {% endif %}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.prenom) }}
                            {{ form_row(form.telephone) }}
                            {{ form_row(form.mobile) }}
                            {{ form_row(form.telephoneBureau) }}
                            {{ form_row(form.ville) }}
                            {{ form_row(form.codePostal) }}
                            {{ form_row(form.address) }}
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default" href="{{ path('gestion_opportunity_list') }}">{{ 'action.cancel'|trans }}</a>
                            <input type="submit" class="btn btn-primary" value="{{ block('action') }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            if($('#source').val() != 'autre') { $('#sourceAutre').closest('.form-group').addClass('hidden'); }
            $('#source').on('change', function(){
                if($(this).val() == 'autre') {
                    $('#sourceAutre').closest('.form-group').removeClass('hidden');
                } else {
                    $('#sourceAutre').closest('.form-group').addClass('hidden');
                }
            });
            $('#group').on('change', function(){
                var group = document.getElementById('group');
                var _data = {};
                _data[group.name] = group.value;
                $.ajax({
                    type: "POST",
                    data: _data,
                    success: function (res) {
                        var parser          = new DOMParser();
                        var doc             = parser.parseFromString(res, 'text/html');

                        var target          = document.getElementById('contact_container');
                        target.innerHTML    = doc.getElementById('contact_container').innerHTML;
                        $('#contact_container').select2();

                        var target2          = document.getElementById('ad_container');
                        target2.innerHTML    = doc.getElementById('ad_container').innerHTML;
                        $('#ad_container').select2();

                        $('#calendar').fullCalendar( 'refetchEvents' );

                        var contact = $('#contact_container').val();
                        if(contact) {
                            $.getJSON(Routing.generate('api_contact_details',{'remoteId':contact}))
                                .done(function (data) {
                                    $.each(data,function (index, item) {
                                        $('*[name="opportunity['+index+']"]').val(item);
                                    });
                                });
                        } else { $('.dependency').val(''); }
                    }
                });
            });

            $('#contact_container').on('change', function(){
                $.getJSON(Routing.generate('api_contact_details',{'remoteId':$(this).val()}))
                        .done(function (data) {
                    $.each(data,function (index, item) {
                        $('*[name="opportunity['+index+']"]').val(item);
                    });
                });
            });
            $(".slider").bootstrapSlider({'min':0,'max':100,'value':{{ opportunity.progress }}});
        });
    </script>
{% endblock %}