{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "proposition.edit" | trans }}{% endblock %}
{% block main %}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h3>{{ opportunity.title }}</h3>
                        <div class="text-muted font-bold m-b-xs"></div>
                        {% include 'AppBundle:Gestion:Opportunity\\proposition_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $(".slider").bootstrapSlider({'min':0,'max':100,'value':{{ proposition.progress }}});
            $('.i-checks').on('ifChanged', function (event) { console.log($(event.target));$(event.target).closest('.form-group').find('.dependency').toggleClass('hidden') });

            var $possessionTerrain = $('#opportunity_proposition_possessionTerrain input');
            $possessionTerrain.on('change', function(){
                var _data = {};
                _data[$possessionTerrain.attr('name')] = $('#opportunity_proposition_possessionTerrain input:checked').val();
                $.ajax({
                    type: "POST",
                    data: _data,
                    success: function (res) {
                        var parser          = new DOMParser();
                        var doc             = parser.parseFromString(res, 'text/html');

                        var target          = document.getElementById('possessionTerrainDetail');
                        target.innerHTML    = doc.getElementById('possessionTerrainDetail').innerHTML;
                    }
                });
            });
        });
    </script>
{% endblock %}