{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "opportunity.list" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "opportunity.list" | trans }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel {% if not data %}panel-collapse{% endif %}">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        Filtres
                    </div>
                    <div class="panel-body" {% if not data %}style="display: none;"{% endif %}>
                        {% form_theme form 'bootstrap_3_layout.html.twig' 'AppBundle:Gestion:Opportunity\\_widget_search.html.twig' %}
                        {{ form_start(form,{'attr':{'id':'opportunitySearchForm'}}) }}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date Projet</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            {{ form_widget(form.dateStart,{'id':'eventDateStart'}) }}
                                            <span class="input-group-addon">à</span>
                                            {{ form_widget(form.dateEnd,{'id':'eventDateEnd'}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Budget Terrain</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            {{ form_widget(form.budgetTerrainFrom) }}
                                            <span class="input-group-addon">à</span>
                                            {{ form_widget(form.budgetTerrainTo) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Budget Maison</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            {{ form_widget(form.budgetMaisonFrom) }}
                                            <span class="input-group-addon">à</span>
                                            {{ form_widget(form.budgetMaisonTo) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Surface Maison souhaiter</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            <div>{{ form_widget(form.surfaceMaisonSouhaiterFrom) }}</div>
                                            <span class="input-group-addon">à</span>
                                            <div>{{ form_widget(form.surfaceMaisonSouhaiterTo) }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Nombre de chambres</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            <div>{{ form_widget(form.nombreChambreFrom) }}</div>
                                            <span class="input-group-addon">à</span>
                                            <div>{{ form_widget(form.nombreChambreTo) }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Budget Total</label>
                                    <div class="col-sm-12">
                                        <div class="input-daterange input-group" data-plugin-datepicker>
                                            {{ form_widget(form.budgetTotalFrom) }}
                                            <span class="input-group-addon">à</span>
                                            {{ form_widget(form.budgetTotalTo) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                {% if is_granted('ROLE_MARKETING') %}
                                    {% if form.bigGroups is defined %}
                                        {{ form_row(form.bigGroups,{'id':'bigGroups'}) }}
                                    {% endif %}
                                    <div id="groupContainer">
                                    {% if form.group is defined %}
                                        {{ form_row(form.group,{'id':'group'}) }}
                                    {% endif %}
                                    </div>
                                    <div id="commercialsContainer">
                                        {% if form.commercial is defined %}
                                            {{ form_row(form.commercial) }}
                                        {% endif %}
                                    </div>
                                    <div id="contacts">
                                        {% if form.contact is defined %}
                                            {{ form_row(form.contact) }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {{ form_row(form.status) }}
                                {{ form_row(form.progress) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.logementActuel) }}
                                {{ form_row(form.typeAcquisition) }}
                                {{ form_row(form.lieu) }}
                                {{ form_row(form.lieuAlentour) }}
                                {{ form_row(form.possessionTerrain) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.apportPersonnel) }}
                                {{ form_row(form.compromisTerrain) }}
                                {{ form_row(form.contratConstruction) }}
                                {{ form_row(form.permisConstruireDeposer) }}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px;">
                            {% if form.save is defined %}
                                <div class="col-md-6">
                                    {{ form_row(form.submit) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.save) }}
                                </div>
                            {% else %}
                                <div class="col-md-12">
                                    {{ form_row(form.submit) }}
                                </div>
                            {% endif %}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        {{ "opportunity.list" | trans }}
                    </div>
                    <div class="panel-body">
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">

        $(document).ready(function() {
            $(".slider").bootstrapSlider({'min': 0, 'max': 100});

            if($('#bigGroups').length) {
                $('#bigGroups').on('change', function(){
                    $(this).closest('form').ajaxSubmit({
                        success: function(res) {
                            $('#groupContainer .select2-container').remove();
                            $('#groupContainer select').replaceWith($(res).find('#groupContainer select'));
                            $('#group').select2();
                        }
                    });
                });
            }
            $(document).on('change','#group', function(){
                $(this).closest('form').ajaxSubmit({
                    success: function(res) {
                        $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                    }
                });
            });

        });
        var id ;
        $(document).on('click', '.btn-datatable-informer', function(e){
            id = $(this).data('id');
        });
        $(document).on('click', '#sendInformation', function(e){
            $.ajax({
                url: Routing.generate('ads_informer', {
                    'remoteId':id,
                    'value': $('#notificationMessage').val()
                }),
                type: 'POST',
                success: function (data) {
                    $('#notificationMessage').val('');
                    toastr["success"]("{{ 'ads.notification_has_been_sent'|trans }}")
                }
            });
        });
    </script>
{% endblock %}