{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "proposition.edit" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="{{ path('gestion_opportunity_propositions',{'remoteId':proposition.opportunity.remoteId}) }}"><span>{{ "proposition.list" | trans }}</span></a>
                    </li>
                    <li class="active">
                        <span>{{ "proposition.edit" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "proposition.edit" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <h3>{{ proposition.title }}</h3>
                    <div class="text-muted font-bold m-b-xs"></div>
                    {% include 'AppBundle:Gestion:Opportunity\\proposition_form_instance.html.twig' with {'opportunity':proposition.opportunity} %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $(".slider").bootstrapSlider({'min':0,'max':100,'value':{{ proposition.progress }}});
            $('.i-checks').on('ifChanged', function (event) { $(event.target).closest('.form-group').find('.dependency').toggleClass('hidden') });

            $('<div id="ads_items"><ul></ul></div>').insertAfter($('#ads'));
            $('#ads').hide();
            $('#ads option').each(function() {
                var label = $(this)[0].label.split('|');
                var selected = $(this).prop('selected') ? 'checked' : '';
                $('#ads_items ul').append('<li class="col-xs-3 ad-item"><div><img src="/'+label[2]+'" alt="'+label[0]+'" class="img-responsive" /><input type="checkbox" value="'+$(this).val()+'" '+selected+' /></div><small class="label-item">'+label[0]+'<br/><small>'+label[1]+'</small></small></li>');
            });
            $('#ads_items input').on('click',function(){ $('#ads option[value='+$(this).val()+']').prop('selected', !$(this).prop('selected')); });

            $('<div id="models_items"><ul></ul></div>').insertAfter($('#models'));
            $('#models').hide();
            $('#models option').each(function() {
                var label = $(this)[0].label.split('|');
                var selected = $(this).prop('selected') ? 'checked' : '';
                $('#models_items ul').append('<li class="col-xs-3 ad-item"><div><img src="/'+label[1]+'" alt="'+label[0]+'" class="img-responsive" /><input type="checkbox" value="'+$(this).val()+'" '+selected+' /></div><small class="label-item">'+label[0]+'<br/><small>'+label[1]+'</small></small></li>');
            });
            $('#models_items input').on('click',function(){
                $('#models option[value='+$(this).val()+']').prop('selected', !$(this).prop('selected'));
            });
        });
    </script>
    {% include 'AppBundle:Gestion:Opportunity/dropzone/dropzone.html.twig' with {'type':'proposition'} %}
    {% include 'AppBundle:Gestion:Opportunity/dropzone/javascript.html.twig' %}
{% endblock %}