{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form_start(form,{'attr': {'novalidate':'novalidate', 'action': path('gestion_opportunity_propositions_relancer',{'remoteId':proposition.remoteId}) }}) }}
{{ form_row(form.objectif) }}
{{ form_row(form.date) }}
<div style="margin:15px 0;">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}