{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "proposition.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="{{ path('gestion_opportunity_propositions',{'remoteId':proposition.opportunity.remoteId}) }}"><span>{{ "proposition.list" | trans }}</span></a>
                    </li>
                    <li class="active">
                        <span>{{ "proposition.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "proposition.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('gestion_opportunity_propositions_edit', {'remoteId': proposition.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    <h3>{{ proposition.title }}</h3>
                    <div class="text-muted font-bold m-b-xs"></div>
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr><td width="35%">{{ "proposition.date"|trans }}</td><td width="65%">{{ proposition.dateStart|date('d/m/Y') }} à {{ proposition.dateEnd|date('d/m/Y') }}</td></tr>
                            <tr>
                                <td>{{ "proposition.status"|trans }}</td>
                                <td>
                                    {% if proposition.status == 'En demande' %}
                                        <span class="label label-info">En demande</span>
                                    {% elseif proposition.status  == 'A relancer' %}
                                        <span class="label label-info">A relancer</span>
                                    {% elseif proposition.status  == 'echéancé' %}
                                        <span class="label label-info">Echéancé</span>
                                    {% elseif proposition.status  == 'Rendez-vous en cours' %}
                                        <span class="label label-success">Rendez-vous en cours</span>
                                    {% elseif proposition.status  == 'Signé' %}
                                        <span class="label label-success">Signé</span>
                                    {% else %}
                                        <span class="label label-danger">Abondonné</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr><td>{{ "proposition.logementActuel"|trans }}</td><td>{{ proposition.logementActuel }}</td></tr>
                            <tr><td>{{ "proposition.typeAcquisition"|trans }}</td><td>{{ proposition.typeAcquisition }}</td></tr>
                            <tr><td>{{ "proposition.lieu"|trans }}</td><td>{{ proposition.lieu }} {{ proposition.lieuAlentour ? 'alentolur de '~proposition.lieuAlentour~' km' : '' }}</td></tr>
                            <tr><td>{{ "proposition.possessionTerrain"|trans }}</td><td>{{ proposition.possessionTerrain ? 'Oui' : 'Non' }}</td></tr>
                            <tr><td>{{ "proposition.possessionTerrainDetail"|trans }}</td><td>{{ proposition.possessionTerrainDetail }}</td></tr>
                            <tr><td>{{ "proposition.surfaceTerrainSouhaiter"|trans }}</td><td>{{ proposition.surfaceTerrainSouhaiter~' m²' }}</td></tr>
                            <tr><td>{{ "proposition.budgetTerrain"|trans }}</td><td>{{ proposition.budgetTerrainFrom~' € '~' à '~ proposition.budgetTerrainTo~' €'}}</td></tr>
                            <tr><td>{{ "proposition.budgetMaison"|trans }}</td><td>{{ proposition.budgetMaisonFrom~' € '~' à '~ proposition.budgetMaisonTo~' €'}}</td></tr>
                            <tr><td>{{ "proposition.surfaceMaisonSouhaiter"|trans }}</td><td>{{ proposition.surfaceMaisonSouhaiterFrom~' m² '~' à '~ proposition.surfaceMaisonSouhaiterTo~' m²'}}</td></tr>
                            <tr><td>{{ "proposition.nombreChambre"|trans }}</td><td>{{ proposition.nombreChambreFrom~' à '~ proposition.nombreChambreTo~' chambres'}}</td></tr>
                            <tr><td>{{ "proposition.budgetTotal"|trans }}</td><td>{{ proposition.budgetTotalFrom~' € '~' à '~ proposition.budgetTotalTo~' €'}}</td></tr>
                            <tr><td>{{ "proposition.apportPersonnel"|trans }}</td><td>{{ proposition.apportPersonnel~' €'}}</td></tr>
                            <tr><td>{{ "Assigner à"|trans }}</td>
                                <td>
                                    <ul>
                                        {% for commercial in proposition.commercials %}
                                            <li>{{ commercial.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% if proposition.getDocuments() %}
                            <tr><td>{{ "Fichiers"|trans }}</td>
                                <td>
                                    {% for document in proposition.getDocuments() %}
                                        <div class="uploadedDocument col-sm-6">
                                            <div class="hpanel">
                                                <a href="{{ '/uploads/opportunity/' ~ document.name }}" target="_blank">
                                                    <div class="panel-body file-body">
                                                        {% if document.getMimeType() == 'application/pdf' %}
                                                            <i class="fa fa-file-pdf-o text-info"></i>
                                                        {% else %}
                                                            <img src="{{ '/uploads/opportunity/' ~ document.name }}" class="img-responsive"/>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}