{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'AppBundle:Gestion:Opportunity\\_widget_proposition.html.twig' %}
{{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}

{% if errors %}
<div class="alert alert-danger">
    <ul class="list-unstyled">
        {% for key,error in errors %}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ key }}: {{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.status) }}
        {{ form_row(form.progress) }}
        {% if form.commercials is defined %}
        {{ form_row(form.commercials) }}
        {% endif %}
        <div class="form-group">
            <label class="col-sm-4 control-label">Date Projet</label>
            <div class="col-sm-8">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    {{ form_widget(form.dateStart,{'id':'eventDateStart'}) }}
                    <span class="input-group-addon">à</span>
                    {{ form_widget(form.dateEnd,{'id':'eventDateEnd'}) }}
                </div>
                {{ form_errors(form.dateStart) }}
                {{ form_errors(form.dateEnd) }}
            </div>
        </div>
        {{ form_row(form.logementActuel) }}
        {{ form_row(form.typeAcquisition) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.lieu) }}
        {{ form_row(form.lieuAlentour) }}
        <hr/>
        {{ form_row(form.possessionTerrain,{'attr':{'id':'possessionTerrain','class':'radio-inline'}}) }}
        <div id="possessionTerrainDetail">
            {{ form_row(form.possessionTerrainDetail) }}
        </div>
        <hr/>
        {{ form_row(form.surfaceTerrainSouhaiter) }}
        <div class="form-group">
            {{ form_label(form.apportPersonnel) }}
            <div class="col-sm-8 input-group">
                {{ form_widget(form.apportPersonnel) }}
            </div>
        </div>
        {{ form_row(form.apportPersonnel) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr/>
        <div class="form-group">
        <label class="col-sm-2 control-label">Budget Terrain</label>
        <div class="col-sm-10">
            <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-addon">De</span>
                {{ form_widget(form.budgetTerrainFrom) }}
                <span class="input-group-addon">à</span>
                {{ form_widget(form.budgetTerrainTo) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Budget Maison</label>
        <div class="col-sm-10">
            <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-addon">De</span>
                {{ form_widget(form.budgetMaisonFrom) }}
                <span class="input-group-addon">à</span>
                {{ form_widget(form.budgetMaisonTo) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Surface Maison souhaiter</label>
        <div class="col-sm-10">
            <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-addon">De</span>
                <div>{{ form_widget(form.surfaceMaisonSouhaiterFrom) }}</div>
                <span class="input-group-addon">à</span>
                <div>{{ form_widget(form.surfaceMaisonSouhaiterTo) }}</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre de chambres</label>
        <div class="col-sm-10">
            <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-addon">De</span>
                <div>{{ form_widget(form.nombreChambreFrom) }}</div>
                <span class="input-group-addon">à</span>
                <div>{{ form_widget(form.nombreChambreTo) }}</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Budget Total</label>
        <div class="col-sm-10">
            <div class="input-daterange input-group" data-plugin-datepicker>
                <span class="input-group-addon">De</span>
                {{ form_widget(form.budgetTotalFrom) }}
                <span class="input-group-addon">à</span>
                {{ form_widget(form.budgetTotalTo) }}
            </div>
        </div>
    </div>
    <hr/>
    <h3>Signature</h3>
    <div class="form-group">
        <label class="col-sm-3 control-label">Compromis Terrain</label>
        <div class="col-sm-1">
            {{ form_widget(form.compromisTerrain) }}
        </div>
        <div class="col-sm-8 {{ proposition is defined and proposition.compromisTerrain ? '' : 'hidden' }} dependency">
            {{ form_widget(form.dateCompromisTerrain) }}
            {{ form_errors(form.dateCompromisTerrain) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Contrat construction</label>
        <div class="col-sm-1">
            {{ form_widget(form.contratConstruction) }}
        </div>
        <div class="col-sm-8 {{ proposition is defined and proposition.dateContratConstruction ? '' : 'hidden' }} dependency">
            {{ form_widget(form.dateContratConstruction) }}
            {{ form_errors(form.dateContratConstruction) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Permis de construire déposé</label>
        <div class="col-sm-1">
            {{ form_widget(form.permisConstruireDeposer) }}
        </div>
        <div class="col-sm-8 {{ proposition is defined and proposition.permisConstruireDeposer ? '' : 'hidden' }} dependency">
            {{ form_widget(form.datePermisConstruireDeposer) }}
            {{ form_errors(form.datePermisConstruireDeposer) }}
        </div>
    </div>
    <div style="margin:15px 0;">
        {{ form_widget(form.submit) }}
    </div>
</div>
</div>
{{ form_end(form) }}