{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' 'AppBundle:Gestion:Opportunity\\_widget_proposition.html.twig' %}
{{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
{% if errors %}
    <div class="alert alert-danger">
        <ul class="list-unstyled">
            {% for key,error in errors %}
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ key }}: {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.title) }}
        {{ form_row(form.status) }}
        {{ form_row(form.date) }}
        {% if form.commercials is defined %}
            {{ form_row(form.commercials) }}
        {% endif %}
        {% if not opportunity.propositionDetails.possessionTerrain %}
            {{ form_row(form.lieu) }}
            {{ form_row(form.lieuAlentour) }}
            <hr/>
            {{ form_row(form.surfaceTerrainSouhaiter) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Budget Terrain</label>
                <div class="col-sm-10">
                    <div class="input-daterange input-group" data-plugin-datepicker>
                        <span class="input-group-addon">De</span>
                        {{ form_widget(form.budgetTerrainFrom) }}
                        <span class="input-group-addon">à</span>
                        {{ form_widget(form.budgetTerrainTo) }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-2 control-label">Budget Maison</label>
            <div class="col-sm-10">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">De</span>
                    {{ form_widget(form.budgetMaisonFrom) }}
                    <span class="input-group-addon">à</span>
                    {{ form_widget(form.budgetMaisonTo) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-2 control-label">Surface Maison souhaiter</label>
            <div class="col-sm-10">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">De</span>
                    <div>{{ form_widget(form.surfaceMaisonSouhaiterFrom) }}</div>
                    <span class="input-group-addon">à</span>
                    <div>{{ form_widget(form.surfaceMaisonSouhaiterTo) }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-2 control-label">Nombre de chambres</label>
            <div class="col-sm-10">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">De</span>
                    <div>{{ form_widget(form.nombreChambreFrom) }}</div>
                    <span class="input-group-addon">à</span>
                    <div>{{ form_widget(form.nombreChambreTo) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-sm-2 control-label">Budget Total</label>
            <div class="col-sm-10">
                <div class="input-daterange input-group" data-plugin-datepicker>
                    <span class="input-group-addon">De</span>
                    {{ form_widget(form.budgetTotalFrom) }}
                    <span class="input-group-addon">à</span>
                    {{ form_widget(form.budgetTotalTo) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Annonces</h3>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_widget(form.ads, {'id':'ads','class':'hidden'}) }}
                {{ form_errors(form.ads) }}
            </div>
        </div>
        <h3>Modèles</h3>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_widget(form.modeles, {'id':'models','class':'hidden'}) }}
                {{ form_errors(form.modeles) }}
            </div>
        </div>
        <h3>Autres type de projet personnalisé</h3>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_widget(form.customComment) }}
            </div>
        </div>
        <hr/>
        <div action="{{ oneup_uploader_endpoint('proposition') }}" class="dropzone" id="dropzone"></div>
        {% if proposition is defined and proposition.getDocuments() %}
            <hr/>
            {% include 'AppBundle:Gestion:Opportunity/dropzone/documents.html.twig' with {'documents':proposition.getDocuments(),'type':'opportunity'} %}
        {% endif %}
        <hr/>
        <div style="margin:15px 0;">
            {{ form_widget(form.submit) }}
        </div>
    </div>
</div>
{{ form_end(form) }}