{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "opportunity.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "opportunity.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            {% if opportunity.contact is null %}
            <a class="btn btn-success" data-target="#convertToClient" id="convertToClientBtn" data-toggle="modal" style="margin-bottom: 5px;width: 100%;">
                <i class="fa fa-handshake-o"></i> <span>Convertir en client</span>
            </a>
            <div class="modal fade" id="convertToClient">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="color-line"></div>
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'client_convertion'|trans }}</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>
                </div>
            </div>
            {% elseif opportunity.contact and opportunity.contact.type == 'contact' %}
                <a class="btn btn-success" href="{{ path('gestion_opportunity_convert',{'remoteId':opportunity.remoteId}) }}" style="margin-bottom: 5px;width: 100%;">
                    <i class="fa fa-handshake-o"></i> <span>Convertir en client</span>
                </a>
            {% endif %}
            <div class="hpanel">
                <div class="panel-body">
                    {% set currentPath = app.request.attributes.get('_route') %}
                    <ul class="mailbox-list">
                        <li class="{{ (currentPath == 'gestion_opportunity_view') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_view',{'remoteId':opportunity.remoteId}) }}"><i class="fa fa-info-circle"></i> Détails de l'opportunités</a>
                        </li>
                        <li class="{{ (currentPath == 'gestion_propositions_view' or currentPath == 'gestion_propositions_edit') ? 'active' : '' }}">
                            <a href="{{ path('gestion_propositions_view',{'remoteId':opportunity.remoteId}) }}"><i class="fa fa-info-circle"></i> Détails des propositions</a>
                        </li>
                        <li class="{{ (currentPath == 'gestion_opportunity_meetings') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_meetings',{'remoteId':opportunity.remoteId}) }}">
                                {% if opportunity.events|length %}<span class="pull-right">{{ opportunity.events|length }}</span>{% endif %}
                                <i class="fa fa-rocket"></i> Rendez-vous
                            </a>
                        </li>
                        <li class="{{ (currentPath == 'gestion_opportunity_calls') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_calls',{'remoteId':opportunity.remoteId}) }}">
                                {% if opportunity.calls|length %}<span class="pull-right">{{ opportunity.calls|length }}</span>{% endif %}
                                <i class="fa fa-phone-square"></i> Appels
                            </a>
                        </li>
                        <li class="{{ (currentPath == 'gestion_opportunity_comments') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_comments',{'remoteId':opportunity.remoteId}) }}">
                                {% if opportunity.comments|length %}<span class="pull-right">{{ opportunity.comments|length }}</span>{% endif %}
                                <i class="fa fa-comments"></i> Commentaires
                            </a>
                        </li>
                        {#<li class="{{ (currentPath == 'gestion_opportunity_documents') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_documents',{'remoteId':opportunity.remoteId}) }}">
                                {% if opportunity.documents|length %}<span class="pull-right">{{ opportunity.documents|length }}</span>{% endif %}
                                <i class="fa fa-envelope"></i> Documents envoyer
                            </a>
                        </li>#}
                        <li class="{{ (currentPath == 'gestion_opportunity_propositions') ? 'active' : '' }}">
                            <a href="{{ path('gestion_opportunity_propositions',{'remoteId':opportunity.remoteId}) }}">
                                {% if opportunity.propositions|length %}<span class="pull-right">{{ opportunity.propositions|length }}</span>{% endif %}
                                <i class="fa fa-briefcase"></i> Propositions
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            {% block main %}
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('gestion_opportunity_edit', {'remoteId': opportunity.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    <div id="main">
                        <h3>{{ opportunity.title }}</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Détails</h4>
                                <table id="user" class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                    <tr><td width="35%">{{ "Annonce"|trans }}</td><td width="65%">
                                            {% if opportunity.ad.remoteId %}
                                                <a href="{{ path('ads_show',{'remoteId':opportunity.ad.remoteId}) }}">
                                                {{ opportunity.ad.libelle }} / {{ opportunity.ad.reference }}</a>
                                            {% else %}
                                                {{ opportunity.ad.libelle }}{% endif %}</td></tr>
                                    <tr><td>{{ "Commercial"|trans }}</td><td>{{ opportunity.commercial.name }}</td></tr>
                                    <tr><td>{{ "Status"|trans }}</td><td>{{ opportunity.status }}</td></tr>
                                    <tr><td>{{ "Progression"|trans }}</td><td>{{ opportunity.progress }}%</td></tr>
                                    </tbody>
                                </table>
                                <h4>Contact</h4>
                                <table id="user" class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                        <tr>
                                            <td width="35%">{{ "opportunity.contact"|trans }}</td>
                                            <td width="65%">
                                                {% if opportunity.contact %}
                                                    <a href="{{ path('gestion_contact_view',{'remoteId':opportunity.contact.remoteId}) }}">{{ opportunity.contact.prenom~ ' '~ opportunity.contact.nom }}</a>
                                                {% else %}
                                                    {{ opportunity.prenom~ ' '~ opportunity.nom }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr><td>{{ "opportunity.organisation"|trans }}</td><td>{{ opportunity.organisation }}</td></tr>
                                        <tr><td>{{ "opportunity.source"|trans }}</td><td>{{ opportunity.source }}</td></tr>
                                        {% if opportunity.source == 'autre' %}
                                        <tr><td>{{ "opportunity.sourceAutre"|trans }}</td><td>{{ opportunity.sourceAutre }}</td></tr>
                                        {% endif %}
                                        <tr><td>{{ "opportunity.email"|trans }}</td><td>{{ opportunity.email }}</td></tr>
                                        <tr><td>{{ "opportunity.telephone"|trans }}</td><td>{{ opportunity.telephone }}</td></tr>
                                        <tr><td>{{ "opportunity.city"|trans }}</td><td>{{ opportunity.ville }}</td></tr>
                                        <tr><td>{{ "opportunity.zip_code"|trans }}</td><td>{{ opportunity.codePostal }}</td></tr>
                                        <tr><td>{{ "opportunity.address"|trans }}</td><td>{{ opportunity.address }}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        $('#convertToClientBtn').on('click',function() {
            $.ajax({
                type: "post",
                dataType: 'json',
                url: Routing.generate('gestion_contact_add',{'remoteId':"{{ opportunity.remoteId }}" }),
                success: function (res) {
                    $('#convertToClient .modal-body').html(res.content);
                    postalCode.init();
                    $('.select2').select2();
                    $('.datepicker').datepicker({language: 'fr'});
                    $('#convertToClient form').on('submit',function() {
                        $(this).ajaxSubmit({
                            success: function(data) {
                                if(data.success) {
                                    $('#convertToClient .modal-body').html('');
                                    $('#convertToClient .modal-body').modal('hide');
                                    location.reload();
                                } else {
                                    $('#convertToClient .modal-body').html(data.content);
                                }
                            }
                        });
                        return false;
                    });
                }
            });
        });
</script>
{% endblock %}