{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.voir" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1">Liste d'appels</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2">Nouvelle appel</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    {% if not opportunity.calls|length %}
                        <h5 class="text-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{ 'no_call_found'|trans }}
                        </h5>
                    {% else %}
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <tbody>
                            {% for call in opportunity.calls %}
                                <tr>
                                    <td>
                                        {% if date() > date(call.date) %}
                                        <span class="label label-success">Fini</span>
                                        {% else %}
                                            <span class="label label-danger">En attente</span>
                                        {% endif %}
                                    </td>
                                    <td class="issue-info">
                                        <a href="#">
                                            {{ call.responsible.name }}
                                        </a>
                                        <br/>
                                        <small>
                                            {{ call.summary }}
                                        </small>
                                    </td>
                                    <td>
                                        {{ call.owner.name }}
                                    </td>
                                    <td>
                                        {{ call.date|localizeddate('long', 'medium', app.request.locale ) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.summary) }}
                    {% if is_granted('ROLE_BRANDLEADER') %}
                    {{ form_row(form.responsible) }}
                    {% endif %}
                    <div class="pull-right" style="margin:15px 0;">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}