{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.documents" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel hgreen">
        <div class="panel-body">
            <div class="col-md-12">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
                <hr/>
                <div action="{{ oneup_uploader_endpoint('opportunity') }}" class="dropzone" id="dropzone"></div>
                <hr/>
                {% if brouillon.getDocuments() %}
                    {% include 'AppBundle:Gestion:Opportunity/dropzone/documents.html.twig' with {'documents':brouillon.getDocuments(),'type':'opportunity'} %}
                {% endif %}
                <div style="margin:15px 0;">
                    {{ form_widget(form.submit) }}
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="document.getElementById('dropzone').click()"><i class="fa fa-paperclip"></i></a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="hpanel hred">
        <div class="panel-body">
            <div class="col-md-12">
                {% if not opportunity.documents|length %}
                    <h5 class="text-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ 'no_document_found'|trans }}
                    </h5>
                {% else %}
                <div class="chat-discussion">
                    {% for document in opportunity.documents %}
                        <div class="chat-message">
                            {% if document.owner.avatar %}
                                <img alt="logo" class="message-avatar" src="{{ asset(document.owner.avatar) }}">
                            {% else %}
                                <i class="message-avatar pe-7s-user fa-4x text-muted"></i>
                            {% endif %}
                            <div class="message">
                                <a class="message-author" href="#"> {{ document.owner.name }} </a>
                                <span class="message-date">  {{ document.createdAt|localizeddate('long', 'medium', app.request.locale ) }} </span>
                                <span class="message-content">
                                    {{ document.message|raw }}
                                </span>
                                <hr/>
                                <div class="row">
                                    {% for item in document.documents %}
                                        <div class="uploadedDocument col-sm-3">
                                            <div class="hpanel">
                                                {% if item.getMimeType() == 'application/pdf' %}
                                                    <i class="fa fa-file-pdf-o text-info"></i>
                                                {% elseif item.getMimeType() starts with 'audio/' %}
                                                    <i class="fa fa-file-audio-o text-warning"></i>
                                                {% elseif item.getMimeType() starts with 'excel/' %}
                                                    <i class="fa fa-file-excel-o text-success"></i>
                                                {% elseif item.getMimeType() starts with 'image/' %}
                                                    <img src="{{ asset('/uploads/opportunity/' ~ item.name) }}" class="img-responsive" />
                                                {% else %}
                                                    <i class="fa-file text-success"></i>
                                                {% endif %}
                                                <div class="panel-footer">
                                                    <span>{{ item.getOriginalFileName() }}</span>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/opportunity/' ~ item.name ) }}">{{ 'action.open'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .note-editor .note-editable { min-height: 100px; }
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}

{% block javascript %}
    {% include 'AppBundle:Gestion:Opportunity/dropzone/dropzone.html.twig' with {'type':'opportunity'} %}
    {% include 'AppBundle:Gestion:Opportunity/dropzone/javascript.html.twig' %}
{% endblock %}