{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.propositions" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="{% if not hasError %}active{% endif %}"><a data-toggle="tab" href="#tab-1">Liste de propositions</a></li>
            <li class="{% if hasError %}active{% endif %}"><a data-toggle="tab" href="#tab-2">Nouvelle proposition</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane {% if not hasError %}active{% endif %}">
                <div class="panel-body">
                    {% if not opportunity.propositions|length %}
                    <h5 class="text-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ 'no_propositions_found'|trans }}
                    </h5>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Progression</th>
                                        <th>Relancer</th>
                                        <th>Abondon</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for proposition in opportunity.propositions %}
                                    <tr>
                                        <td>
                                            {{ proposition.title }}
                                        </td>
                                        <td>
                                            {{ proposition.dateStart|date('d/m/Y') }} à {{ proposition.dateEnd|date('d/m/Y') }}
                                        </td>
                                        <td>
                                            {% if proposition.status == 'En demande' %}
                                                <span class="label label-info">En demande</span>
                                            {% elseif proposition.status  == 'A relancer' %}
                                                <span class="label label-info">A relancer</span>
                                            {% elseif proposition.status  == 'echéancé' %}
                                                <span class="label label-info">Echéancé</span>
                                            {% elseif proposition.status  == 'Rendez-vous en cours' %}
                                                <span class="label label-success">Rendez-vous en cours</span>
                                            {% elseif proposition.status  == 'Signé' %}
                                                <span class="label label-success">Signé</span>
                                            {% else %}
                                                <span class="label label-danger">Abondonné</span>
                                            {% endif %}
                                        </td>
                                        <td class=" progress m-t-xs full"><div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ proposition.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ proposition.progress }}%; color: black;">{{ proposition.progress }}%</div>
                                            </div>
                                        </td>
                                        <td>
                                            {% if proposition.lastRelanceDate %}{{ proposition.lastRelanceDate|date('d/m/Y') }}{% endif %}
                                            <div><button type="button" class="btn btn-info btn-xs btn-relance" data-id="{{ proposition.remoteId }}"><i class="fa fa-plus"></i> Relancer</button></div>
                                        </td>
                                        {% if proposition.status != 'Abondonné' %}
                                        <td><button type="button" class="btn btn-success btn-xs btn-abondon" data-id="{{ proposition.remoteId }}">Abondonner</button></td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                        <td>
                                            <a href="{{ path('gestion_opportunity_propositions_view',{'remoteId':proposition.remoteId}) }}" rel="tooltip" title="Voir" class="btn btn-primary btn-xs btn-without-label" role="button"><i class="glyphicon glyphicon-eye-open"></i></a>
                                            <a href="{{ path('gestion_opportunity_propositions_edit',{'remoteId':proposition.remoteId}) }}" class="btn btn-primary btn-xs btn-without-label btn-purple"><i class="glyphicon glyphicon-edit"></i></a>
                                            <a href="{{ path('gestion_opportunity_propositions_delete',{'remoteId':proposition.remoteId}) }}" class="btn btn-danger btn-xs need_confirmation btn-without-label trigger-delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="tab-2" class="tab-pane {% if hasError %}active{% endif %}">
                <div class="panel-body">
                    {% include 'AppBundle:Gestion:Opportunity\\proposition_form_instance.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade proposition_modal" id="proposition_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $(".slider").bootstrapSlider({'min':0,'max':100});
            var $possessionTerrain = $('#opportunity_proposition_possessionTerrain input');
            $possessionTerrain.on('change', function(){
                var _data = {};
                _data[$possessionTerrain.attr('name')] = $('#opportunity_proposition_possessionTerrain input:checked').val();
                $.ajax({
                    type: "POST",
                    data: _data,
                    success: function (res) {
                        var parser          = new DOMParser();
                        var doc             = parser.parseFromString(res, 'text/html');

                        var target          = document.getElementById('possessionTerrainDetail');
                        target.innerHTML    = doc.getElementById('possessionTerrainDetail').innerHTML;
                    }
                });
            });
            $('.i-checks').on('ifChanged', function (event) { $(event.target).closest('.form-group').find('.dependency').toggleClass('hidden') });

            $('.btn-abondon, .btn-relance').on('click',function() {
                var id = $(this).data('id');
                var isrelance = $(this).hasClass('btn-relance') ? true :false;
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: Routing.generate( isrelance ? 'gestion_opportunity_propositions_relancer' : 'gestion_opportunity_propositions_abondonner',{'remoteId':id}),
                    success: function (res) {
                        $('#proposition_modal .modal-body').html(res.content);
                        $('.datepicker').datepicker({language: 'fr'});
                        $('#proposition_modal').modal('show');
                        $('#proposition_modal form').on('submit',function(event) {
                            event.preventDefault();
                            $(this).ajaxSubmit({
                                success: function(data) {
                                    if(data.success) {
                                        $('#proposition_modal .modal-body').html('');
                                        $('#proposition_modal').modal('hide');
                                        location.reload();
                                    } else {
                                        $('#proposition_modal .modal-body').html(data.content);
                                    }
                                }
                            });
                            return false;
                        });
                    }
                });
            });

            $('<div id="ads_items" class="images_items"><ul></ul></div>').insertAfter($('#ads'));
            $('#ads').hide();
            $('#ads option').each(function() {
                var label = $(this)[0].label.split('|');
                $('#ads_items ul').append('<li class="col-xs-3 ad-item"><div><img src="/'+label[2]+'" alt="'+label[0]+'" class="img-responsive" /><input type="checkbox" value="'+$(this).val()+'" /></div><small class="label-item">'+label[0]+'<br/><small>'+label[1]+'</small></small></li>');
            });
            $('#ads_items input').on('click',function(){
                $('#ads option[value='+$(this).val()+']').prop('selected', !$(this).prop('selected'));
            });


            $('<div id="models_items" class="images_items"><ul></ul></div>').insertAfter($('#models'));
            $('#models').hide();
            $('#models option').each(function() {
                var label = $(this)[0].label.split('|');
                $('#models_items ul').append('<li class="col-xs-3 ad-item"><div><img src="/'+label[1]+'" alt="'+label[0]+'" class="img-responsive" /><input type="checkbox" value="'+$(this).val()+'" /></div><small class="label-item">'+label[0]+'<br/><small>'+label[1]+'</small></small></li>');
            });
            $('#models_items input').on('click',function(){
                $('#models option[value='+$(this).val()+']').prop('selected', !$(this).prop('selected'));
            });
        });
    </script>
{% endblock %}