{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.meetings" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#tab-1">Liste de rendez-vous</a></li>
            <li class="active"><a data-toggle="tab" href="#tab-2">Nouveau rendez-vous</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane">
                <div class="panel-body">
                    {% if not opportunity.events|length %}
                    <h5 class="text-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ 'no_meeting_found'|trans }}
                    </h5>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <tbody>
                                {% for meeting in opportunity.events %}
                                    <tr>
                                        <td>
                                            {% if date() > date(meeting.dateStart) and date() < date(meeting.dateEnd) %}
                                                <span class="label label-info">En cours</span>
                                            {% elseif date() > date(meeting.dateEnd) %}
                                                <span class="label label-success">Fini</span>
                                            {% else %}
                                                <span class="label label-danger">En attente</span>
                                            {% endif %}
                                        </td>
                                        <td class="issue-info">
                                            <a href="#">
                                                {{ meeting.owner.name }}
                                            </a>
                                            <br/>
                                            <small>
                                                {{ meeting.note }}
                                            </small>
                                        </td>
                                        <td>
                                            {{ meeting.owner.name }}
                                        </td>
                                        <td>
                                            {{ meeting.dateStart|localizeddate('long', 'medium', app.request.locale ) }} à {{ meeting.dateEnd|localizeddate('long', 'medium', app.request.locale ) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="tab-2" class="tab-pane active">
                <div class="panel-body">
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.dateStart,{'id':'eventDateStart'}) }}
                    {{ form_row(form.dateEnd,{'id':'eventDateEnd'}) }}
                    {{ form_row(form.note) }}
                    {{ form_row(form.remind) }}
                    {% if form.commercial is defined %}
                    {{ form_row(form.commercial) }}
                    {% endif %}
                    <div style="margin:15px 0;">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                    <hr/>
                    <div id="calendar"></div>

                    <div class="modal" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="ajaxModal" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog mini-modal">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="ajaxModalTitle" data-title="Ajouter un évenement">Ajouter un évenement</h4>
                                </div>
                                <div id="ajaxModalContent"></div>
                                <div id="ajaxModalOriginalContent" class="hide">
                                    <div class="original-modal-body">
                                        <div class="circle-loader"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .note-editor .note-editable { min-height: 100px; }
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        _date = null;
        $(document).ready(function() {
            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#eventDateStart, #eventDateEnd').trigger('dp.change');

            $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
            $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                var eventDateStart = event.date;
                var eventDateEnd = event.date.add(1, 'hours');
                $('#eventDateEnd').val(eventDateEnd.format('YYYY-MM-DD HH:mm'));

                event = $("#calendar").fullCalendar( 'clientEvents', 0 )[0];
                if(typeof event === 'undefined') {
                    event={
                        id:0,
                        title: "{{ opportunity.prenom~ ' '~opportunity.nom }}",
                        start:  eventDateStart,
                        end:  eventDateEnd,
                        stick : true,
                        backgroundColor: "#62cb31",
                        borderColor: "#62cb31"};
                    $('#calendar').fullCalendar( 'renderEvent', event, true);
                } else {
                    event.start = eventDateStart;
                    event.end = eventDateEnd;
                    $('#calendar').fullCalendar('updateEvent', event);
                }

            });

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: true,
                droppable: true,
                eventDrop: function(event, delta, revertFunc) {
                    if(event.id != 0) {
                        if (!confirm("Vous êtes de vouloir changer la date de cette demande?")) {
                            revertFunc();
                        } else {
                            $.ajax({
                                dataType: 'json',
                                data:{'dateStart':event.start.format('DD-MM-YYYY HH:mm'),'dateEnd':event.end.format('DD-MM-YYYY HH:mm')},
                                url: Routing.generate('api_update_event',{'id':event.id})
                            });

                        }
                    } else {
                        $('#eventDateStart').val(event.start.format('DD-MM-YYYY HH:mm'));
                        $('#eventDateEnd').val(event.end.format('DD-MM-YYYY HH:mm'));
                    }
                },
                eventResize: function(event, delta, revertFunc) {
                    if(event.id != 0) {
                        if (!confirm("Vous êtes de vouloir changer la date de cette demande?")) {
                            revertFunc();
                        } else {
                            $.ajax({
                                dataType: 'json',
                                data:{'dateStart':event.start.format('DD-MM-YYYY HH:mm'),'dateEnd':event.end.format('DD-MM-YYYY HH:mm')},
                                url: Routing.generate('api_update_event',{'id':event.id})
                            });

                        }
                    } else {
                        $('#eventDateStart').val(event.start.format('DD-MM-YYYY HH:mm'));
                        $('#eventDateEnd').val(event.end.format('DD-MM-YYYY HH:mm'));
                    }
                },
                dayClick: function (date, jsEvent, view) {
                    _date = date;
                    var eventDateStart = date;
                    var eventDateEnd = date.add(1, 'hours');
                    $('#eventDateStart').val(eventDateStart.format('DD-MM-YYYY HH:mm'));
                    $('#eventDateEnd').val(eventDateEnd.format('DD-MM-YYYY HH:mm'));
                },
                eventClick: function (calEvent, jsEvent, view) {
                    jsEvent.preventDefault();
                    var response = $.get(calEvent.url).done(function() {
                        $("#ajaxModalContent").html(response.responseText);
                        $("#ajaxModalTitle").html(calEvent.title);
                        $("#ajaxModal").modal("show");
                    });
                },
                events: function (start,end,timezone,callback) {
                    $.ajax({
                        dataType: 'json',
                        url: Routing.generate('api_events_by_oportunity',{'remoteId':"{{ opportunity.remoteId }}"}),
                        success: function (events) {
                            {% if meeting is defined %}
                            $.each(events,function (index, event) {
                                if(event.id == "{{ meeting.remoteId }}") {
                                    event.backgroundColor = "#62cb31";
                                    event.borderColor = "#62cb31";
                                }
                            });
                            {% endif %}
                            callback(events);
                        }
                    });
                }{% if meeting is not defined %},
                loading: function (bool) {
                    $('#eventDateStart, #eventDateEnd').trigger('change');
                },
                viewRender: function (view, element) {
                    $('#eventDateStart, #eventDateEnd').trigger('change');
                }{% endif %}
            });

            $('body').on('click', '[data-act=ajax-modal]', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }

                $("#ajaxModalContent").html($("#ajaxModalOriginalContent").html());
                $("#ajaxModalContent").find(".original-modal-body").removeClass("original-modal-body").addClass("modal-body");
                $("#ajaxModal").modal('show');

                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        $("#ajaxModal").find(".modal-dialog").removeClass("mini-modal");
                        if (isLargeModal === "1") {
                            $("#ajaxModal").find(".modal-dialog").addClass("modal-lg");
                        }
                        $("#ajaxModalContent").html(response._content);

                        var $scroll = $("#ajaxModalContent").find(".modal-body"),
                                height = $scroll.height(),
                                maxHeight = $(window).height() - 200;
                        if (height > maxHeight) {
                            height = maxHeight;
                            if ($.fn.mCustomScrollbar) {
                                $scroll.mCustomScrollbar({setHeight: height, theme: "minimal-dark", autoExpandScrollbar: true});
                            }
                        }
                        $('#shared-container select').select2();
                        $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                        $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                            var endDate = event.date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                        });
                        if(_date) {
                            $('#eventDateStart').val(_date.format("YYYY-MM-DD HH:mm"));
                            var endDate = _date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format("YYYY-MM-DD HH:mm"));
                        }
                        _date = null;
                        refreshSubmittion();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
                return false;
            });

            $('body').on('click', '#deleteEvent', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }
                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        alert('deleted');
                        location.reload();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
            });

            $('body').on('click', '#editEvent', function () {
                var data = {ajaxModal: 1},
                        url = $(this).attr('data-action-url'),
                        isLargeModal = $(this).attr('data-modal-lg'),
                        title = $(this).attr('data-title');
                if (!url) {
                    console.log('Ajax Modal: Set data-action-url!');
                    return false;
                }
                if (title) {
                    $("#ajaxModalTitle").html(title);
                } else {
                    $("#ajaxModalTitle").html($("#ajaxModalTitle").attr('data-title'));
                }

                $("#ajaxModalContent").html($("#ajaxModalOriginalContent").html());
                $("#ajaxModalContent").find(".original-modal-body").removeClass("original-modal-body").addClass("modal-body");
                $("#ajaxModal").modal('show');

                ajaxModalXhr = $.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        $("#ajaxModal").find(".modal-dialog").removeClass("mini-modal");
                        if (isLargeModal === "1") {
                            $("#ajaxModal").find(".modal-dialog").addClass("modal-lg");
                        }
                        $("#ajaxModalContent").html(response._content);

                        var $scroll = $("#ajaxModalContent").find(".modal-body"),
                                height = $scroll.height(),
                                maxHeight = $(window).height() - 200;
                        if (height > maxHeight) {
                            height = maxHeight;
                            if ($.fn.mCustomScrollbar) {
                                $scroll.mCustomScrollbar({setHeight: height, theme: "minimal-dark", autoExpandScrollbar: true});
                            }
                        }
                        $('#shared-container select').select2();
                        $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                        $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                            var endDate = event.date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                        });
                        if(_date) {
                            $('#eventDateStart').val(_date.format("YYYY-MM-DD HH:mm"));
                            var endDate = _date.add(1, 'hours');
                            $('#eventDateEnd').val(endDate.format("YYYY-MM-DD HH:mm"));
                        }
                        _date = null;
                        refreshSubmittion();
                    },
                    statusCode: {
                        404: function () {
                            $("#ajaxModalContent").find('.modal-body').html("");
                        }
                    },
                    error: function () {
                        $("#ajaxModalContent").find('.modal-body').html("");
                    }
                });
                return false;
            });

            //abort ajax request on modal close.
            $('#ajaxModal').on('hidden.bs.modal', function (e) {
                ajaxModalXhr.abort();
                $("#ajaxModal").find(".modal-dialog").removeClass("modal-lg");
                $("#ajaxModal").find(".modal-dialog").addClass("mini-modal");

                $("#ajaxModalContent").html("");
            });

            $('body').on('click','#_type input', function(){
                var Id = '#'+$(this).val();
                $('#shared-container .form-group').hide();
                $(Id).closest('.form-group').show();
            });
            $('body').on('click','.color-palet .color-tag', function(){
                $('.color-palet .color-tag').removeClass('active');
                $('#eventColor').val($(this).data('color'));
                $(this).addClass('active');
            });

            function refreshSubmittion() {
                $('#agendaEventForm').ajaxForm({
                    success: function (data) {
                        if(data.success) {
                            $('#ajaxModal').modal('hide');
                            location.reload();
                        } else {
                            $("#ajaxModalContent").find('.modal-body').html(data._content);
                            $('#shared-container select').select2();
                            $('#eventDateEnd').datetimepicker({ format: 'YYYY-MM-DD HH:mm' });
                            $('#eventDateStart').datetimepicker({ format: 'YYYY-MM-DD HH:mm' }).on('dp.change',function(event){
                                var endDate = event.date.add(1, 'hours');
                                $('#eventDateEnd').val(endDate.format('YYYY-MM-DD HH:mm'));
                            });
                            refreshSubmittion();
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}