{% extends 'AppBundle:Gestion:Opportunity/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.comment" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel hgreen">
        <div class="panel-body">
            <div class="col-md-12">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(form,{'attr': {'novalidate':'novalidate'} }) }}
                {{ form_widget(form.comment) }}
                {{ form_errors(form.comment) }}
                <div style="margin:15px 0;">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="hpanel hred">
        <div class="panel-body">
            <div class="col-md-12">
                {% if not opportunity.comments|length %}
                    <h5 class="text-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ 'no_comment_found'|trans }}
                    </h5>
                {% else %}
                <div class="chat-discussion">
                    {% for comment in opportunity.comments %}
                        <div class="chat-message {{ cycle(['left', 'right'], loop.index0) }}">
                            {% if comment.owner.avatar %}
                                <img alt="logo" class="message-avatar" src="{{ asset(comment.owner.avatar) }}">
                            {% else %}
                                <i class="message-avatar pe-7s-user fa-4x text-muted"></i>
                            {% endif %}
                            <div class="message">
                                <a class="message-author" href="#"> {{ comment.owner.name }} </a>
                                <span class="message-date">  {{ comment.createdAt|localizeddate('long', 'medium', app.request.locale ) }} </span>
                                <span class="message-content">
                                    {{ comment.comment|raw }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .note-editor .note-editable { min-height: 100px; }
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}