{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Rappel de rendez-vous
{% endblock %}
{% block body %}
    <p>
        Bonjour {{ user.name|capitalize }} ,
    </p>
    <p>Nous vous informons que vous avez bientôt un rendez-vous : <br/> <br/>
        <a href="{{ url('agenda_event_view',{'id':event.id}) }}">{{ event.title }}</a><br/>
        {{ event.dateStart|date('d-m-Y à H:i:s')}}<br/>
        {{ event.dateEnd|date('d-m-Y à H:i:s')}}<br/>
        {{ event.note}}<br/>
    </p>
{% endblock %}