{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "home" | trans }}{% endblock %}

{% block body %}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md" >
                <h1>Bienvenue sur <img src="{{ asset('images/logo.png') }}" style="height: 90px;vertical-align: sub;" /><br/></h1>
                <p>Le portail de diffusion dédié aux spécialistes des <strong>annonces immobilières</strong> sur l'internet</p>
            </div>
        </div>
        <div class="row">
            {{ render(controller('AppBundle:Statistics:dashboard')) }}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row0.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row1.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row2.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row3.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row4.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row5.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row6.html.twig" %}
        </div>
        <div class="row">
            {% include "AppBundle:Statistics:row7.html.twig" %}
        </div>
</div>
{% endblock %}

{% block javascript %}
<script>

    $(function () {


        /**
         * Pie Chart Data
         */
        var pieChartData = [
            { label: "PROJETS", data: 16, color: "#62cb31", },
            { label: "TERRAINS", data: 6, color: "#368410", }
        ];

        /**
         * Pie Chart Options
         */
        var pieChartOptions = {
            series: {
                pie: {
                    show: true
                }
            },
            grid: {
                hoverable: true
            },
            tooltip: true,
            tooltipOpts: {
                content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
                shifts: {
                    x: 20,
                    y: 0
                },
                defaultTheme: false
            }
        };

        $.plot($("#flot-pie-chart"), pieChartData, pieChartOptions);

        /**
         * Options for Sharp Line chart
         */
        var sharpLineData = {
            labels: [
                    "Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin",
                    "Juillet", "Août", "Septembre", "Ocobre", "Novembre", "Décembre"
            ],
            datasets: [
                {
                    label: "Example dataset",
                    fillColor: "rgba(98,203,49,0.5)",
                    strokeColor: "rgba(98,203,49,0.7)",
                    pointColor: "rgba(98,203,49,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(98,203,49,1)",
                    data: [
                        33, 48, 40, 19, 54, 27,
                        54, 27, 40 , 48, 33, 44
                    ]
                }
            ]
        };

        var sharpLineOptions = {
            scaleShowGridLines : true,
            scaleGridLineColor : "rgba(0,0,0,.05)",
            scaleGridLineWidth : 1,
            bezierCurve : false,
            pointDot : true,
            pointDotRadius : 4,
            pointDotStrokeWidth : 1,
            pointHitDetectionRadius : 20,
            datasetStroke : true,
            datasetStrokeWidth : 1,
            datasetFill : true,
            responsive: true
        };

        var ctx = document.getElementById("sharpLineOptions").getContext("2d");
        var myNewChart = new Chart(ctx).Line(sharpLineData, sharpLineOptions);


        /**
         * Options for Line chart
         */
        var lineData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "Example dataset",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [22, 44, 67, 43, 76, 45, 12]
                },
                {
                    label: "Example dataset",
                    fillColor: "rgba(98,203,49,0.5)",
                    strokeColor: "rgba(98,203,49,0.7)",
                    pointColor: "rgba(98,203,49,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(26,179,148,1)",
                    data: [16, 32, 18, 26, 42, 33, 44]
                }
            ]
        };

        var lineOptions = {
            scaleShowGridLines : true,
            scaleGridLineColor : "rgba(0,0,0,.05)",
            scaleGridLineWidth : 1,
            bezierCurve : true,
            bezierCurveTension : 0.4,
            pointDot : true,
            pointDotRadius : 4,
            pointDotStrokeWidth : 1,
            pointHitDetectionRadius : 20,
            datasetStroke : true,
            datasetStrokeWidth : 1,
            datasetFill : true,
            responsive: true
        };


        var ctx = document.getElementById("lineOptions").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

        var ctx = document.getElementById("lineOptionsAppels").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions);


        /**
         * Options for Bar chart
         */
        var barOptions = {
            scaleBeginAtZero : true,
            scaleShowGridLines : true,
            scaleGridLineColor : "rgba(0,0,0,.05)",
            scaleGridLineWidth : 1,
            barShowStroke : true,
            barStrokeWidth : 1,
            barValueSpacing : 5,
            barDatasetSpacing : 1,
            responsive:true
        };

        /**
         * Data for Bar chart
         */
        var barData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(98,203,49,0.5)",
                    strokeColor: "rgba(98,203,49,0.8)",
                    highlightFill: "rgba(98,203,49,0.75)",
                    highlightStroke: "rgba(98,203,49,1)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };

        var ctx = document.getElementById("barOptions").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(barData, barOptions);

        var ctx = document.getElementById("barOptionsSupports").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(barData, barOptions);

        /**
         * Options for Bar chart
         */
        var singleBarOptions = {
            scaleBeginAtZero : true,
            scaleShowGridLines : true,
            scaleGridLineColor : "rgba(0,0,0,.05)",
            scaleGridLineWidth : 1,
            barShowStroke : true,
            barStrokeWidth : 1,
            barValueSpacing : 5,
            barDatasetSpacing : 1,
            responsive:true
        };

        /**
         * Data for Bar chart
         */
        var singleBarData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My Second dataset",
                    fillColor: "rgba(98,203,49,0.5)",
                    strokeColor: "rgba(98,203,49,0.8)",
                    highlightFill: "rgba(98,203,49,0.75)",
                    highlightStroke: "rgba(98,203,49,1)",
                    data: [10, 20, 30, 40, 30, 50, 60]
                }
            ]
        };

        var ctx = document.getElementById("singleBarOptionsRDV").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(singleBarData, singleBarOptions);

        var ctx = document.getElementById("singleBarOptionsPropos").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(singleBarData, singleBarOptions);


        $(".notification-stats-btn").on("click", function(event){
            event.stopPropagation();
            $(".label-menu-corner").click();
        })
    });

</script>
{% endblock %}