{% trans_default_domain 'commiti' %}
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-graph1 fa-4x"></i>

            <h1 class="m-xs">36 416</h1>
            <div class="stats-title">
                <h3 class="no-margins text-success">
                    Opportunités
                </h3>
            </div>
            <small>Période : d 10/12/2016 à 31/12/2016</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body h-200 list">
            <div class="stats-title pull-left">
                <h4>Performance de supports</h4>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-display1 fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <small>
                    Classement des supports payants les plus performant
                </small>
            </div>

            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <span class="text-success"> Voir tout le classement</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body h-200 list">
            <div class="stats-title pull-left">
                <h4>Opportunités / types d'annonces</h4>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-science fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <br>
                <small>
                    Nombre total des opportunités selon le type d'annonce
                </small>
            </div>
            <div class="row m-t-sm">
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">300,102</h3>
                    <div class="font-bold">Projets <i class="fa fa-level-up text-success"></i></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="no-margins font-extra-bold text-success">280,200</h3>
                    <div class="font-bold">Terrains <i class="fa fa-level-up text-success"></i></div></div>

            </div>
        </div>
        <div class="panel-footer">
            Voir les opprtunités
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body h-200 list">
            <div class="stats-title pull-left">
                <h4>Performance de sources</h4>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-display1 fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <small>
                    Classement des sources utilisés par les prospects
                </small>
            </div>

            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <span class="text-success"> Voir tout le classement</span>
        </div>
    </div>
</div>
