{% trans_default_domain 'commiti' %}
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-call fa-4x"></i>

            <h1 class="m-xs">210</h1>
        <div class="stats-title">
            <h3 class="no-margins text-success">
                Appels téléphonique
            </h3>
        </div>
        <small>Période : d 10/12/2016 à 31/12/2016</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body h-200 list">
            <div class="stats-title pull-left">
                <h4>Performance des supports / appels</h4>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-display1 fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <small>
                    Classement des supports payants pour les appels
                </small>
            </div>

            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <span class="text-success"> Voir tout le classement</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-mail-open fa-4x"></i>

            <h1 class="m-xs">515</h1>
        <div class="stats-title">
            <h3 class=" no-margins text-success">
                Mails
            </h3>
        </div>
        <small>Période : d 10/12/2016 à 31/12/2016</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body h-200 list">
            <div class="stats-title pull-left">
                <h4>Performance des supports / mails</h4>
            </div>
            <div class="stats-icon pull-right">
                <i class="pe-7s-display1 fa-4x"></i>
            </div>
            <div class="m-t-xl">
                <small>
                    Classement des supports payants pour les mails
                </small>
            </div>

            <div class="progress m-t-xs full progress-small">
                <div style="width: 25%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>
            <div class="progress m-t-xs full progress-small">
                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class=" progress-bar progress-bar-success">
                    <span class="sr-only">35% Complete (success)</span>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <span class="text-success"> Voir tout le classement</span>
        </div>
    </div>
</div>