{% trans_default_domain 'commiti' %}
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-cart fa-4x"></i>

            <h1 class="m-xs  text-success">350 148 €</h1>
            <div class="stats-title">
                <h3 class="no-margins">
                    Budget moyen
                </h3>
            </div>
            <small>Période : d 10/12/2016 à 31/12/2016</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-cash fa-4x"></i>

            <h1 class="m-xs text-success">42 152 €</h1>
            <div class="stats-title">
                <h3 class="no-margins">
                    Apport moyen
                </h3>
            </div>
            <small>Période : d 10/12/2016 à 31/12/2016</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-timer fa-4x"></i>

            <h1 class="m-xs  text-success">5</h1>
            <div class="stats-title">
                <h3 class="no-margins">
                    RDV en moyenne
                </h3>
            </div>
            <small>Avant la signature de la vente</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="hpanel stats">
        <div class="panel-body text-center">
            <i class="pe-7s-news-paper fa-4x"></i>

            <h1 class="m-xs  text-success">3</h1>
            <div class="stats-title">
                <h3 class="no-margins">
                    Proposition en moyenne
                </h3>
            </div>
            <small>Avant la signature de la vente</small>
        </div>
        <div class="panel-footer">
            Pour le compte : <span class="text-success"> Group - Agence - Commercial</span>
        </div>
    </div>
</div>


