{% trans_default_domain 'commiti' %}
<div class="col-lg-6">
    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
            Diagramme des Rendez-vous
        </div>
        <div class="panel-body">
            <div>
                <canvas id="singleBarOptionsRDV" height="140"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
            Diagramme des popositions
        </div>
        <div class="panel-body">
            <div>
                <canvas id="singleBarOptionsPropos" height="140"></canvas>
            </div>
        </div>
    </div>
</div>


