<!-- Annonce -->
<div id="step2" class="tab-pane active">
    <h3>{{ 'ads.set_ad'| trans  }}</h3>
    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(form.pays) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.codePostal) }}
        {{ form_row(form.adresse) }}
        </tbody>
    </table>
    <h3>{{ 'Commodites a proximité'|trans }}</h3>
    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(form.siProximiteCentreville) }}
        {{ form_row(form.siProximiteCommerces) }}
        {{ form_row(form.siProximiteCentreCommercial) }}
        {{ form_row(form.siProximiteCreche) }}
        {{ form_row(form.siProximiteEcolePrimaire) }}
        {{ form_row(form.siProximiteCollege) }}
        {{ form_row(form.siProximiteLycee) }}
        {{ form_row(form.siProximiteUniversite) }}
        {{ form_row(form.siProximiteSortieAutoroute) }}
        {{ form_row(form.siProximiteGare) }}
        {{ form_row(form.siProximiteTramway) }}
        {{ form_row(form.siProximiteAeroport) }}
        {{ form_row(form.siProximiteParking) }}
        {{ form_row(form.siProximiteEspacesVerts) }}
        </tbody>
    </table>
    <h3>{{ 'Avantages environnementaux'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(form.environnement) }}
        {{ form_row(form.exposition) }}
        {{ form_row(form.belleVue) }}
        {{ form_row(form.calme) }}
        </tbody>
    </table>
</div>