<div id="step3" class="tab-pane active">
    <h3>{{ 'Votre annonce projet'| trans  }}</h3>
    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
        <tbody>
        {{ form_row(form.libelle) }}
        {{ form_row(form.referenceInterne) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.lienVisitVirtuel) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imagePrincipale,{'brouillon':brouillon}) }}
        {{ form_row(form.titreImagePrincipale) }}
        <tr>
            <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
            <td>
                {% set documents = brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(ad.getImagesDocuments()) : ad.getImagesDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': 'ad'} %}
                <div action="{{ oneup_uploader_endpoint('ad') }}" class="dropzone" id="dropzone"></div>
            </td>
        </tr>
        <tr>
            <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
            <td>
                {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': 'ad'} %}
                <div action="{{ oneup_uploader_endpoint('ad') }}" class="dropzone" id="dropzone_pdf"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <!-- Terrain -->
    {% set TerrainForm = null %}
    {% set MaisonForm = null %}
    {% for BienForm in form.bienImmobilier %}
        {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Maison') %}
            {% set MaisonForm = BienForm %}
        {% elseif BienForm.vars.value is instanceof('AppBundle\\Entity\\Terrain') %}
        {% set TerrainForm = BienForm %}
        {% endif %}
    {% endfor %}

    {% if MaisonForm %}

    {% set block1 %}
        <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.type) }}
            {{ form_row(MaisonForm.typeArchitecture) }}
            {{ form_row(MaisonForm.surface) }}
            {{ form_row(TerrainForm.surface, {'label': "Surface terrain"}) }}
            {{ form_row(MaisonForm.typeCharpante) }}
            {{ form_row(MaisonForm.typeTuile) }}
            {{ form_row(MaisonForm.materiauxTuile) }}
            {{ form_row(MaisonForm.zinguerie) }}
            {{ form_row(MaisonForm.menuiserie) }}
            {{ form_row(MaisonForm.volets) }}
            {{ form_row(MaisonForm.porteGarage) }}
            </tbody>
        </table>
    {% endset %}
    {% set title1 %}
        <h4>{{ "ads.ad.general_prestation"| trans  }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title1 , suffix:"Step3Part1", content:block1} %}

    {% set block2 %}
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.nbPieces) }}
            {{ form_row(MaisonForm.nbChambres) }}
            {{ form_row(MaisonForm.nbSalleBain) }}
            {{ form_row(MaisonForm.siSalleEau) }}
            {{ form_row(MaisonForm.siToilette) }}
            {{ form_row(MaisonForm.siSalon) }}
            {{ form_row(MaisonForm.siSalleAManger) }}
            {{ form_row(MaisonForm.siCheminee) }}
            {{ form_row(MaisonForm.typeCuisine) }}
            {{ form_row(MaisonForm.revetementDeSol) }}
            {{ form_row(MaisonForm.typeDeChauffage) }}
            {{ form_row(MaisonForm.energieDeChauffage) }}
            {{ form_row(MaisonForm.siBureau) }}
            {{ form_row(MaisonForm.siPlacards) }}
            {{ form_row(MaisonForm.siDressing) }}
            {{ form_row(MaisonForm.siBuanderie) }}
            {{ form_row(MaisonForm.siAlarme) }}
            {{ form_row(MaisonForm.siTV) }}
            {{ form_row(MaisonForm.siPMR) }}
            </tbody>
        </table>
    {% endset %}
    {% set title2 %}
        <h4>{{ "Prestations Intérieures"| trans  }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title2 , suffix:"Step3Part2", content:block2} %}

    {% set block3 %}
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.siParking) }}
            {{ form_row(MaisonForm.siTerrasse) }}
            {{ form_row(MaisonForm.siBalcons) }}
            {{ form_row(MaisonForm.siVeranda) }}
            {{ form_row(MaisonForm.siCave) }}
            {{ form_row(MaisonForm.siPiscine) }}
            </tbody>
        </table>
    {% endset %}
    {% set title3 %}
        <h4>{{ "Prestations Extérieures"| trans  }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title3 , suffix:"Step3Part3", content:block3} %}

    {% set block4 %}
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.DPE) }}
            {{ form_row(MaisonForm.dpeValue) }}
            {{ form_row(MaisonForm.GES) }}
            {{ form_row(MaisonForm.gesValue) }}
            </tbody>
        </table>
    {% endset %}
    {% set title4 %}
        <h4>{{ "Consommation Energétique"| trans  }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title4 , suffix:"Step3Part4", content:block4} %}

    {% set block5 %}
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.hauteQualiteEnvironnementale) }}
            {{ form_row(MaisonForm.nfLogement) }}
            {{ form_row(MaisonForm.labelHabitatEnvironnement) }}
            {{ form_row(MaisonForm.THPE) }}
            {{ form_row(MaisonForm.HPE_ENR) }}
            {{ form_row(MaisonForm.labelBatimentBasseConsommation) }}
            {{ form_row(MaisonForm.labelHabitatEnvironnementEffinergie) }}
            {{ form_row(MaisonForm.planLocalHabitat) }}
            {{ form_row(MaisonForm.RT2012) }}
            </tbody>
        </table>
    {% endset %}
    {% set title5 %}
        <h4>{{ 'Certifications et labels'|trans }}</h4>
    {% endset %}
    {% include '@App/Common/accordion.html.twig' with {title:title5 , suffix:"Step3Part5", content:block5} %}

    <a class="btn btn-primary" data-toggle="collapse" data-target="#options">{{ 'ads.see_more_options'|trans }}</a>
    <div id="options" class="collapse">
        <h3>{{ 'Avantages environnementaux'|trans }}</h3>
        <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.siEcoQuartier) }}
            {{ form_row(MaisonForm.siBioConstruction) }}
            </tbody>
        </table>
        <h3>{{ 'Avantages Investissement'|trans }}</h3>
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(MaisonForm.loiPinel) }}
            {{ form_row(MaisonForm.loiDuflot) }}
            {{ form_row(MaisonForm.censiBouvard) }}
            {{ form_row(MaisonForm.LMP_LMNP) }}
            {{ form_row(MaisonForm.loi_Girardin_Paul) }}
            {{ form_row(MaisonForm.loi_Malraux) }}
            {{ form_row(MaisonForm.loi_Demessine) }}
            {{ form_row(MaisonForm.regime_SCPI) }}
            {{ form_row(MaisonForm.nue_Propriete) }}
            {{ form_row(MaisonForm.pret_Locatif_Social) }}
            {{ form_row(MaisonForm.PSLA) }}
            {{ form_row(MaisonForm.monumentHistorique) }}
            {{ form_row(MaisonForm.elligiblePret) }}
            {{ form_row(MaisonForm.tva_1) }}
            {{ form_row(MaisonForm.tva_2) }}
            </tbody>
        </table>
    </div>
</div>
<hr/>
{% endif %}