{% set TerrainForm = null %}
{% for BienForm in form.bienImmobilier %}
    {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Terrain') %}
        {% set TerrainForm = BienForm %}
    {% endif %}
{% endfor %}
<div id="step4" class="tab-pane active">
    <h4>{{ "Détails Terrain"| trans  }}</h4>
    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(TerrainForm.title) }}
        {{ form_row(TerrainForm.prix) }}
        {{ form_row(TerrainForm.imagePrincipale,{'brouillon':brouillonDuo}) }}
        {{ form_row(TerrainForm.titreImagePrincipale) }}
        <tr>
            <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
            <td>
                {% set documents = brouillonDuo.getImagesDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': 'ad_duo'} %}
                <div action="{{ oneup_uploader_endpoint('ad_duo') }}" class="dropzone" id="dropzone"></div>
            </td>
        </tr>
        <tr>
            <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
            <td>
                {% set documents = brouillonDuo.getPdfDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': 'ad_duo'} %}
                <div action="{{ oneup_uploader_endpoint('ad_duo') }}" class="dropzone" id="dropzone_pdf"></div>
            </td>
        </tr>
        {{ form_row(TerrainForm.type) }}
        {{ form_row(TerrainForm.surface) }}
        {{ form_row(TerrainForm.libreConstruction) }}
        {{ form_row(TerrainForm.siViabilise) }}
        {{ form_row(TerrainForm.constructible) }}
        {{ form_row(TerrainForm.servitude) }}
        {{ form_row(TerrainForm.pente) }}
        {{ form_row(TerrainForm.assainissementEauUsees) }}
        {{ form_row(TerrainForm.assainissementEauPluviale) }}
        {{ form_row(TerrainForm.certificatUrbanismeDelivrer) }}
        {{ form_row(TerrainForm.surfacePlancher) }}
        </tbody>
    </table>
</div>