<!-- Visuel -->
<div id="step5" class="tab-pane active">
    <div class="col-lg-3">
        <div class="hpanel hred" id="documents-review">
            <h3>{{ 'Photo principale'|trans }}</h3>
            <div class="uploadedDocument">
                <div class="hpanel">
                    <div class="panel-body file-body">
                        <img src="{{ brouillon.getImagePrincipale() ? '/'~brouillon.getImagePrincipale() : ad.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                    </div>
                    <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                </div>
            </div>
            {% set documents = brouillon.getImagesDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>{{ 'Photos secondaire'|trans }}</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                {% if document.getMimeType() == 'application/pdf' %}
                                    <i class="fa fa-file-pdf-o text-info"></i>
                                {% else %}
                                    <img src="{{ ('/uploads/ad/' ~ document.getName()) }}" class="img-responsive" />
                                {% endif %}
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>PDFs</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                <i class="fa fa-file-pdf-o text-info"></i>
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group pdf_buttons">
                                    <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9">
        {% include '@App/Ads/duo_project/resume.html.twig' %}
        {% include '@App/Ads/duo_project/maison.html.twig' %}
        <div id="documents-review"></div>
        {% include '@App/Ads/duo_project/terrain.html.twig' %}
    </div>
</div>