{% set maison = ad.getMaison() %}
{% if ad.getHouseModel() %}
    {% set maison = ad.getHouseModel().getMaison() %}
{% endif %}
{% if maison %}
    <h3>{{ 'Maison'|trans }}</h3>
    <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
        <tbody>
        <tr>
            <td width="35%"></td>
            <td width="65%"></td>
        </tr>
        {% if maison.getTypeValue() %}
        <tr>
            <td><b>{{ 'ads.ad.type'|trans }}</b></td>
            <td>{{ maison.getTypeValue() }}</td>
        </tr>
        {% endif %}
        {% if maison.getTypeArchitectureValue() %}
        <tr>
            <td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td>
            <td>{{ maison.getTypeArchitectureValue() }}</td>
        </tr>
        {% endif %}
        {% if maison.getSurface() %}
        <tr>
            <td><b>{{ 'ads.ad.surface'|trans }}</b></td>
            <td>{{ maison.getSurface() ~'m²' }}</td>
        </tr>
        {% endif %}
        {% if maison.nbPieces() %}
            <tr>
                <td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td>
                <td>{{ maison.nbPieces() }}</td>
            </tr>
        {% endif %}
        {% if maison.getNbChambres() %}
        <tr>
            <td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td>
            <td>{{ maison.getNbChambres() }}</td>
        </tr>
        {% endif %}
        {% if maison.getNbSalleBain() %}
        <tr>
            <td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td>
            <td>{{ maison.getNbSalleBain() }}</td>
        </tr>
        {% endif %}
        {% if maison.getSiSalleEauValue() %}
        <tr>
            <td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td>
            <td>
                {{ maison.getSiSalleEau() ? 'Nombre: '~maison.getNbSalleEau() : '' }}
            </td>
        </tr>
        {% endif %}
        {% if maison.getSiParkingValue() %}
        <tr>
            <td><b>{{ 'ads.ad.parking'|trans }}</b></td>
            <td>{{ maison.getSiParking() ? 'Nombre: '~maison.getNbParking() : '' }}
                <br/>{{ maison.getSiParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : '' }}</td>
        </tr>
        {% endif %}
        {% if maison.getSiToiletteValue() %}
            <tr>
                <td><b>{{ 'ads.ad.wc'|trans }}</b></td>
                <td>{{ maison.getSiToilette() ? 'Nombre: '~maison.getNbToilette() : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiSejourValue() %}
            <tr>
                <td><b>{{ 'ads.ad.livingroom'|trans }}</b></td>
                <td>{{ maison.getSiSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiSalleAMangerValue() %}
            <tr>
                <td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td>
                <td>{{ maison.getSiSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getTypeCuisine() %}
            <tr>
                <td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td>
                <td>{{ maison.getTypeCuisineValue() }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiBureauValue() %}
            <tr>
                <td><b>{{ 'ads.ad.bureau'|trans }}</b></td>
                <td>{{ maison.getSiBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiBuanderieValue() %}
            <tr>
                <td><b>{{ 'ads.ad.buanderie'|trans }}</b></td>
                <td>{{ maison.getSiBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiTerrasseValue() %}
            <tr>
                <td><b>{{ 'ads.ad.terrasse'|trans }}</b></td>
                <td>
                    {{ maison.getSiTerrasse() ? 'Nombre: '~maison.getNbTerrasse() : '' }}
                    <br/>{{ maison.getSiTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getSiDressingValue() %}
            <tr>
                <td><b>{{ 'ads.ad.dressing'|trans }}</b></td>
                <td>
                    <br/>{{ maison.getSiDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getSiBalconsValue() %}
            <tr>
                <td><b>{{ 'ads.ad.balcon'|trans }}</b></td>
                <td>
                    {{ maison.getSiBalcons() ? 'Nombre: '~maison.getNbBalcons() : '' }}
                    <br/>{{ maison.getSiBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getSiCaveValue() %}
            <tr>
                <td><b>{{ 'ads.ad.cave'|trans }}</b></td>
                <td>
                    {{ maison.getSiCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getSiVerandaValue() %}
            <tr>
                <td><b>{{ 'ads.ad.veranda'|trans }}</b></td>
                <td>
                    {{ maison.getSiVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getSiChemineeValue() %}
            <tr>
               <td><b>{{ 'ads.ad.cheminee'|trans }}</b></td>
                <td>{{ maison.getSiCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}</td>
            </tr>
        {% endif %}
        {% if maison.getSiPlacardsValue() %}
            <tr>
                <td><b>{{ 'ads.ad.placards'|trans }}</b></td>
                <td>
                    {{ maison.getSiPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}
                </td>
            </tr>
        {% endif %}
        {% if maison.getRevetementDeSol() %}
            <tr>
                <td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td>
                <td>{{ maison.getRevetementDeSolValue() }}</td>
            </tr>
        {% endif %}
        {% if maison.getDPE() %}
            <tr>
                <td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td>
                <td>{{ maison.getDPE() }}</td>
            </tr>
        {% endif %}
        {% if maison.getGES() %}
            <tr>
                <td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td>
                <td>{{ maison.getGES() }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}