<h3>{{ 'ads.ads_visual'|trans }}</h3>
<table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
    <tbody>
    <tr>
        <td width="35%"></td>
        <td width="65%"></td>
    </tr>
    <tr>
        <td><b>{{ 'ads.ad.title'|trans }}</b></td>
        <td>{{ ad.getLibelle() }}</td>
    </tr>
    {% if ad.getReferenceInterne() %}
    <tr>
        <td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td>
        <td>{{ ad.getReferenceInterne() }}</td>
    </tr>
    {% endif %}
    {% if ad.getPays() %}
    <tr>
        <td><b>{{ 'ads.ad.country'|trans }}</b></td>
        <td>{{ ad.getPays()|country(app.request.locale) }}</td>
    </tr>
    {% endif %}
    {% if ad.getVille() %}
    <tr>
        <td><b>{{ 'ads.ad.city'|trans }}</b></td>
        <td>{{ ad.getVille() }}</td>
    </tr>
    {% endif %}
    {% if ad.getAdresse() %}
    <tr>
        <td><b>{{ 'ads.ad.adresse'|trans }}</b></td>
        <td>{{ ad.getAdresse() }}</td>
    </tr>
    {% endif %}
    {% if ad.getCodePostal() %}
    <tr>
        <td><b>{{ 'ads.ad.zip_code'|trans }}</b></td>
        <td>{{ ad.getCodePostal() }}</td>
    </tr>
    {% endif %}
    {% if ad.getLienVisitVirtuel() %}
    <tr>
        <td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td>
        <td>{{ ad.getLienVisitVirtuel() }}</td>
    </tr>
    {% endif %}
    {% if ad.getPrix() %}
    <tr>
        <td><b>{{ 'ads.ad.price'|trans }}</b></td>
        <td>{{ ad.getPrix() }} €</td>
    </tr>
    {% endif %}
    {% if ad.getDescription() %}
        <tr>
            <td><b>{{ 'ads.ad.description'|trans }}</b></td>
            <td>{{ ad.getDescription()|raw }}</td>
        </tr>
    {% endif %}
    {% if ad.getTypeDiffusion() %}
        <tr>
            <td><b>{{ 'ads.ad.diffusion_type'|trans }}</b></td>
            <td>{{ ad.getTypeDiffusion() }}</td>
        </tr>
    {% endif %}
    {% if ad.getStat() %}
        <tr>
            <td><b>{{ 'ads.ad.status'|trans }}</b></td>
            <td>{{ ad.getStat() }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>