{% set Terrain = ad.getTerrain() %}
{% if Terrain %}
    <h3>{{ 'Terrain'|trans }}</h3>
    <table class="table table-bordered table-striped" id="terrain-table-review" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {% if Terrain.getTypeValue() %}
            <tr>
                <td><b>{{ 'ads.ad.type'|trans }}</b></td>
                <td>{{ Terrain.getTypeValue() }}</td>
            </tr>
        {% endif %}
        {% if Terrain.getSurface() %}
            <tr>
                <td><b>{{ 'ads.ad.surface'|trans }}</b></td>
                <td>{{ Terrain.getSurface()~'m²' }}</td>
            </tr>
        {% endif %}
        {% if Terrain.getPrix() %}
        <tr>
            <td><b>{{ 'ads.ad.price'|trans }}</b></td>
            <td>{{ Terrain.getPrix()~' €' }}</td>
        </tr>
        {% endif %}
        {% if ad.getDescription() %}
            <tr>
                <td><b>{{ 'ads.ad.description'|trans }}</b></td>
                <td>{{ ad.getDescription()|raw }}</td>
            </tr>
        {% endif %}
        {% if Terrain.getExpositionValue() %}
        <tr>
            <td><b>{{ 'ads.ad.exposition'|trans }}</b></td>
            <td>{{ Terrain.getExpositionValue() }}</td>
        </tr>
        {% endif %}
        {% if Terrain.getEnvironnement() %}
        <tr>
            <td><b>{{ 'ads.ad.environnement'|trans }}</b></td>
            <td>{{ Terrain.getEnvironnement() }}</td>
        </tr>
        {% endif %}
        {% if Terrain.getBelleVue() %}
            <tr>
                <td><b>{{ 'ads.ad.nice_view'|trans }}</b></td>
                <td>{{ Terrain.getBelleVue() ? 'Oui' : 'Non' }}</td>
            </tr>
        {% endif %}
        {% if Terrain.getVisAVis() %}
            <tr>
                <td><b>{{ 'ads.ad.vis_a_vis'|trans }}</b></td>
                <td>{{ Terrain.getVisAVis() ? 'Oui' : 'Non' }}</td>
            </tr>
        {% endif %}
        {% if isDuo %}
            <tr><td>Photos</td><td>
                    <div class="hpanel hred col-md-12" id="documents-review">
                        <div class="row">
                            <h3>{{ 'Photo principale'|trans }}</h3>
                            <div class="uploadedDocument col-sm-6">
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <img src="{{ brouillonDuo.getImagePrincipale() ? '/'~brouillonDuo.getImagePrincipale() : ad.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                                    </div>
                                    <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                                </div>
                            </div>
                        </div>
                        {% set documents = brouillonDuo.getImagesDocuments() %}
                        {% set documentsCount = documents|length %}
                        {% if documentsCount > 0 %}
                            <hr/>
                            <div class="row">
                                <h3>{{ 'Photos secondaire'|trans }}</h3>
                                {% for document in documents %}
                                    <div class="uploadedDocument col-sm-6">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                {% if document.getMimeType() == 'application/pdf' %}
                                                    <i class="fa fa-file-pdf-o text-info"></i>
                                                {% else %}
                                                    <img src="{{ ('/uploads/ad/' ~ document.getName()) }}" class="img-responsive" />
                                                {% endif %}
                                            </div>
                                            <div class="panel-footer">
                                                <span>{{ document.getTitle() }}</span>
                                                <div class="btn-group">
                                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% set documents = brouillon.getPdfDocuments() %}
                        {% set documentsCount = documents|length %}
                        {% if documentsCount > 0 %}
                            <hr/>
                            <div class="row">
                                <h3>PDFs</h3>
                                {% for document in documents %}
                                    <div class="uploadedDocument col-md-6">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <i class="fa fa-file-pdf-o text-info"></i>
                                            </div>
                                            <div class="panel-footer">
                                                <span>{{ document.getTitle() }}</span>
                                                <div class="btn-group pdf_buttons">
                                                    <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}