{% block form_row -%}
  <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
      {{- form_widget(form) -}}
      {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block advantage_row %}
  {% spaceless %}
    <div class="advantage">{{ form_widget(form) }}</div>
  {% endspaceless %}
{% endblock %}

{% block advantage_widget %}
  {% spaceless %}
    <table class="table table-bordered table-striped" style="clear: both">
      <tbody>
      {% if is_granted('ROLE_DEVELOPER') %}
      <a href="#" data-action="delete-target" class="close-target"><span aria-hidden="true">&times;</span></a>
      {% endif %}
      <tr><td>{{ form_label(form.name) }}</td><td>{{ form_widget(form.name) }}{{ form_errors(form.name) }}</td></tr>
      <tr><td>{{ form_label(form.unite) }}</td><td>{{ form_widget(form.unite) }}{{ form_errors(form.unite) }}</td></tr>
      {% if is_granted('ROLE_DEVELOPER') %}
        <tr><td>{{ form_label(form.groupType) }}</td><td>{{ form_widget(form.groupType) }}{{ form_errors(form.groupType) }}</td></tr>
        <tr><td>{{ form_label(form.recurrent) }}</td><td>{{ form_widget(form.recurrent) }}{{ form_errors(form.recurrent) }}</td></tr>
      {% endif %}
      <tr><td>{{ form_label(form.description) }}</td><td>{{ form_widget(form.description) }}{{ form_errors(form.description) }}</td></tr>
      {% if is_granted('ROLE_DEVELOPER') %}
      <tr><td>{{ form_label(form.slug) }}</td><td>{{ form_widget(form.slug) }}</td></tr>
      {% endif %}
      <tr>
        <td>{{ form_label(form.options) }}</td>
        <td>
          <div class="advantage_options_container">
            <button type="button" class="btn btn-default" id="add_option_{{ form.vars.name }}" class="btn btn-default">
              <i class="fa fa-plus position-left"></i>
              {{ "Ajouter une option"|trans }}
            </button>
            {{ form_widget(form.options) }}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  {% endspaceless %}
{% endblock advantage_widget %}

{# Options de l'avantage #}
{% block advantage_option_row %}
  {% spaceless %}
      <div class="advantage_options">
        {{ form_widget(form) }}
      </div>
  {% endspaceless %}
{% endblock %}

{% block advantage_option_widget %}
  {% spaceless %}
    <div class="row advantage_option">
      <div class="col-sm-3">{{ form_row(form.reference) }}</div>
      <div class="col-sm-2">{{ form_row(form.unit) }}</div>
      <div class="col-sm-3">{{ form_row(form.month) }}</div>
      <div class="col-sm-3">{{ form_row(form.price) }}</div>
      <div class="col-sm-1"><a href="#" data-action="delete-target" class="close-target"><span aria-hidden="true">&times;</span></a></div>
    </div>
  {% endspaceless %}
{% endblock advantage_option_widget %}
