{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ "configuration des avantages" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="">{{ "configuration" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span><a href="">{{ "avantages" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "configuration des avantages" | trans }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' 'AppBundle:Configuration:Advantages/_widgets.html.twig' %}
                        {{ form_start(form, { 'attr': { 'id':'advantages_form','class': 'form-horizontal form-bordered','novalidate': 'novalidate' } }) }}
                        <div class="form-group">
                            <div class="col-md-12" id="advantages_container">
                                {% if is_granted('ROLE_DEVELOPER') %}
                                <button type="button" id="add_advantage" class="btn btn-default">
                                    <i class="fa fa-plus position-left"></i>
                                    {{ "Ajouter un avantage"|trans }}
                                </button>
                                {% endif %}
                                <div id="avantages">
                                    {{ form_widget(form.advantages) }}
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript  %}
    <script type="application/javascript">
        var $advantages, $addAdvantage;
        var $options, $addOption;

        function appendForm($container, prototypeValue) {
            var regex = typeof prototypeValue !== 'undefined' ? new RegExp(prototypeValue,'g') : new RegExp('__name__','g');
            var index     = $container.data('index');
            var prototype = $container.data('prototype');
            var html      = prototype.replace(regex, index);

            var $item = $(html);

            $container.data('index', index + 1);
            $container.append($item);

            return $item;
        }

        function bindActions($instance) {
            $instance.find('[data-action="delete-target"]').click(function(e) {
                e.preventDefault();
                $instance.remove();
            });
        }

        $(document).ready(function() {
            $advantages = $('#advantages_advantages');
            $advantages.data('index', {{ form.advantages.count }});

            $addAdvantage = $('#add_advantage');
            $addAdvantage.click(function() {
                bindActions(appendForm($advantages));

                var index     = $advantages.data('index')-1;
                $options = $('#advantages_advantages_'+index+'_options');
                $options.data('index', 0);

                $addOption = $('#add_option_'+index);
                $addOption.click(function() {
                    bindActions(appendForm($options,'__advantage_opt__'));
                });

                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });

            });

            $('.advantage').each(function( index ) {
                var _this = $(this);
                _this.find('.advantage_options_container > div').data('index',_this.find('.advantage_options').length);
                _this.find('> [data-action="delete-target"]').click(function(e) {
                    e.preventDefault();
                    _this.remove();
                });
                _this.find('.advantage_option').each(function(index, item) {
                    bindActions($(item));
                });
                _this.find('button[id^="add_option_"]').click(function() {
                    $options = $('#advantages_advantages_'+index+'_options');
                    bindActions(appendForm($options,'__advantage_opt__'));
                });
            });
        });
    </script>
{% endblock %}