.popup-box {
    float: left;
    text-align: left;
    width: 100%;
    line-height: 1px;
}
.popup-tital {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.popup-tital h3{
  color: #526579;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.popup-form  .field:first-child {
    margin: 0;
}
.popup-form .field {
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
    padding: 0 20px;
    width: 100%;
}
.popup-form {
    box-sizing: border-box;
    float: left;
    padding: 20px 0;
    width: 100%;
}

.popup-form textarea {

    border: medium none;
    line-height: 30px;
    height: 200px;
    overflow: auto;
    padding: 0 10px;
    background-color: #f6f8f9;
    border-color: #f6f8f9;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.5s ease 0s;
    width: 100%;
    box-sizing: border-box;
    color: #555555;
}
.popup-form .field:first-child input[type="text"]{
    border-left: 5px solid #1ccacc;
}
.popup-form input {
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    border: 0;
    width: 100%;
    background-color: #f6f8f9;
    border-color: #f6f8f9;
    border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.popup-form input[type="checkbox"] {
    opacity: 1;
    margin-left: -26px;
    margin-top: -9px;
}

.field.submit-field input[type="submit"] {
    background: #428bca none repeat scroll 0 0;
    color: #ffffff;
    float: right;
    padding: 6px 20px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.field.submit-field input[type="submit"]:hover{
     background: #1377cd;
}
.popup-form .tem-tags_one li {

    box-sizing: border-box;
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding: 5px 10px;
    width: 100%;
    border: 5px solid #fff;
}
.popup-form .tem-tags_one li:hover{
    background: #1377cd;
    color: #fff;
}
.popup-form .tem-tags_one {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0!important;
    width: 100%;
}
.field .tags_one {
    background: #f6f8f9 none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    line-height: 1px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.field .tags_one li {
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin: 5px;
    width: auto;
    position: relative;
}
.select2-search-choice > div {
    color: #555555;
    padding: 2px 5px 2px 15px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    color: #333333;
    cursor: default;
    line-height: 13px;
}
.popup-form .tags_one input {
    font-size: 14px;
    height: auto;
    line-height: 18px;
    padding: 2px;

   width: 80px;
}
.select2-search-choice-close {
    background: url("../images/select2.png") no-repeat scroll right top;
    display: block;
    font-size: 1px;
    height: 13px;
    left: 3px;
    outline: medium none;
    position: absolute;
    text-indent: -999em;
    top: 5px;
    width: 12px;
}
 .select2-search-choice {
    background: #ffffff none repeat scroll 0 0;
    border-color: #e2e7f1;
    box-shadow: none;
    color: #555555;
     border-radius: 2px;
}
.select2-search-choice {
    color: #555555;
}

.fancybox-wrap .form-group{
    float: left;
    width: 100%;
}
.fancybox-wrap  .form-group .notepad-title {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #1ccacc !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-style: none none none solid !important;
    border-width: medium medium medium 5px !important;
    padding-left: 7px;
    font-size: 13px;
    line-height: 16px;
    color: #4e5e6a;
    font-weight: bold;
    margin-top: 15px;
}

.fancybox-wrap  .notepad {
    background:-moz-linear-gradient(center top , #f0f0f0 0%, #ffffff 5%) repeat scroll 0 0 / 100% 30px;
    font-size: 100%;
    line-height: 30px !important;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    color: #4e5e6a;
    margin-bottom: 15px;
}
.field.submit-field .btn-default {
    float: right;
    margin-right: 10px;
}
/************ Loader Css ***********/
.circle-loader {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  animation: 1s linear 0s normal none infinite running spin;
  border-color: #25ccce rgba(220, 230, 235, 0.5) rgba(220, 230, 235, 0.5);
  border-image: none;
  border-radius: 40px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  height: 80px;
  margin: 29% auto;
  width: 80px;
  left: 0;
  position: relative;
  z-index: 9999;
}

#ajaxModalOriginalContent {
  left: 40%;
  position: fixed;
  top: 20%;
  height: 50%;
  width: 26%;
  background-color: #fff;
}

#loader-background {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483647;
}

.popup-form .field label {
    color: #6a6c6f;
    float: left;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
}

.popup-form .field .col-md-10 label {
    font-size: 12px;
    height: 34px;
    line-height: 12px;
}
.note-page
.dataTables_filter input, .note-page .datatable-search,
.module-page
.dataTables_filter input, .module-page .datatable-search {
    background: url("../images/search.png") no-repeat scroll 96% 45%;
    border: 1px solid #e2e7f1;
    border-radius: 2px;
    box-shadow: none;
    font-weight: normal;
    outline: medium none;
    padding: 7px 10px;
    transition: all 0.5s ease 0s;
    width: 200px;
}