/******** note page style *********/
.note-page .panel {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1 q   );
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.note-page
.page-title {
    background: #f2f4f6;
    color: #444444;
}
.note-page
.page-title h1 {
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 15px 20px;
}
.note-page
.page-title .title-button-group {
    float: right;
    margin: 0 15px;
}
.page-title .btn {
    margin: 10px 5px;
}
.note-page
.btn {
    border-radius: 2px;
    transition: all 0.5s ease 0s;
}
.note-page
.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #333333;
}
.note-page
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.note-page
.table-responsive {
    border: medium none !important;
    max-width: 100%;
    width: 100%;
}
.note-page
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;
}
.note-page .datatable-tools {
    float: left;
    margin: 15px 0;
    width: 100%;
}
.note-page  .page-title .btn {
    margin: 10px 5px;
}
.note-page .dataTables_length {
    margin-top: 6px;
}
.note-page
table.dataTable.no-footer {
    border-bottom: 1px solid #f2f2f2;
}
.note-page
table.dataTable {
    border-collapse: collapse;
    box-sizing: border-box;
}
.note-page
table.dataTable {
    border-collapse: collapse;
}
.note-page
table.dataTable thead th {
    border: 1px solid #f2f2f2;
    padding: 15px 10px;
}
.note-page
table.dataTable thead th, .note-page table.dataTable thead td {
    border-bottom: 1px solid #111111;
    padding: 10px 18px;
}
.note-page
table.dataTable thead th,  .note-page table.dataTable tfoot th {
    font-weight: bold;
}
.note-page
table.dataTable tbody th, .note-page table.dataTable tbody td {
    padding: 8px 10px;
}
.note-page
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}
.note-page
.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}
.note-page
table.dataTable.row-border tbody th,  .note-page table.dataTable.row-border tbody td, .note-page table.dataTable.display tbody th, .note-page table.dataTable.display tbody td, .note-page table.dataTable.display tfoot th, .note-page table.dataTable.display tfoot td {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
}
.note-page .w200 {
    width: 200px;
}
.note-page .w100 {
    width: 100px;
}
.note-page
table.dataTable thead .sorting::after{
    /*display: none;*/
}
.note-page
table.dataTable thead th {
    border: 1px solid #f2f2f2;
    padding: 15px 10px;
}
.note-page
table.dataTable.hover tbody tr:hover,  .note-page table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6;
}
.note-page
.dataTable tbody tr:hover td {
    background: #f2f4f6 none repeat scroll 0 0 !important;
}
.note-page
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .note-page .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .note-page .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #666666 !important;
    cursor: default;
}
.note-page
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #ffffff none repeat scroll 0 0 !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 2px;
    margin: 0 0 0 -1px;
}
.note-page
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-sizing: border-box;
    color: #333333 !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none !important;
}
.note-page
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .note-page .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #f1f1f5 none repeat scroll 0 0 !important;
    border-color: #e2e4e7 !important;
    border-radius: 0;
    color: #000000 !important;
    cursor: default;
}
.note-page
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .note-page .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background: #f2f4f6 none repeat scroll 0 0 !important;
    border: 1px solid #e2e7f1 !important;
    box-shadow: none;
    color: #414244 !important;
    outline: medium none;
}
.note-page
td.option a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e2e7f1;
    border-radius: 50%;
    color: #a1a3a5;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 28px;
    padding: 4px 0;
    position: relative;
    text-align: center;
}
.note-page
td.option a:hover {
    background: #2ac2d4 none repeat scroll 0 0;
    border: 1px solid #2ac2d4;
    color: #ffffff;
}
.note-page
td.option a.delete:hover {
    background: #d9534f none repeat scroll 0 0;
    border: 1px solid #d9534f;
    color: #ffffff;
}
.note-page .dataTables_info {
    color: #c1c4c6 !important;
}
.note-page
.dataTables_length label select {
    -moz-appearance: none;
    border: 1px solid #e2e7f1 !important;
    padding: 2px;
    border-radius: 2px;

}
.note-page
.dataTables_length label{
    width: 50px !important;
    position: relative;
}
.note-page .dataTables_length label:before {
    border-color: #888888 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px 4px 0;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 12px;
}
.note-page .dataTables_length  select{
    width: 100%!important;
}