{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %} Display-immo - Nouveau email {% endblock %}
{% block body %}
    <p>Bonjour {{ recipient.name|capitalize }},</p>
    <p>
        Nous vous informons que {{ user.name }} vient de vous envoyer un mail sur votre interface DISPLAY.<br/> <br/>
        Merci de bien vouloir en prendre connaissance.<br/>
    </p>
{% endblock %}