{% trans_default_domain 'commiti' %}
<div class="panel-body">
    {% if is_granted('ROLE_MARKETING') %}
        <div class="pull-right text-right">
            <div class="btn-group">
                <a href="{{ path('agency_edit_portals',{'remoteId':group.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
            </div>
        </div>
    {% endif %}
    {% if group.getBroadcastPortalRegistrations()|length %}
        <h3>Liste de portails Payant</h3>
        {% set restTracking = 0 %}
        {% if trackingAdvantage %}
            {% set restTracking = max(trackingAdvantage.amount - trackingAdvantage.phones.count, 0) %}
            <div class="pull-right">
                <i class="pe-7s-call"></i>
                <span>{{ trackingAdvantage.phones.count ~"/"~ trackingAdvantage.amount}}</span>
            </div>
            <form method="post" action="{{ path('agency_update_portal_tracking') }}" name="form_tracking">
        {% endif %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                {% if is_granted('ROLE_MARKETING') and trackingAdvantage and restTracking %}
                    <th>&nbsp;</th>
                {% endif %}
                <th>{{ 'portal.logo_portail'|trans }}</th>
                <th>{{ 'portal.track_phone'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'portal.ftp_host'|trans }}</th>
                    <th>{{ 'portal.ftp_user'|trans }}</th>
                    <th>{{ 'portal.ftp_password'|trans }}</th>
                    <th>{{ 'portal.client_identifier'|trans }}</th>
                {% else %}
                    <th>Identifiant</th>
                    {% if is_granted('ROLE_MARKETING') %}
                        <th>{{ 'password'|trans }}</th>
                    {% endif %}
                {% endif %}
                <th>{{ 'portal.volume_annonce_portail'|trans }}</th>
                {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_MARKETING') %}
                    <th>{{ 'portal.acces_espace_pro'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for portalRegistration in group.getBroadcastPortalRegistrations()
                if (
                    portalRegistration.getBroadcastPortal().cluster == 'PAYANT' and
                    portalRegistration.isEnabled
                )
            %}
                <tr>
                    {% if (is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) and trackingAdvantage and restTracking %}
                        <td>
                            <input type="checkbox"
                                   name="portalRegistrationTracking[]"
                                   value="{{ portalRegistration.getId() }}"
                            {% if portalRegistration.getTrackingPhone() or restTracking == 0 %}
                                disabled="disabled" {% if portalRegistration.getTrackingPhone() %}checked="checked"{% endif %}
                            {% endif %}
                        /></td>
                    {% endif %}
                    <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                    <td class="col-sm-2">{{- portalRegistration.getTrackingPhone() -}}<br />
                        {% set portalId = portalRegistration.getId() %}
                        {{
                            statistics['call'] is defined and
                            statistics['call']['portal'] is defined and
                            statistics['call']['portal'][portalId] is defined
                        ?
                        (
                        statistics['call']['portal'][portalId] >1 ?
                        "Calls" |trans({'%total%':  statistics['call']['portal'][portalId]}) :
                        "Call" |trans({'%total%':  statistics['call']['portal'][portalId]})
                        )| raw  : ""
                        }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="col-sm-2">{{- portalRegistration.getFtpHost() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getFtpUser() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getFtpPassword() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getIdentifier() -}}</td>
                    {% else %}
                        <td class="col-sm-2">{{- portalRegistration.getLogin() -}}</td>
                        {% if is_granted('ROLE_MARKETING') %}
                            <td class="col-sm-2">{{- portalRegistration.getPassword() -}}</td>
                        {% endif %}
                    {% endif %}
                    <td class="col-sm-2">{{- portalRegistration.getAdLimit() -}}</td>
                    {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_MARKETING') %}
                        <td class="col-sm-2">{% if portalRegistration.getBroadcastPortal().espacePro %}<a href="{{ portalRegistration.getBroadcastPortal().espacePro }}" target="_blank" class="btn btn-primary"><i class="fa fa-user"></i>{{ 'portal.access_my_pro_account'|trans }}</a>{% endif %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if trackingAdvantage and restTracking and (is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING'))%}
            <button type="submit" id="form_tracking_submit" name="form_tracking_submit"
                    class="btn btn-info btn-xs btn-without-label">
                <i class="glyphicon pe-7s-call"></i>
                Associer
            </button>
            </form>
        {% endif %}
        <hr/>
        <h3>{{ 'Liste de portails Gratuit'|trans }}</h3>
        <table class="table table-bordered table-striped">
            <tbody>
            {% for portalRegistration in group.getBroadcastPortalRegistrations() if
                (
                    portalRegistration.getBroadcastPortal().cluster == 'GRATUIT' and
                    portalRegistration.isEnabled
                )
            %}
                <tr>
                    <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                    <td class="col-sm-2">{{ 'free'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'agence.agency_have_no_diffusion_portail'|trans }}</p>
    {% endif %}
</div>