{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <h3>{{ 'Gérer mes options actives'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <thead>
        <tr>
            <th width="35%">{{ 'my_options'|trans }}</th>
            <th width="20%">{{ 'quantity'|trans }}</th>
            <th width="20%">{{ 'validity'|trans }}</th>
            {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                <th width="25%"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set commercialCount = 0 %}
        {% set usedAdvantages = [] %}
        {% for a in group.authorizedUser if a.user is null %}
            {% set commercialCount = commercialCount + 1 %}
        {% endfor %}
        <tr>
            <td>{{ 'user.account'|trans }}</td>
            <td>{{ commercialCount }} {{ 'restant'|trans }}</td>
            <td>{{ 'illimiter'|trans }}</td>
            {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                <td></td>
            {% endif %}
        </tr>
        {% if payedAdvantages|length > 0 %}
            {% for advantage in group.advantages if advantage.advantage in payedAdvantages %}
                <tr>
                    <td>{{ advantage.advantage.name }}</td>
                    <td>{{ advantage.quantite is null ? 'Illimité' : advantage.quantite }}</td>
                    <td>{{ advantage.dateEnd is null ? 'Illimité' : advantage.dateEnd|date('d-m-Y') }}</td>
                    {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                    <td><a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.advantage.slug}) }}">
                            {{ 'renouveler'|trans }}
                        </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        {% if myTrackingAdvantages|length > 0 %}
            {% for advantage in myTrackingAdvantages %}
                {% set payedAdvantages =  payedAdvantages|merge([advantage.advantage])%}
                <tr>
                    <td>{{ advantage.advantage.name }}</td>
                    <td>{{ advantage.phones.count }} / {{ advantage.amount is null ? 'Illimité' : advantage.amount }}</td>
                    <td>{{ advantage.dateEnd is null ? 'Illimité' : advantage.dateEnd|date('d-m-Y') }}</td>
                    {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                    <td><a href="{{ path('payment_advantage',
                        {
                            'remoteId':group.remoteId,
                            'slug':advantage.advantage.slug,
                            'reference': advantage.advantageOption.reference,
                            'trackingCount': advantage.amount
                        }) }}">
                            {{ 'renouveler'|trans }}
                        </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <h3>{{ 'discover_options'|trans }}</h3>
    {% for advantage in configuration.advantages
        if (
            advantage not in payedAdvantages and
            advantage.groupType == 'agence' and
            advantage.slug not in emptyTrackingAdvantage
    ) %}
        <div class="row advantage_option_section">
            <div class="col-sm-8">
                <h4>{{ advantage.name }}</h4>
                <p>{{ advantage.description }}</p>
            </div>
            <div class="col-sm-offset-2 col-sm-2">
                {% set option = advantage.getCheapestOption() %}
                {% if option %}
                    {% set quota = advantage.unite ? advantage.unite : option.unit > 0 ? option.unit : (option.month ==1 ? 'mois' : option.month~' mois') %}
                    <span><b>{{ 'à partir de'|trans }} <span class="price">{{ option.price~'€' }}</span></b>/{{ quota }}</span>
                    {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                        <a href="{{ path('payment_advantage',
                            {
                                'remoteId':group.remoteId,
                                'slug':advantage.slug
                            })
                        }}" class="btn btn-success" class="btn btn-default">
                            {{ "Souscrire"|trans }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>