{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "Payment" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ block('title') }}</h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            {% if form is not null %}
                <hr/>
                {{ form_start(form,{'attr':{'id':'payment', 'class':"text-center"}}) }}
                {% form_theme form 'AppBundle:Common:Form/payment.html.twig' %}
                <div class="text-center m-b-md payment-choices clearfix" id="wizardControl">
                    {{ form_row(form.method) }}
                </div>
                <hr/>
                <div class="tab-content">
                    <div id="step1" class="tab-pane active">
                        <h3>{{ 'payment.types.card'|trans }}</h3>
                        <div class="container card détails">
                            {{ form_errors(form) }}
                            {{ form_widget(form.card) }}
                            {{ form_widget(form.exp_date) }}
                            {{ form_widget(form.cvv2) }}
                            <div>

                            </div>
                            <div class="text-center m-t-xs">
                                {{ form_widget(form.pay) }}
                            </div>
                        </div>
                    </div>
                    <div id="step2" class="tab-pane">
                        <h3>{{ 'payment.types.paypal'|trans }}</h3>
                        <p>
                            {{ 'payment.types.paypal_description'|trans }}
                        </p>
                        <div class="m-t-xs">
                            {{ form_widget(form.paypal_pay) }}
                        </div>
                    </div>
                    <div id="step3" class="tab-pane">
                        <h3>{{ 'payment.types.bank_wire'|trans }}</h3>
                        {{ "payment.types.bank_wire_description" | trans({"%total_amount%": totalPrice*1.2~'€ TTC' }) | raw }}
                        {{ form_widget(form.bank_pay) }}
                    </div>
                    <div id="step4" class="tab-pane">
                        <h3>{{ 'payment.types.check_wire'|trans }}</h3>
                        {{ "payment.types.check_wire_description" | trans({"%total_amount%": totalPrice*1.2~'€ TTC' }) | raw }}
                        {{ form_widget(form.check_pay) }}
                    </div>
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div id="tracking_options">
                    {% include '@App/Payment/optionGroup.html.twig' with { 'label':"1 Mois"|trans, 'levelIndex': 0, 'price': group.oneMonthPrice  } %}
                    {% include '@App/Payment/optionGroup.html.twig' with { 'label':"3 Mois"|trans, 'levelIndex': 1, 'price': group.threeMonthPrice  } %}
                    {% include '@App/Payment/optionGroup.html.twig' with { 'label':"6 Mois"|trans, 'levelIndex': 2, 'price': group.sixMonthPrice  } %}
                    {% include '@App/Payment/optionGroup.html.twig' with { 'label':"12 Mois"|trans, 'levelIndex': 3, 'price': group.oneYearPrice  } %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        $(function() {
            $('a[data-toggle="tab"], #payment_method label').on('click', function (e) {
                $(this).closest('div').find(':radio').trigger('click');
            });
            $('.radio :radio').on('change', function (e) {
                $(this).closest('div').find('a[data-toggle="tab"]').trigger('click');
            });
        });
    </script>
{% endblock %}