{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "Payment" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "Payment" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "Payment" | trans }}</h2>
            </div>
        </div>
    </div>
    {% set totalPrice =  option and trackingParams.trackingCount is defined ? ((option.price / option.unit) * trackingParams.trackingCount) : null %}
    {% set discountPrice = totalPrice ? (discount ? totalPrice - totalPrice/(100/discount.percent) : totalPrice) : null %}
    <div class="content animate-panel">
        <div class="text-center m-b-xl">
            <h3>{{ advantage.name }}{{ discountPrice ? ' ( '~discountPrice|number_format(2, ',', ' ')~'€ HT)' : ''}}</h3>
            <p>
                {{ advantage.description }}
            </p>
        </div>
        {% set col = 12/(advantage.options|length > 4 ? 4 : advantage.options|length) %}
        <div class="row">
            {% if form is not null and (not trackingParams.isTrackingAdvantage or option) %}
                <hr/>
                {{ form_start(form,{'attr':{'id':'payment', 'class':"text-center"}}) }}
                {% form_theme form 'AppBundle:Common:Form/payment.html.twig' %}
                <div class="text-center m-b-md payment-choices clearfix" id="wizardControl">
                    {{ form_row(form.method) }}
                </div>
                <hr/>
                <div class="tab-content">
                    <div id="step1" class="tab-pane active">
                        <h3>{{ 'payment.types.card'|trans }}</h3>
                        <div class="container card détails">
                            {{ form_errors(form) }}
                            {{ form_widget(form.card) }}
                            {{ form_widget(form.exp_date) }}
                            {{ form_widget(form.cvv2) }}
                            <div>

                            </div>
                            <div class="text-center m-t-xs">
                                {{ form_widget(form.pay) }}
                            </div>
                        </div>
                    </div>
                    <div id="step2" class="tab-pane">
                        <h3>{{ 'payment.types.paypal'|trans }}</h3>
                        <p>
                            {{ 'payment.types.paypal_description'|trans }}
                        </p>
                        <div class="m-t-xs">
                            {{ form_widget(form.paypal_pay) }}
                        </div>
                    </div>
                    <div id="step3" class="tab-pane">
                        <h3>{{ 'payment.types.bank_wire'|trans }}</h3>
                        {{ "payment.types.bank_wire_description" | trans({"%total_amount%": discountPrice ? discountPrice*1.2~'€ TTC' : '' }) | raw }}
                        {{ form_widget(form.bank_pay) }}
                    </div>
                    <div id="step4" class="tab-pane">
                        <h3>{{ 'payment.types.check_wire'|trans }}</h3>
                        {{ "payment.types.check_wire_description" | trans({"%total_amount%": discountPrice ? discountPrice*1.2~'€ TTC' : '' }) | raw }}
                        {{ form_widget(form.check_pay) }}
                    </div>
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                {% if trackingParams.isTrackingAdvantage %}
                    {% if trackingParams.isTrackingAdvantage!= "agency" %}
                            <div class="col-sm-3">
                                {{ "Tracking number" | trans }}
                            </div>
                            <div class="col-sm-4">

                                <input  type="number" class="form-control"
                                        min="1" max="{{ trackingParams.maxToTrack}}"
                                        name="tracking_count"
                                        id="tracking_count"
                                        value="{{ trackingParams.trackingCount}}"  />
                            </div>
                            <div class="col-sm-4">
                                <button id="form_tracking_count_submit" name="form_tracking_count_submit"
                                        class="ladda-button ladda-button-demo btn btn-success"
                                        data-size="xs"
                                        data-style="zoom-in">Actualiser</button>

                            </div>
                    <p>
                        Vous pouvez tracker jusqu'à {{ trackingParams.maxToTrack}} .
                        <em>important !!!</em>
                    </p>

                    {% endif %}
                    {% set col = 12/(trackingParams.options|length > 4 ? 4 : trackingParams.options|length) %}
                    <div id="tracking_options">
                        {% for option in trackingParams.options %}
                            {% include '@App/Payment/optionTracking.html.twig'  %}
                        {% endfor %}
                    </div>
                {% else %}
                    {% for option in advantage.options %}
                        {% include '@App/Payment/option.html.twig'  %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function() {
            $('a[data-toggle="tab"]').on('click', function (e) {
                $(this).closest('div').find(':radio').trigger('click');
            });
            $('.radio :radio').on('change', function (e) {
                $(this).closest('div').find('a[data-toggle="tab"]').trigger('click');
            });
            {% if trackingParams.isTrackingAdvantage %}
            var l = $( '.ladda-button-demo' ).ladda();
            var slug = "{{ advantage.slug }}";
            $("#tracking_count").on("blur", function(){
                loadTrackingOffer();
            });
            l.click(function(){
                loadTrackingOffer()
            });

            loadTrackingOffer = function () {
                // Start loading
                l.ladda( 'start' );
                var countSelector = $("#tracking_count");
                var min = Number(countSelector.attr("min"));
                var max = Number(countSelector.attr("max"));
                var val = Number(countSelector.val());
                if(val < min) {
                    val = min;
                    countSelector.val(val);
                }
                if(val > max) {
                    val = max;
                    countSelector.val(val);
                }

                $.ajax({
                    url: Routing.generate('tracking_advantage_options', {
                        'remoteId': "{{ group.remoteId }}",
                        'slug':slug
                    }),
                    data: {
                        'trackingCount': val
                    },
                    type: 'POST',
                    success: function (data) {
                        $("#tracking_options").html(data);
                        l.ladda('stop');
                    }
                });

            };
            {% endif %}
        });
    </script>
{% endblock %}