{% trans_default_domain 'commiti' %}
{% set discountPrice = discount ? option.price - option.price/(100/discount.percent) : null %}
{% set quota = advantage.unite ? (option.unit > 1 ? option.unit : '')~' '~advantage.unite : option.unit > 0 ? option.unit : (option.month ==1 ? 'mois' : option.month~' mois') %}
{% set levelIndex = min((levels|length), loop.index)-1 %}
<div class="col-sm-{{ col }} advantage_option_section">
    <div class="hpanel plan-box">
        <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">
                {{ levels[levelIndex]['title'] }}
            </h4>
        </div>
        <div class="panel-body text-center">
            <i class="{{ levels[levelIndex]['icon'] }} text-{{ levels[levelIndex]['color'] }}"></i>
            <h4 class="font-bold">
                <span>
                    <span class="price{% if discount %} discount{% endif %}">
                        {{ option.price~'€' }}
                    </span>
                    {% if discount %}
                        <span class="new_price text-{{ levels[levelIndex]['color'] }}">
                            {{ discountPrice~'€' }}
                        </span>
                    {% endif %}/{{ quota }}
                </span>
            </h4>
            <a href="{{ path('payment_advantage',{
                'remoteId':group.remoteId,
                'slug':advantage.slug,
                'reference':option.reference}) }}"
               class="btn btn-{{ levels[levelIndex]['color'] }} btn-sm">
                {{ 'action.buy'|trans }}
            </a>
        </div>
    </div>
</div>
