{% trans_default_domain 'commiti' %}
<div class="col-sm-3 advantage_option_section">
    <div class="hpanel plan-box">
        <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">
                {{ label }}
            </h4>
        </div>
        <div class="panel-body text-center">
            <i class="{{ levels[levelIndex]['icon'] }} text-{{ levels[levelIndex]['color'] }}"></i>
            <h4 class="font-bold">
                <span>
                    <span class="price">
                        {{ price|number_format(2, ',', ' ')~'€' }}
                    </span>
                </span>
            </h4>
            <a href="{{ path('payment_index',{'remoteId':group.remoteId,'pay':levelIndex}) }}"
               class="btn btn-{{ levels[levelIndex]['color'] }} btn-sm">
                {{ 'action.buy'|trans }}
            </a>
        </div>
    </div>
</div>
