{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "Payment Blocked" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ block('title') }}</h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Votre Compte a été soumis</h3>
                        <p class="alert alert-info">Veuillez contacter votre responsable pour plus d'informations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}