{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Nouvelle actualité {{ news.title }}
{% endblock %}
{% block body %}
    <p>Bonjour {{ user.username|capitalize }},</p>
    <p>
    <a href="{{ url("news_view", {"slug": news.slug }) }}" class="active" target="_blank">Une nouvelle actualité</a>
        vient de paraitre sur votre interface DISPLAY.<br/> <br/>

        Merci de bien vouloir en prendre connaissance.<br/>
    </p>
{% endblock %}