<!-- Annonce -->
<div id="step1" class="tab-pane active">
    <h3>{{ "Informations générales"|trans }}</h3>
    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(form.libelle) }}
        {{ form_row(form.referenceInterne) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.codePostal) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.lienVisitVirtuel) }}
        {{ form_row(form.description) }}
        {{ form_row(form.imagePrincipale,{'brouillon':brouillon}) }}
        {{ form_row(form.titreImagePrincipale) }}
        <tr>
            <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
            <td>
                {% set documents = brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(ad.getImagesDocuments()) : ad.getImagesDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                <div action="{{ oneup_uploader_endpoint('ad') }}" class="dropzone" id="dropzone"></div>
            </td>
        </tr>
        <tr>
            <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
            <td>
                {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                <div action="{{ oneup_uploader_endpoint('ad') }}" class="dropzone" id="dropzone_pdf"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>