{% set BienForm = form.bienImmobilier[0] %}
<!-- {{ typeBien|capitalize }} -->
<div id="step2" class="tab-pane active">
    <h3>{{ typeBien|capitalize }}</h3>
    <hr/>
    {{ form_widget(BienForm) }}
</div>