<!-- Visuel -->
<div id="step3" class="tab-pane active">
    <div class="col-lg-3">
        <div class="hpanel hred" id="documents-review">
            <h3>{{ 'Photo principale'|trans }}</h3>
            <div class="uploadedDocument">
                <div class="hpanel">
                    <div class="panel-body file-body">
                        <img src="{{ ad.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                    </div>
                    <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                </div>
            </div>
            {% set documents = ad.getImagesDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>{{ 'Photos secondaire'|trans }}</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                {% if document.getMimeType() == 'application/pdf' %}
                                    <i class="fa fa-file-pdf-o text-info"></i>
                                {% else %}
                                    <img src="{{ ('/uploads/housemodels/' ~ document.getName()) }}" class="img-responsive" />
                                {% endif %}
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group">
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% set documents = ad.getPdfDocuments() %}
            {% set documentsCount = documents|length %}
            {% if documentsCount > 0 %}
                <hr/>
                <h3>PDFs</h3>
                {% for document in documents %}
                    <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                <i class="fa fa-file-pdf-o text-info"></i>
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                                <div class="btn-group pdf_buttons">
                                    <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                    <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-lg-9">
        <h3>Visuel de l'annonce</h3>
        <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
            <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            <tr><td><b>Libellé</b></td><td>{{ ad.getLibelle() }}</td></tr>
            <tr><td><b>Référence interne</b></td><td>{{ ad.getReferenceInterne() }}</td></tr>
            <tr><td><b>Pays</b></td><td>{{ ad.getPays() }}</td></tr>
            <tr><td><b>Ville</b></td><td>{{ ad.getVille() }}</td></tr>
            <tr><td><b>Adresse</b></td><td>{{ ad.getAdresse() }}</td></tr>
            <tr><td><b>Code postal</b></td><td>{{ ad.getCodePostal() }}</td></tr>
            <tr><td><b>Lien visit virtuelle</b></td><td>{{ ad.getLienVisitVirtuel() }}</td></tr>
            <tr><td><b>Prix</b></td><td>{{ ad.getPrix() }}</td></tr>
            <tr><td><b>Description</b></td><td>{{ ad.getDescription()|raw }}</td></tr>
            <tr><td><b>Type de diffusion</b></td><td>{{ ad.getTypeDiffusion() }}</td></tr>
            <tr><td><b>Status</b></td><td>{{ ad.getStat() }}</td></tr>
            </tbody>
        </table>
        <h3>{{ typeBien|capitalize }}</h3>
        {% set bien = ad.getBienImmobilier()[0] %}
        <table class="table table-bordered table-striped" id="terrain-table-review" style="clear: both">
            <tbody>
            {% if typeBien == 'terrain' %}
                {% set Terrain      = ad.getTerrain() %}
                <tr><td width="35%"></td><td width="65%"></td></tr>
                {% if bien.getTitle() %}<tr><td><b>Libellé</b></td><td>{{ bien.getTitle() }}</td></tr>{% endif %}
                {% if bien.getPrix() %}<tr><td><b>Prix</b></td><td>{{ bien.getPrix() }}</td></tr>{% endif %}
                <tr><td><b>Type</b></td><td>{{ bien.getTypeValue() }}</td></tr>
                <tr><td><b>Surface</b></td><td>{{ bien.getSurface() }}</td></tr>
                <tr><td><b>Exposition</b></td><td>{{ bien.getExpositionValue() }}</td></tr>
                <tr><td><b>Environnement</b></td><td>{{ bien.getEnvironnement() }}</td></tr>
                <tr><td><b>Belle vue</b></td><td>{{ bien.getBelleVue() ? 'Oui' : 'Non' }}</td></tr>
                <tr><td><b>Vis à vis</b></td><td>{{ bien.getVisAVis() ? 'Oui' : 'Non' }}</td></tr>
                <tr><td><b>Maison groupée</b></td><td>{{ bien.getMaisonGroupee() ? 'Oui' : 'Non' }}</td></tr>
            {% elseif typeBien == 'maison' or typeBien == 'appartement' %}
                {% if typeBien == 'appartement' %}
                    <tr><td><b>Nombre d'étages</b></td><td>{{ bien.nbEtages }}</td></tr>
                    {% if bien.getSiAscenseur() %}<tr><td><b>Ascenseur</b></td><td>{{ bien.getSiAscenseur() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiToiletteValue() %}<tr><td><b>Toilette</b></td><td>{{ bien.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiToilette() ? 'Nombre: '~bien.getNbToilette() : '' }}</td></tr>{% endif %}
                    {% if bien.getSiBoxValue() %}<tr><td><b>Box</b></td><td>{{ bien.getSiBoxValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBoxValue() ? 'Nombre: '~bien.getNbBox() : '' }}</td></tr>{% endif %}
                    {% if bien.getSiGardien() %}<tr><td><b>Duplex</b></td><td>{{ bien.getSiGardien() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiDuplex() %}<tr><td><b>Duplex</b></td><td>{{ bien.getSiDuplex() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiDigicode() %}<tr><td><b>Digicode</b></td><td>{{ bien.getSiDigicode() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiInterphone() %}<tr><td><b>Interphone</b></td><td>{{ bien.getSiInterphone() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiVideophone() %}<tr><td><b>Videophone</b></td><td>{{ bien.getSiVideophone() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiAlarme() %}<tr><td><b>Alarme</b></td><td>{{ bien.getSiAlarme() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                    {% if bien.getSiJardin() %}<tr><td><b>Jardin</b></td><td>{{ bien.getSiJardin() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                {% else %}
                    <tr><td><b>Type de maison</b></td><td>{{ bien.getTypeValue() }}</td></tr>
                    <tr><td><b>Type d'architecture</b></td><td>{{ bien.getTypeArchitectureValue() }}</td></tr>
                    <tr><td><b>Type de charpente</b></td><td>{{ bien.getTypeCharpante() }}</td></tr>
                {% endif %}
                <tr><td><b>Surface</b></td><td>{{ bien.getSurface() ~'m²'}}</td></tr>
                <tr><td><b>Nombre de Pièces</b></td><td>{{ bien.nbPieces() }}</td></tr>
                <tr><td><b>Nombre de Chambre</b></td><td>{{ bien.getNbChambres() }}</td></tr>
                <tr><td><b>Nombre de salle de bain</b></td><td>{{ bien.getNbSalleBain() }}</td></tr>
                <tr><td><b>Salle d'eau</b></td><td>{{ bien.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSalleEau() ? 'Nombre: '~bien.getNbSalleEau() : '' }}</td></tr>
                <tr><td><b>Parking</b></td><td>{{ bien.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiParking() ? 'Nombre: '~bien.getNbParking() : '' }}<br/>{{ bien.getSiParking() ? 'Surface: '~bien.getSurfaceParking()~'m²' : '' }}</td></tr>
                {% if bien.getSiToiletteValue() %}<tr><td><b>Toilette</b></td><td>{{ bien.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiToilette() ? 'Nombre: '~bien.getNbToilette() : '' }}</td></tr>{% endif %}
                {% if bien.getSiSejourValue() %}<tr><td><b>Sejour</b></td><td>{{ bien.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSejour() ? 'Surface: '~bien.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiSalleAMangerValue() %}<tr><td><b>Salle a manger</b></td><td>{{ bien.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSalleAManger() ? 'Surface: '~bien.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getTypeCuisine() %}<tr><td><b>Type de cuisine</b></td><td>{{ bien.getTypeCuisine() }}</td></tr>{% endif %}
                {% if bien.getSiBureauValue() %}<tr><td><b>Bureau</b></td><td>{{ bien.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBureau() ? 'Surface: '~bien.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiBuanderieValue() %}<tr><td><b>Buanderie</b></td><td>{{ bien.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBuanderie() ? 'Surface: '~bien.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiTerrasseValue() %}<tr><td><b>Terrasse</b></td><td>{{ bien.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiTerrasse() ? 'Nombre: '~bien.getNbTerrasse() : '' }}<br/>{{ bien.getSiTerrasse() ? 'Surface: '~bien.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiDressingValue() %}<tr><td><b>Dressing</b></td><td>{{ bien.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiDressing() ? 'Surface: '~bien.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiBalconsValue() %}<tr><td><b>Balcons</b></td><td>{{ bien.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBalcons() ? 'Nombre: '~bien.getNbBalcons() : '' }}<br/>{{ bien.getSiBalcons() ? 'Surface: '~bien.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiCaveValue() %}<tr><td><b>Cave</b></td><td>{{ bien.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiCave() ? 'Surface: '~bien.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiVerandaValue() %}<tr><td><b>Veranda</b></td><td>{{ bien.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiVeranda() ? 'Surface: '~bien.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                {% if bien.getSiChemineeValue() %}<tr><td><b>Cheminée</b></td><td>{{ bien.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiCheminee() ? 'Nombre: '~bien.getNumberCheminee() : '' }}</td></tr>{% endif %}
                {% if bien.getSiPlacardsValue() %}<tr><td><b>Placards</b></td><td>{{ bien.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiPlacards() ? 'Nombre: '~bien.getNumberPlacards() : '' }}</td></tr>{% endif %}
                {% if bien.getRevetementDeSol() %}<tr><td><b>Revétement de sol</b></td><td>{{ bien.getRevetementDeSolValue() }}</td></tr>{% endif %}
                {% if bien.getDPE() %}<tr><td><b>Bilan consommation énergie</b></td><td>{{ bien.getDPE() }}</td></tr>{% endif %}
                {% if bien.getGES() %}<tr><td><b>Bilan émission GES</b></td><td>{{ bien.getGES() }}</td></tr>{% endif %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>