{% use "bootstrap_3_horizontal_layout.html.twig" %}
{% use "InfiniteFormBundle::form_theme.html.twig" %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form) -}}
    {% else -%}
        {%- set label_attr = label_attr|merge({'for': id}) -%}
        <div class="checkbox checkbox-info checkbox-circle text-center">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
    </label>
{% endblock checkbox_radio_label %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {% if only_text is defined and only_text %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% else %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if required %} <abbr title="Ce champ est obligatoire." class="form-required">*</abbr>{% endif %}</label>
        {% endif %}
    {%- endif -%}
{%- endblock form_label -%}

{% block group_advantages_row %}
    <table class="table table-bordered table-striped" style="clear: both">
        <thead>
            <tr><th>Avantage</th><th>Remise</th><th>Date de début</th><th>Date de fin</th></tr>
        </thead>
        <tbody>
            {{ form_widget(form) }}
        </tbody>
    </table>
{% endblock group_advantages_row %}

{% block group_advantage_discount_row %}
    <tr {% if not valid %}class="has-error"{% endif %}>
        {{- form_widget(form) -}}
    </tr>
    {% if errors|length > 0 -%}
    <tr>{{- form_errors(form) -}}</tr>
    {% endif %}
{% endblock group_advantage_discount_row %}

{% block group_advantage_discount_widget %}
    <td>{% if form.vars.data %}{{ form.vars.data.advantage.name }}{% endif %}</td>
    <td>{{- form_widget(form.percent) -}}</td>
    <td>
        <div class='input-group date'>
            {{- form_widget(form.dateBeginDiscount) -}}
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </td>
    <td>
        <div class='input-group date'>
            {{- form_widget(form.dateEndDiscount) -}}
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </td>
{% endblock group_advantage_discount_widget %}
