{% use "bootstrap_3_horizontal_layout.html.twig" %}
{% use "InfiniteFormBundle::form_theme.html.twig" %}
{% trans_default_domain "commiti" %}
{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form) -}}
    {% else -%}
        {%- set label_attr = label_attr|merge({'for': id}) -%}
        <div class="checkbox checkbox-info checkbox-circle">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    {%- endif %}
{%- endblock checkbox_widget %}

{% block checkbox_row -%}
    <tr {% if not valid %}class="has-error"{% endif %}>
        <td class="col-sm-4">{{- form_label(form) -}}</td>
        <td class="col-sm-8">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </td>
    </tr>
{%- endblock checkbox_row %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
    </label>
{% endblock checkbox_radio_label %}

{% block radio_widget -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}
    <div class="radio radio-info radio-inline">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{- form_label(form,null,{'label_attr':label_attr}) -}}
    </div>
{%- endblock radio_widget %}

{% block surface_widget %}
    {% spaceless %}
        <div class="row surface_container inactive">
            <div class="col-sm-3 condition">{{ form_widget(form.si) }}</div>
            <div class="col-sm-4 optional">{{ form_widget(form.surface) }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block surface_number_widget %}
    {% spaceless %}
        <div class="row surface_number_container inactive">
            <div class="col-sm-3 condition">{{ form_widget(form.si) }}</div>
            <div class="col-sm-4 optional">{{ form_widget(form.surface) }}</div>
            <div class="col-sm-4 optional">{{ form_widget(form.number) }}</div>
            {{- form_errors(form.si) -}}
        </div>
    {% endspaceless %}
{% endblock %}

{% block si_number_widget %}
    {% spaceless %}
        <div class="row si_number_container inactive">
            <div class="col-sm-3 condition">{{ form_widget(form.si) }}</div>
            <div class="col-sm-4 optional">{{ form_widget(form.number) }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block si_choices_widget %}
    {% spaceless %}
        <div class="row si_number_container inactive">
            <div class="col-sm-3 condition">{{ form_widget(form.si) }}</div>
            <div class="col-sm-4 optional">{{ form_widget(form.choices) }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_row -%}
    {% if force_group|default(false) %}
        <div {% if (not compound or force_error|default(false)) and not valid %}class="has-error"{% endif %}>
            <div>{{- form_label(form) -}}</div>
            <div>{{- form_widget(form) -}}</div>
            <div>{{- form_errors(form) -}}</div>
        </div>
    {% else %}
        {% set class = '' %}
        {% if (not compound or force_error|default(false)) and not valid %}
            {% set class = 'has-error' %}
        {% endif %}
        {% if attr.dependency is defined %}
            {% set class = class ~' '~attr.dependency %}
        {% endif %}
        <tr {% if class %}class="{{ class }}"{% endif %}>
            <td class="col-sm-4">{{- form_label(form) -}}
                {% if attr.help is defined %}
                    <i class="help-block">
                    {{ attr.help | trans({}, translation_domain) }}
                    </i>
                {% endif %}
            </td>
            <td class="col-sm-8">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </td>
        </tr>
    {% endif %}
{%- endblock form_row %}

{% block form_label_class -%}{%- endblock form_label_class %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title','data-buttonText'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {% if only_text is defined and only_text %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% else %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}{% if required %} <abbr title="Ce champ est obligatoire." class="form-required">*</abbr>{% endif %}</label>
        {% endif %}
    {%- endif -%}
{%- endblock form_label -%}


{% block si_number_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            <div class="help-block">
                <ul class="list-unstyled">
                    {%- for error in errors -%}
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    {%- endif %}
{%- endblock si_number_errors %}

{% block surface_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            <div class="help-block">
                <ul class="list-unstyled">
                    {%- for error in errors -%}
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    {%- endif %}
{%- endblock surface_errors %}

{% block surface_number_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            <div class="help-block">
                <ul class="list-unstyled">
                    {%- for error in errors -%}
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    {%- endif %}
{%- endblock surface_number_errors %}

{% block money_widget -%}
    <div class="input-group">
        <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {{- block('form_widget_simple') -}}
    </div>
{%- endblock money_widget %}



{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    {% if attr.typeahead is defined %}
        <div class="typeahead__container">
            <div class="typeahead__field">
            <span class="typeahead__query">
                <input {{ block('widget_attributes') }} type="search" {% if value is not empty %}value="{{ value }}"{% endif %} autocomplete="off">
            </span>
            </div>
        </div>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{%- endblock form_widget_simple %}



{# Poly Form Extention #}

{% block infinite_form_polycollection_row %}
    {% set collectionForm = form %}
    <hr>
    <div class="collection">
        <div class="items">
            {% for form in collectionForm %}
                {{ block('entry_row') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block entry_row %}
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_widget(form) }}
        </tbody>
    </table>
{% endblock %}

{% block terrain_widget %}
<h4>{{ 'Détails du lots'|trans }}</h4>
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {% if form.title is defined %}
        {{ form_row(form.title) }}
        {{ form_row(form.prix) }}
    {% endif %}
    {{ form_row(form.type) }}
    {{ form_row(form.surface) }}
    {{ form_row(form.libreConstruction) }}
    {{ form_row(form.siViabilise) }}
    {{ form_row(form.constructible) }}
    {{ form_row(form.servitude) }}
    {{ form_row(form.pente) }}
    {{ form_row(form.assainissementEauUsees) }}
    {{ form_row(form.assainissementEauPluviale) }}
    {{ form_row(form.certificatUrbanismeDelivrer) }}
    {{ form_row(form.surfacePlancher) }}
    </tbody>
</table>

<h4>{{ 'Environnement / Commidités'|trans }}</h4>
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.exposition) }}
    {{ form_row(form.environnement) }}
    {{ form_row(form.belleVue) }}
    {{ form_row(form.vis_a_vis) }}
    {{ form_row(form.calme) }}
    {{ form_row(form.siProximiteCentreville) }}
    {{ form_row(form.siProximiteCommerces) }}
    {{ form_row(form.siProximiteCreche) }}
    {{ form_row(form.siProximiteEcolePrimaire) }}
    {{ form_row(form.siProximiteCollege) }}
    {{ form_row(form.siProximiteLycee) }}
    {{ form_row(form.siProximiteUniversite) }}
    {{ form_row(form.siProximiteSortieAutoroute) }}
    {{ form_row(form.siProximiteGare) }}
    {{ form_row(form.siProximiteTramway) }}
    {{ form_row(form.siProximiteMetro) }}
    {{ form_row(form.siProximiteBus) }}
    {{ form_row(form.siProximiteAeroport) }}
    {{ form_row(form.siProximiteParking) }}
    {{ form_row(form.siProximiteEspacesVerts) }}
    </tbody>
</table>
{% endblock %}

{% block maison_widget %}
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.type) }}
    {{ form_row(form.typeArchitecture) }}
    {{ form_row(form.surface) }}
    {{ form_row(form.nbPieces) }}
    {{ form_row(form.nbChambres) }}
    {{ form_row(form.nbSalleBain) }}
    {{ form_row(form.siSalleEau) }}
    {{ form_row(form.siParking) }}

    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.siToilette) }}
    {{ form_row(form.siSejour) }}
    {{ form_row(form.siSalleAManger) }}
    {{ form_row(form.typeCuisine) }}
    {{ form_row(form.siBureau) }}
    {{ form_row(form.siBuanderie) }}
    {{ form_row(form.siTerrasse) }}
    {{ form_row(form.siDressing) }}
    {{ form_row(form.siBalcons) }}
    {{ form_row(form.siCave) }}
    {{ form_row(form.siVeranda) }}
    {{ form_row(form.siCheminee) }}
    {{ form_row(form.siPlacards) }}
    {{ form_row(form.siJardin) }}
    {{ form_row(form.typeJardin) }}
    {{ form_row(form.toitTerrasse) }}
    {{ form_row(form.grenier) }}
    {{ form_row(form.revetementDeSol) }}
    {{ form_row(form.DPE) }}
    {{ form_row(form.dpeValue) }}
    {{ form_row(form.GES) }}
    {{ form_row(form.gesValue) }}
    {{ form_row(form.typeDeChauffage) }}
    {{ form_row(form.energieDeChauffage) }}
    {{ form_row(form.typeCharpante) }}
    {{ form_row(form.typeTuile) }}
    {{ form_row(form.materiauxTuile) }}
    {{ form_row(form.degagement) }}
    {{ form_row(form.exposition) }}
    {{ form_row(form.vis_a_vis) }}
    </tbody>
</table>
{% endblock %}

{% block appartement_row %}
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_widget(form) }}
    </tbody>
</table>
{% endblock %}

{% block appartement_widget %}
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(form.lotNumber) }}
            {{ form_row(form.type) }}
            {{ form_row(form.surface) }}
            {{ form_row(form.siDuplex) }}
            {{ form_row(form.nbEtages) }}
            {{ form_row(form.nbPieces) }}
            {{ form_row(form.nbChambres) }}
            {{ form_row(form.nbSalleBain) }}
            {{ form_row(form.siSalleEau) }}
            {{ form_row(form.siToilette) }}
            {{ form_row(form.siSalon) }}
            {{ form_row(form.siSalleAManger) }}
            {{ form_row(form.typeCuisine) }}
            {{ form_row(form.revetementDeSol) }}
            {{ form_row(form.typeDeChauffage) }}
            {{ form_row(form.energieDeChauffage) }}
            {{ form_row(form.vitrage) }}
            {{ form_row(form.siBureau) }}
            {{ form_row(form.siPlacards) }}
            {{ form_row(form.siDressing) }}
            {{ form_row(form.siBuanderie) }}
            {{ form_row(form.degagement) }}
            {{ form_row(form.siVoletsRoulantsElectriques) }}
            {{ form_row(form.siTV) }}
            {{ form_row(form.siPiscine) }}
            {{ form_row(form.siPMR) }}
        </tbody>
    </table>

    <h4>{{ 'Extérieur et stationnement'|trans }}</h4>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(form.siTerrasse) }}
            {{ form_row(form.siBalcons) }}
            {{ form_row(form.siVeranda) }}
            {{ form_row(form.siCave) }}
            {{ form_row(form.siJardin) }}
            {{ form_row(form.typeJardin) }}
            {{ form_row(form.siParking) }}
            {{ form_row(form.siBox) }}
            {{ form_row(form.siGarage) }}
        </tbody>
    </table>

    <h4>{{ 'Sécurité'|trans }}</h4>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(form.siAlarme) }}
            {{ form_row(form.siGardien) }}
            {{ form_row(form.siVideophone) }}
            {{ form_row(form.siInterphone) }}
            {{ form_row(form.siDigicode) }}
        </tbody>
    </table>

    <h4>{{ 'Environnement'|trans }}</h4>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(form.exposition) }}
            {{ form_row(form.environnement) }}
            {{ form_row(form.vis_a_vis) }}
            {{ form_row(form.belleVue) }}
            {{ form_row(form.vueSurMer) }}
            {{ form_row(form.calme) }}
        </tbody>
    </table>

    <h4>{{ 'Consommation Energétique'|trans }}</h4>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr><td width="35%"></td><td width="65%"></td></tr>
            {{ form_row(form.DPE) }}
            {{ form_row(form.dpeValue) }}
            {{ form_row(form.GES) }}
            {{ form_row(form.gesValue) }}
        </tbody>
    </table>
{% endblock %}


{% block _group_agency_users_entry_row %}
    <div class="clearfix employee_entry">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
{% block _group_agency_users_entry_widget %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.username,{'attr':{'placeholder':'Username'}}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(form.plainPassword,{'attr':{'placeholder':'******'}}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.email,{'attr':{'placeholder':'user@email.com'}}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.name,{'attr':{'placeholder':''}}) }}
            </div>
            <div class="col-lg-12">
                {{ form_row(form.roles,{'attr':{'placeholder':'Fonction', 'class':'select2-once'}}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block image_uploadable_widget %}
    {% spaceless %}
        <div class="image-container">
            {% if brouillon is defined and brouillon.imagePrincipale %}
                <img src="/{{ brouillon.imagePrincipale }}" class="decale-bottom">
            {% elseif form.vars.data is not null %}
                {% if form.vars.data.pathName is not empty %}
                    <img {% if form.vars.attr.class is defined and form.vars.attr.class is not empty %}class="{{ form.vars.attr.class }}"{% endif %} src="{{ asset(form.vars.data.pathName) }}">
                {% endif %}
            {% endif %}
            {{ form_widget(
            form,{
                'attr':{
                    'class':'filestyle uplodable',
                    'data-url': oneup_uploader_endpoint('images'),
                    'accept': "image/jpeg,image/pjpeg"
                }
            }) }}
            <div class="sidebar-widget widget-stats image-stat hidden">
                <div class="progress-extended"></div>
                <div class="progress m-t-xs full progress-small">
                    <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success"></div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}