{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    <div class="checkbox-entity">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|default('')|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
{% endblock checkbox_radio_label %}


{% block form_row -%}
    <tr {% if (not compound or force_error|default(false)) and not valid %}class="has-error"{% endif %}>
        {{- form_widget(form) -}}
    </tr>
    {{- form_errors(form) -}}
{%- endblock form_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <tr class="has-error">
            <td colspan="2">
                <ul class="list-unstyled help-block">
                {%- for error in errors -%}
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
                {%- endfor -%}
                </ul>
            </td>
        </tr>
    {%- endif %}
{%- endblock form_errors %}

{% block commercial_portal_widget -%}
        <td class="col-sm-6">{% if form.vars.data.getPortal() and form.vars.data.getPortal().icon != '' %}<img src="/{{ form.vars.data.getPortal().icon }}" />{% endif %}</td>

        <td class="col-sm-4">{% if form.vars.data.getPortal().getCluster() == 'PAYANT' %}{{- form_widget(form.portal) -}}{{- form_widget(form._limit) -}}{% endif %}</td>
        <td class="col-sm-2">{% if form.vars.data.getPortal().getCluster() == 'PAYANT' %}<b>{{- form._limit.vars.attr['data-limit'] -}}</b>{% else %}Gratuit{% endif %}</td>
{%- endblock commercial_portal_widget %}
