{% use "bootstrap_3_horizontal_layout.html.twig" %}
{% trans_default_domain "commiti" %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    <div class="checkbox-entity">
        <input type="checkbox" {{ block('widget_attributes') }}
                {% if value is defined %} value="{{ value }}"{% endif %}
                {% if checked %} checked="checked"{% endif %} />
    </div>
{%- endblock checkbox_widget %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|default('')|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
{% endblock checkbox_radio_label %}

{% block entity_widget -%}
    {% set payed_cluster, free_cluster = '', '' %}
    {% if typeDiffusion != 'terrain' %}
    <h3>{{ 'Diffusion Projet Maison & Terrain'|trans }}</h3>
            {%- for n, child in form %}
                {% set is_selected = form.vars.choices[n].attr['is_selected'] %}
                {% set data = form.vars.choices[n].data %}
                {% if data.getCluster()!= 'GRATUIT' and commercialLimit[data.getId()] is defined %}
                    {% set payed_cluster %}
                        {{ payed_cluster }}
                    <tr>
                        <td class="col-sm-1">{{- form_widget(child) -}}</td>
                        <td class="col-sm-1">{{ is_selected ? 'Yes'|trans : 'No'|trans }}</td>
                        <td class="col-sm-3">{{- form_label(child) -}}</td>
                        <td class="col-sm-3"><img src="{{ '/'~data.getIcon() }}" /></td>
                        <td class="col-sm-2">
                            {% if data.getCluster() == 'GRATUIT' %}
                                <b>{{ 'illimiter'|trans }}</b>
                            {% elseif commercialLimit[data.getId()] is defined %}
                                {% set rest = commercialLimit[data.getId()]['rest'] is null ? commercialLimit[data.getId()]['limit'].getLimit() : commercialLimit[data.getId()]['rest'] %}
                                {% if rest - subtractValue > 0 %}
                                    <b class="green">{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}</b>
                                {% else %}
                                    <b class="red">{% if commercialLimit[data.getId()]['limit'].getLimit() == 0 %}-{% else %}{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}{% endif %}</b>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endset %}
                {% elseif data.getCluster() == 'GRATUIT' %}
                    {% set free_cluster %}
                        {{ free_cluster }}
                    <tr>
                        <td class="col-sm-1">{{- form_widget(child) -}}</td>
                        <td class="col-sm-1">{{ is_selected ? 'Yes'|trans : 'No'|trans }}</td>
                        <td class="col-sm-3">{{- form_label(child) -}}</td>
                        <td class="col-sm-3"><img src="{{ '/'~data.getIcon() }}" /></td>
                        <td class="col-sm-2">
                            {% if data.getCluster() == 'GRATUIT' %}
                                <b>{{ 'illimiter'|trans }}</b>
                            {% elseif commercialLimit[data.getId()] is defined %}
                                {% set rest = commercialLimit[data.getId()]['rest'] is null ? commercialLimit[data.getId()]['limit'].getLimit() : commercialLimit[data.getId()]['rest'] %}
                                {% if rest - subtractValue > 0 %}
                                    <b class="green">{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}</b>
                                {% else %}
                                    <b class="red">{% if commercialLimit[data.getId()]['limit'].getLimit() == 0 %}-{% else %}{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}{% endif %}</b>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endset %}
                {% endif %}
            {% endfor -%}

        <div class="panel-group" id="accordionPaying" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingPaying">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionPaying" href="#collapsePaying" aria-expanded="true" aria-controls="collapsePaying" >
                            {{ "ads.ad.paying_gateways"|trans }}
                        </a>
                    </h4>
                </div>
                <div id="collapsePaying" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPaying" aria-expanded="true">
                    <div class="panel-body">
                        <table {{ block('widget_container_attributes') }}>
                            <thead>
                            <tr>
                                <th class="align-middle">{{ 'ads.ad.status'|trans }}</th>
                                <th class="align-middle">{{ 'ads.is_diffused'|trans }}</th>
                                <th class="align-middle">{{ 'lots.filters.portal_diffusion'|trans }}</th>
                                <th class="align-middle">{{ 'Logo'|trans }}</th>
                                <th class="align-middle">{{ 'program.ads_enable'|trans }} / {{ 'program.ads_total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ payed_cluster }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionFree" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFree" href="#collapseFree" aria-expanded="false" aria-controls="collapseFree">
                            {{ "ads.ad.free_gateways"|trans }}
                        </a>
                    </h4>
                </div>
                <div id="collapseFree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFree" aria-expanded="false">
                    <div class="panel-body">
                        <table {{ block('widget_container_attributes') }}>
                            <thead>
                            <tr>
                                <th class="align-middle">{{ 'ads.ad.status'|trans }}</th>
                                <th class="align-middle">{{ 'ads.is_diffused'|trans }}</th>
                                <th class="align-middle">{{ 'lots.filters.portal_diffusion'|trans }}</th>
                                <th class="align-middle">{{ 'Logo'|trans }}</th>
                                <th class="align-middle">{{ 'program.ads_enable'|trans }} / {{ 'program.ads_total'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ free_cluster }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% set exist = false %}
    <h3>{{ 'Diffusion Terrain Seul'|trans }}</h3>
        {%- for n, child in form %}
            {% set is_selected = form.vars.choices[n].attr['is_selected'] %}
            {% set data = form.vars.choices[n].data %}
            {#{% if data.diffuseTerrainOnly %}#}
            {% if data.getCluster()!= 'GRATUIT' and commercialLimit[data.getId()] is defined %}
                    {% set payed_cluster %}
                        {{ payed_cluster }}
                        {% set exist = true %}
                        <tr>
                            <td class="col-sm-1">{{- form_widget(child) -}}</td>
                            <td class="col-sm-1">{{ is_selected ? 'Yes'|trans : 'No'|trans }}</td>
                            <td class="col-sm-3">{{- form_label(child) -}}</td>
                            <td class="col-sm-3"><img src="{{ '/'~data.getIcon() }}" /></td>
                            <td class="col-sm-2">
                                {% if data.getCluster() == 'GRATUIT' %}
                                    <b>{{ 'illimiter'|trans }}</b>
                                {% elseif commercialLimit[data.getId()] is defined %}
                                    {% set rest = commercialLimit[data.getId()]['rest'] is null ? commercialLimit[data.getId()]['limit'].getLimit() : commercialLimit[data.getId()]['rest'] %}
                                    {% if rest - subtractValue >= 0 %}
                                        <b class="green">{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}</b>
                                    {% else %}
                                        <b class="red">{% if commercialLimit[data.getId()]['limit'].getLimit() == 0 %}-{% else %}{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}{% endif %}</b>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endset %}
             {% elseif data.getCluster() == 'GRATUIT' %}
                 {% set free_cluster %}
                     {{ free_cluster }}
                     {% set exist = true %}
                     <tr>
                         <td class="col-sm-1">{{- form_widget(child) -}}</td>
                         <td class="col-sm-1">{{ is_selected ? 'Yes'|trans : 'No'|trans }}</td>
                         <td class="col-sm-3">{{- form_label(child) -}}</td>
                         <td class="col-sm-3"><img src="{{ '/'~data.getIcon() }}" /></td>
                         <td class="col-sm-2">
                             {% if data.getCluster() == 'GRATUIT' %}
                                 <b>{{ 'illimiter'|trans }}</b>
                             {% elseif commercialLimit[data.getId()] is defined %}
                                 {% set rest = commercialLimit[data.getId()]['rest'] is null ? commercialLimit[data.getId()]['limit'].getLimit() : commercialLimit[data.getId()]['rest'] %}
                                 {% if rest - subtractValue >= 0 %}
                                     <b class="green">{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}</b>
                                 {% else %}
                                     <b class="red">{% if commercialLimit[data.getId()]['limit'].getLimit() == 0 %}-{% else %}{{ rest~' / '~ commercialLimit[data.getId()]['limit'].getLimit() }}{% endif %}</b>
                                 {% endif %}
                             {% endif %}
                         </td>
                     </tr>
                 {% endset %}
             {% endif %}
            {#{% endif %}#}
        {% endfor -%}

        {% if exist %}
            <div class="panel-group" id="accordionPaying" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingPaying">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionPaying" href="#collapsePaying" aria-expanded="true" aria-controls="collapsePaying" >
                                {{ "ads.ad.paying_gateways"|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapsePaying" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPaying" aria-expanded="true">
                        <div class="panel-body">
                            <table {{ block('widget_container_attributes') }}>
                                <thead>
                                <tr>
                                    <th class="align-middle">{{ 'ads.ad.status'|trans }}</th>
                                    <th class="align-middle">{{ 'ads.is_diffused'|trans }}</th>
                                    <th class="align-middle">{{ 'lots.filters.portal_diffusion'|trans }}</th>
                                    <th class="align-middle">{{ 'Logo'|trans }}</th>
                                    <th class="align-middle">{{ 'program.ads_enable'|trans }} / {{ 'program.ads_total'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ payed_cluster }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="accordionFree" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionFree" href="#collapseFree" aria-expanded="false" aria-controls="collapseFree">
                                {{ "ads.ad.free_gateways"|trans }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFree" aria-expanded="false">
                        <div class="panel-body">
                            <table {{ block('widget_container_attributes') }}>
                                <thead>
                                <tr>
                                    <th class="align-middle">{{ 'ads.ad.status'|trans }}</th>
                                    <th class="align-middle">{{ 'ads.is_diffused'|trans }}</th>
                                    <th class="align-middle">{{ 'lots.filters.portal_diffusion'|trans }}</th>
                                    <th class="align-middle">{{ 'Logo'|trans }}</th>
                                    <th class="align-middle">{{ 'program.ads_enable'|trans }} / {{ 'program.ads_total'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ free_cluster }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun portal n'est encore enregistrer pour ce type de diffusion</p>
        {% endif %}
    {% endif %}
{%- endblock entity_widget %}
