{% use "AppBundle:Common:Form/default_form.html.twig" %}

{# Widgets #}
{% block image_uploadable_row %}
    {% spaceless %}
        <div class="avatar_container">
        {% if form.vars.data is not null %}
            <a href="javascript:void(0)" class="changeAvatar">
            {% if form.vars.data.pathName is not empty %}
                {% set class = form.vars.attr.class  ~ ' img-circle m-b m-t-md' %}
                <img class="{{ class }}" src="{{ asset(form.vars.data.pathName) }}">
            {% else %}
                <i class="pe-7s-user fa-5x text-muted"></i>
            {% endif %}
            </a>
        {% endif  %}
        <div class="hidden"><input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/></div>
        {% if force_error is defined and force_error %}
            <div class="has-error">
                <span class="help-block">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> Ce champ est obligatoire</li>
                </ul>
            </span>
            </div>
        {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% elseif type is defined and type == 'file' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' filestyle')|trim, 'data-buttonText': 'choose_images'|trans({},'commiti')}) -%}
    {% endif %}
    {%- set type = type|default('text') -%}
    {% if prefix is defined %}
        <div class="input-group">
            <span class="input-group-addon">{{ prefix }}</span>
            {{- parent() -}}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple %}

{% block checkbox_widget -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {% if 'checkbox-inline' in parent_label_class %}
        {{- form_label(form) -}}
    {% else -%}
        {%- set label_attr = label_attr|merge({'for': id}) -%}
            <label class="control-label col-sm-1" for="{{ id }}">{{ label |trans({},'commiti') }}</label>
            <div class="col-sm-10">
                <div class="checkbox checkbox-info checkbox-circle">
                    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                </div>
            </div>
    {%- endif %}
{%- endblock checkbox_widget %}
