{% block image_uploadable_widget %}
    {% spaceless %}
    	{% if form.vars.data is not null %}
            {% if form.vars.data.pathName is not empty %}
                <img {% if form.vars.attr.class is defined and form.vars.attr.class is not empty %}class="{{ form.vars.attr.class }}"{% endif %} src="{{ asset(form.vars.data.pathName) }}">
            {% endif %}
        {% endif  %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}