{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if parent_label_class is defined %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% if form.vars.value == 'credit-card' %}
        <a href="#step1" data-toggle="tab">
            <img src="{{ asset('bundles/app/images/cards/payment-cb-color.png') }}" align="visa">
            <span class="payment_title">Carte de Crédit</span>
            <div>
                <img src="{{ asset('bundles/app/images/cards/visa-straight-28px.png') }}" align="visa">
                <img src="{{ asset('bundles/app/images/cards/mastercard-straight-28px.png') }}" align="master-card">
                <img src="{{ asset('bundles/app/images/cards/discover-straight-28px.png') }}" align="discover">
            </div>
            <p>Payez par carte CB, Visa ou MasterCard</p>
        </a>
    {% elseif form.vars.value == 'paypal' %}
        <a href="#step2" data-toggle="tab">
            <img src="{{ asset('bundles/app/images/cards/payment-paypal-color.png') }}" align="paypal">
            <span class="payment_title">Compte Paypal</span>
            <img src="{{ asset('bundles/app/images/cards/paypal-logo.png') }}" align="paypal">
            <p>Payez par carte ou par compte Paypal</p>
        </a>
    {% elseif form.vars.value == 'bank-wire' %}
        <a href="#step3" data-toggle="tab">
            <img src="{{ asset('bundles/app/images/cards/payment-bankwire-color.png') }}" align="bank-wire">
            <p>Payez par virement (le traitement de la commande sera plus long)</p>
        </a>
    {% elseif form.vars.value == 'check-wire' %}
        <a href="#step4" data-toggle="tab">
            <img src="{{ asset('bundles/app/images/cards/payment-check.jpg') }}" align="check-wire">
            <p>Payez par chèque (le traitement de la commande sera plus long)</p>
        </a>
    {% else %}
        {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
    {% endif %}
    </label>
{% endblock checkbox_radio_label %}

{% block radio_widget -%}
    {%- set label_attr = label_attr|merge({'for': id}) -%}
    <div>
        <input type="radio" class="hidden" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{- form_label(form,null,{'label_attr':label_attr}) -}}
    </div>
{%- endblock radio_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" rel="theme" />
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_row -%}
    <div class="{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block form_label_class -%}{%- endblock form_label_class %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}


{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}
