{% extends 'AppBundle:Gestion:Contact/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "contact.voir" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel hgreen">
        <div class="panel-body">
            {% if not events|length %}
                <h5 class="text-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'no_meeting_found'|trans }}
                </h5>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <tbody>
                        {% for meeting in events %}
                            <tr>
                                <td>
                                    {% if date() > date(meeting.dateStart) and date() < date(meeting.dateEnd) %}
                                        <span class="label label-info">En cours</span>
                                    {% elseif date() > date(meeting.dateEnd) %}
                                        <span class="label label-success">Fini</span>
                                    {% else %}
                                        <span class="label label-danger">En attente</span>
                                    {% endif %}
                                </td>
                                <td class="issue-info">
                                    <a href="#">
                                        {{ meeting.owner.name }}
                                    </a>
                                    <br/>
                                    <small>
                                        {{ meeting.note }}
                                    </small>
                                </td>
                                <td>
                                    {{ meeting.owner.name }}
                                </td>
                                <td>
                                    {{ meeting.dateStart|localizeddate('long', 'medium', app.request.locale ) }} à {{ meeting.dateEnd|localizeddate('long', 'medium', app.request.locale ) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}