{% extends 'AppBundle:Gestion:Contact/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "contact.calls" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel hgreen">
        <div class="panel-body">
            {% if not calls|length %}
                <h5 class="text-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'no_call_found'|trans }}
                </h5>
            {% else %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <tbody>
                    {% for call in calls %}
                        <tr>
                            <td>
                                {% if date() > date(call.date) %}
                                    <span class="label label-success">Fini</span>
                                {% else %}
                                    <span class="label label-danger">En attente</span>
                                {% endif %}
                            </td>
                            <td class="issue-info">
                                <a href="#">
                                    {{ call.responsible.name }}
                                </a>
                                <br/>
                                <small>
                                    {{ call.summary }}
                                </small>
                            </td>
                            <td>
                                {{ call.owner.name }}
                            </td>
                            <td>
                                {{ call.date|localizeddate('long', 'medium', app.request.locale ) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}