{% extends 'AppBundle:Gestion:Contact/view.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "contact.voir" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel hgreen">
        <div class="panel-body">
            <div>
                {{ datatable_render(datatable) }}
            </div>
        </div>
    </div>
{% endblock %}