{% extends 'AppBundle:Gestion:Contact/add.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "client.edit" | trans }}{% endblock %}
{% block action %}{{ "action.edit" | trans }}{% endblock %}
{% block breadcrumb %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ block('title') }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}