{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "client.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "client.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "client.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
        <div class="row">
            <div class="col-md-3">
                <div class="hpanel">
                    <div class="panel-body">
                        {% set currentPath = app.request.attributes.get('_route') %}
                        <ul class="mailbox-list">
                            <li class="{{ (currentPath == 'gestion_client_view') ? 'active' : '' }}">
                                <a href="{{ path('gestion_client_view',{'remoteId':contact.remoteId}) }}"><i class="fa fa-info-circle"></i> Fiche détaillée du client</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_client_opportunity') ? 'active' : '' }}">
                                <a href="{{ path('gestion_client_opportunity',{'remoteId':contact.remoteId}) }}"><i class="fa fa-square"></i> Opportunités</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_client_meetings') ? 'active' : '' }}">
                                <a href="{{ path('gestion_client_meetings',{'remoteId':contact.remoteId}) }}"><i class="fa fa-rocket"></i> Rendez-vous</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_client_calls') ? 'active' : '' }}">
                                <a href="{{ path('gestion_client_calls',{'remoteId':contact.remoteId}) }}"><i class="fa fa-phone-square"></i> Appels</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                {% block main %}
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <div class="btn-group">
                                <a href="{{ path('gestion_client_edit', {'remoteId': contact.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                            </div>
                        </div>
                        <h3><a href="">{{ contact.prenom~ ' '~ contact.nom }}</a></h3>
                        <div class="text-muted font-bold m-b-xs"></div>
                        <table id="user" class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%">{{ "contact.nom"|trans }}</td><td width="65%">{{ contact.nom }}</td></tr>
                            <tr><td>{{ "contact.prenom"|trans }}</td><td>{{ contact.prenom }}</td></tr>
                            <tr><td>{{ "contact.ville"|trans }}</td><td>{{ contact.ville }}</td></tr>
                            <tr><td>{{ "contact.email"|trans }}</td><td>{{ contact.email }}</td></tr>
                            <tr><td>{{ "contact.phone"|trans }}</td><td>{{ contact.telephone }}</td></tr>
                            <tr><td>{{ "contact.city"|trans }}</td><td>{{ contact.ville }}</td></tr>
                            <tr><td>{{ "contact.zip_code"|trans }}</td><td>{{ contact.codePostal }}</td></tr>
                            <tr><td>{{ "contact.address"|trans }}</td><td>{{ contact.address }}</td></tr>
                            <tr><td>{{ "contact.groups"|trans }}</td>
                                <td>
                                    <ul>
                                        {% for group in contact.getGroupContacts() %}
                                            <li>{{ group.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

<div class="content animate-panel">
    <div class="row">
    </div>
</div>

{% endblock %}