{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Mot de passe changé {% endblock %}
{% block body %}
    <p>Bonjour {{ user.name|capitalize }},</p>
    <p>
        Nous vous confirmons que la modification de votre mot de passe est désormais active.
    </p>
{% endblock %}