{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Identifiant DISPLAY {% endblock %}
{% block body %}
<p>Bonjour {{ user.name|capitalize }},</p>
Veuillez trouver ci-dessous les accès vous permettant de vous connecter à
<a href="https://www.display-immo.fr" class="active" target="_blank">DISPLAY</a> : <br/> <br/>
<b>Identifiant : </b>{{ user.username }}<br/><br/>
<b>Mot de Passe : </b>{{ password }}<br/> <br/>

Faite bénéficier de la puissance de DISPLAY à vos annonces sans plus attendre. <br/>
{% endblock %}