{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{{ "Resetting your password"|trans }}{% endblock %}
{% block body_html %}
    {% set body %}
        <p>Bonjour {{ user.username|capitalize }},</p>
        <p>
            Veuillez suivre les instructions en cliquant sur l'URL ci-dessous afin de changer votre mot de passe sur l'interface
            DISPLAY :<br/> <br/>
            <a href="{{ confirmationUrl }}"  class="active" target="_blank" >Lien modification mot de passe </a><br/> <br/>
            Si toutefois vous n'êtes pas à l'initiative de cette demande, merci de ne pas tenir compte de ce mail.<br/>
        </p>
    {% endset %}
    {% include 'AppBundle::Emails/layout.html.twig' with {'title': "Resetting your password"|trans, 'body': body} %}
{% endblock %}