{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ 'agence.edit_portal'|trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span>
                                {% if is_granted('ROLE_GROUP') %}
                                    <a href="{{ path('group_agency_edit', {"remoteId": group.remoteId}) }}">{{ 'Agence'|trans }}</a>
                                {% else %}
                                    <a href="{{ path('agency_my_edit') }}">{{ 'Agence'|trans }}</a>
                                {% endif %}
                            </span>
                        </li>
                        <li class="active">
                            <span>{{ 'agence.portal_list'|trans }}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hblue">
                    <div class="panel-body panel-portals">
                        {% form_theme formRegistrations 'AppBundle:Common:Form/broadcast_entity.html.twig' %}
                        {{ form_start(formRegistrations,{'attr':{'id':'form-registrations', 'class':'i-checks'}}) }}
                        <table class="table table-bordered table-striped {% if app.user.hasRole('ROLE_MARKETING') %}table-fixed{% endif %}">
                            <thead>
                                <tr>
                                    <th>{{ 'portal.activer_desactiver'|trans }}</th>
                                    <th>{{ 'portal.logo_portail'|trans }}</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <th>{{ 'portal.volume_annonce_portail'|trans }}V</th>
                                        <th>{{ 'portal.ftp_host'|trans }}</th>
                                        <th>{{ 'portal.ftp_user'|trans }}</th>
                                        <th>{{ 'portal.ftp_password'|trans }}</th>
                                        <th>{{ 'portal.client_identifier'|trans }}</th>
                                        <th>{{ 'portal.track_phone'|trans }}</th>
                                    {% else %}
                                        <th>{{ 'portal.volume_annonce_portail'|trans }}</th>{#Volume d’annonces sur le portail#}
                                        <th>{{ 'portal.portal_acces_identifier'|trans }}</th>{#Votre identifiant d’accès sur le portail#}
                                        <th>{{ 'portal.portal_acces_password'|trans }}</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {{ form_widget(formRegistrations.broadcastPortalRegistrations) }}
                            </tbody>
                        </table>
                        <div class="text-right m-t-xs">
                            {{ form_widget(formRegistrations.submit) }}
                            {{ form_widget(formRegistrations.cancel) }}
                        </div>
                        <div class="hidden">
                            {{ form_rest(formRegistrations) }}
                        </div>
                        {{ form_end(formRegistrations) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}