{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "agence.edit_agency" |trans}}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="{{ path('agency_my') }}">{{ 'agence.edit'|trans }}</a> </span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="{{ path('agency_my') }}">{{ 'agence.edit'|trans }}</a>
                </h2>
            </div>
        </div>
    </div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {{ form_start(form,{'attr':{"novalidate":"true"}}) }}
                    <table class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                {{ form_row(form.name,{'attr':{'placeholder':'organisation'}}) }}
                                {{ form_row(form.adress) }}
                                {{ form_row(form.ville) }}
                                {{ form_row(form.codePostal) }}
                                {{ form_row(form.avatar,{'attr':{'placeholder':'avatar'}}) }}
                                {{ form_row(form.color) }}
                                {{ form_row(form.nom) }}
                                {{ form_row(form.prenom) }}
                                {{ form_row(form.telephone) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.content) }}
                        </tbody>
                    </table>
                    <hr/>
                    <h3>{{ 'agence.facturation'|trans }}</h3>
                    <table class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {{ form_row(form.facturationNomEntite) }}
                        {{ form_row(form.facturationAdresse) }}
                        {{ form_row(form.facturationVille) }}
                        {{ form_row(form.facturationCodePostal) }}
                        </tbody>
                    </table>
                    <h3>{{ 'agence.closing_reopening'|trans }}</h3>
                    <table class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {{ form_row(form.closingDate) }}
                        {{ form_row(form.reopeningDate) }}
                        {{ form_row(form.closingPhone) }}
                        {{ form_row(form.voicemail) }}
                        </tbody>
                    </table>
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                        <a class="btn btn-default" href="{{ path('agency_my') }}">{{ 'action.cancel'|trans }}</a>
                    </div>
                    <div class="hidden">{{ form_rest(form) }}</div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}