{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "agence.my_agency"|trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="{{ path('agency_my') }}">{{ 'agence.my_agency'|trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="{{ path('agency_my') }}">{{ 'agence.my_agency'|trans }}</a>
                </h2>
                <small>{{ 'agence.my_agency_resume'|trans }}</small>
            </div>
        </div>
    </div>
<div class="content animate-panel">
    <div class="row">
        <div class="hpanel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-infos">{{ 'group.tabs.informations_general'|trans }}</a></li>
                <li><a data-toggle="tab" href="#tab-options">{{ 'group.tabs.options_actives'|trans }}</a></li>
                <li><a data-toggle="tab" href="#tab-employees">{{ 'group.tabs.liste_employees'|trans }}</a></li>
                <li><a data-toggle="tab" href="#tab-portail">{{ 'group.tabs.listes_portail_diffusion'|trans }}</a></li>
                {% if is_granted('ROLE_MARKETING') %}
                <li><a data-toggle="tab" href="#tab-rewrite">{{ 'group.tabs.reecriture'|trans }}</a></li>
                <li><a data-toggle="tab" href="#tab-distribution_portal_diffusion">{{ 'portal.list_distribution'|trans }}</a></li>
                {% endif %}
                {% if adsDatatable %}
                    <li><a data-toggle="tab" href="#tab-5">{{ 'group.tabs.gestion_des_annonces'|trans }}</a></li>
                {% endif %}
                {% if houseModeleDatatable %}
                    <li><a data-toggle="tab" href="#tab-7">{{ 'group.tabs.modeles'|trans }}</a></li>
                {% endif %}
                {% if is_granted('ROLE_MARKETING') %}
                    <li><a data-toggle="tab" href="#tab-9">{{ 'group.tabs.facturations'|trans }}</a></li>
                <li><a data-toggle="tab" href="#tab-11">{{ 'group.tabs.mention_legals'|trans }}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div id="tab-infos" class="tab-pane active">
                    {% include "@App/Agencies/tabs/informations_general.html.twig" %}
                </div>
                <div id="tab-options" class="tab-pane">
                    {% include "@App/Agencies/tabs/options_actives.html.twig" %}
                </div>
                <div id="tab-employees" class="tab-pane">
                    <div class="panel-body">
                        {% include '@App/GroupAgencies/tabs/liste_employees.html.twig' %}
                    </div>
                </div>
                <div id="tab-portail" class="tab-pane">
                    {% include "@App/Agencies/tabs/listes_portail_diffusion.html.twig" %}
                </div>
                {% if is_granted('ROLE_MARKETING') %}
                <div id="tab-rewrite" class="tab-pane">
                    {% include '@App/GroupAgencies/tabs/reecriture.html.twig'  %}
                </div>
                <div id="tab-distribution_portal_diffusion" class="tab-pane">
                    {% include '@App/GroupAgencies/tabs/distribution_portal_diffusion.html.twig'  with {'isGroup' : false} %}
                </div>
                {% endif %}
                {% if adsDatatable %}
                    <div id="tab-5" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/gestion_des_annonces.html.twig'  %}
                    </div>
                {% endif %}
                {% if houseModeleDatatable %}
                    <div id="tab-7" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/modeles.html.twig'  %}
                    </div>
                {% endif %}
                {% if is_granted('ROLE_MARKETING') %}
                <div id="tab-9" class="tab-pane">
                    {% include '@App/GroupAgencies/tabs/facturations.html.twig'  %}
                </div>
                <div id="tab-11" class="tab-pane">
                    {% include '@App/GroupAgencies/tabs/mention-legals.html.twig'  %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript  %}
    {% if trackingAdvantage %}
<script type="application/javascript">

    {% set restTracking = max(trackingAdvantage.amount - trackingAdvantage.phones.count, 0) %}
    $(document).ready(function() {
        var max = {{ trackingAdvantage.amount }};
        var checkboxes = $('#tab-portail input[type="checkbox"]');

        checkboxes.change(function(){
            var current = checkboxes.filter(':checked').length;
            checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
        });
    });
</script>
    {% endif %}
{% endblock %}