<input type="hidden" id="total-announcements" value="{{ totalannouncements }}" />
{% if announcements is defined %}
    {% if announcements is not empty %}
      {% for announcement in announcements %}
    	<tr role="row" class="even">
    		<td>
				<input type="checkbox" class="check-announcement" checkdata="{{ announcement.a_id }}" />
			</td>
			<td>
				<a data-action="view" data-id="{{ announcement.a_id }}" title="Note" href="javascript:void(0);">{{ announcement.a_title }}</a>
			</td>
			
			<td><span class="avatar avatar-xs mr10"><img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(announcement.u_avatar) }}"></span>{{ announcement.u_name }}</td>
    		<td class=" w200">{{ announcement.a_startdate|date("d/m/Y") }}</td>
    		<td class=" w200">{{ announcement.a_enddate|date("d/m/Y") }}</td>
			<td class=" text-center option w100">
				<a data-action="edit" data-id="{{ announcement.a_id }}" title="Edit announcement" href="javascript:void(0);">
					<i class="fa fa-pencil"></i>
				</a>
				<a data-action="delete" data-id="{{ announcement.a_id }}" title="Delete announcement" href="javascript:void(0);">
					<i class="fa fa-times fa-fw"></i>
				</a>
			</td>
		</tr>
      {% endfor %}
    {% else %}
    	<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">No record found.</td></tr>
    {% endif %}
{% endif %}