{% set announcementId   = "" %}
{% set title            = "" %}
{% set description      = "" %}
{% set startdate        = "" %}
{% set username         = "" %}

{% set formTitle        = "Announcement" %}

{% if announcement_id is defined %}
  {% if announcement_id is not empty %}
    {% set announcementId = announcement_id %}
  {% endif %}
{% endif %}

{% if announcements is defined %}
  {% if announcements is not empty %}
    {% set announcementId   = announcements.id %}
    {% set title            = announcements.title %}
    {% set description      = announcements.description %}
    {% set startdate        = announcements.startdate %}
  {% endif %}
{% endif %}

{% if user_name is defined %}
  {% if user_name is not empty %}
    {% set username = user_name %}    
  {% endif %}
{% endif %}

<div id="popup-wrapper" class="announcements-popup-wrapper">
  <div class="popup-main" id="my-pop" style="display: none">
    <div class="popup-box">
      <div class="popup-tital">
        
          {% if action == "add" %}
            {% set formTitle   = "Add Announcement" %}
          {% elseif action == "edit" %}
            {% set formTitle   = "Edit Announcement" %}
          {% endif %}
         
        <h3>{{ formTitle }}</h3>
        <a href="javascript:void(0);" id="popup-close-btn" class="close"></a>
      </div>

      {% if action != "view" %}
        <div class="popup-form">
          <form id="announcement-form">
            <input type="hidden" name="edit_announcement_id" id="announcement-id" value="{{ announcementId }}" />
            <div class="field">
              {{ form_widget(form.title,{ 'id': 'title','attr':{'placeholder':'Title','maxlength': 60}}) }}
            </div>
            <div class="field">
              {{ form_widget(form.description,{ 'id': 'description','attr':{'placeholder':'Description'}}) }}
            </div>
            <div class="field clearfix">
              <label class="col-md-2" for="start_date">Start date</label>
              <div class="form-group-new col-md-4">
                  {{ form_widget(form.startdate,{ 'id': 'startdate','attr':{'placeholder':'YYYY-MM-DD'}}) }}
              </div>

              <label class="col-md-2" for="end_date">End date</label>
              <div id="end-date-container" class="form-group-new col-md-4">
                  {{ form_widget(form.enddate,{ 'id': 'enddate','attr':{'placeholder':'YYYY-MM-DD'}}) }}
              </div>
            </div>
            <div class="field">
              <label class=" col-md-2" for="share_with">Share with</label>
              <div class="col-md-10">
                <div class="col-md-6">
                  {{ form_widget(form.shareWithAllTeamMember,{ 'id': 'shareWithAllTeamMember','attr':{'placeholder':'All team members'}}) }}
                  <label for="shareWithAllTeamMember">All team members </label>
                </div>
                <div class="col-md-6">
                  {{ form_widget(form.shareWithAllClient,{ 'id': 'shareWithAllClient','attr':{'placeholder':'All Clients'}}) }}
                  <label for="shareWithAllClient">All Clients</label>
                </div>
              </div>
            </div>
            <div class="field submit-field">
              <input type="submit" value="Save" />
              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
          </form>
        </div>
      {% else %}
        
        <div id="ajaxModalContent" class="note-view announcement-view">
          <div class="modal-body clearfix general-form">
            <div class="form-group">
              <div class="col-md-12 notepad-title announcementpad-title">
                <strong>{{ title }}</strong>
              </div>
            </div>
            <div><span>{{ startdate|date("d/m/Y") }}, <span> {{ username }}</span></span></div>
            <div class="col-md-12 mb15 notepad announcementpad">{{ description|raw }}</div>
          </div>

          <div class="modal-footer">
            <a title="Edit announcement" data-id="{{ announcementId }}" data-action="edit" class="btn btn-default" href="javascript:void(0);"><i class="fa fa-pencil"></i> Edit announcement</a>
            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.js-datepicker').datepicker({
      format: 'yyyy-mm-dd'
  });
</script>