{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Announcements{% endblock %}

{% block body %}
	<div id="announcements-content">
		<div class="normalheader transition animated fadeIn">
		    <div class="hpanel">
		        <div class="panel-body">
		            <a class="small-header-action" href="">
		                <div class="clip-header">
		                    <i class="fa fa-arrow-up"></i>
		                </div>
		            </a>

		            <div id="hbreadcrumb" class="pull-right m-t-lg">
		                <ol class="hbreadcrumb breadcrumb">
	                        <li>
	                            <span><a href="{{ path('fos_user_profile_show') }}">Announcements</a> </span>
	                        </li>
	                        <li class="active">
	                            <span>List </span>
	                        </li>
		                </ol>
		            </div>
		            <h2 class="font-light m-b-xs">
		                <a href="{{ path('fos_user_profile_show') }}">Announcements</a>
		            </h2>
		            <small>Résumé de votre Announcements</small>
		        </div>
		    </div>
		</div>

		<div id="announcements-list-content" class="content animate-panel">
	    	<div class="row">
	        	<div class="col-lg-12" style="">
	            	<div class="hpanel hgreen">
	                	<div class="panel-body">
							<div class="p20 announcements-page module-page clearfix" id="page-content">
								<div class="panel panel-default">
									<div class="page-title clearfix">
									    <h1> Announcements (Private)</h1>
									    <div class="title-button-group">
									        <a id="add_announcement" data-title="Add announcements" title="Add announcements" class="btn btn-default fancybox">
									        	<i class="fa fa-plus-circle"></i> Add announcements
									        </a>            
									        <input type="hidden" href="#my-pop" class="popup2" />
									    </div>
									</div>
									<div class="table-responsive">
									    <div id="announcements-table_wrapper" class="dataTables_wrapper no-footer">
									    	<div class="datatable-tools">
									    		<div class="col-md-3">
									    			<div id="announcements-table_length" class="dataTables_length">
									    				<label>
									    					<select id="announcements-per-page" title="" tabindex="-1" class="" aria-controls="announcements-table" name="announcements-table_length">
									    						<option value="2">2</option>
									    						<option value="3">3</option>
									    						<option value="4">4</option>
									    						<option value="5">5</option>
									    						<option value="10">10</option>
									    						<option value="25">25</option>
									    						<option value="50">50</option>
									    						<option value="100">100</option>
									    					</select>
									    				</label>
									    			</div>
									    		</div>
									    		

									    		
									    		<div class="col-md-9 custom-toolbar">

									    			<div class="dataTables_filter" id="announcements-table_filter">
									    				<label>
									    					<input id="search-keyword" type="search" aria-controls="announcements-table" placeholder="Search" class=""/>
									    				</label>
									    			</div>
                                                    <div class="print_container">
                                                        <a class="print_button" id="print_announcements" title="Print Announcements"><span>Print Selected</span></a>
                                                    	<a class="print_button" id="print_all_announcements" title="Print Announcements"><span>Print All</span></a>
                                                    </div>
									    		</div>
									    		<div style="display: none;" class="dataTables_processing" id="announcements-table_processing">
									    			<div class="table-loader">
									    				<span class="loading"></span>
									    			</div>
									    		</div>
									    	</div>

											<table cellspacing="0" width="100%" class="display dataTable no-footer" id="announcements-table" role="grid" aria-describedby="announcements-table_info">
												<thead>
											        <tr role="row">
											        	<th class="check-all"> <input type="checkbox" id="check-all-announcement" /> </th>
											        	<th class="sorting" sort-by="a.title" sorted="">Title</th>
											        	<th class="sorting" sort-by="u.name" sorted="">Created by</th>
											        	<th class="sorting" sort-by="a.startdate" sorted="">Start date</th>
											        	<th class="sorting" sort-by="a.enddate" sorted="">End date</th>
											        	<th class="text-center sorting" sort-by="a.id" sorted=""><i class="fa fa-bars"></i></th>
											        </tr>
											    </thead>
											    <tbody id="announcements-list-rows">
											    	
												</tbody>
											</table>

											<div class="datatable-tools clearfix">
												<div class="col-md-3">
													<div class="dataTables_info" id="announcements-table_info" role="status" aria-live="polite">
														<span id="announcements-start">1</span>-<span id="announcements-end"></span> / <span class="total-announcements">{{ totalannouncements }}</span>
													</div>
												</div>
												<div class="col-md-9">
													<div class="dataTables_paginate paging_simple_numbers" id="announcements-table_paginate">
														<a class="paginate_button previous disabled" aria-controls="announcements-table" data-dt-idx="0" tabindex="0" id="announcements-table_previous">
															<i class="fa fa-angle-double-left"></i>
														</a>
														<span>
															<a id="current-announcements-page" class="paginate_button current" aria-controls="announcements-table" data-dt-idx="1" tabindex="0">1</a>
														</span>
														<a class="paginate_button next disabled" aria-controls="announcements-table" data-dt-idx="2" tabindex="0" id="announcements-table_next">
															<i class="fa fa-angle-double-right"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="loader-background" style="display:none;">
			<div id="ajaxModalOriginalContent">
			    <div class="original-modal-body">
			        <div class="circle-loader"></div>
			    </div>
			</div>
		</div>
	</div>

{% endblock %}


{% block javascript %}
	{% javascripts '@AnnouncementsBundle/Resources/public/js/*' filter='yui_js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
		
	<script>
	$("document").ready(function(){
	    renderAnnouncementsList(true);
	});
	</script>
{% endblock %}

{% block stylesheets %}
	{% include 'AnnouncementsBundle:includes/announcement_styles.html.twig' %}
{% endblock stylesheets %}