<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="32x32">
    {% block head %}
	    {% include 'AppBundle:Common:head_styles.html.twig' %}
        {% include 'AppBundle:Common:head_scripts.html.twig' %}
    {% endblock %}
    
</head>
<body class="{{ body_class is defined ? body_class : 'fixed-navbar fixed-sidebar' }}">

{% trans_default_domain 'FOSUserBundle' %}


<div class="hpanel hgreen">
	<div class="panel-body">
		<div class="announcements-page module-page">
			<table cellspacing="0" width="100%" class="display dataTable no-footer" id="announcements-table" role="grid" aria-describedby="announcements-table_info">
				<thead>
			        <tr role="row">
			        	<th class="sorting" sort-by="a.title" sorted="">Title</th>
			        	<th class="sorting" sort-by="u.name" sorted="">Created by</th>
			        	<th class="sorting" sort-by="a.startdate" sorted="">Start date</th>
			        	<th class="sorting" sort-by="a.enddate" sorted="">End date</th>
			        </tr>
			    </thead>
			    <tbody id="announcements-list-rows">
					{% if announcements is defined %}
					    {% if announcements is not empty %}
					      {% for announcement in announcements %}
					    	<tr role="row" class="even">
								<td>
									<a data-action="view" data-id="{{ announcement.a_id }}" title="Note" href="javascript:void(0);">{{ announcement.a_title }}</a>
								</td>					
								<td><span class="avatar avatar-xs mr10"><img src="{{ asset(announcement.u_avatar) }}" class="img-circle m-b m-t-md avatar" alt="logo"></span>{{ announcement.u_name }}</td>
					    		<td class=" w200">{{ announcement.a_startdate|date("d/m/Y") }}</td>
					    		<td class=" w200">{{ announcement.a_enddate|date("d/m/Y") }}</td>
							</tr>
					      {% endfor %}
					    {% else %}
					    	<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">No record found.</td></tr>
					    {% endif %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
	<script type="text/javascript">
		$(document).ready(function(){
			window.print();
		});
	</script>
</html>
{% block stylesheets %}
	{% include 'AnnouncementsBundle:includes/announcement_styles.html.twig' %}
{% endblock stylesheets %}