{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'registration.submit'|trans }}{% endblock %}

{% block blank_body %}

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img src="{{ asset('images/logo.png') }}" style="height: 150px;" /><br/>
                <small>Pour avoir accès à toutes les fonctionnalités !</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register',  'id': 'loginForm'}}) }}
                            {{ form_widget(form, {'attr': {'class': 'task_field'}}) }}
                            <div class="text-center">
                                <a href="{{ path('homepage') }}" class="btn btn-default" type="submit">{{ 'registration.cancel'|trans }}</a>
                                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                            </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="label label-success pull-right">{{ site.version }}</span>
             {{ site.copyright|raw }}
       </div>
    </div>
</div>
{% endblock %}