{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Annonce {{ ads.libelle }} validée
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ ads.getOwner().name }} ,
    </p>
    <p>Nous vous informons que {{ user.name }} a validé votre annonce: <br><br>
        <b>REF : </b>{{ ads.reference }}<br>
        <b>Titre : </b>{{ ads.libelle }}<br>
        <b>Ville : </b>{{ ads.ville }}<br>
        <b>Prix : </b>{{ ads.prix }}<br>
    </p>
{% endblock %}