{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Annonce "{{ ad.libelle() }}" validée
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ ad.owner.name }} ,
    </p>
    <p>Nous vous informons que {{ chef.name }} a validé votre annonce: <br /><br />
        {{ ad.reference }} <br />
        <a href="{{ url('ads_show',{'remoteId':ad.remoteId}) }}">{{ ad.libelle }} </a><br />
        {{ ad.ville }} <br />
        {{ ad.prix ? ad.prix~' €':'' }} <br />
    </p>
{% endblock %}