{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Annonce "{{ ad.libelle() }}" en attende de modération
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ chef.name }} ,
    </p>
    <p>Nous vous informons que votre collaborateur {{ ad.owner.name }} a ajouté une nouvelle annonce en attente de votre
        modération :<br /><br />
        {{ ad.reference }} <br />
        <a href="{{ url('ads_show',{'remoteId':ad.remoteId}) }}">{{ ad.libelle }} </a><br />
        {{ ad.ville }} <br />
        {{ ad.prix ? ad.prix~'€':'' }} <br /><br/>
        Merci de bien vouloir en prendre connaissance rapidement.
    </p>
{% endblock %}