{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Commentaire sur Annonce "{{ ad.libelle() }}" en modération
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ ad.owner.name }},
    </p>
    <p>Nous vous informons que {{ chef.name }} vous a fait parvenir un commentaire concernant la modération de votre
        annonce :<br /><br />
        {{ ad.reference }} <br />
        <a href="{{ url('ads_show',{'remoteId':ad.remoteId}) }}">{{ ad.libelle }} </a><br />
        {{ ad.ville }} <br />
        {{ ad.prix ? ad.prix~'€':'' }} <br /><br/>
        <p>{{ msg }}</p>
        Merci de bien vouloir en prendre connaissance rapidement.
    </p>
{% endblock %}