{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "model.add" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ path('housemodels_list') }}">{{ "model.list" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ block('title') }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <a href="#">{{ block('title') }}</a>
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body house_model">
                    {{ form_start(form,{'attr':{'id':'houseModel'}}) }}
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {% include 'AppBundle:Common:Flow/stepList_content.html.twig' %}
                    <div class="tab-content">
                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                        {% if flow.getCurrentStepNumber() == 1 %}
                        <div id="step1" class="tab-pane active">
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                    <tr><td>
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.maison.type) }}
                                    {{ form_row(form.maison.typeArchitecture) }}
                                    {{ form_row(form.maison.typeCharpante) }}
                                    {{ form_row(form.maison.typeTuile) }}
                                    {{ form_row(form.maison.materiauxTuile) }}
                                    {{ form_row(form.maison.zinguerie) }}
                                    {{ form_row(form.maison.menuiserie) }}
                                    {{ form_row(form.maison.volets) }}
                                    {{ form_row(form.maison.porteGarage) }}
                                    {{ form_row(form.maison.surface) }}
                                    {{ form_row(form.titreImagePrincipale) }}
                                    <form id="form1" runat="server">
                                    {{ form_row(form.imagePrincipale, {
                                        'id': 'imgInp',
                                        'attr': { 'class' : 'custom-class filestyle' },
                                        'brouillon': brouillon
                                        } )
                                    }}
                                    </form>
                                    </td></tr>
                                    {% if mode == 'add' %}
                                     <tr><td width="100" colspan="2"><img class="filestyle" src="#" /></td></tr>
                                     {% endif %}
                                   <tr><td>
                                    {{ form_row(form.maison.description) }}
                                   </td></tr>
                                    <tr>
                                        <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
                                        <td>
                                            {% set documents =  brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(houseModel.getImagesDocuments()) : houseModel.getImagesDocuments() %}
                                            {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents': documents} %}
                                            <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
                                        <td>
                                            {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(houseModel.getPdfDocuments()) : houseModel.getPdfDocuments() %}
                                            {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                                            <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone_pdf"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% elseif flow.getCurrentStepNumber() == 2 %}
                        <div id="step2" class="p-m tab-pane active">
                            <h3>{{ "Prestations Intérieures"| trans  }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                    {{ form_row(form.maison.nbPieces) }}
                                    {{ form_row(form.maison.nbChambres) }}
                                    {{ form_row(form.maison.nbSalleBain) }}
                                    {{ form_row(form.maison.siSalleEau) }}
                                    {{ form_row(form.maison.siToilette) }}
                                    {{ form_row(form.maison.siSalleAManger) }}
                                    {{ form_row(form.maison.siCheminee) }}
                                    {{ form_row(form.maison.typeCuisine) }}
                                    {{ form_row(form.maison.revetementDeSol) }}
                                    {{ form_row(form.maison.typeDeChauffage) }}
                                    {{ form_row(form.maison.energieDeChauffage) }}
                                    {{ form_row(form.maison.siBureau) }}
                                    {{ form_row(form.maison.siPlacards) }}
                                    {{ form_row(form.maison.siDressing) }}
                                    {{ form_row(form.maison.siBuanderie) }}
                                    {{ form_row(form.maison.siAlarme) }}
                                    {{ form_row(form.maison.siTV) }}
                                    {{ form_row(form.maison.siPMR) }}
                                </tbody>
                            </table>
                            <h3>{{ "Prestations Extérieures"| trans  }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                    {{ form_row(form.maison.siParking) }}
                                    {{ form_row(form.maison.siTerrasse) }}
                                    {{ form_row(form.maison.siBalcons) }}
                                    {{ form_row(form.maison.siVeranda) }}
                                    {{ form_row(form.maison.siCave) }}
                                    {{ form_row(form.maison.siPiscine) }}
                                </tbody>
                            </table>
                            <h3>{{ "Consommation Energétique"| trans  }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                    {{ form_row(form.maison.DPE) }}
                                    {{ form_row(form.maison.dpeValue) }}
                                    {{ form_row(form.maison.GES) }}
                                    {{ form_row(form.maison.gesValue) }}
                                </tbody>
                            </table>
                            <h3>{{ 'Certifications et labels'|trans }}</h3>
                            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                <tbody>
                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                {{ form_row(form.maison.hauteQualiteEnvironnementale) }}
                                {{ form_row(form.maison.nfLogement) }}
                                {{ form_row(form.maison.labelHabitatEnvironnement) }}
                                {{ form_row(form.maison.THPE) }}
                                {{ form_row(form.maison.HPE_ENR) }}
                                {{ form_row(form.maison.labelBatimentBasseConsommation) }}
                                {{ form_row(form.maison.labelHabitatEnvironnementEffinergie) }}
                                {{ form_row(form.maison.planLocalHabitat) }}
                                {{ form_row(form.maison.RT2012) }}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                        <div id="step3" class="p-m tab-pane active clearfix">
                            {% set documents = brouillon.getDocuments() %}
                            {% set documentsCount = documents|length %}
                            <div class="col-lg-3">
                                <div class="hpanel hred" id="documents-review">
                                    <h3>{{ 'Photo principale'|trans }}</h3>
                                    <div class="uploadedDocument">
                                        <div class="hpanel">
                                            <div class="panel-body file-body">
                                                <img src="/{{ brouillon.getImagePrincipale() ? brouillon.getImagePrincipale() : houseModel.getImagePrincipale() }}" class="img-responsive" />
                                            </div>
                                            <div class="panel-footer"><span><b>{{ houseModel.getTitreImagePrincipale() }}</b></span></div>
                                        </div>
                                    </div>
                                    {% if documentsCount > 0 %}
                                        <hr/>
                                        <h3>{{ 'Photos secondaire'|trans }}</h3>
                                        {% for document in documents %}
                                            <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                                <div class="hpanel">
                                                    <div class="panel-body file-body">
                                                        {% if document.getMimeType() == 'application/pdf' %}
                                                            <i class="fa fa-file-pdf-o text-info"></i>
                                                        {% else %}
                                                            <img src="{{ ('/uploads/housemodels/' ~ document.getName()) }}" class="img-responsive" />
                                                        {% endif %}
                                                    </div>
                                                    <div class="panel-footer">
                                                        <span>{{ document.getTitle() }}</span>
                                                        <div class="btn-group">
                                                            <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                  <div class="hpanel hgreen">
                                    <div class="panel-body">
                                        <h3>{{ houseModel.getName() }}</h3>
                                        {% set maison = houseModel.getMaison() %}
                                        <div id="desc-review">{{ maison.getDescription()|raw }}</div>
                                        <table class="table table-bordered table-striped" style="clear: both">
                                            <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ maison.getType() }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td><td>{{ maison.getTypeArchitecture() }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ maison.getSurface() ~'m²'}}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td><td>{{ maison.nbPieces() }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td><td>{{ maison.getNbChambres() }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td><td>{{ maison.getNbSalleBain() }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td><td>{{ maison.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleEau() ? 'Nombre: '~maison.getNbSalleEau() : '' }}</td></tr>
                                                <tr><td><b>{{ 'ads.ad.parking'|trans }}</b></td><td>{{ maison.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiParking() ? 'Nombre: '~maison.getNbParking() : '' }}<br/>{{ maison.getSiParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : '' }}</td></tr>
                                                {% if maison.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ maison.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiToilette() ? 'Nombre: '~maison.getNbToilette() : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiSejourValue() %}<tr><td><b>{{ 'ads.ad.livingroom'|trans }}</b></td><td>{{ maison.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiSalleAMangerValue() %}<tr><td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td><td>{{ maison.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getTypeCuisine() %}<tr><td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td><td>{{ maison.getTypeCuisine() }}</td></tr>{% endif %}
                                                {% if maison.getSiBureauValue() %}<tr><td><b>{{ 'ads.ad.bureau'|trans }}</b></td><td>{{ maison.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiBuanderieValue() %}<tr><td><b>{{ 'ads.ad.buanderie'|trans }}</b></td><td>{{ maison.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiTerrasseValue() %}<tr><td><b>{{ 'ads.ad.terrasse'|trans }}</b></td><td>{{ maison.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiTerrasse() ? 'Nombre: '~maison.getNbTerrasse() : '' }}<br/>{{ maison.getSiTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiDressingValue() %}<tr><td><b>{{ 'ads.ad.dressing'|trans }}</b></td><td>{{ maison.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiBalconsValue() %}<tr><td><b>{{ 'ads.ad.balcon'|trans }}</b></td><td>{{ maison.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBalcons() ? 'Nombre: '~maison.getNbBalcons() : '' }}<br/>{{ maison.getSiBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiCaveValue() %}<tr><td><b>{{ 'ads.ad.cave'|trans }}</b></td><td>{{ maison.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiVerandaValue() %}<tr><td><b>{{ 'ads.ad.veranda'|trans }}</b></td><td>{{ maison.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiChemineeValue() %}<tr><td><b>{{ 'ads.ad.cheminee'|trans }}</b></td><td>{{ maison.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getSiPlacardsValue() %}<tr><td><b>{{ 'ads.ad.placards'|trans }}</b></td><td>{{ maison.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}</td></tr>{% endif %}
                                                {% if maison.getRevetementDeSol() %}<tr><td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td><td>{{ maison.getRevetementDeSol() }}</td></tr>{% endif %}
                                                {% if maison.getDPE() %}<tr><td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td><td>{{ maison.getDPE() }}</td></tr>{% endif %}
                                                {% if maison.getGES() %}<tr><td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td><td>{{ maison.getGES() }}</td></tr>{% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript  %}
{% include 'AppBundle:HouseModels:includes/dropzone.html.twig' %}
    {% if flow.getCurrentStepNumber() == 1  %}
    {% endif %}
    {% include 'AppBundle:HouseModels:includes/javascript.html.twig' %}
     <script>
    function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
    $('.filestyle').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
    }
    }

    $("#imgInp").change(function(){
    readURL(this);
    });
    </script>
{% endblock %}