{% set mode = mode ? mode : 'paysage' %}
<div class="container print print_{{ mode }}">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 cover-image-container">
            <div class="cover-image" style="border-bottom: 30px solid {{ houseModel.group.agency.color ? houseModel.group.agency.color : '#efefef' }};">
                <img src="{{ houseModel.getImagePrincipale()|imagine_filter('cover_paysage') }}" class="img-full" />
            </div>
            {% if houseModel.group.agency.avatar %}
            <div class="cover-image-logo">
                <img src="{{ asset(houseModel.group.agency.avatar|imagine_filter('cover_logo')) }}" class="img-circle m-b m-t-md" style="border: 10px solid {{ houseModel.group.agency.color ? houseModel.group.agency.color : '#efefef' }};" />
            </div>
            {% endif %}
            {% set title =  "Modèle" ~ " - "~houseModel.getName()  %}
            <h1>{{ title|raw }}</h1>
        </div>
    </div>
    <div class="row content-container">
        <div class="{{ not houseModel.getImagesDocuments() or mode == "portrait" ? 'col-lg-12 col-md-12  col-sm-12 col-xs-12' : 'col-xs-8 col-sm-8 col-lg-8 col-md-8' }}">
            <h3>Fiche technique</h3>
            <hr/>
            {% set maison = houseModel.getMaison() %}
            <table class="table table-bordered table-striped" style="clear: both">
                <tbody>
                <tr><td width="35%"></td><td width="65%"></td></tr>
                {% if maison %}<tr><td><b>Type de maison</b></td><td>{{ maison.type()}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Type d'architecture</b></td><td>{{ maison.getTypeArchitectureValue()}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Surface habitable</b></td><td>{{ maison.getSurface() ~'m²'}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Nombre de Pièces</b></td><td>{{ maison.nbPieces() }}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Nombre de chambres</b></td><td>{{ maison.nbChambres}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Nombre de salle de bain</b></td><td>{{ maison.nbSalleBain}}</td></tr>{% endif %}
                {% if maison %}
                    <tr><td><b>Salle d'eau</b></td>
                    <td>
                        {% if maison.siSalleEau %}Oui
                    </td>
                    </tr>
                    {% if maison.nbSalleBain %}
                    <tr><td><b>Nombre</b></td><td>{{ maison.nbSalleBain()}}</td></tr>
                    {% endif %}
                        {% else %}Non{% endif%}
                {% endif %}

                {% if maison %}
                    <tr><td><b>Garage</b></td>
                    <td>
                    {% if maison.siParking %}Oui
                        </td>
                        </tr>
                    {% if maison.nbParking %}
                        <tr><td><b>Nombre</b></td><td>{{ maison.nbParking()}}</td></tr>
                    {% endif %}
                    {% if maison.getSurfaceParking() %}
                        <tr><td><b>Surface</b></td><td>{{ maison.getSurfaceParking() ~'m²'}}</td></tr>
                    {% endif %}
                    {% else %}Non{% endif%}
                {% endif %}

                {% if maison %}<tr><td><b>Type de cuisine</b></td><td>{{ maison.typeCuisine}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Revêtement de sol</b></td><td>{{ maison.revetementDeSol}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Bilan consommation énergétique</b></td><td>{{ maison.dpe}}</td></tr>{% endif %}
                {% if maison %}<tr><td><b>Bilan émission GES</b></td><td>{{ maison.ges}}</td></tr>{% endif %}


                </tbody>
            </table>
        </div>
        {% if houseModel.getImagesDocuments() %}
        <div class="{{ mode == "portrait" ? 'col-lg-12 col-md-12  col-sm-12 col-xs-12' : 'col-sm-3 col-lg-3 col-md-3 col-xs-3' }} images-secondary-housemodel">
            {% set params = {'documents':houseModel.getImagesDocuments(),'type': 'ad','remove':null,'review': true  } %}
            {% if mode == "portrait" %}
                {% set params = {'documents':houseModel.getImagesDocuments(),'type': 'ad','remove':null,  } %}
            {% endif %}
            {% set documents = houseModel.getImagesDocuments() %}
            {% if mode == "portrait" %}
                {% for document in documents %}
                    {% if loop.first %}<div class="row">{% endif %}
                    <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 pull-left uploadedDocument">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                {% if document.getMimeType() == 'application/pdf' %}
                                    <i class="fa fa-file-pdf-o text-info"></i>
                                {% else %}
                                    <img src="{{ asset(('/uploads/housemodels/' ~ document.getName())) }}" class="img-responsive" />
                                {% endif %}
                            </div>
                            <div class="panel-footer">
                                <span>{{ document.getTitle() }}</span>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 or loop.last  %}
                    </div>
                    {% if not loop.last %}<div class="row">{% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="row">
                    {% for document in documents %}
                        {% if loop.index == 1 or loop.index == 2 %}
                            <div class="uploadedDocument">
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        {% if document.getMimeType() == 'application/pdf' %}
                                            <i class="fa fa-file-pdf-o text-info"></i>
                                        {% else %}
                                            <img src="{{ asset(('/uploads/housemodels/' ~ document.getName())) }}" class="img-responsive" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
            {% if mode == "paysage" %}
            <div class="content-container">
                {% for document in documents %}
                {% if loop.index > 2 %}
                {% if loop.index == 3 %}<div class="row">{% endif %}
                <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 pull-left uploadedDocument">
                    <div class="hpanel">
                        <div class="panel-body file-body">
                            {% if document.getMimeType() == 'application/pdf' %}
                                <i class="fa fa-file-pdf-o text-info"></i>
                            {% else %}
                                <img src="{{ asset(('/uploads/housemodels/' ~ document.getName())) }}" class="img-responsive" />
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if (loop.index +2) % 4 == 0 or loop.last  %}
                </div>
                {% if not loop.last %}
                <div class="row">
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
        {% endif %}
    </div>
    <div class="print-footer" style="background-color: {{ houseModel.group.agency.color ? houseModel.group.agency.color : '#efefef' }};"></div>
</div>
    </div>
</div>