<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ houseModel.getName() }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="32x32">
    {% block head %}
        {% include 'AppBundle:Common:head_styles.html.twig' %}
        {% include 'AppBundle:Common:head_scripts.html.twig' %}
    {% endblock %}
    {% block stylesheets %}
        <style>
            .uploadedDocument .file-body {
                max-height: 190px;
                overflow: hidden;
            }
        </style>
    {% endblock %}
</head>
<body>
{% include "AppBundle:HouseModels:print_mode.html.twig" with {'mode': 'portrait'} %}
{% include "AppBundle:HouseModels:print_mode.html.twig" with {'mode': 'paysage'} %}
{% block javascript %}
    {% if print is defined %}
        <script>
            window.print();
        </script>
    {% endif %}
{% endblock %}
</body>
</html>