{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ houseModel.getName() }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ path('housemodels_list') }}">{{ "model.list" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ houseModel.getName() }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body printable">
                    <div class="row">
                        <div class="dt-buttons dt-buttons-ads">
                            <a class="dt-button buttons-print-paysage buttons-html5" href="{{ path('housemodel_print',{"remoteId":houseModel.remoteId}) }}"><span>Export PDF</span></a>
                        </div>
                    </div>
                    {% set documentsCount = houseModel.getDocuments()|length %}
                    <div class="{% if documentsCount >= 5 %}col-lg-6{% else %}col-lg-3{% endif %}">
                        <div class="hpanel hred" id="documents-review">
                            <div class="row">
                                <h3>{{ 'Photo principale'|trans }}</h3>
                                <div class="uploadedDocument">
                                    <div class="hpanel">
                                        <div class="panel-body file-body">
                                            <img src="{{ houseModel.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                                        </div>
                                        <div class="panel-footer"><span><b>{{ houseModel.getTitreImagePrincipale() }}</b></span></div>
                                    </div>
                                </div>
                                {% if documentsCount %}
                                    <h3>{{ 'Photos secondaire'|trans }}</h3>
                                    <hr/>
                                    {% for document in houseModel.getDocuments() %}
                                        <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    {% if document.getMimeType() == 'application/pdf' %}
                                                        <i class="fa fa-file-pdf-o text-info"></i>
                                                    {% else %}
                                                        <img src="{{ ('/uploads/housemodels/' ~ document.getName()) }}" class="img-responsive" />
                                                    {% endif %}
                                                </div>
                                                <div class="panel-footer">
                                                    <span>{{ document.getCreated()|date('d-m-Y') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="{% if documentsCount >= 5 %}col-lg-6{% else %}col-lg-9{% endif %}">
                        <div class="hpanel hgreen">
                            <div class="panel-body" id="table-review">
                                <div class="pull-right text-right edit-btn">
                                    <div class="btn-group">
                                        <a href="{{ path('housemodel_edit',{'remoteId':houseModel.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                                    </div>
                                </div>
                                <h3>{{ houseModel.getName() }}</h3>
                                {% set maison = houseModel.getMaison() %}
                                <div id="desc-review">{{ maison.getDescription()|raw }}</div>
                                <table class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                        <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ maison.getType() }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td><td>{{ maison.getTypeArchitecture() }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ maison.getSurface() ~'m²'}}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td><td>{{ maison.nbPieces() }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td><td>{{ maison.getNbChambres() }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td><td>{{ maison.getNbSalleBain() }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td><td>{{ maison.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleEau() ? 'Nombre: '~maison.getNbSalleEau() : '' }}</td></tr>
                                        <tr><td><b>{{ 'ads.ad.parking'|trans }}</b></td><td>{{ maison.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiParking() ? 'Nombre: '~maison.getNbParking() : '' }}<br/>{{ maison.getSiParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : '' }}</td></tr>
                                        {% if maison.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ maison.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiToilette() ? 'Nombre: '~maison.getNbToilette() : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiSejourValue() %}<tr><td><b>{{ 'ads.ad.livingroom'|trans }}</b></td><td>{{ maison.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiSalleAMangerValue() %}<tr><td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td><td>{{ maison.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getTypeCuisine() %}<tr><td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td><td>{{ maison.getTypeCuisine() }}</td></tr>{% endif %}
                                        {% if maison.getSiBureauValue() %}<tr><td><b>{{ 'ads.ad.bureau'|trans }}</b></td><td>{{ maison.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiBuanderieValue() %}<tr><td><b>{{ 'ads.ad.buanderie'|trans }}</b></td><td>{{ maison.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiTerrasseValue() %}<tr><td><b>{{ 'ads.ad.terrasse'|trans }}</b></td><td>{{ maison.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiTerrasse() ? 'Nombre: '~maison.getNbTerrasse() : '' }}<br/>{{ maison.getSiTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiDressingValue() %}<tr><td><b>{{ 'ads.ad.dressing'|trans }}</b></td><td>{{ maison.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiBalconsValue() %}<tr><td><b>{{ 'ads.ad.balcon'|trans }}</b></td><td>{{ maison.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBalcons() ? 'Nombre: '~maison.getNbBalcons() : '' }}<br/>{{ maison.getSiBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiCaveValue() %}<tr><td><b>{{ 'ads.ad.cave'|trans }}</b></td><td>{{ maison.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiVerandaValue() %}<tr><td><b>{{ 'ads.ad.veranda'|trans }}</b></td><td>{{ maison.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiChemineeValue() %}<tr><td><b>{{ 'ads.ad.cheminee'|trans }}</b></td><td>{{ maison.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getSiPlacardsValue() %}<tr><td><b>{{ 'ads.ad.placards'|trans }}</b></td><td>{{ maison.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}</td></tr>{% endif %}
                                        {% if maison.getRevetementDeSol() %}<tr><td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td><td>{{ maison.getRevetementDeSol() }}</td></tr>{% endif %}
                                        {% if maison.getDPE() %}<tr><td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td><td>{{ maison.getDPE() }}</td></tr>{% endif %}
                                        {% if maison.getGES() %}<tr><td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td><td>{{ maison.getGES() }}</td></tr>{% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}