{% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
{{ form_start(form,{'id':'contactForm','action':path('gestion_contact_add',{'remoteId' : opportunity.remoteId})}) }}
<h3>{{ 'contact.add'| trans  }}</h3>
<table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.organisation) }}
    {{ form_row(form.civilite) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email,{'attr':{'placeholder':'user@email.com'}}) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.mobile) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.telephoneBureau) }}
    {{ form_row(form.pays) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.codePostal) }}
    {{ form_row(form.address) }}
    {{ form_row(form.group_contacts) }}
    </tbody>
</table>
<h3>{{ 'contact.conjoint'| trans  }}</h3>
<table class="table table-bordered table-striped" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.conjoint_nom) }}
    {{ form_row(form.conjoint_prenom) }}
    {{ form_row(form.conjoint_email,{'attr':{'placeholder':'user@email.com'}}) }}
    {{ form_row(form.conjoint_telephone) }}
    {{ form_row(form.conjoint_mobile) }}
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    <input type="submit" class="btn btn-primary" value="{{ 'action.add'|trans }}" />
</div>
{{ form_end(form) }}