{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "contact.import" | trans }}{% endblock %}
{% block action %}{{ "action.import" | trans }}{% endblock %}
{% block body %}

{% block breadcrumb %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "contact.import" | trans }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <a href="{{ asset('bundles/app/var/contacts.csv')  }}" class="btn btn-info" download><i class="glyphicon glyphicon-download"></i> {{ "Downloads sample file"|trans }}</a>
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {{ form_start(form) }}
                    <h3>{{ block('title') }}</h3>
                    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {% if form.group is defined %}
                            {{ form_row(form.group,{'attr':{'placeholder':'Groupe','class': 'select2'}}) }}
                        {% endif %}
                        {{ form_row(form.file) }}
                        {{ form_row(form.group_contacts) }}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary" value="{{ block('action') }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="application/javascript">

    </script>
{% endblock %}