{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "bugs.add" | trans }}{% endblock %}
{% block action %}{{ "action.add" | trans }}{% endblock %}
{% block body %}

{% block breadcrumb %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "bugs.add" | trans }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {{ form_start(form) }}
                    <h3>{{ 'bugs.add'| trans  }}</h3>
                    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {% if form.bigGroups is defined %}
                            {{ form_row(form.bigGroups,{'id':'bigGroups','attr':{'placeholder':'Groupes','class': 'select2'}}) }}
                        {% endif %}
                        <tr id="groups">
                            {% if form.group is defined %}
                                <td class="col-sm-4">{{ form_label(form.group) }}</td>
                                <td class="col-sm-8">
                                    {{ form_widget(form.group,{'attr':{'placeholder':'Agences','class': 'select2'}}) }}
                                </td>
                            {% endif %}
                        </tr>
                        {% if form.reporter is defined %}
                            {{ form_row(form.reporter,{'attr':{'placeholder':'Groupe','class': 'select2'}}) }}
                            {{ form_row(form.status,{'attr':{'placeholder':'Groupe','class': 'select2'}}) }}
                        {% endif %}
                        {{ form_row(form.title) }}
                        {{ form_row(form.priority) }}
                        {{ form_row(form.description) }}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <a class="btn btn-default" href="{{ path('bugs_list') }}">{{ 'action.cancel'|trans }}</a>
                        <input type="submit" class="btn btn-primary" value="{{ block('action') }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add_contacts_group_modal" id="add_contacts_group_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#add_contacts_group').on('click',function() {
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: Routing.generate('gestion_contacts_groups_add'),
                    success: function (res) {
                        $('#add_contacts_group_modal .modal-body').html(res.content);
                        $('#add_contacts_group_modal form').on('submit',function() {
                            $(this).ajaxSubmit({
                                success: function(data) {
                                    if(data.success) {
                                        $('#group').trigger('change');
                                        $('#add_contacts_group_modal .modal-body').html('');
                                        $('#add_contacts_group_modal').modal('hide');
                                        var group = document.getElementById('group');
                                        var _data = {};
                                        if(group != null)
                                            _data[group.name] = group.value;
                                        $.ajax({
                                            type: "POST",
                                            data: _data,
                                            success: function (groupRes) {
                                                var parser          = new DOMParser();
                                                var doc             = parser.parseFromString(groupRes, 'text/html');
                                                var target          = document.getElementById('contact_container');
                                                target.innerHTML    = doc.getElementById('contact_container').innerHTML;
                                                $('#contact_container').select2();
                                                $('#contact_container').val(data.contact).change();
                                            }
                                        });
                                    } else {
                                        $('#add_contacts_group_modal .modal-body').html(data.content);
                                    }
                                }
                            });
                            return false;
                        });
                    }
                });
            });


            $('#bigGroups').on('change', function(){
                $(this).closest('form').ajaxSubmit({
                    success: function(res) {
                        $('#groups').replaceWith($(res).find('#groups'));
                    }
                });
            });
        });
    </script>
{% endblock %}