{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "bugs.voir" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "bugs.voir" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "bugs.voir" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-3">
                <div class="hpanel">
                    <div class="panel-body">
                        {% set currentPath = app.request.attributes.get('_route') %}
                        <ul class="mailbox-list">
                            <li class="{{ (currentPath == 'gestion_bugs_view') ? 'active' : '' }}">
                                <a href="{{ path('gestion_bugs_view',{'remoteId':bug.remoteId}) }}"><i class="fa fa-info-circle"></i> Détails du ticket</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_bugs_comments') ? 'active' : '' }}">
                                <a href="{{ path('gestion_bugs_comments',{'remoteId':bug.remoteId}) }}">
                                    {% if bug.comments|length %}<span class="pull-right">{{ bug.comments|length }}</span>{% endif %}
                                    <i class="fa fa-comments"></i> Commentaires
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                {% block main %}
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <div class="btn-group">
                                <a href="{{ path('gestion_bugs_edit', {'remoteId': bug.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                            </div>
                        </div>
                        <h3><a href="">{{ bug.title }}</a></h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>Détails</h3>
                                <table class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                        <tr><td width="35%">{{ "bugs.title"|trans }}</td><td width="65%">{{ bug.title }}</td></tr>
                                        <tr><td>{{ "bugs.creator"|trans }}</td><td>{{ bug.owner.name }}</td></tr>
                                        <tr><td>{{ "bugs.description"|trans }}</td><td>{{ bug.description|raw }}</td></tr>
                                        <tr>
                                            <td>{{ "bugs.status"|trans }}</td>
                                            <td>
                                                {% if bug.status == 'resolved' %}
                                                    <span class="label label-success" >Résolu</span>
                                                {% elseif bug.status == 'progress' %}
                                                    <span class="label label-warning" >En cours</span>
                                                {% else %}
                                                    <span class="label label-info" >Ouvert</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ "bugs.priority"|trans }}</td>
                                            <td>
                                                {% if bug.priority == 'high' %}
                                                    <span class="label label-success" >Élevé</span>
                                                {% elseif bug.priority == 'medium' %}
                                                    <span class="label label-warning" >Moyen</span>
                                                {% else %}
                                                    <span class="label label-info" >Bas</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}