{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "payment.types.bank_wire" | trans }}{% endblock %}
{% block body %}
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h4>Commande N°<small>{{ order.referenceCommand }}</small></h4>
                        <p><b>{{ 'invoice.transfert_object'|trans }}:</b> {{ order.referenceCommand }}</p>
                        <p><b>{{ 'invoice.total_amount'|trans }}:</b> {{ order.totalAmount~'€ TTC' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}