<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quotation</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="32x32">
    <link href="{{ absolute_url(asset('bundles/app/css/bootstrap.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('bundles/app/css/pdf.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('bundles/app/css/style.css')) }}" rel="stylesheet" type="text/css">
    <link href="{{ absolute_url(asset('bundles/front/css/pdf.css')) }}" rel="stylesheet" type="text/css">
</head>
<body>
    {% include 'AppBundle:Invoice:invoice_section.html.twig' %}
</body>
</html>