<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{ order.isCommand ? 'Commande N° ' : 'Facture N° ' }} <small>{{ order.isCommand ? order.referenceCommand : order.referenceFacture }}</small></h4>
                        </div>
                        <div class="col-md-6 export-section">
                            <div class="text-right">
                                {#<button class="btn btn-default btn-sm"><i class="fa fa-check "></i> Save </button>#}
                                <a class="btn btn-primary btn-sm" href="{{ path('invoice_pdf',{'remoteId':order.getRemoteId()}) }}">Export PDF</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-body p-xl">
                    <div class="row m-b-xl">
                        <div class="col-sm-6">
                            <img src="{{ absolute_url(asset('bundles/app/images/commiti-logo.jpg')) }}" />
                            <h4>COMM-{{ order.id }}</h4>
                            <address>
                                <strong>SAS Commiti</strong><br>
                                137 rue du mayoussard, Batiment A<br>
                                38430 Moirans<br>
                                <abbr title="Phone">Tel:</abbr> 04 766 698 17
                            </address>
                        </div>
                        <div class="col-sm-6 text-right">
                            <address>
                                <strong>{{ agency.getName() }}</strong><br>
                                {{ agency.getAdress() }}<br>
                                <abbr title="Phone">Tel:</abbr> {{ agency.getTelephone() }}
                            </address>
                            <p>
                                {#<span><strong>Invoice Date:</strong>{{ order.getExecutionDate()|date('d F Y') }}</span><br/>#}
                                <span><strong>Date d'échéance:</strong> {{ order.getPayedDate()|date('d/m/Y') }}</span>
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Item List</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Tax</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set items = order.getDetails() %}
                            {% if items.title is defined %}
                                {% set item = items %}
                                <tr>
                                    <td><div><strong>{{ item.title }}</strong></div></td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.HT }} €</td>
                                    <td>{{ item.TTC - item.HT }} €</td>
                                    <td class="text-right">{{ item.TTC }} €</td>
                                </tr>
                            {% else %}
                                {% for item in items %}
                                    <tr>
                                        <td><div><strong>{{ item.title }}</strong></div></td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.HT }} €</td>
                                        <td>{{ item.TTC - item.HT }} €</td>
                                        <td class="text-right">{{ item.TTC }} €</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row m-t">
                        <div class="col-md-4 col-md-offset-8">
                            <table class="table table-striped text-right">
                                <tbody>
                                <tr>
                                    <td><strong>Sub Total :</strong></td>
                                    <td>{{ order.getHTTotalAmount() }} €</td>
                                </tr>
                                <tr>
                                    <td><strong>TAX :</strong></td>
                                    <td>{{ order.getTotalAmount() - order.getHTTotalAmount() }} €</td>
                                </tr>
                                {% if item.discount is defined and item.discount %}
                                    <tr>
                                        <td><strong>Discount :</strong></td>
                                        <td>{{ item.firstPrice/item.discount }} €</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td><strong>TOTAL :</strong></td>
                                    <td>{{ order.getTotalAmount() }} €</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-t">
                                Escompte pour règlement anticipé : <strong>0%</strong><br/>
                                En cas de retard de paiement, une pénalité égale à 3 fois le taux d'intérêt légal sera exigible (Décret 2009-138 du 9 février 2009).<br/>
                                Pour les professionnels, une indemnité minimum forfaitaire de 40 euros pour frais de recouvrement sera exigible (Décret 2012-1115 du 9 octobre 2012).
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div style="text-align: center;">Siret : 80508354000015 - APE : 7311Z - RCS : 805083540 - N° TVA intracom : FR05805083540 - Capital : 1 000,00 €</div>
                </div>
            </div>
        </div>
    </div>
</div>