{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "invoice.invoice_title" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "invoice.invoice_title" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "invoice.invoice_title" | trans }}</a>
                </h2>
                <small></small>
            </div>
        </div>
    </div>
    {% set agency = order.getGroup().getAgency() %}
    {% include 'AppBundle:Invoice:invoice_section.html.twig' %}

{% endblock %}