{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Nouvelle FAQ
{% endblock %}
{% block body %}
    <p>Bonjour {{ user.username|capitalize }},</p>
    <p>
        <a href="{{ url('faq_page') }} " target="_blank" class="active">Une nouvelle FAQ</a>
        vient de paraître sur votre interface DISPLAY.<br/> <br/>

        Merci de bien vouloir en prendre connaissance.<br/>
    </p>
{% endblock %}