{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ "Catalogue" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ block('title') }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="normalheader transition animated fadeIn">
        <div class="hpanel">
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="row" style="margin-bottom: 10px;">
                    {% if is_granted('ROLE_MARKETING') %}
                        {% if form.bigGroups is defined %}
                            <div class="col-md-3">
                                {{ form_widget(form.bigGroups,{'id':'bigGroups'}) }}
                            </div>
                        {% endif %}
                        <div id="groupContainer" class="col-md-3">
                            {{ form_widget(form.group) }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_widget(form.zoneGeographique) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_widget(form.cluster) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(form.typeDiffusion) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(form.categories) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h2>{{ 'Nos passerelles payantes'|trans }}</h2>
                        <hr/>
                        <div class="list_01 clearfix">
                            <ul class="portails_list clearfix">
                            {% for item in items if item.cluster == 'PAYANT' %}
                                <li class="col-md-2 col-sm-3 col-xs-4">
                                    <a href="{{ path('portails_portail_view',{'slug':item.slug,'id':currentGroup ? currentGroup.id : null}) }}" title="{{ item.name }}">
                                        <img src="{{ '/'~item.getIcon() }}" title="{{ item.name }}" class="img-responsive" />
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        <h2 style="margin-top:60px;">{{ 'Nos passerelles gratuits'|trans }}</h2>
                        <hr/>
                        <div class="list_02 clearfix">
                            <ul class="portails_list clearfix">
                                {% for item in items if item.cluster == 'GRATUIT' %}
                                    <li class="col-md-2 col-sm-3 col-xs-4">
                                        <a href="{{ path('portails_portail_view',{'slug':item.slug,'id':currentGroup ? currentGroup.id : null}) }}" title="{{ item.name }}">
                                            <img src="{{ '/'~item.getIcon() }}" title="{{ item.name }}" class="img-responsive" />
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function() {
            if($('#bigGroups').length) {
                $('#bigGroups').on('change', function(){
                    $(this).closest('form').ajaxSubmit({
                        success: function(res) {
                            $('#groupContainer').replaceWith($(res).find('#groupContainer'));
                        }
                    });
                });
            }
        });
    </script>
{% endblock %}