{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ portal.name | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ block('title ') }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="col-md-7">
                            <a href="{{ portal.getWebsiteUrl() }}" target="_blank"><img src="{{ '/'~portal.getIcon() }}" class="" title="{{ portal.name }}" /></a>
                            <hr/>
                            <h3>{{ portal.name }}</h3>
                            <a href="{{ portal.getWebsiteUrl() }}" title="{{ portal.name }}"></a>
                            <div>{{ portal.description|raw }}</div>
                            <div>{{ portal.descriptionOffre|raw }}</div>
                            <hr/>
                            <h3>Tarifs publics</h3>
                            <p>{{ portal.getCluster() }}</p>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">{% if portal.email %}<a href="mailto:{{ portal.email }}" class="btn btn-primary">Contacter le portail <i class="fa fa-arrow-circle-o-right"></i></a>{% endif %}</div>
                                <div class="col-md-6"><a href="{{ path('portails_catalogue_list') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-o-left"></i>Retour à la liste des partenaires</a></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">
                                <h3 class="text-uppercase">Informations Clés</h3>
                                <p>{{ 'Mise à jour le'|trans }}: {{ portal.updatedAt|date('d/m/Y H:i:s') }}</p>
                            </div>
                            <h4>{{ 'Statistiques'|trans }}</h4>
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <tbody>
                                    <tr><td>{{ 'portal.annee_de_creation'|trans }}</td><td>{{ portal.anneeCreation ? portal.anneeCreation : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.nbr_annonces'|trans }}</td><td>{{ portal.nbrAnnonces ? portal.nbrAnnonces : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.nbr_visiteurs_unique_par_mois'|trans }}</td><td>{{ portal.viewedPagesPerMonth ? portal.viewedPagesPerMonth : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.nombre_pages_vue_par_mois'|trans }}</td><td>{{ portal.monthlyVisits ? portal.monthlyVisits : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.ratio_pro_particuliers'|trans }}</td><td>{{ portal.ratioProsParticuliers ? portal.ratioProsParticuliers : '---' }}</td></tr>
                                </tbody>
                            </table>
                            <hr/>
                            <h4>{{ 'Gestion des données'|trans }}</h4>
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <tbody>
                                    <tr><td>{{ 'portal.frequence_de_mise_a_jour'|trans }}</td><td>{{ portal.frequenceMaj ? portal.frequenceMaj : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.multi_diffusion_vers_autre_portails'|trans }}</td><td>{{ portal.multiDiffusionVersAutresPortails ? portal.multiDiffusionVersAutresPortails : '---' }}</td></tr>
                                    <tr><td>{{ 'portal.application_mobile'|trans }}</td><td>{{ portal.hasMobileApp ? 'Oui' : 'Non' }}</td></tr>
                                    <tr><td>{{ 'portal.dedoublonnage_des_annonces'|trans }}</td><td>{{ portal.dedoublonnageAnnonces ? 'Oui' : 'Non' }}</td></tr>
                                </tbody>
                            </table>
                            <hr/>
                            <h4>{{ 'Catactérisiques'|trans }}</h4>
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <tbody>
                                    <tr><td>{{ 'portal.affichage_dans_liste_resultats'|trans }}</td><td>{{ portal.affichageDansListeResultats ? 'Oui' : 'Non' }}</td></tr>
                                    <tr><td>{{ 'portal.affichage_details_annonce'|trans }}</td><td>{{ portal.affichageDetailsAnnonce ? 'Oui' : 'Non' }}</td></tr>
                                    <tr><td>{{ 'portal.affichage_nom_annonceur'|trans }}</td><td>{{ portal.affichageNomAnnonceur ? 'Oui' : 'Non' }}</td></tr>
                                    <tr><td>{{ 'portal.formulaire_de_contact'|trans }}</td><td>{{ portal.formulaireDeContact ? 'Oui' : 'Non' }}</td></tr>
                                    <tr><td>{{ 'portal.zone_geographique'|trans }}</td><td>{{ portal.zoneGeographique }}</td></tr>
                                </tbody>
                            </table>
                            <hr/>

                            <h4>{{ 'Recherche'|trans }}</h4>
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <tbody>
                                <tr><td>{{ 'portal.categories_principales'|trans }}</td><td>{% for type in portal.typeDiffusion %}{{ type }}{% if not loop.last %}, {% endif %}{% endfor %}</td></tr>
                                <tr><td>{{ 'portal.types_annonces'|trans }}</td><td>{% for categorie in portal.categories %}{{ categorie }}{% if not loop.last %}, {% endif %}{% endfor %}</td></tr>
                                </tbody>
                            </table>
                            <hr/>
                            {% if not existPortatRegistration %}
                                <a data-href="{{ path('portails_portail_register', { slug: portal.getSlug(), id: group.id }) }}"
                                   data-confirm-title="{{ "portal.registration.confirm" | trans }}"
                                   class="need_confirmation btn btn-primary">
                                    {{ 'Je souhaite diffuser mes annonces sur ce portail'|trans }}
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade send-email" id="send-email">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">{{ portal.name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7">
                            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                            {{ form_start(form,{'attr':{"novalidate":"true", "id":"contact_portal_admin"}}) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-5">
                            <h3>Vous souhaitez avoir un devis adapter a vos besoin?</h3>
                            <p>Remplissez ce formulaire, nous nous chargearons de vous faire la meilleur proposition, dans les meilleurs détlais<small>*</small>.</p>
                            <p>En quelques clics<small>**</small>, communiquez sur le site de votre choix!</p>
                            <hr/>
                            <p><em>* : Le temps de branchement peut être variable selon certain sites de DISPLAY ne pourra en être tenu pour responsable.</em></p>
                            <p><em>** : Sous réserve d'acceptation du site concerné</em></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% if formErrors %}
    <script>
        $('#send-email').modal('show');
    </script>
{% endif %}
{% endblock %}

{% block stylesheets %}
<style>
    #contact_portal_admin .checkbox label::before { display: none; }
    #contact_portal_admin .checkbox { padding-left: 0; }
</style>
{% endblock %}