{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "portal.waiting.edit" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ block('title') }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(form,{'attr':{"novalidate":"true", 'id':'portal_registration'}}) }}
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr>
                                <td width="100%" colspan="2">
                                    <h2>
                                    {{ portalRegistration.broadcastPortal.name }} /
                                    {{ portalRegistration.group.name }}
                                    </h2>
                                </td>
                            </tr>
                                <tr>
                                    <td>{{ "portal.is_enbaled"|trans([], 'commiti') }}</td>
                                    <td>{{ form_widget(form.isEnabled) }}</td></tr>
                                <tr>
                                    <td>{{ "portal.status"|trans([], 'commiti') }}</td>
                                    <td>{{ form_widget(form.status) }}</td></tr>
                            </tbody>
                        </table>

                        <h3>{{ "portal.registration.ad"|trans([], 'commiti') }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <thead>
                                <tr>
                                    <th>{{ "portal.registration.ad_limit"|trans([], 'commiti') }}</th>
                                    <th>{{ "portal.registration.ad_rest"|trans([], 'commiti') }}</th>
                                    <th>{{ "portal.registration.trackingPhone"|trans([], 'commiti') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ form_widget(form.adLimit) }}</td>
                                <td>{{ form_widget(form.adRest) }}</td>
                                <td>{{ form_widget(form.trackingPhone) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <h3>{{ "portal.registration.ftp"|trans([], 'commiti') }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <thead>
                            <tr>
                                <th>{{ "portal.registration.ftp_host"|trans([], 'commiti') }}</th>
                                <th>{{ "portal.registration.ftp_user"|trans([], 'commiti') }}</th>
                                <th>{{ "portal.registration.ftp_password"|trans([], 'commiti') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ form_widget(form.ftpHost) }}</td>
                                <td>{{ form_widget(form.ftpUser) }}</td>
                                <td>{{ form_widget(form.ftpPassword) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <h3>{{ "portal.registration.global"|trans([], 'commiti') }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <thead>
                            <tr>
                                <th>{{ "portal.registration.identifier"|trans([], 'commiti') }}</th>
                                <th>{{ "portal.registration.login"|trans([], 'commiti') }}</th>
                                <th>{{ "portal.registration.password"|trans([], 'commiti') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ form_widget(form.identifier) }}</td>
                                <td>{{ form_widget(form.login) }}</td>
                                <td>{{ form_widget(form.password) }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="text-right m-t-xs">
                            {{ form_widget(form.cancel) }}
                            {{ form_widget(form.submit) }}
                        </div>
                        <div class="hidden">
                            {{ form_rest(form) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}