{% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
{{ form_start(form,{'id':'contactForm','action':path('gestion_contacts_groups_add',{'remoteId' : group ? group.remoteId : null })}) }}
<table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
    <tbody>
    <tr><td width="35%"></td><td width="65%"></td></tr>
    {{ form_row(form.name) }}
    </tbody>
</table>
<div>
    <input type="submit" class="btn btn-primary" value="{{ 'action.add'|trans }}" />
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
</div>
{{ form_end(form) }}