{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "contact_lists.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "contact_lists.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "contact_lists.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('gestion_contact_lists_edit', {'remoteId': contactList.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    <h3><a href="">{{ contactList.name }}</a></h3>
                    <hr/>
                    <div>
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}