{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "portal.add" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('portal_admin') }}">{{ "Portail" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "portal.add" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "portal.add" | trans }}</h2>
            </div>
        </div>
    </div>

    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
    <div class="content animate-panel">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <h3>{{ "Portail" | trans }}</h3>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            <tr><td class="col-sm-4"></td><td class="col-sm-8"></td></tr>
                            {{ form_row(form.name) }}
                            {{ form_row(form.cluster,{'id':'cluster'}) }}
                            {{ form_row(form.ftpHost) }}
                            {{ form_row(form.ftpUser) }}
                            {{ form_row(form.ftpPassword) }}
                            {{ form_row(form.exportFileName,{'id':'nomFichierExport'}) }}
                            {{ form_row(form.type) }}
                            {{ form_row(form.exportHouseModel) }}
                            {{ form_row(form.typeDiffusion,{'attr':{'class':'select2'}}) }}
                            {{ form_row(form.categories,{'attr':{'class':'select2'}}) }}
                            {{ form_row(form.diffuseProgram) }}
                            {{ form_row(form.diffuseTerrainOnly) }}
                            {{ form_row(form.isAvailable) }}
                            {{ form_row(form.icon,{'force_error':imageError}) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.descriptionOffre) }}
                            {{ form_row(form.websiteUrl) }}
                            {{ form_row(form.espacePro) }}
                            {{ form_row(form.hasMobileApp) }}
                            {{ form_row(form.afficherMondat) }}
                            {{ form_row(form.viewedPagesPerMonth) }}
                            {{ form_row(form.monthlyVisits) }}
                            {{ form_row(form.anneeCreation) }}
                            {{ form_row(form.nbrAnnonces) }}
                            {{ form_row(form.ratioProsParticuliers) }}
                            {{ form_row(form.frequenceMaj) }}
                            {{ form_row(form.multiDiffusionVersAutresPortails) }}
                            {{ form_row(form.dedoublonnageAnnonces) }}
                            {{ form_row(form.affichageDansListeResultats) }}
                            {{ form_row(form.affichageDetailsAnnonce) }}
                            {{ form_row(form.affichageNomAnnonceur) }}
                            {{ form_row(form.formulaireDeContact) }}
                            {{ form_row(form.zoneGeographique) }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <h3>{{ "Contact" | trans }}</h3>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.phoneNumber) }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right m-t-xs">
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#cluster').on('change',function() {
               if($(this).val() == 'PAYANT') {
                   $('#nomFichierExport').closest('tr').hide();
               } else {
                   $('#nomFichierExport').closest('tr').show();
               }
            });
            $('#cluster').trigger('change');
        });
    </script>
{% endblock %}