{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "Portail" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('portal_admin') }}">{{ "Portail" | trans }}</a></span>
                        </li>
                        <li>
                            <span>{{ "portal.list" | trans }}</span>
                        </li>
                        <li class="active">
                            <span>{{ portal.getName() }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "Portail" | trans }}</a>
                </h2>
                <small>{{ portal.getName() }}</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="pull-right text-right">
                                        <div class="btn-group">
                                            <a href="{{ path('portal_edit',{'id':portal.getId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- Visuel -->
                                    <h3>{{ "Portail" | trans }}</h3>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr><td class="col-sm-4"></td><td class="col-sm-8"></td></tr>
                                        <tr><td><b>{{ "portal.name" | trans }}</b></td><td>{{ portal.getName() }}</td></tr>
                                        <tr><td><b>{{ "portal.ftp_host" | trans }}</b></td><td>{{ portal.getFtpHost() }}</td></tr>
                                        <tr><td><b>{{ "portal.ftp_user" | trans }}</b></td><td>{{ portal.getFtpUser() }}</td></tr>
                                        <tr><td><b>{{ "portal.ftp_password" | trans }}</b></td><td>{{ portal.getFtpPassword() }}</td></tr>
                                        <tr><td><b>{{ "portal.type" | trans }}</b></td><td>{{ portal.getCluster() }}</td></tr>
                                        <tr><td><b>{{ "portal.diffusion_type" | trans }}</b></td><td>{% for val in portal.getTypeDiffusion() %}{{ val }}{% if not loop.last %}, {% endif %}{% endfor %}</td></tr>
                                        <tr><td><b>{{ "portal.available" | trans }}</b></td><td>{{ portal.getIsAvailable() ? 'Oui' : 'Non' }}</td></tr>
                                        <tr><td><b>{{ "portal.principal_image" | trans }}</b></td><td><img src="{{ '/'~portal.getIcon() }}" /></td></tr>
                                        <tr><td><b>{{ "portal.description" | trans }}</b></td><td>{{ portal.getDescription()|raw }}</td></tr>
                                        <tr><td><b>{{ "portal.website" | trans }}</b></td><td>{{ portal.getWebsiteUrl() }}</td></tr>
                                        <tr><td><b>{{ "portal.espace_perso" | trans }}</b></td><td>{{ portal.getEspacePro() }}</td></tr>
                                        <tr><td><b>{{ "portal.wording" | trans }}</b></td><td>{{ portal.getWording() }}</td></tr>
                                        <tr><td><b>{{ "portal.nombre_visits_mensuelle" | trans }}</b></td><td>{{ portal.getMonthlyVisits() }}</td></tr>
                                        <tr><td><b>{{ "portal.nombre_pages_vue_par_mois" | trans }}</b></td><td>{{ portal.getViewedPagesPerMonth() }}</td></tr>
                                        <tr><td><b>{{ "portal.application_mobile" | trans }}</b></td><td>{{ portal.getHasMobileApp() ? 'Oui' : 'Non' }}</td></tr>
                                        </tbody>
                                    </table>
                                    <h3>{{ "Contact portail" | trans }}</h3>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <tr><td class="col-sm-4"></td><td class="col-sm-8"></td></tr>
                                            <tr><td><b>{{ "Prénom" | trans }}</b></td><td>{{ portal.getFirstname() }}</td></tr>
                                            <tr><td><b>{{ "Nom" | trans }}</b></td><td>{{ portal.getLastname() }}</td></tr>
                                            <tr><td><b>{{ "Email" | trans }}</b></td><td>{{ portal.getEmail() }}</td></tr>
                                            <tr><td><b>{{ "Téléphone" | trans }}</b></td><td>{{ portal.getPhoneNumber() }}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}