{% trans_default_domain 'commiti' %}
{% block group_advantage_row %}
  <tr {% if not valid %}class="has-error"{% endif %}>
    {{- form_widget(form) -}}
  </tr>
  {% if errors|length > 0 -%}
    <tr>{{- form_errors(form) -}}</tr>
  {% endif %}
{% endblock group_advantage_row %}

{% block group_advantage_widget %}
    <td>{% if form.vars.data %}{{ form.vars.data.advantage.name }}{% endif %}</td>
    <td>{{- form_widget(form.quantite) -}}</td>
    <td>
      <div class='input-group date'>
        {{- form_widget(form.dateBegin) -}}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
      </div>
    </td>
    <td>
      <div class='input-group date'>
        {{- form_widget(form.dateEnd) -}}
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </td>
{% endblock group_advantage_widget %}


{% block group_advantages_discount_row %}
    <table class="table table-bordered table-striped" style="clear: both">
        <thead>
        <tr><th>{{ 'Avantage'|trans }}</th><th>{{ 'Remise'|trans }}</th><th>{{ 'date_debut'|trans }}</th><th>{{ 'date_fin'|trans }}</th></tr>
        </thead>
        <tbody>
        {{ form_widget(form) }}
        </tbody>
    </table>
{% endblock group_advantages_discount_row %}

{% block group_advantage_discount_row %}
    <tr {% if not valid %}class="has-error"{% endif %}>
        {{- form_widget(form) -}}
    </tr>
    {% if errors|length > 0 -%}
        <tr>{{- form_errors(form) -}}</tr>
    {% endif %}
{% endblock group_advantage_discount_row %}

{% block group_advantage_discount_widget %}
    <td>{% if form.vars.data %}{{ form.vars.data.advantage.name }}{% endif %}</td>
    <td>{{- form_widget(form.percent) -}}</td>
    <td>
        <div class='input-group date'>
            {{- form_widget(form.dateBeginDiscount) -}}
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </td>
    <td>
        <div class='input-group date'>
            {{- form_widget(form.dateEndDiscount) -}}
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>
    </td>
{% endblock group_advantage_discount_widget %}

{% block _group_agency_widget %}
    <h3>{{ 'Détails' }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {% if form.name is defined %}
        {{ form_row(form.name,{'attr':{'placeholder':'organisation'}}) }}
        {% endif %}
        {% if form.reference is defined %}
        {{ form_row(form.reference,{'attr':{'placeholder':'PRI_xxxx'}}) }}
        {% endif %}
        {{ form_row(form.adress) }}
        {{ form_row(form.avatar,{'attr':{'placeholder':'avatar'}}) }}
        {{ form_row(form.color) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.codePostal) }}
        {{ form_row(form.email) }}
        {{ form_row(form.content) }}
        </tbody>
    </table>
    <hr/>
    <h3>{{ 'agence.facturation'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {{ form_row(form.facturationNomEntite) }}
        {{ form_row(form.facturationAdresse) }}
        {{ form_row(form.facturationVille) }}
        {{ form_row(form.facturationCodePostal) }}
        </tbody>
    </table>
{% endblock _group_agency_widget %}
