{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "group.edit" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="">{{ "Administration" | trans }}</a> </span>
                    </li>
                    <li>
                        <span><a href="{{ path('groups_admin') }}">{{ "Groupe" | trans }}</a></span>
                    </li>
                    <li class="active">
                        <span>{{ "group.edit" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <a href="{{ path('groups_admin_show', { 'remoteId': group.remoteId }) }}">{{ "Groupe" | trans }}</a>
            </h2>
            <small>{{ "group.edit" | trans }}</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' 'AppBundle:Groups:_widgets.html.twig'  %}
                    {{ form_start(form) }}
                    <table class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {{ form_row(form.name) }}
                        {{ form_row(form.roles) }}
                        {{ form_row(form.prefix,{'attr':{'dependency':'dependency'}}) }}
                        {{ form_row(form.parentGroup,{'attr':{'dependency':'dependency'}}) }}
                        </tbody>
                    </table>
                    {{ form_widget(form.agency) }}
                    <hr/>
                    <div class="dependance">
                        <h3>{{ 'Options du groupe'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.annonces_option) }}
                            {{ form_row(form.program_option) }}
                            {{ form_row(form.suivi_option) }}
                            {{ form_row(form.diffusionOption) }}
                            </tbody>
                        </table>
                        <div id="program_options">
                            <h3>{{ 'Types de programmes autorisés'|trans }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                {{ form_row(form.programMaisonOption) }}
                                {{ form_row(form.programAppartementOption) }}
                                {{ form_row(form.programTerrainOption) }}
                                {{ form_row(form.programMixteOption) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="advantages">
                        {% if form.advantages is defined and form.advantages.vars.value|length > 0 %}
                            <h3>{{ 'Avantages du groupe'|trans }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <thead>
                                    <tr><th>{{ 'Avantage'|trans }}</th><th>{{ 'quantity'|trans }}</th><th>{{ 'date_debut' }}</th><th>{{ 'date_fin' }}</th></tr>
                                </thead>
                                <tbody>
                                    {{ form_widget(form.advantages) }}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <h3>{{ 'Remise sur les avantages payant'|trans }}</h3>
                    <table class="table table-bordered table-striped" style="clear: both">
                        <thead>
                            <tr><th>{{ 'Avantage'|trans }}</th><th>{{ 'Remise'|trans }}</th><th>{{ 'date_debut'|trans }}</th><th>{{ 'date_fin'|trans }}</th></tr>
                        </thead>
                        <tbody>
                            {{ form_widget(form.advantagesDiscount) }}
                        </tbody>
                    </table>
                    <div>
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                        <a class="btn btn-default" href="{{ path('groups_admin') }}">{{ 'action.cancel'|trans }}</a>
                    </div>
                    {{ form_end(form) }}
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(function() {
            if($('#group_roles').val() && $('#group_roles').val()[0] == 'ROLE_AGENCY') {
                $('.dependance').show();
                $('.i-checks').each(function( index,item ) {
                    if($(item).attr('dependency') != undefined) {
                        if($(item).prop('checked'))
                            $($(item).attr('dependency')).show();
                        else
                            $($(item).attr('dependency')).hide();
                    }
                });
            }
            $('#group_roles').on('change',function () {
                if($(this).val() && $(this).val()[0] == 'ROLE_AGENCY') {
                    $('.dependance').show();
                } else {
                    $('.dependance').hide();
                }
            });

            $('.i-checks').on('ifChecked', function(event){
                if($(event.target).attr('dependency') != undefined) {
                    $($(event.target).attr('dependency')).show();
                }
            }).on('ifUnchecked', function(event){
                if($(event.target).attr('dependency') != undefined) {
                    $($(event.target).attr('dependency')).hide();
                }
            });

            $('#group_roles').on('change', function(){
                var form = document.querySelector('form');
                var roles = $('#group_roles');
                var input          = document.getElementById('advantages');
                var value = roles.val();
                if(value) {
                    var data  = {[roles.attr('name')]: value[0]};
                    if(value)
                    $.post(form.action, data).done(function (res) {
                        // On parse la réponse en DOM HTML
                        var parser = new DOMParser();
                        var doc = parser.parseFromString(res, 'text/html');
                        input.innerHTML = doc.getElementById('advantages').innerHTML;
                    });
                } else {
                    input.innerHTML = '';
                }
            });

        });
    </script>
{% endblock %}