{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "group.pricing" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
                <small>{{ block('title') }}</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        {{ block('title') }}
                    </div>
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(form) }}
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.oneMonthPrice) }}
                            {{ form_row(form.threeMonthPrice) }}
                            {{ form_row(form.sixMonthPrice) }}
                            {{ form_row(form.oneYearPrice) }}
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-primary" value="{{ "Enregistrer"|trans }}" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}