{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ group.name }}{% endblock %}
{% block body %}
    {% set agency = group.getAgency() %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('groups_admin') }}">{{ "Liste de groupes et agences" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span><a href="{{ path('groups_admin_show', { 'remoteId': group.remoteId }) }}">{{ "Agence"|trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="{{ path('groups_admin_show', { 'remoteId': group.remoteId }) }}">{{ agency.getName() }}</a>
                </h2>
                <small>{{ "group.agency_resume"|trans }}</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">{{ 'group.tabs.informations_general'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-5">{{ 'group.tabs.liste_employees'|trans }}</a></li>
                    {% if group.hasRole('ROLE_AGENCY') %}
                        <li><a data-toggle="tab" href="#tab-6">{{ 'group.tabs.listes_portail_diffusion'|trans }}</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#tab-8">{{ 'group.tabs.reecriture'|trans }}</a></li>
                    {% if adsDatatable %}
                        <li><a data-toggle="tab" href="#tab-4">{{ 'group.tabs.gestion_des_annonces'|trans }}</a></li>
                    {% endif %}
                    {% if not group.hasRole('ROLE_AGENCY') %}
                        <li><a data-toggle="tab" href="#tab-6">{{ 'group.tabs.groups'|trans }}</a></li>
                    {% endif %}
                    {% if houseModeleDatatable %}
                        <li><a data-toggle="tab" href="#tab-7">{{ 'group.tabs.modeles'|trans }}</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#tab-2">{{ 'group.tabs.options_actives'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-3">{{ 'group.tabs.facturations'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="pull-right text-right">
                                <div class="btn-group">
                                    <a href="{{ path('group_agency_edit',{'remoteId':group.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                                </div>
                            </div>
                            {% set agency = group.getAgency() %}
                            {% if agency.getAvatar() %}<img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(agency.getAvatar()) }}">{% endif %}
                            <h3>{{ agency.getName() }}</h3>
                            <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                                <tbody>
                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                {% if agency.reference %}
                                    <tr><td>{{ 'agence.reference'|trans }}</td><td>{{ agency.reference }}</td></tr>
                                {% endif %}
                                <tr><td>{{ 'agence.color'|trans }}</td><td><div style="border:1px solid #efefef;width:30px;height:30px;background-color: {{ agency.color }}"></div></td></tr>
                                <tr><td>{{ 'agence.description'|trans }}</td><td>{{ agency.getContent()|raw }}</td></tr>
                                <tr><td>{{ 'agence.contact.nom'|trans }}</td><td>{{ agency.getNom() }}</td></tr>
                                <tr><td>{{ 'agence.contact.prenom'|trans }}</td><td>{{ agency.getPrenom() }}</td></tr>
                                <tr><td>{{ 'agence.contact.email'|trans }}</td><td><div class="row"><div class="col-md-4">{{ agency.getEmail() }}</div>{% if group.hasRole('ROLE_AGENCY') %}<div class="col-md-6"><b>{{ 'Email alias'|trans }}:</b> {{ group.emailAlias }}</div>{% endif %} </div> </td></tr>
                                <tr><td>{{ 'agence.contact.zip_code'|trans }}</td><td>{{ agency.getCodePostal() }}</td></tr>
                                <tr><td>{{ 'agence.contact.city'|trans }}</td><td>{{ agency.getVille() }}</td></tr>
                                <tr><td>{{ 'agence.contact.adresse'|trans }}</td><td>{{ agency.getAdress() }}</td></tr>
                                <tr>
                                    <td>
                                        {{ 'agence.contact.tracking_phone'|trans }}</td><td>{{ agency.getTrackingPhone() }}
                                        {{ statistics['call'] is defined and statistics['call']['agency'] is defined ?
                                        "/ "~(
                                        statistics['call']['agency'] >1 ?
                                        "Calls" |trans({'%total%':  statistics['call']['agency']}) :
                                        "Call" |trans({'%total%':  statistics['call']['agency']+0})
                                        )| raw  : ""
                                        }}
                                    </td>
                                </tr>
                                <tr><td>{{ 'agence.contact.closing_date'|trans }}</td><td>{{ agency.getClosingDate() ? agency.getClosingDate() |date('d/m/Y H:i') : "" }}</td></tr>
                                <tr><td>{{ 'agence.contact.reopening_date'|trans }}</td><td>{{ agency.getReopeningDate() ? agency.getReopeningDate() |date('d/m/Y H:i') : "" }}</td></tr>
                                <tr><td>{{ 'agence.contact.closing_phone'|trans }}</td><td>{{ agency.getClosingPhone() }}</td></tr>
                                </tbody>
                            </table>
                            {% if is_granted('ROLE_ADMIN') and group.hasRole('ROLE_AGENCY') %}
                                <h3>{{ 'Import Annonce'|trans }}</h3>
                                <table class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                    <tr><td width="30%">{{ 'Host'|trans }}</td><td>{{ group.getImportHost() ? group.getImportHost() : '-' }}</td></tr>
                                    <tr><td width="30%">{{ 'Nom d\'utilisateur'|trans }}</td><td>{{ group.getImportUser() ? group.getImportUser() : '-' }}</td></tr>
                                    <tr><td width="30%">{{ 'Mot de passe'|trans }}</td><td>{{ group.getImportPassword() ? group.getImportPassword() : '-' }}</td></tr>
                                    <tr><td width="30%">{{ 'Nom du fichier'|trans }}</td><td>{{ group.getImportFileName() ? group.getImportFileName() : '-' }}</td></tr>
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            {% if is_granted('ROLE_ADMIN') and group.advantagesDiscount|length %}
                                <h3>Remise sur les avantages payant</h3>
                                <table class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                    <tr><th>Avantage</th><th>Remise</th><th>Date du début</th><th>Date du fin</th></tr>
                                    {% for advantage in group.advantagesDiscount %}
                                        <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.percent~' %' }}</td><td>{{ advantage.dateBeginDiscount|date('d-m-Y H:i:s') }}</td><td>{{ advantage.dateEndDiscount|date('d-m-Y H:i:s') }}</td></tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <h3>{{ 'Gérer mes options actives'|trans }}</h3>
                            <table class="table table-bordered table-striped" style="clear: both">
                                <thead>
                                <tr><th width="35%">{{ 'my_options'|trans }}</th><th width="20%">{{ 'quantity'|trans }}</th><th width="20%">{{ 'validity'|trans }}</th><th width="25%"></th></tr>
                                </thead>
                                <tbody>
                                {% set commercialCount = 0 %}
                                {% for a in group.authorizedUser if a.user is null and a.role == 'ROLE_SALESMAN' %}
                                    {% set commercialCount = commercialCount + 1 %}
                                {% endfor %}
                                <tr><td>{{ 'Commercial'|trans }}</td><td>{{ commercialCount }} {{ 'restant'|trans }}</td><td>{{ 'illimiter'|trans }}</td><td></td></tr>
                                {% if payedAdvantages|length > 0 %}
                                    {% for advantage in group.advantages if advantage.advantage in payedAdvantages %}
                                        <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.quantite is null ? 'Illimité' : advantage.quantite }}</td><td>{{ advantage.dateEnd is null ? 'Illimité' : advantage.dateEnd|date('d-m-Y') }}</td><td><a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.advantage.slug}) }}">Renouveler</a></td></tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>

                            <h3>{{ 'discover_options'|trans }}</h3>
                            {% for advantage in configuration.advantages if advantage not in payedAdvantages and advantage.groupType == 'agence' %}
                                <div class="row advantage_option_section">
                                    <div class="col-sm-8">
                                        <h4>{{ advantage.name }}</h4>
                                        <p>{{ advantage.description }}</p>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-2">
                                        {% set option = advantage.getCheapestOption() %}
                                        {% if option %}
                                            {% set discountPrice = null %}
                                            {% if discounts[advantage.id] is defined and discounts[advantage.id].percent %}
                                                {% set discountPrice = option.price - option.price*(discounts[advantage.id].percent/100) %}
                                            {% endif %}
                                            {% set quota = advantage.unite ? advantage.unite : option.unit > 0 ? option.unit : (option.month ==1 ? 'mois' : option.month~' mois') %}
                                            <b>{{ 'à partir de'|trans }} <span class="price{% if discountPrice %} discount{% endif %}">
                                                {{ option.price~'€' }}
                                            </span>
                                                {% if discountPrice is not null %}
                                                    <span class="new_price text-success">{{ discountPrice~'€' }}</span>
                                                {% endif %}</b>/ {{ quota }}
                                            <a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.slug}) }}" class="btn btn-success" class="btn btn-default">
                                                {{ "Souscrire"|trans }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <hr/>
                                {% if group.advantagesDiscount|length %}
                                    <h3>{{ 'Remise sur les avantages payant'|trans }}</h3>
                                    <table class="table table-bordered table-striped" style="clear: both">
                                        <tbody>
                                        <tr><th>{{ 'Avantage'|trans }}</th><th>{{ 'Remise'|trans }}</th><th>{{ 'date_debut'|trans }}</th><th>{{ 'date_fin'|trans }}</th></tr>
                                        {% for advantage in group.advantagesDiscount %}
                                            <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.percent~' %' }}</td><td>{{ advantage.dateBeginDiscount|date('d-m-Y H:i:s') }}</td><td>{{ advantage.dateEndDiscount|date('d-m-Y H:i:s') }}</td></tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                                <h3>{{ 'Options du groupe'|trans }}</h3>
                                <table class="table table-bordered table-striped" style="clear: both">
                                    <tbody>
                                    <tr>
                                        <td width="30%">{{ 'Constructeur de maison individuelles (CMI)'|trans }}</td>
                                        <td>{{ group.getAnnoncesOption() ? 'Yes'|trans : 'No'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'Promoteurs ou lotisseurs'|trans }}</td>
                                        <td>
                                            {% if group.getProgramOption() %}
                                                {{ 'Yes'|trans }}
                                                <hr/>
                                                <table class="table table-bordered table-striped" style="clear: both">
                                                    <tbody>
                                                    <tr><td width="30%">Maisons</td><td>{{ group.getProgramMaisonOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                                                    <tr><td>Appartements</td><td>{{ group.getProgramAppartementOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                                                    <tr><td>Terrains</td><td>{{ group.getProgramTerrainOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                                                    <tr><td>Mixte (appartements + maisons)</td><td>{{ group.getProgramMixteOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                {{ 'No'|trans }}

                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <h3>Factures</h3>
                            {{ datatable_render(invoicesDatatable) }}
                        </div>
                    </div>
                    {% if adsDatatable %}
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <h3>{{ "ads.list"|trans }}</h3>
                                {{ datatable_render(adsDatatable) }}
                            </div>
                        </div>
                    {% endif %}
                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <h3>Liste Employees</h3>
                            {{ datatable_render(employeeDatatable) }}
                        </div>
                    </div>
                    {% if group.hasRole('ROLE_AGENCY') %}
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <div class="pull-right text-right">
                                    <div class="btn-group">
                                        <a href="{{ path('agency_edit_portals',{'remoteId':group.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                                    </div>
                                </div>
                                <h2>{{ 'portal.list'|trans }}</h2>
                                <hr/>
                                {% if group.getBroadcastPortalRegistrations()|length %}
                                    <h3>Liste de portails Payant</h3>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{ 'portal.logo_portail'|trans }}</th>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <th>{{ 'portal.ftp_host'|trans }}</th>
                                                <th>{{ 'portal.ftp_user'|trans }}</th>
                                                <th>{{ 'portal.ftp_password'|trans }}</th>
                                                <th>{{ 'portal.client_identifier'|trans }}</th>
                                                <th>{{ 'portal.track_phone'|trans }}</th>
                                            {% else %}
                                                <th>Identifiant</th>
                                                {% if is_granted('ROLE_MARKETING') %}
                                                    <th>{{ 'password'|trans }}</th>
                                                {% endif %}
                                            {% endif %}
                                            <th>{{ 'portal.volume_annonce_portail'|trans }}</th>
                                            {% if not is_granted('ROLE_ADMIN') %}
                                                <th>{{ 'portal.acces_espace_pro'|trans }}</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for portalRegistration in group.getBroadcastPortalRegistrations() if
                                                portalRegistration.isEnabled and portalRegistration.getBroadcastPortal().cluster == 'PAYANT'
                                        %}
                                            <tr>
                                                <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <td class="col-sm-2">{{- portalRegistration.getFtpHost() -}}</td>
                                                    <td class="col-sm-2">{{- portalRegistration.getFtpUser() -}}</td>
                                                    <td class="col-sm-2">{{- portalRegistration.getFtpPassword() -}}</td>
                                                    <td class="col-sm-2">{{- portalRegistration.getIdentifier() -}}</td>
                                                    <td class="col-sm-2">{{- portalRegistration.getTrackingPhone() -}}</td>
                                                {% else %}
                                                    <td class="col-sm-2">{{- portalRegistration.getLogin() -}}</td>
                                                    {% if is_granted('ROLE_MARKETING') %}
                                                        <td class="col-sm-2">{{- portalRegistration.getPassword() -}}</td>
                                                    {% endif %}
                                                {% endif %}
                                                <td class="col-sm-2">{{- portalRegistration.getAdLimit() -}}</td>
                                                {% if not is_granted('ROLE_ADMIN') %}
                                                    <td class="col-sm-2">{% if portalRegistration.getBroadcastPortal().espacePro %}<a href="{{ portalRegistration.getBroadcastPortal().espacePro }}" class="btn btn-primary"><i class="fa fa-user"></i>{{ 'portal.access_my_pro_account'|trans }}</a>{% endif %}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <h3>{{ 'Liste de portails Gratuit'|trans }}</h3>
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        {% for portalRegistration in group.getBroadcastPortalRegistrations() if
                                                portalRegistration.isEnabled and portalRegistration.getBroadcastPortal().cluster == 'GRATUIT'
                                        %}
                                            <tr>
                                                <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                                                <td class="col-sm-2">{{ 'free'|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>{{ 'agence.agency_have_no_diffusion_portail'|trans }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <h3>{{ "group.list"|trans }}</h3>
                                {{ datatable_render(groupAgenciesDatatable) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if houseModeleDatatable %}
                        <div id="tab-7" class="tab-pane">
                            {% include '@App/GroupAgencies/tabs/modeles.html.twig'  %}
                        </div>
                    {% endif %}
                    <div id="tab-8" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/reecriture.html.twig'  %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}


{% block javascript %}
    <script type="application/javascript">
        jQuery(document).ready(function(){

            $(".summernote-textarea").summernote({
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['textsize', ['fontsize']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']]
                ],
                onChange: function(value) {
                    convertText('#descriptionReturn', value);
                }
            });

            $('#ad_rewite_title').on('keyup',function(){
                convertText('#titleReturn', $(this).val());
            });
        });

        var convertText = function(destination, value) {
            var _vars = {
                '[VILLE]':              'Saint-Etienne',
                '[ENSEIGNE]' :          '{{ group.name }}',
                '[SURFACE MAISON]' :    '115',
                '[SURFACE TERRAIN]' :   '850',
                '[REFERENCE ANNONCE]' : 'PRI_785796'
            };


            for (var val in _vars) {
                value = value.split(val).join(_vars[val]);
            }

            var pattern = /\{(.*?)\}/g;
            var match;
            while ((match = pattern.exec(value)) != null)
            {
                var items = match[1].split('~');
                var item = items[Math.floor(Math.random()*items.length)];
                value = value.replace(match[0],item);
            }
            $(destination).html(value);
        }
    </script>
{% endblock %}