{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "news.edit" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">{{ "Setting dashoard" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-6" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                        {{ form_start(form, { 'action': path('homepage_edit'), 'attr':{"novalidate":"true"} }) }}
                        {{ form_widget(form, { 'label_attr': { 'class': 'form-inline' } } ) }}
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <a class="btn btn-default" href="{{ path('homepage') }}">{{ 'action.cancel'|trans }}</a>
                                <button class="btn btn-primary" type="submit">{{ 'action.edit'|trans }}</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}