{% trans_default_domain "commiti" %}
<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        {{ "Need more help?"|trans }}
    </div>
    <div class="panel-body fixed-panel">
        <div class="row">
            <div>
                {{ dashboard.faqText | raw }}
                <div class="text-center">
                    <a href="{{ path("faq_page") }}" title="help" class="btn btn-success">Help !</a>
                </div>
            </div>
        </div>
    </div>
</div>