{% trans_default_domain "commiti" %}
<div class="hpanel fixed-panel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        {{ 'DISPLAY news'|trans }}
    </div>

    {% if latest_news is null %}
        <div class="panel-body panel-group">
                {{ 'no_news_found'|trans }}
        </div>
    {% else %}
        {% for news in latest_news %}
            <div class="panel-body">
                <a href="{{  path('news_view', { slug: news.slug }) }}">
                    <h4>{{ news.title }}</h4>
                    <p>
                        {{ news.content|striptags|slice(0, 100)|raw }}...
                    </p>
                </a>
            </div>
            {% endfor %}
    {% endif %}
</div>