{% trans_default_domain "commiti" %}
<div class="hpanel">
    <div class="panel-heading">
        {{ "Filters"|trans }}
    </div>
    {% set selectedAgency = "" %}
    {% set selectedCommercial = "" %}
    <div class="panel-body fixed-panel">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="group">Groupe</label>
                    <select id="filter_group_list" name="group" class="select2 form-control" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        {% for group in groupsList %}
                            <option value="{{ group.getRemoteId() }}" data-id="{{ group.getRemoteId() }}"
                                    {{  group.getRemoteId() == app.request.cookies.get('use_group') ? 'selected="selected"' :"" }}
                            >{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="agency">Agence</label>
                    <select id="filter_agencies_list" name="agency" class="select2 form-control" tabindex="-1" aria-hidden="true">
                        <option value=""></option>
                        {% for agency in agenciesList %}
                            <option value="{{ agency.getRemoteId() }}" data-id="{{ agency.getRemoteId() }}"
                                    {% if agency.getRemoteId() == app.request.cookies.get('use_agency') %}
                                        {{ 'selected="selected"'}}
                                        {% set selectedAgency = agency %}
                                    {% endif %}
                            >{{ agency.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="commercial">Choisir un commercial ou toute l'agence</label>
                    <select id="filter_commercials_list" name="commercial" class="select2 form-control" tabindex="-1" aria-hidden="true">
                        <option value="">Toute l'agence</option>
                        {% for commercial in commercials %}
                            <option value="{{ commercial.getRemoteId() }}" data-id="{{ commercial.getRemoteId() }}"
                                    {% if commercial.getRemoteId() == app.request.cookies.get('write_as_commercial') %}
                                        {{ 'selected="selected"'}}
                                        {% set selectedCommercial = commercial %}
                                    {% endif %}
                            >{{ commercial.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="filter_submit" name="filter_submit" class="btn btn-success btn-block">Appliquer</button>
        </div>
    </div>
</div>
{% if selectedAgency or selectedCommercial %}
<div class="hpanel">
    <div class="panel-heading">
        {% if selectedCommercial %}
            Les statistiques de {{ selectedCommercial.name }}
        {% else %}
            Les statistiques de toute l'agence
        {% endif %}
    </div>
</div>
{% endif %}