{% trans_default_domain "commiti" %}
<div class="hpanel">
    <div class="panel-heading">
        {{ "Filters"|trans }}
    </div>
    {% set selectedAgency = "" %}
    {% set selectedCommercial = "" %}
    <div class="panel-body fixed-panel">
        <div class="row">
            {% if filters.groupsList is defined %}
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="group">Groupe</label>
                    <select id="stat_filter_group_list" name="stat_filter_group" class="select2 form-control"
                            tabindex="-1" aria-hidden="true" onchange="this.form.submit()"
                    >
                        <option value=""></option>
                        {% for group in filters.groupsList %}
                            <option value="{{ group.getRemoteId() }}" data-id="{{ group.getRemoteId() }}"
                                    {{  group.getRemoteId() == app.request.get('stat_filter_group') ? 'selected="selected"' :"" }}
                            >{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if filters.agenciesList is defined %}
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="agency">Agence</label>
                    <select id="stat_filter_agencies_list" name="stat_filter_agency" class="select2 form-control"
                            tabindex="-1" aria-hidden="true" onchange="this.form.submit()"
                    >
                        <option value=""></option>
                        {% for agency in filters.agenciesList %}
                            <option value="{{ agency.getRemoteId() }}" data-id="{{ agency.getRemoteId() }}"
                                    {% if agency.getRemoteId() == app.request.get('stat_filter_agency') %}
                                        {{ 'selected="selected"'}}
                                        {% set selectedAgency = agency %}
                                    {% endif %}
                            >{{ agency.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if filters.commercials is defined %}
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="commercial">Choisir un commercial ou toute l'agence</label>
                    <select id="stat_filter_commercials_list" name="stat_filter_commercial" class="select2 form-control"
                            tabindex="-1" aria-hidden="true"
                    >
                        <option value="">Toute l'agence</option>
                        {% for commercial in filters.commercials %}
                            <option value="{{ commercial.getRemoteId() }}" data-id="{{ commercial.getRemoteId() }}"
                                    {% if commercial.getRemoteId() == app.request.get('stat_filter_commercial') %}
                                        {{ 'selected="selected"'}}
                                        {% set selectedCommercial = commercial %}
                                    {% endif %}
                            >{{ commercial.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" id="filter_submit" name="filter_submit" class="btn btn-success btn-block">Appliquer</button>
        </div>
    </div>
</div>
{% if selectedAgency or selectedCommercial %}
<div class="hpanel">
    <div class="panel-heading">
        {% if selectedCommercial %}
            Les statistiques de {{ selectedCommercial.name }}
        {% else %}
            Les statistiques de toute l'agence
        {% endif %}
    </div>
</div>
{% else %}
        <div class="hpanel">
            <div class="panel-heading">
                Les statistiques de {{ user.name }}
            </div>
        </div>
{% endif %}