{% trans_default_domain "commiti" %}
<div class="hpanel">
    <a href="{{ path('ads_show',{'remoteId':topAd.ad.remoteId}) }}">
        <h5>{{ topAd.ad.libelle|upper }}</h5>
    </a>
    <div class="pull-left">
        <a href="{{ path('ads_show',{'remoteId':topAd.ad.remoteId}) }}">
            <img src="{{ topAd.ad.getImagePrincipale()|imagine_filter('stat_thumb') }}" class="img-responsive" />
        </a>
    </div>
    <div>
        <span class="m-sm"><label>Réf : </label> {{ topAd.ad.reference }}</span><br />
        <span class="m-sm"><label>Type : </label> {{ topAd.ad.typeDiffusion |capitalize() }}</span><br />
        <span class="m-sm"><label>Prix : </label> {{ topAd.ad.prix|number_format(0, ',', ' ') }}€</span><br />
        <span class="m-sm font-extra-bold text-success">
            {% if topAd.score > 1 %}
                Demandes reçus
            {% else %}
                Demande reçu
            {% endif %}
        </span><br />
        <h3 class="m-sm font-extra-bold text-success text-center">
            {{ topAd.score }}
        </h3>
    </div>
</div>