{% trans_default_domain "commiti" %}
<div class="hpanel">
    <div class="panel-heading">Dernière MAJ le 10/08/2017</div>
    <div class="panel-body panel-success">
        <div class="row">
            <div class="col-md-2 text-white">
                <div class="hpanel">
                    <div class="text-center">
                        <h5>CLASSEMENT</h5>
                        <br />
                        <i class="fa fa-trophy fa-5x"></i>
                        <br />
                        <br />
                        <h5>TOP 3 ANNONCES</h5>
                    </div>
                </div>
            </div>
            {% for topAd in topAds  %}
                <div class="col-md-3 bg-white" style="margin-right: 10px">
                    {% include '@App/Dashboard/topAd.html.twig'   %}
                </div>
            {% endfor %}
            {% for topAd in topAds  %}
                <div class="col-md-3 bg-white" style="margin-right: 10px">
                    {% include '@App/Dashboard/topAd.html.twig'   %}
                </div>
            {% endfor %}
            {% for topAd in topAds  %}
                <div class="col-md-3 bg-white" style="margin-right: 10px">
                    {% include '@App/Dashboard/topAd.html.twig'   %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
