{% trans_default_domain "commiti" %}
<div class="row">
    <div class="col-md-4">
        {% include '@App/Dashboard/welcome.html.twig'  %}
    </div>
    <div class="col-md-5">
        {% include '@App/Dashboard/latest_news.html.twig'  %}
    </div>
    <div class="col-md-3">
        {% include '@App/Dashboard/faq.html.twig'  %}
    </div>
</div>