{% trans_default_domain "commiti" %}
<div class="hpanel">
    <div class="panel-heading">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
            <a class="closebox"><i class="fa fa-times"></i></a>
        </div>
        {{ "Welcome to your DISPLAY customer space"|trans }}
    </div>
    <div class="panel-body fixed-panel">
        <div class="row">
            <div>
                {{ dashboard.welcome | raw }}
            </div>
        </div>
    </div>
</div>