{% trans_default_domain "commiti" %}
{% if hasSuiviOption %}
<div class="row">
    {% include '@App/Dashboard/Widgets/opportunity.html.twig'  %}
    {% include '@App/Dashboard/Widgets/messages.html.twig'  %}
    {% include '@App/Dashboard/Widgets/notifications.html.twig'  %}
    {% include '@App/Dashboard/Widgets/rdv.html.twig'  %}
</div>
{% endif %}
<div class="row">
    {% include '@App/Dashboard/Widgets/account.html.twig'  %}
    {% include '@App/Dashboard/Widgets/ads.html.twig'  %}
    {% include '@App/Dashboard/Widgets/models.html.twig'  %}
    {% include '@App/Dashboard/Widgets/diffusions.html.twig'  %}
</div>
<div class="row">
    {% include '@App/Dashboard/Widgets/adsAchivement.html.twig'  %}
    {% include '@App/Dashboard/Widgets/portalUse.html.twig'  %}
    {% include '@App/Dashboard/Widgets/opportunityToClient.html.twig'  %}
    {% include '@App/Dashboard/Widgets/opportunityReceived.html.twig'  %}
</div>