<input type="hidden" id="total-notes" value="{{ totalnotes }}" />
{% if notes is defined %}
    {% if notes is not empty %}
      {% for note in notes %}
    	<tr role="row" class="even">
    		<td class=" w200">{{ note.n_created|date("d/m/Y") }}</td>
			<td>
				<a data-action="view" data-id="{{ note.n_id }}" title="Note" href="javascript:void(0);">{{ note.n_title }}</a>
				<br> 
				{% set labels = note.labels %}
				{% if labels is not empty %}
					{% for label in labels %}
						<span class="label label-info">{{ label }}</span> 
					{% endfor %}
				{% endif %}
			</td>
			<td class=" text-center option w100">
				<a data-action="edit" data-id="{{ note.n_id }}" title="Edit note" href="javascript:void(0);">
					<i class="fa fa-pencil"></i>
				</a>
				<a data-action="delete" data-id="{{ note.n_id }}" title="Delete note" href="javascript:void(0);">
					<i class="fa fa-times fa-fw"></i>
				</a>
			</td>
		</tr>
      {% endfor %}
    {% else %}
    	<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">No record found.</td></tr>
    {% endif %}
{% endif %}