{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Notes{% endblock %}

{% block body %}
	<div id="notes-content">
		<div class="normalheader transition animated fadeIn">
		    <div class="hpanel">
		        <div class="panel-body">
		            <a class="small-header-action" href="">
		                <div class="clip-header">
		                    <i class="fa fa-arrow-up"></i>
		                </div>
		            </a>

		            <div id="hbreadcrumb" class="pull-right m-t-lg">
		                <ol class="hbreadcrumb breadcrumb">
	                        <li>
	                            <span><a href="{{ path('fos_user_profile_show') }}">Notes</a> </span>
	                        </li>
	                        <li class="active">
	                            <span>List </span>
	                        </li>
		                </ol>
		            </div>
		            <h2 class="font-light m-b-xs">
		                <a href="{{ path('fos_user_profile_show') }}">Notes</a>
		            </h2>
		            <small>Résumé de votre Notes</small>
		        </div>
		    </div>
		</div>

		<div id="notes-list-content" class="content animate-panel">
	    	<div class="row">
	        	<div class="col-lg-12" style="">
	            	<div class="hpanel hgreen">
	                	<div class="panel-body">
							<div class="p20 note-page clearfix" id="page-content">
								<div class="panel panel-default">
									<div class="page-title clearfix">
									    <h1> Notes (Private)</h1>
									    <div class="title-button-group">
									        <a id="add_note" data-title="Add note" title="Add note" class="btn btn-default fancybox">
									        	<i class="fa fa-plus-circle"></i> Add note
									        </a>            
									        <input type="hidden" href="#my-pop" class="popup1" />
									    </div>
									</div>
									<div class="table-responsive">
									    <div id="note-table_wrapper" class="dataTables_wrapper no-footer">
									    	<div class="datatable-tools">
									    		<div class="col-md-3">
									    			<div id="note-table_length" class="dataTables_length">
									    				<label>
									    					<select id="notes-per-page" title="" tabindex="-1" class="" aria-controls="note-table" name="note-table_length">
									    						<option value="2">2</option>
									    						<option value="3">3</option>
									    						<option value="4">4</option>
									    						<option value="5">5</option>
									    						<option value="10">10</option>
									    						<option value="25">25</option>
									    						<option value="50">50</option>
									    						<option value="100">100</option>
									    					</select>
									    				</label>
									    			</div>
									    		</div>
									    		<div class="col-md-9 custom-toolbar">
									    			<div class="dataTables_filter" id="note-table_filter">
									    				<label>
									    					<input id="search-keyword" type="search" aria-controls="note-table" placeholder="Search" class=""/>
									    				</label>
									    			</div>
									    		</div>
									    		<div style="display: none;" class="dataTables_processing" id="note-table_processing">
									    			<div class="table-loader">
									    				<span class="loading"></span>
									    			</div>
									    		</div>
									    	</div>

											<table cellspacing="0" width="100%" class="display dataTable no-footer" id="note-table" role="grid" aria-describedby="note-table_info">
												<thead>
											        <tr role="row">
											        	<th class="w200 sorting" sort-by="n.created" sorted="">Created date</th>
											        	<th class="sorting" sort-by="n.title" sorted="">Title</th>
											        	<th class="text-center sorting" sort-by="n.id" sorted=""><i class="fa fa-bars"></i></th>
											        </tr>
											    </thead>
											    <tbody id="notes-list-rows">
											    	
												</tbody>
											</table>

											<div class="datatable-tools clearfix">
												<div class="col-md-3">
													<div class="dataTables_info" id="note-table_info" role="status" aria-live="polite">
														<span id="note-start">1</span>-<span id="note-end"></span> / <span class="total-notes">{{ totalnotes }}</span>
													</div>
												</div>
												<div class="col-md-9">
													<div class="dataTables_paginate paging_simple_numbers" id="note-table_paginate">
														<a class="paginate_button previous disabled" aria-controls="note-table" data-dt-idx="0" tabindex="0" id="note-table_previous">
															<i class="fa fa-angle-double-left"></i>
														</a>
														<span>
															<a id="current-note-page" class="paginate_button current" aria-controls="note-table" data-dt-idx="1" tabindex="0">1</a>
														</span>
														<a class="paginate_button next disabled" aria-controls="note-table" data-dt-idx="2" tabindex="0" id="note-table_next">
															<i class="fa fa-angle-double-right"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="loader-background" style="display:none;">
			<div id="ajaxModalOriginalContent">
			    <div class="original-modal-body">
			        <div class="circle-loader"></div>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}

	{% javascripts '@NotesBundle/Resources/public/js/*' filter='yui_js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
	$("document").ready(function(){
	    renderNotesList(true);
	});
	</script>

{% endblock %}

{% block stylesheets %}
	{% include 'NotesBundle:includes/notes_styles.html.twig' %}
{% endblock stylesheets %}