{% set noteId         = "" %}
{% set title          = "" %}
{% set description    = "" %}
{% set notes_labels   = "" %}
{% set formTitle   = "Note" %}

{% if notes is defined %}
  {% if notes is not empty %}
    {% for note in notes %}
      {% set noteId       = note.n_id %}
      {% set title        = note.n_title %}
      {% set description  = note.n_description %}
      {% set notes_labels = note.labels %}
    {% endfor %}
  {% endif %}
{% endif %}
<div id="popup-wrapper" class="notes-popup-wrapper">
  <div class="popup-main" id="my-pop" style="display: none">
    <div class="popup-box">
      <div class="popup-tital">
        
          {% if action == "add" %}
            {% set formTitle   = "Add Note" %}
          {% elseif action == "edit" %}
            {% set formTitle   = "Edit Note" %}
          {% endif %}
         
        <h3>{{ formTitle }}</h3>
        <a href="javascript:void(0);" id="popup-close-btn" class="close"></a>
      </div>

      {% if action != "view" %}
        <div class="popup-form">
          <form id="note-form">
            <input type="hidden" name="edit_note_id" id="note-id" value="{{ noteId }}" />
            <div class="field">

            {{ form_widget(form.title,{ 'id': 'title','attr':{'placeholder':'Title','maxlength': 60}}) }}
            </div>
            <div class="field">
            {{ form_widget(form.description,{ 'id': 'description','attr':{'placeholder':'Description'}}) }}
            </div>
            <div class="field">
                <ul id="tags" class="tags_one">
                  {% if notes_labels is defined %}
                    {% if notes_labels is not empty %}
                      {% for notes_id, notes_label in notes_labels %}
                        <li id="{{ notes_id }}" data-label="{{ notes_label }}" class="select2-search-choice"><div>{{ notes_label }}</div>
                          <a href="javascript:void(0);" class="select2-search-choice-close remove-label" tabindex="-1"></a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endif %}

                  <li><input id="searcher" type="text" autocapitalize="off" autocorrect="off" autocomplete="off" placeholder="Label"></input></li>
                  }
                </ul>
                <ul id="temp-tags" class="tem-tags_one"></ul>
            </div>
            <div class="field submit-field">
              <input type="submit" value="Save" />
              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
          </form>
        </div>
      {% else %}
        <div id="ajaxModalContent" class="note-view">
          <div class="modal-body clearfix general-form">
            <div class="form-group">
              <div class="col-md-12 notepad-title">
                <strong>{{ title }}</strong>
              </div>
            </div>
          <div class="col-md-12 mb15 notepad">{{ description }}</div>
          <div class="col-md-12">
            {% if notes_labels is defined %}
              {% if notes_labels is not empty %}
                {% for notes_label in notes_labels %}
                  <span class="label label-info">{{ notes_label }}</span>
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <a title="Edit note" data-id="{{ noteId }}" data-action="edit" class="btn btn-default" href="javascript:void(0);"><i class="fa fa-pencil"></i> Edit note</a>
          <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>