{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Commentaire modération du modèle "{{ model.getName() }}"
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ model.getOwner().name }} ,
    </p>
    <p>Nous vous informons que {{ chef.name }} a laissé un commentaire sur
        votre modèle de maison :<br><br>
        <a href="{{ url('housemodel_show',{'remoteId':model.remoteId}) }}" class="active" target="_blank">
        "{{ model.getName() }}" </a>.
    </p>
    <b>Message : </b>
    <p>{{ msg }}</p>
{% endblock %}