{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Validation de la modération du modèle "{{ model.getName() }}"
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ model.getOwner().name() }} ,
    </p>
        Nous vous informons que {{ user.name }} a validé votre modèle de maison "{{ model.getName() }}".
{% endblock %}