{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Modèle en attente de mdoération "{{ model.getName() }}"
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ chef.name }} ,
    </p>
    <p>Nous vous informons que votre collaborateur {{ user.name }}  a ajouté un nouveau modèle "{{ model.getName() }}"
        en attente de votre modération.
        <br/><br/>Merci de bien vouloir en prendre connaissance rapidement.
    </p>
{% endblock %}