{% trans_default_domain "commiti" %}
        <div class="hpanel">
            <div class="panel-body fixed-panel">
                <div class="row">
                    <div class="col-md-2">
                        <div class="hpanel">
                            <div class="text-center">
                                <br />
                                <h5>{{ contactStats ? contactStats.total : '-' }}</h5>
                                <br />
                                <br />
                                <p>contacts reçus le mois dernier</p>
                                <br />
                                <br />
                                <p><i class="glyphicon glyphicon-time"></i> periode de Juillet 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id="contacts-line-chart" style="height: 200px"></div>
                    </div>
                    <div class="col-md-3">
                        <i class="glyphicon glyphicon-time"></i> Personnaliser la durée
                        <select class="select2">
                            <option value=""></option>
                            <option value="lastDay">Dernière journée</option>
                            <option value="lastWeek">Dernière Semaine</option>
                            <option value="lastMonth">Dernièr Mois</option>
                            <option value="customPeriod">Pérsonnalisé</option>
                        </select>
                        <div class="input-daterange input-group" data-plugin-datepicker>
                            <div class="input-group input-daterange">
                                <input type="text" class="form-control datepicker" value="2012-04-05">
                                <div class="input-group-addon">to</div>
                                <input type="text" class="form-control datepicker" value="2012-04-19">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Filtrer</button>
                    </div>

                </div>
            </div>
        </div>