{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "inbox.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-3">
                <div class="hpanel">
                    <div class="panel-body">
                        <a href="{{ path('gestion_mailbox_new') }}" class="btn btn-success btn-block m-b-md">Nouveau Message</a>
                        {% set currentPath = app.request.attributes.get('_route') %}
                        <ul class="mailbox-list">
                            <li class="{{ (currentPath == 'gestion_mailbox_inbox') ? 'active' : '' }}">
                                <a href="{{ path('gestion_mailbox_inbox') }}">
                                    {% if unreaded %}<span class="pull-right">{{ unreaded }}</span>{% endif %}
                                    <i class="fa fa-envelope"></i> {{ "Inbox"|trans }}
                                </a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_mailbox_sent') ? 'active' : '' }}">
                                <a href="{{ path('gestion_mailbox_sent') }}"><i class="fa fa-paper-plane"></i> {{ "Sent"|trans }}</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_mailbox_draft') ? 'active' : '' }}">
                                <a href="{{ path('gestion_mailbox_draft') }}"><i class="fa fa-pencil"></i> {{ "Draft"|trans }}</a>
                            </li>
                            <li class="{{ (currentPath == 'gestion_mailbox_trash') ? 'active' : '' }}">
                                <a href="{{ path('gestion_mailbox_trash') }}"><i class="fa fa-trash"></i> {{ "Trash"|trans }}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                {% block main %}
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 m-b-md">
                                <div class="btn-group">
                                    <a href="javascript:location.reload();" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> {{ "Refresh"|trans }}</a>
                                    <a href="javascript:$('#formCheck').submit();" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6 mailbox-pagination m-b-md">
                                <div class="btn-group">
                                    {% set page = app.request.get('page') %}
                                    {% if page > 1  %}
                                        <a href="{{ path('gestion_mailbox_inbox',{'page':page-1}) }}" class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></a>
                                    {% endif %}
                                    {% if page < nbPage  %}
                                        <a href="{{ path('gestion_mailbox_inbox',{'page':page+1}) }}" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if discussions|length > 0 %}
                        <form id="formCheck" action="{{ path('gestion_mailbox_remove') }}" method="POST">
                        <div class="table-responsive">
                            <table class="table table-hover table-mailbox">
                                <tbody>
                                {% for discussion in discussions %}
                                {% if app.user in discussion.listNonVue %}
                                <tr class="unread">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td>
                                        <div class="checkbox checkbox-single checkbox-success">
                                            <input name="ids[]" type="checkbox" value="{{ discussion.remoteId }}">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td><a href="{{ path('gestion_mailbox_view',{'remoteId':discussion.remoteId}) }}">{{ discussion.messages.0.user.name }}</a>{% if discussion.hasDraft(app.user) %}<span class="label label-danger">Draft</span>{% endif %}</td>
                                    <td><a href="{{ path('gestion_mailbox_view',{'remoteId':discussion.remoteId}) }}">{{ discussion.subject }}</a>
                                    </td>
                                    <td>{% if discussion.hasAttachement() %}<i class="fa fa-paperclip"></i>{% endif %}</td>
                                    <td class="text-right mail-date">{{ discussion.messages.0.createdAt|localizeddate('short', 'short', app.request.locale ) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </form>
                        {% else %}
                            <p>Aucun message reçu</p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <i class="fa fa-eye"> </i> {{ unreaded }} non lu
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}