{% extends 'AppBundle:Gestion:Mailbox/inbox.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "inbox.new" | trans }}{% endblock %}
{% block main %}
<div class="hpanel email-compose">
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form,{'attr': {'novalidate':'novalidate', 'class':'form-horizontal'} }) }}
    <div class="panel-heading hbuilt">
        <div class="p-xs">
            <div class="form-group">
                <div class="col-sm-1"> {{ form_label(form.users) }} </div>
                <div class="col-sm-11">
                    {{ form_widget(form.users,{'attr':{'class':'form-control input-sm select2'}}) }}
                    {{ form_errors(form.users) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1"> {{ form_label(form.subject) }} </div>
                <div class="col-sm-11">
                    {{ form_widget(form.subject,{'attr':{'class':'form-control input-sm'}}) }}
                    {{ form_errors(form.subject) }}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body no-padding">
        {{ form_widget(form.messages.0.message,{'id':'compose-field', 'attr':{'class':'summernote'}}) }}
        {{ form_errors(form.messages.0.message) }}
    </div>

    <div class="panel-footer">
        <div class="pull-right">
            <div class="btn-group">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_widget(form.submit) }}
        {#<div class="btn-group">
            <a href="javascript:void(0);" class="btn btn-default" id="attach_file"><i class="fa fa-paperclip"></i></a>
            <div class="hidden">{{ form_widget(form.messages.0.image) }}</div>
            {{ form_errors(form.messages.0.image) }}
        </div>#}

    </div>
    {{ form_end(form) }}
</div>
{% endblock %}


{% block javascript %}
<script type="application/javascript">
    $(function () {
        // Initialize summernote plugin
        $('.summernote').summernote({
            toolbar: [
                ['headline', ['style']],
                ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                ['textsize', ['fontsize']],
                ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']],
            ]
        });
        $('#attach_file').on('click',function(){ $(this).closest('div').find('input').trigger('click') });
    });
</script>
{% endblock %}
