{% extends 'AppBundle:Gestion:Mailbox/inbox.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "inbox.sent" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 m-b-md">
                    <div class="btn-group">
                        <a href="javascript:location.reload();" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</a>
                        <a href="javascript:$('#formCheck').submit();" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mailbox-pagination m-b-md">
                    <div class="btn-group">
                        {% set page = app.request.get('page') %}
                        {% if page > 1  %}
                            <a href="{{ path('gestion_mailbox_inbox',{'page':page-1}) }}" class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></a>
                        {% endif %}
                        {% if page < nbPage  %}
                            <a href="{{ path('gestion_mailbox_inbox',{'page':page+1}) }}" class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% set unreaded = 0 %}
            {% if discussions|length > 0 %}
            <form id="formCheck" action="{{ path('gestion_mailbox_remove') }}" method="POST">
            <div class="table-responsive">
                <table class="table table-hover table-mailbox">
                    <tbody>
                    {% for discussion in discussions %}
                    {% if app.user in discussion.listNonVue %}
                        {% set unreaded = unreaded + 1 %}
                    <tr class="unread">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            <div class="checkbox checkbox-single checkbox-success">
                                <input name="ids[]" type="checkbox" value="{{ discussion.remoteId }}">
                                <label></label>
                            </div>
                        </td>
                        <td><a href="{{ path('gestion_mailbox_view',{'remoteId':discussion.remoteId}) }}">{{ discussion.users.0.name }}{% if discussion.users|length > 1 %}, ...{% endif %}</a>{% if discussion.hasDraft(app.user) %}<span class="label label-danger">Draft</span>{% endif %}</td>
                        <td><a href="{{ path('gestion_mailbox_view',{'remoteId':discussion.remoteId}) }}">{{ discussion.subject }}</a>
                        </td>
                        <td>{% if discussion.hasAttachement() %}<i class="fa fa-paperclip"></i>{% endif %}</td>
                        <td class="text-right mail-date">{{ discussion.messages.0.createdAt|localizeddate('short', 'short', app.request.locale ) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </form>
            {% else %}
                <p>Aucun message envoyer</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            <i class="fa fa-eye"> </i> {{ unreaded }} non lu
        </div>
    </div>
{% endblock %}