{% extends 'AppBundle:Gestion:Mailbox/inbox.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "inbox.sent" | trans }}{% endblock %}
{% block main %}
    <div class="hpanel email-compose">
        <div class="panel-heading hbuilt">

            <div class="p-xs h4">
                {{ discussion.subject }}
            </div>
        </div>
        <div class="border-top border-left border-right bg-light">
            <div class="p-m">

                <div>
                    <span class="font-extra-bold">Object: </span>
                    {{ discussion.subject }}
                </div>
                <div>
                    <span class="font-extra-bold">From: </span>
                    <a href="#">{{ discussion.sender.name }}</a>
                </div>
                <div>
                    <span class="font-extra-bold">Date: </span>
                    {{ discussion.createdAt|date('F d-m-Y H:i:s') }}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="chat-discussion no-overflow">
                {% for message in discussion.messages if not message.isDraft %}
                    <div class="chat-message {{ cycle(['left', 'right'], loop.index0) }}">
                        {% if message.user.avatar %}
                            <img alt="logo" class="message-avatar" src="{{ asset(message.user.avatar) }}">
                        {% else %}
                            <i class="message-avatar pe-7s-user fa-4x text-muted"></i>
                        {% endif %}
                        <div class="message">
                            <a class="message-author" href="#"> {{ message.user.name }} </a>
                            <span class="message-date">  {{ message.createdAt|date('F d-m-Y H:i:s') }} </span>
                            <span class="message-content">
                                <div>
                                    {{ message.message|raw }}
                                </div>
                                {% if message.documents|length %}
                                <div class="border-top p-m">
                                    <p class="m-b-md">
                                        <span><i class="fa fa-paperclip"></i> 3 attachments</span>
                                    </p>
                                    <div class="row">
                                        {% for document in documents %}
                                            <div class="{% if review is not defined %}col-sm-3{% endif %} uploadedDocument">
                                                <div class="hpanel">
                                                    <div class="panel-body file-body">
                                                        {% if document.getMimeType() == 'application/pdf' %}
                                                            <i class="fa fa-file-pdf-o text-info"></i>
                                                        {% elseif document.getMimeType() == 'audio/*' %}
                                                            <i class="fa fa-file-audio-o text-warning"></i>
                                                        {% elseif document.getMimeType() == 'excel/*' %}
                                                            <i class="fa fa-file-excel-o text-success"></i>
                                                        {% elseif document.getMimeType() == 'excel/*' %}
                                                            <img src="{{ ('/uploads/documents/' ~ document.name) }}" class="img-responsive" />
                                                        {% endif %}
                                                    </div>
                                                    <div class="panel-footer">
                                                        <span>{{ document.getTitle() }}</span>
                                                        {% if (remove is defined and remove is not null) or remove is not defined %}
                                                            <div class="btn-group">
                                                            <a class="btn btn-xs btn-default removeDocument" data-name="{{ document.getOriginalFileName() }}" data-id="{{ document.id }}">{{ 'action.delete'|trans }}</a>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        <div class="panel-body no-padding hidden" id="reply">
            {{ form_start(form,{'attr': {'novalidate':'novalidate', 'class':'form-horizontal'} }) }}
            {{ form_widget(form.message,{'id':'compose-field', 'attr':{'class':'summernote'}}) }}
            {{ form_errors(form.message) }}
        </div>
        <div class="panel-footer" style="height: 55px;">
            <div class="btn-group">
                <button class="btn btn-primary hidden" type="submit" id="sendMail"><i class="fa fa-paper-plane"></i> Envoyer</button>
            </div>
            <div class="btn-group text-right pull-right">
                <a href="javascript:reply();" class="btn btn-default"><i class="fa fa-reply"></i> Reply</a>
                <a href="{{ path('gestion_mailbox_remove',{'remoteId':discussion.remoteId}) }}" class="need_confirmation btn btn-default"><i class="fa fa-trash-o"></i> Remove</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        function reply() {
            $('.summernote').summernote({
                toolbar: [
                    ['headline', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'superscript', 'subscript', 'strikethrough', 'clear']],
                    ['textsize', ['fontsize']],
                    ['alignment', ['ul', 'ol', 'paragraph', 'lineheight']],
                ]
            });
            $('#sendMail').removeClass('hidden');
            $('#reply').removeClass('hidden');
        }
        $(document).ready(function() {

        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .chat-discussion.no-overflow { overflow-y: auto; height: auto }
    </style>
{% endblock %}
