{% trans_default_domain 'commiti' %}
<div class="panel-body">
<div class="pull-right text-right">
    <div class="btn-group">
        <a href="javascript:void(0)" class="edit-distribution"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
    </div>
</div>
<h2>{{ 'portal.list_distribution'|trans }}</h2>
<hr/>
{% set header_name="" %}
{% set header_commercial="" %}
{% set header_remaining="" %}
{% set header_used="" %}
{% set portal_list={} %}
<form action="{{ isGroup is defined ? path('group_agency_show',{'remoteId':group.remoteId})~'#tab-distribution_portal_diffusion' : path('agency_my')~'#tab-3' }}" method="post" id="agency_distribution_form" class="i-checks form-horizontal">
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <th>{{ 'portal.support_name'|trans }}</th>
            {% for portalRegistration in group.getBroadcastPortalRegistrations() if
                portalRegistration.getBroadcastPortal().cluster == 'PAYANT' and
                portalRegistration.isEnabled and
                (portal_list is empty or portal_list["portal_"~portalRegistration.broadcastPortal.id] is not defined)
            %}
                {% set header_name %}
                    {{ header_name }}
                <td data-id="{{ portalRegistration.broadcastPortal.id }}" data-limit="{{ portalRegistration.adLimit }}">
                    {{- portalRegistration.getAdLimit() -}}
                    {% set portal_id = portalRegistration.broadcastPortal.id %}
                    {% set portal_list = portal_list| merge({("portal_"~portal_id): {
                                                'id': portal_id,
                                                'limit': portalRegistration.adLimit
                    }}) %}
                </td>
                {% endset %}
                <td> {{- portalRegistration.broadcastPortal.name -}}</td>

                {% set header_commercial %}
                    {{ header_commercial }}
                    <th>&nbsp;</th>
                {% endset %}
                {% set header_remaining %}
                    {{ header_remaining }}
                    <td class="bg-success" id="remaining-{{ portalRegistration.broadcastPortal.id }}"></td>
                {% endset %}
                {% set header_used %}
                    {{ header_used }}
                    <td class="bg-warning" id="used-{{ portalRegistration.broadcastPortal.id }}"></td>
                {% endset %}

            {% endfor %}
        </tr>
        <tr>
            <th>{{ 'portal.volume_annonce_portail_total'|trans }}</th>
            {{ header_name }}
        </tr>
        <tr class="arrow-separator-bottom">
            <th>{{ 'Commercial'|trans }}</th>
            {{ header_commercial }}
        </tr>
        {% for commercial in commercialMap %}
            <tr class="commercial" data-id="{{ commercial.id }}">
                <th>{{ commercial.name }}</th>
                {% for index, portal in portal_list  %}
                    <td class="portal {{ index }}" data-id="{{ commercial.portals[index] is defined ? commercial.portals[index].id : '' }}">
                        {% if commercial.portals[index] is defined  %}
                            <div class="with-table">
                            {{ commercial.portals[index].used~"/"~commercial.portals[index].limit }}
                            </div>
                            <div class="with-form hide">
                                <input  type="number" class="form-control"
                                        min="0" max="{{ portal_list[index].limit }}"
                                        name="commercial_limit[{{ portal_list[index].id }}][{{ commercial.id }}][limit]"
                                        value="{{ commercial.portals[index].limit }}"  />
                                <input  type="hidden" name="commercial_limit[{{ portal_list[index].id }}][{{ commercial.id }}][id]"
                                        value="{{ commercial.portals[index].id }}"  />
                            </div>
                        {% else %}
                            <div class="with-form hide">
                                <input  type="number" class="form-control"
                                        min="0" max="{{ portal_list[index].limit }}"
                                        name="commercial_limit[{{ portal_list[index].id }}][{{ commercial.id }}][limit]"
                                        value="0"  />
                                <input  type="hidden" name="commercial_limit[{{ portal_list[index].id }}][{{ commercial.id }}][id]"
                                        value=""  />
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr class="arrow-separator-top">
            <th class="bg-success">{{ 'Remaining credit'|trans|upper }}</th>
            {{ header_remaining }}
        </tr>
        <tr class="arrow-separator-top">
            <th class="bg-warning">{{ 'Used credit'|trans|upper }}</th>
            {{ header_used }}
        </tr>
        </tbody>
    </table>
    <div class="text-right m-t-xs with-form hide">
        <button type="submit" id="agency_distribution_form_submit" name="agency_distribution_submit" class="btn btn-success btn">Assigner</button>
        <button type="reset" id="agency_distribution_form_cancel" name="agency_distribution_cancel" class="btn btn-failed btn">Annuler</button>
    </div>
</form>
</div>
<script type="application/javascript">
    $(function() {
        var portalArray = JSON.parse('{{ portal_list|json_encode()|raw }}');
        commercialPortal.init(portalArray);
    });
    var commercialPortal = function(){
        var portalArray;
        /**
         * inti actions
         *
         */
        function _init(arr){
            portalArray = arr;
            $(".numcber-input").TouchSpin({
                verticalbuttons: true
            });
            var edition = false;
            $(".edit-distribution").on("click", function () {
                edition = !edition;
                checkEdition(edition);
            });
            $("#agency_distribution_form_cancel").on("click", function () {
                edition = false;
                checkEdition(edition);
            });
            $(".commercial .portal input[type=number]").on("keyup click", function () {
                var value = Math.min($(this).val(), $(this).attr("max"));
                value = Math.max(value, $(this).attr("min"));
                $(this).val(value);
                updateMax();
            });
            /*
            $(".commercial .portal input[type=number]").on("blur focus", function () {

            });
            */
            updateMax();
        }

        function checkEdition(edition){
            if(edition) {
                $(".with-form").removeClass("hide");
                $(".with-table").addClass("hide");
            }else {
                $(".with-form").addClass("hide");
                $(".with-table").removeClass("hide");
            }
        }
        /**
         * update input max
         */
        function updateMax(){
            $.each(portalArray, function(key, value){
                var limit = value.limit;
                var sum = 0;
                var inputSelector = $("."+key+" input[type=number]");
                inputSelector.each(function (key, elem) {
                    sum+= 1*$(elem).val();
                });
                var tolerance =  limit - sum;
                $("#remaining-"+value.id).html(tolerance);
                $("#used-"+value.id).html(sum);
                inputSelector.each(function (key, elem) {
                    element = $(elem);
                    element.attr("max", (1*element.val())+(1*tolerance));
                });
            })
        }
        return {init:_init}
    }();
</script>