{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <div class="pull-right text-right">
        <div class="btn-group">
            <a href="{{ path('group_agency_edit',{'remoteId':group.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
        </div>
    </div>
    {% set agency = group.getAgency() %}
    {% if agency.getAvatar() %}<img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(agency.getAvatar()) }}">{% endif %}
    <h3>{{ agency.getName() }}</h3>
    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        {% if agency.reference %}
            <tr><td>{{ 'agence.reference'|trans }}</td><td>{{ agency.reference }}</td></tr>
        {% endif %}
        <tr><td>{{ 'agence.color'|trans }}</td><td><div style="border:1px solid #efefef;width:30px;height:30px;background-color: {{ agency.color }}"></div></td></tr>
        <tr><td>{{ 'agence.description'|trans }}</td><td>{{ agency.getContent()|raw }}</td></tr>
        <tr><td>{{ 'agence.contact.nom'|trans }}</td><td>{{ agency.getNom() }}</td></tr>
        <tr><td>{{ 'agence.contact.prenom'|trans }}</td><td>{{ agency.getPrenom() }}</td></tr>
        <tr>
            <td>{{ 'agence.contact.email'|trans }}</td>
            <td><div class="row">
                    <div class="col-md-4">{{ agency.getEmail() }}</div>
                    {% if group.hasRole('ROLE_AGENCY') and  group.emailAlias %}
                        <div class="col-md-6"><b>{{ 'Email alias'|trans }}:</b> {{ group.emailAlias }}</div>
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr><td>{{ 'agence.contact.zip_code'|trans }}</td><td>{{ agency.getCodePostal() }}</td></tr>
        <tr><td>{{ 'agence.contact.city'|trans }}</td><td>{{ agency.getVille() }}</td></tr>
        <tr><td>{{ 'agence.contact.adresse'|trans }}</td><td>{{ agency.getAdress() }}</td></tr>
        {% if (
            is_granted('ROLE_MARKETING')  or
            is_granted('ROLE_AGENCY') or
            is_granted('ROLE_DIRECTOR')
        )
        %}
            {% if agency.getTrackingPhone() %}
                <tr>
                    <td>
                        {{ 'agence.contact.tracking_phone'|trans }}</td><td>{{ agency.getTrackingPhone() }}
                        {{ statistics['call'] is defined and statistics['call']['agency'] is defined ?
                        "/ "~(
                        statistics['call']['agency'] >1 ?
                        "Calls" |trans({'%total%':  statistics['call']['agency']}) :
                        "Call" |trans({'%total%':  statistics['call']['agency']+0})
                        )| raw  : ""
                        }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>
    <h3>{{ 'agence.facturation'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="35%"></td><td width="65%"></td></tr>
        <tr><td>{{ 'agence.facturation.nom_entite'|trans }}</td><td>{{ agency.facturationNomEntite ? agency.facturationNomEntite : '-' }}</td></tr>
        <tr><td>{{ 'agence.facturation.adresse'|trans }}</td><td>{{ agency.facturationAdresse ? agency.facturationAdresse : '-' }}</td></tr>
        <tr><td>{{ 'agence.facturation.zip_code'|trans }}</td><td>{{ agency.facturationVille ? agency.facturationVille : '-' }}</td></tr>
        <tr><td>{{ 'agence.facturation.city'|trans }}</td><td>{{ agency.facturationCodePostal ? agency.facturationCodePostal : '-' }}</td></tr>
        </tbody>
    </table>
    <h3>{{ 'Import Annonce'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <tbody>
        <tr><td width="30%">{{ 'Host'|trans }}</td><td>{{ group.getImportHost() ? group.getImportHost() : '-' }}</td></tr>
        <tr><td width="30%">{{ 'Nom d\'utilisateur'|trans }}</td><td>{{ group.getImportUser() ? group.getImportUser() : '-' }}</td></tr>
        <tr><td width="30%">{{ 'Mot de passe'|trans }}</td><td>{{ group.getImportPassword() ? group.getImportPassword() : '-' }}</td></tr>
        <tr><td width="30%">{{ 'Nom du fichier'|trans }}</td><td>{{ group.getImportFileName() ? group.getImportFileName() : '-' }}</td></tr>
        </tbody>
    </table>
</div>