{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <h3>{{ 'employees.list'|trans }}</h3>
    {{ datatable_render(employeeDatatable) }}
{% if group.getBroadcastPortalRegistrations()|length and commercialMap is defined %}
{% endif %}
</div>