{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <div class="pull-right text-right">
        <div class="btn-group">
            <a href="{{ path('agency_edit_portals',{'remoteId':group.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
        </div>
    </div>
    <h2>{{ 'portal.list'|trans }}</h2>
    <hr/>
    {% if group.getBroadcastPortalRegistrations()|length %}
        <h3>{{ 'Liste de portails Payant'|trans }}</h3>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{{ 'portal.logo_portail'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'portal.ftp_host'|trans }}</th>
                    <th>{{ 'portal.ftp_user'|trans }}</th>
                    <th>{{ 'portal.ftp_password'|trans }}</th>
                    <th>{{ 'portal.client_identifier'|trans }}</th>
                    <th>{{ 'portal.track_phone'|trans }}</th>
                {% else %}
                    <th>Identifiant</th>
                    {% if is_granted('ROLE_MARKETING') %}
                        <th>{{ 'password'|trans }}</th>
                    {% endif %}
                {% endif %}
                <th>{{ 'portal.volume_annonce_portail'|trans }}</th>
                {% if not is_granted('ROLE_ADMIN') %}
                    <th>{{ 'portal.acces_espace_pro'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for portalRegistration in group.getBroadcastPortalRegistrations()
                if (
                    portalRegistration.getBroadcastPortal() and
                    portalRegistration.getBroadcastPortal().cluster == 'PAYANT' and
                    portalRegistration.isEnabled
                    )
            %}
                <tr>
                    <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="col-sm-2">{{- portalRegistration.getFtpHost() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getFtpUser() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getFtpPassword() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getIdentifier() -}}</td>
                        <td class="col-sm-2">{{- portalRegistration.getTrackingPhone() -}}</td>
                    {% else %}
                        <td class="col-sm-2">{{- portalRegistration.getLogin() -}}</td>
                        {% if is_granted('ROLE_MARKETING') %}
                            <td class="col-sm-2">{{- portalRegistration.getPassword() -}}</td>
                        {% endif %}
                    {% endif %}
                    <td class="col-sm-2">{{- portalRegistration.getAdLimit() -}}</td>
                    {% if not is_granted('ROLE_ADMIN') %}
                        <td class="col-sm-2">{% if portalRegistration.getBroadcastPortal().espacePro %}<a href="{{ portalRegistration.getBroadcastPortal().espacePro }}"  target="_blank" class="btn btn-primary"><i class="fa fa-user"></i>{{ 'portal.access_my_pro_account'|trans }}</a>{% endif %}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr/>
        <h3>{{ 'Liste de portails Gratuit'|trans }}</h3>
        <table class="table table-bordered table-striped">
            <tbody>
            {% for portalRegistration in group.getBroadcastPortalRegistrations()
                if (
                    portalRegistration.getBroadcastPortal() and
                    portalRegistration.getBroadcastPortal().cluster == 'GRATUIT' and
                    portalRegistration.isEnabled
                )
            %}
                <tr>
                    <td class="col-sm-2"><img src="/{{ portalRegistration.getBroadcastPortal().getIcon() }}" /></td>
                    <td class="col-sm-2">{{ 'free'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'agence.agency_have_no_diffusion_portail'|trans }}</p>
    {% endif %}
</div>