{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <h3>{{ "Mention Légals"|trans }}</h3>
    <p>La réécriture permet de reformuler auprès des portails de votre choix les entêtes de vos annonces ainsi que la partie description.</p>
    {% form_theme formMention _self "AppBundle:GroupAgencies:tabs/_widget.html.twig" %}
    {{ form_start(formMention,{'attr':{'id':'adMentionLegals', 'novalidate':'' }}) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(formMention.body) }}
            {{ form_row(formMention.type) }}
            {{ form_row(formMention.portals) }}
        </div>
    </div>
    {{ form_row(formMention.submit) }}
    {{ form_end(formMention) }}
</div>
<style>
    .multiselect { min-width: 320px; }
</style>
{% block javascript %}
<script>
    $(document).ready(function() {
        $('input[name="ad_mention_legals[type][]"]').on('change',function(){
            if($(this).prop('checked')) {
                $('#ad_mention_legals_portals optgroup[label="'+$(this).val()+'"] option').prop('selected',true);
            } else {
                $('#ad_mention_legals_portals optgroup[label="'+$(this).val()+'"] option').prop('selected',false);
            }
        });
    })
</script>
{% endblock %}