{% trans_default_domain 'commiti' %}
<div class="panel-body">
    {% if is_granted('ROLE_ADMIN') and group.advantagesDiscount|length %}
        <h3>Remise sur les avantages payant</h3>
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr><th>Avantage</th><th>Remise</th><th>Date du début</th><th>Date du fin</th></tr>
            {% for advantage in group.advantagesDiscount %}
                <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.percent~' %' }}</td><td>{{ advantage.dateBeginDiscount|date('d-m-Y H:i:s') }}</td><td>{{ advantage.dateEndDiscount|date('d-m-Y H:i:s') }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h3>{{ 'Gérer mes options actives'|trans }}</h3>
    <table class="table table-bordered table-striped" style="clear: both">
        <thead>
        <tr><th width="35%">{{ 'my_options'|trans }}</th><th width="20%">{{ 'quantity'|trans }}</th><th width="20%">{{ 'validity'|trans }}</th><th width="25%"></th></tr>
        </thead>
        <tbody>
        {% set commercialCount = 0 %}
        {% for a in group.authorizedUser if a.user is null %}
            {% set commercialCount = commercialCount + 1 %}
        {% endfor %}
        <tr><td>{{ 'user.account'|trans }}</td><td>{{ commercialCount }} {{ 'restant'|trans }}</td><td>{{ 'illimiter'|trans }}</td><td></td></tr>
        {% if payedAdvantages|length > 0 %}
            {% for advantage in group.advantages if advantage.advantage in payedAdvantages %}
                <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.quantite is null ? 'Illimité' : advantage.quantite }}</td><td>{{ advantage.dateEnd is null ? 'Illimité' : advantage.dateEnd|date('d-m-Y') }}</td><td><a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.advantage.slug}) }}">Renouveler</a></td></tr>
            {% endfor %}
        {% endif %}
        {% if myTrackingAdvantages|length > 0 %}
            {% for advantage in myTrackingAdvantages %}
                {% set payedAdvantages =  payedAdvantages|merge([advantage.advantage])%}
                <tr>
                    <td>{{ advantage.advantage.name }}</td>
                    <td>{{ advantage.phones.count }} / {{ advantage.amount is null ? 'Illimité' : advantage.amount }}</td>
                    <td>{{ advantage.dateEnd is null ? 'Illimité' : advantage.dateEnd|date('d-m-Y') }}</td>
                    {% if(is_granted('ROLE_DIRECTOR') or is_granted('ROLE_MARKETING')) %}
                        <td><a href="{{ path('payment_advantage',
                            {
                                'remoteId':group.remoteId,
                                'slug':advantage.advantage.slug,
                                'reference': advantage.advantageOption.reference,
                                'trackingCount': advantage.amount
                            }) }}">
                                {{ 'renouveler'|trans }}
                            </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <h3>{{ 'discover_options'|trans }}</h3>
    {% for advantage in configuration.advantages
        if
            advantage not in payedAdvantages and
            advantage.groupType == 'agence' and
            advantage.slug not in emptyTrackingAdvantage
    %}
        <div class="row advantage_option_section">
            <div class="col-sm-8">
                <h4>{{ advantage.name }}</h4>
                <p>{{ advantage.description }}</p>
            </div>
            <div class="col-sm-offset-2 col-sm-2">
                {% set option = advantage.getCheapestOption() %}
                {% if option %}
                    {% set discountPrice = null %}
                    {% if discounts[advantage.id] is defined and discounts[advantage.id].percent %}
                        {% set discountPrice = option.price - option.price*(discounts[advantage.id].percent/100) %}
                    {% endif %}
                    {% set quota = advantage.unite ? advantage.unite : option.unit > 0 ? option.unit : (option.month ==1 ? 'mois' : option.month~' mois') %}
                    <b>{{ 'à partir de'|trans }} <span class="price{% if discountPrice %} discount{% endif %}">
                                                {{ option.price~'€' }}
                                            </span>
                        {% if discountPrice is not null %}
                            <span class="new_price text-success">{{ discountPrice~'€' }}</span>
                        {% endif %}</b>/ {{ quota }}
                    <a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.slug}) }}" class="btn btn-success" class="btn btn-default">
                        {{ "Souscrire"|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <hr/>
        {% if group.advantagesDiscount|length %}
            <h3>{{ 'Remise sur les avantages payant'|trans }}</h3>
            <table class="table table-bordered table-striped" style="clear: both">
                <tbody>
                <tr><th>{{ 'Avantage'|trans }}</th><th>{{ 'Remise'|trans }}</th><th>{{ 'date_debut'|trans }}</th><th>{{ 'date_fin'|trans }}</th></tr>
                {% for advantage in group.advantagesDiscount %}
                    <tr><td>{{ advantage.advantage.name }}</td><td>{{ advantage.percent~' %' }}</td><td>{{ advantage.dateBeginDiscount|date('d-m-Y H:i:s') }}</td><td>{{ advantage.dateEndDiscount|date('d-m-Y H:i:s') }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <h3>{{ 'Options du groupe'|trans }}</h3>
        <table class="table table-bordered table-striped" style="clear: both">
            <tbody>
            <tr>
                <td width="30%">{{ 'Constructeur de maison individuelles (CMI)'|trans }}</td>
                <td>{{ group.getAnnoncesOption() ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
            <tr>
                <td>{{ 'Promoteurs ou lotisseurs'|trans }}</td>
                <td>
                    {% if group.getProgramOption() %}
                        {{ 'Yes'|trans }}
                        <hr/>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="30%">Maisons</td><td>{{ group.getProgramMaisonOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                            <tr><td>Appartements</td><td>{{ group.getProgramAppartementOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                            <tr><td>Terrains</td><td>{{ group.getProgramTerrainOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                            <tr><td>Mixte (appartements + maisons)</td><td>{{ group.getProgramMixteOption() ? 'Yes'|trans : 'No'|trans }}</td></tr>
                            </tbody>
                        </table>
                    {% else %}
                        {{ 'No'|trans }}

                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}
</div>