{% trans_default_domain 'commiti' %}
<div class="panel-body">
    <h3>{{ "Réécriture des annonces"|trans }}</h3>
    <p>La réécriture permet de reformuler auprès des portails de votre choix les entêtes de vos annonces ainsi que la partie description.</p>
    <p>Pour cela vous devez créer votre propre mise en forme à partir des variables disponibles et expressions de votre choix.</p>
    <p>Vous pouvez proposer plusieurs expressions et le système utilisera aléatoire l’une ou l’autre.</p>
    <p>Les expressions doivent être séparées par un tilde (Alt Gr + 2) et misent entre accolades (ex. {Sur votre commune~Sur votre ville~Sur la commune}).</p>
    <p>Les variables ville, surface, prix, etc. doivent être mises entre crochets (ex. [VILLE]). Voici un exemple de composition :</p>
    <p>Pour le titre : {Sur votre commune~Sur votre ville~Sur la commune} de [VILLE] Ce qui donnera lors de la diffusion : Sur votre commune de Saint-Etienne ou Sur votre ville de Saint-Etienne, etc.</p>
    <p>Pour la description c’est la même chose : {Sur votre commune~Sur votre ville~Sur la commune} de [VILLE], [ENSEIGNE] vous propose une {villa~maison} de [SURFACE MAISON] m² habitable sur un terrain de [SURFACE TERRAIN] m².</p>
    <p>Maison aux normes RT 2012. Assurances et garanties obligatoires incluses. Terrain en accord avec notre partenaire foncier sous réserve de disponibilité.</p>
    <p>Pour plus {de renseignement~d’information}, {contactez-nous~appelez-nous}. Référence annonce : [REFERENCE ANNONCE]</p>
    <p>Ensuite vous devez définir les portails de diffusion sur lesquels devront s’appliquer les modifications. </p>
    <p>{Sur votre commune~Sur votre ville~Sur la commune} de [VILLE], [ENSEIGNE] vous propose une {villa~maison} de [SURFACE MAISON] m² habitable sur un terrain de [SURFACE TERRAIN] m².</p>
    <p>Maison aux normes RT 2012. Assurances et garanties obligatoires incluses. Terrain en accord avec notre partenaire foncier sous réserve de disponibilité.
        Pour plus {de renseignement~d’information}, {contactez-nous~appelez-nous}.
        Référence annonce : [REFERENCE ANNONCE]</p>
    <p>Variables disponibles [VILLE] [ENSEIGNE] [SURFACE MAISON] [SURFACE TERRAIN] [REFERENCE ANNONCE] </p>
    {{ form_start(formRewrite,{'attr':{'id':'adRewrite', 'novalidate':'' }}) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(formRewrite.title) }}
            {{ form_row(formRewrite.description) }}
        </div>
        <div class="col-md-3">
            <p>Ce qui donnera lors de la diffusion : <div id="titleReturn">Sur votre commune de Saint-Etienne</div></p>
            <div>
                Ce qui donnera lors de la diffusion : <br/>
                <div id="descriptionReturn">
                    Sur votre commune de Saint-Etienne, Maison du Centurion vous propose une villa de 115 m² habitable sur un terrain de 850 m².<br/>
                    Maison aux normes RT 2012. Assurances et garanties obligatoires incluses. Terrain en accord avec notre partenaire foncier sous réserve de disponibilité.<br/>
                    Pour plus de renseignement, contactez-nous.<br/>
                    Référence annonce : PRI_785796
                </div>
            </div>
        </div>
        <div class="col-md-3">
            {{ form_row(formRewrite.portals) }}
        </div>
    </div>
    {{ form_row(formRewrite.submit) }}
    {{ form_end(formRewrite) }}
</div>