{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "campagne.add" | trans }}{% endblock %}
{% block action %}{{ "action.add" | trans }}{% endblock %}
{% block body %}

{% block breadcrumb %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "campagne.add" | trans }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {{ form_start(form) }}
                    <h3>{{ 'campagne.add'| trans  }}</h3>
                    <table class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {% if is_granted('ROLE_MARKETING') %}
                            {{ form_row(form.group,{'id':'group','attr':{'placeholder':'Groupe','class': 'select2'}}) }}
                        {% endif %}
                        {{ form_row(form.contactList,{'id':'contact_container', 'attr':{'class': 'select2'}}) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.senderName) }}
                        {{ form_row(form.date) }}
                        <tr><td colspan="2">{{ form_widget(form.emailBuilder) }}</td></tr>
                        {{ form_row(form.bodyHtml) }}
                        {{ form_row(form.bodyText) }}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <a class="btn btn-default" href="{{ path('gestion_campagnes_list') }}">{{ 'action.cancel'|trans }}</a>
                        {% if form.draft is defined %}
                            {{ form_widget(form.draft) }}
                        {% endif %}
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#group').on('change', function(){
                var group = document.getElementById('group');
                var _data = {};
                _data[group.name] = group.value;
                $.ajax({
                    type: "POST",
                    data: _data,
                    success: function (res) {
                        var parser          = new DOMParser();
                        var doc             = parser.parseFromString(res, 'text/html');

                        var target          = document.getElementById('contact_container');
                        target.innerHTML    = doc.getElementById('contact_container').innerHTML;
                        $('#contact_container').select2();
                        $('.select2').select2();
                    }
                });
            });
        });
    </script>
{% endblock %}