{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "campagne.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "campagne.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "campagne.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('gestion_campagnes_edit', {'remoteId': campagne.remoteId }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    <h3><a href="">{{ campagne.title }}</a></h3>
                    <div class="text-muted font-bold m-b-xs"></div>
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>
                            <tr><td width="35%">{{ "campagne.subject"|trans }}</td><td width="65%">{{ campagne.subject }}</td></tr>
                            <tr><td>{{ "campagne.sender_name"|trans }}</td><td>{{ campagne.senderName }}</td></tr>
                            <tr><td>{{ "campagne.bodyHtml"|trans }}</td><td>{{ campagne.bodyHtml|raw }}</td></tr>
                            <tr><td>{{ "campagne.bodyText"|trans }}</td><td>{{ campagne.bodyText }}</td></tr>
                            <tr><td>{{ "campagne.date"|trans }}</td><td>{{ campagne.date|date('d/m/Y H:i:s') }}</td></tr>
                            <tr><td>{{ "campagne.contact_list"|trans }}</td><td>{{ campagne.contactList.name }}</td></tr>
                            <tr>
                                <td>{{ "campagne.status"|trans }}</td>
                                <td>
                                    {% if campagne.status == 'finished' %}
                                        <span class="label label-success" >Complete</span>
                                    {% elseif campagne.status == 'programmed' %}
                                        <span class="label label-warning" >En cours</span>
                                    {% else %}
                                        <span class="label label-danger" >Brouillon</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-left">
                        {% if campagne.status != 'finished' %}
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#send_draft_modal"><i class="fa fa-paper-plane"></i>Envoyer un test</button>
                        {% endif %}
                        <a class="btn btn-success" href="{{ path('gestion_campagnes_send',{'remoteId':campagne.remoteId}) }}" ><i class="fa fa-paper-plane"></i>Envoyer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade send_draft_modal" id="send_draft_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-body">
                <form action="{{ path('gestion_campagnes_send_draft',{'remoteId':campagne.remoteId}) }}" method="post" id="sendDraftForm">
                    <input type="email" name="email" class="form-control" placeholder="receiver@domaine.com" />
                    <button type="submit" class="btn btn-success" style="margin-top: 10px;" data-toggle="modal" data-target="#send_draft_modal"><i class="fa fa-paper-plane"></i>Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    $(document).ready(function() {
        $('#sendDraftForm').on('submit',function(event) {
            event.preventDefault();
            $(this).ajaxSubmit({
                success: function(data) {
                    swal({
                        title: data.message,
                        type: data.success ? "success" : 'failed'
                    });
                }
            });
        });
    });
</script>
{% endblock %}