{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login.submit'|trans }}{% endblock %}

{% set body_class='blank' %}
{% block blank_body %}

{% if error %}
    <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img src="{{ asset('images/logo.png') }}" /><br/>
                <small>Connectez-vous pour accéder au site !</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="{{ path("fos_user_security_check") }}" id="loginForm" method="post">

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group">
                                <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" placeholder="{{ 'security.login.username'|trans }}" title="Please enter you username" required="required" value="{{ last_username }}" name="_username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="required" value="" name="_password" id="password" class="form-control">
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" name="_remember_me" value="on">
                                 {{ 'security.login.remember_me'|trans }}
                            </div>
                            <div class="forget-password">
                                <p class="help-block small">(Mot de passe oublié ? <a href="{{ path('fos_user_resetting_request') }}" id="forget-password">Réinitialisé votre mot de passe</a>)</p>
                            </div>
                            {% if app.request.query.get('redirect') is defined %}
                                <input type="hidden" name="_target_path" value="{{ app.request.query.get('redirect') }}" />
                            {% endif %}
                            <input type="submit" name="_submit" class="btn btn-success btn-block" value="{{ 'security.login.submit'|trans }}" />
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="label label-success pull-right">{{ site.version }}</span>
            {{ site.copyright|raw }}
       </div>
    </div>
</div>
{% endblock %}