{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "agence.add" | trans }}{% endblock %}
{% block body %}
	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('group_agencies_list') }}">{{ "Agences" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "agence.add" | trans }}</span>
                        </li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">
	                <a href="{{ path('group_agencies_list') }}">{{ "Agences" | trans }}</a>
	            </h2>
	            <small>{{ "agence.add" | trans }}</small>
	        </div>
	    </div>
	</div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(form) }}
                        {% if errorDuplication %}
                            <div class="alert alert-danger">
                                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'agence.agence_name_already_used' }}
                            </div>
                        {% endif %}
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            <tr><td>
                                {{ form_row(form.name,{'force_error':errorDuplication}) }}
                                {{ form_row(form.prefix) }}
                                {% if form.parentGroup is defined %}
                                {{ form_row(form.parentGroup) }}
                                {% endif %}
                            </tbody>
                        </table>
                        <h3>{{ 'agence.agence_details'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                {{ form_row(form.agency.reference) }}
                            <form id="form1" runat="server">
                                {{ form_row(form.agency.avatar,
                                { 'id': 'imgInp',  'attr': { 'class' : 'custom-class filestyle' } } ) }}
                            </form>
                            </td></tr>

                            {% if mode == 'add' %}
                                <tr><td width="100" colspan="2"><img class="filestyle" src="#" /></td></tr>
                            {% endif %}
                                <tr><td>

                                {{ form_row(form.agency.nom) }}
                                {{ form_row(form.agency.prenom) }}
                                {{ form_row(form.agency.color) }}
                                {{ form_row(form.agency.telephone) }}
                                {{ form_row(form.agency.adress) }}
                                {{ form_row(form.agency.ville) }}
                                {{ form_row(form.agency.codePostal) }}
                                {{ form_row(form.agency.email) }}
                                {{ form_row(form.agency.content) }}
                                </td></tr>
                            </tbody>
                        </table>
                        <h3>{{ 'agence.facturation'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.agency.facturationNomEntite) }}
                            {{ form_row(form.agency.facturationAdresse) }}
                            {{ form_row(form.agency.facturationVille) }}
                            {{ form_row(form.agency.facturationCodePostal) }}
                            </tbody>
                        </table>
                        <div>
                            <input type="submit" class="btn btn-primary" value="{{ 'action.add'|trans }}" />
                        </div>
                        {{ form_row(form._token) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

<script>
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('.filestyle').attr('src', e.target.result);
}

reader.readAsDataURL(input.files[0]);
}
}

$("#imgInp").change(function(){
readURL(this);
});
</script>
{% endblock %}