{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "agence.edit" | trans }}{% endblock %}
{% block body %}
	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('group_agencies_list') }}">{{ "Agences" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "agence.edit" | trans }}</span>
                        </li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">
	                <a href="{{ path('group_agencies_list') }}">{{ "Agences" | trans }}</a>
	            </h2>
	            <small>{{ "agence.edit" | trans }}</small>
	        </div>
	    </div>
	</div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {% form_theme formAgencyGroup 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(formAgencyGroup,{'attr':{"novalidate":"true"}}) }}
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(formAgencyGroup.parentGroup) }}
                            </tbody>
                        </table>
                        {{ form_end(formAgencyGroup) }}

                        {% if errorDuplication %}
                            <div class="alert alert-danger">
                                <i class="glyphicon glyphicon-exclamation-sign"></i> {{ 'agence.agence_name_already_used' }}
                            </div>
                        {% endif %}
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {{ form_start(form,{'attr':{"novalidate":"true"}}) }}
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.name,{'attr':{'placeholder':'organisation'}}) }}
                            {{ form_row(form.reference) }}
                            <form id="form1" runat="server">
                                {{ form_row(form.avatar, { 'id': 'imgInp',
                                    'placeholder':'avatar', 'attr': { 'class' : 'custom-class' } } ) }}
                            </form>
                            {{ form_row(form.color) }}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.prenom) }}
                            {{ form_row(form.telephone) }}
                            {{ form_row(form.adress) }}
                            {{ form_row(form.ville) }}
                            {{ form_row(form.codePostal) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.content) }}
                            </tbody>
                        </table>
                        <h3>{{ 'agence.facturation'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.facturationNomEntite) }}
                            {{ form_row(form.facturationAdresse) }}
                            {{ form_row(form.facturationVille) }}
                            {{ form_row(form.facturationCodePostal) }}
                            </tbody>
                        </table>
                        <h3>{{ 'agence.closing_reopening'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            {{ form_row(form.closingDate) }}
                            {{ form_row(form.reopeningDate) }}
                            {{ form_row(form.closingPhone) }}
                            {{ form_row(form.voicemail) }}
                            </tbody>
                        </table>
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                            <a class="btn btn-default" href="/">{{ 'action.cancel'|trans }}</a>
                        </div>
                        <div class="hidden">{{ form_rest(form) }}</div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });
    </script>

{% endblock %}