{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "agence.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "Agences" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "agence.list" | trans }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>{{ 'Mes Groupes'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <thead>
                                <tr><th width="33%">{{ 'Group'|trans }}</th>
                                    <th width="33%">{{ 'subscribe_periode'|trans }}</th>
                                    <th width="33%">{{ 'Action'|trans }}</th></tr>
                            </thead>
                            <tbody>
                            {% set now = "now"|date() %}
                            {% for group in app.user.groups %}
                                    <tr style="text-align: center">
                                        <td>{{ group.name }}</td>
                                        <td>
                                            {% if group.trialEnd is not null and group.trialEnd < now %}
                                                {{ group.trialStart|date('d/m/Y') }} -
                                                {{ group.periodEnd is not null ?
                                                    group.periodEnd|date('d/m/Y') :
                                                    group.trialEnd|date('d/m/Y')
                                                }}
                                            {% elseif group.periodEnd is not null %}
                                                <span style="font-size: 16px;">{{ group.periodStart|date('d/m/Y') }} -
                                                    {{ group.periodEnd|date('d/m/Y') }}</span>
                                            {% endif %}
                                            <br/>
                                            {% if group.subscribeIsEnded %}
                                                Il vous reste {{ group.subscribeIsEnded }} jours pour payer votre abonnement
                                            {% endif %}
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {% if group.subscribeIsEnded %}
                                                <a href="{{ path('payment_index',{'remoteId':group.remoteId}) }}"
                                                   class="btn btn-success">
                                                    {{ "Renouveler"|trans }}
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>{{ 'Mes Agences'|trans }}</h3>
                        <hr/>
                        {{ datatable_render(datatable) }}
                        <h3>{{ 'Gérer mes options actives'|trans }}</h3>
                        <table class="table table-bordered table-striped" style="clear: both">
                            <thead>
                                <tr><th width="33%">{{ 'Group'|trans }}</th><th width="33%">{{ 'my_options'|trans }}</th><th width="33%">{{ 'quantity'|trans }}</th></tr>
                            </thead>
                            <tbody>
                            {% set agencyCount = 0 %}
                            {% if groups %}
                                {% for group in groups %}
                                    {% set agencyCount = 0 %}
                                    {% for agency in group.authorizedAgency if agency.group is null %}
                                        {% set agencyCount = agencyCount + 1 %}
                                    {% endfor %}
                                    <tr><td>{{ group.name }}</td><td>{{ 'Agences'|trans }}</td><td>{{ agencyCount }} {{ 'restant'|trans }}</td></tr>
                                    <tr>
                                        <td colspan="3">
                                            {% for advantage in configuration.advantages if advantage not in payedAdvantages and advantage.groupType == 'group' %}
                                                <div class="row advantage_option_section">
                                                    <div class="col-sm-8">
                                                        <h4>{{ advantage.name }}</h4>
                                                        <p>{{ advantage.description }}</p>
                                                    </div>
                                                    <div class="col-sm-offset-1 col-sm-3">
                                                        {% set option = advantage.getCheapestOption() %}
                                                        {% if option %}
                                                            {% set discountPrice = null %}
                                                            {% if discounts[advantage.id] is defined %}
                                                                {% set discountPrice = option.price - option.price/(100/discounts[advantage.id].percent) %}
                                                            {% endif %}
                                                            {% set quota = advantage.unite ? advantage.unite : option.unit > 0 ? option.unit : (option.month ==1 ? 'mois' : option.month~' mois') %}
                                                            <span>
                                                                <b>{{ 'à partir de'|trans }} <span class="price{% if discountPrice %} discount{% endif %}">
                                                                    {{ option.price~'€' }}
                                                                </span>
                                                                    {% if discountPrice %}
                                                                        <span class="new_price text-success">{{ discountPrice~'€' }}</span>
                                                                    {% endif %}</b>/{{ quota }}
                                                            </span>
                                                            {% if group %}
                                                                <a href="{{ path('payment_advantage',{'remoteId':group.remoteId,'slug':advantage.slug}) }}" class="btn btn-success" class="btn btn-default">
                                                                    {{ "Souscrire"|trans }}
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}