{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "agence.voir" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        {% if group.parentGroup %}
                        <li>
                            <span><a href="{{ is_granted('ROLE_ADMIN') ? path('groups_admin_show', { 'remoteId' : group.parentGroup.getRemoteId() }) : path('group_agencies_list', { 'remoteId' : group.parentGroup.getRemoteId() }) }}">{{ "Liste d'agences" | trans }}</a></span>
                        </li>
                            {% endif %}
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="hpanel">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">{{ 'group.tabs.informations_general'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-2">{{ 'group.tabs.liste_employees'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-distribution_portal_diffusion">{{ 'portal.list_distribution'|trans }}</a></li>
                    {% if group.hasRole('ROLE_AGENCY') %}
                        <li><a data-toggle="tab" href="#tab-3">{{ 'group.tabs.listes_portail_diffusion'|trans }}</a></li>
                        <li><a data-toggle="tab" href="#tab-4">{{ 'group.tabs.reecriture'|trans }}</a></li>
                    {% endif %}
                    {% if adsDatatable %}
                        <li><a data-toggle="tab" href="#tab-5">{{ 'group.tabs.gestion_des_annonces'|trans }}</a></li>
                    {% endif %}
                    {% if not group.hasRole('ROLE_AGENCY') %}
                        <li><a data-toggle="tab" href="#tab-6">{{ 'group.tabs.groups'|trans }}</a></li>
                    {% endif %}
                    {% if houseModeleDatatable %}
                        <li><a data-toggle="tab" href="#tab-7">{{ 'group.tabs.modeles'|trans }}</a></li>
                    {% endif %}
                    <li><a data-toggle="tab" href="#tab-8">{{ 'group.tabs.options_actives'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-9">{{ 'group.tabs.facturations'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#tab-11">{{ 'group.tabs.mention_legals'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        {% include '@App/GroupAgencies/tabs/informations_general.html.twig'  %}
                    </div>
                    <div id="tab-2" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/liste_employees.html.twig'  with {'isGroup' : true} %}
                    </div>
                    <div id="tab-distribution_portal_diffusion" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/distribution_portal_diffusion.html.twig'  with {'isGroup' : true} %}
                    </div>
                    {% if group.hasRole('ROLE_AGENCY') %}
                        <div id="tab-3" class="tab-pane">
                            {% include '@App/GroupAgencies/tabs/listes_portail_diffusion.html.twig'  %}
                        </div>

                        <div id="tab-4" class="tab-pane">
                            {% include '@App/GroupAgencies/tabs/reecriture.html.twig'  %}
                        </div>
                    {% endif %}
                    {% if adsDatatable %}
                    <div id="tab-5" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/gestion_des_annonces.html.twig'  %}
                    </div>
                    {% endif %}
                    {% if not group.hasRole('ROLE_AGENCY') %}
                        <div id="tab-6" class="tab-pane">
                            {% include '@App/GroupAgencies/tabs/groups.html.twig'  %}
                        </div>
                    {% endif %}
                    {% if houseModeleDatatable %}
                        <div id="tab-7" class="tab-pane">
                            {% include '@App/GroupAgencies/tabs/modeles.html.twig'  %}
                        </div>
                    {% endif %}
                    <div id="tab-8" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/options_actives.html.twig'  %}
                    </div>
                    <div id="tab-9" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/facturations.html.twig'  %}
                    </div>
                    <div id="tab-11" class="tab-pane">
                        {% include '@App/GroupAgencies/tabs/mention-legals.html.twig'  %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}