{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Programme "{{ program.title }}" validé
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ program.owner.name }} ,
    </p>
    <p>
        Nous vous informons que <b>{{ chef.name }}</b> a validé votre programme : "{{ program.title }}" <br /><br />

        Veuillez suivre ce lien

        <a href="{{ url('program_view',{'remoteId':program.remoteId}) }}" class="active" target="_blank">

        {{ program.title }} </a> pour plus de détails.<br />
    </p>
{% endblock %}