{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Programme en attente de modération "{{ program.title }}"
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ user.name }} ,
    </p>
    <p>
        Nous vous informons que votre programme :

        <a href="{{ url('program_view',{'remoteId':program.remoteId}) }}" class="active" target="_blank">

        "<b>{{ program.title }}</b>"  </a> <br /><br> à été bien enregistré,

        dont votre demande de modération est en cours de révision

        en attente de votre modération.

        <br/><br/>Merci de bien vouloir en prendre connaissance.
    </p>
{% endblock %}