{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Programme en attente de modération "{{ program.title }}"
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ chef.name }} ,
    </p>
    <p>
        Nous vous informons que votre collaborateur <b>"{{ user.name }}"</b>

        a ajouté un <br><br> nouveau programme :

        <a href="{{ url('program_view',{'remoteId':program.remoteId}) }}" class="active" target="_blank">

        "<b>{{ program.title }}</b>"  </a>

        en attente de votre modération.

        <br/><br/>Merci de bien vouloir en prendre connaissance rapidement.
    </p>
{% endblock %}