{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Commentaire sur Programme "{{ program.title }}" en modération
{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ program.owner.name }},
    </p>
    <p>
        Nous vous informons que <b>{{  chef.name }}</b> vous a fait parvenir un commentaire concernant <br><br>

        la modération de votre programme :

        <a href="{{ url('program_view',{'remoteId':program.remoteId}) }}" class="active" target="_blank">

        "<b>{{ program.title }}</b>"  </a> <br /><br>

        <b>Message : </b><br>

        <p>{{ msg }}</p><br /><br>

        Merci de bien vouloir en prendre connaissance rapidement.

{% endblock %}