{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "news.add" | trans }}{% endblock %}
{% block body %}

<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <span><a href="{{ path('news_list') }}">{{ "news.list" | trans }}</a> </span>
                    </li>
                    <li class="active">
                        <span>{{ "news.add" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                <a href="{{ path('fos_user_profile_show') }}">{{ "news_add" | trans }}</a>
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-6">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(form, { 'action': path('news_add'), 'attr':{"novalidate":"true"} }) }}
                        {{ form_row(form.title, { 'label_attr': { 'class': 'form-inline' } } ) }}
                        {{ form_row(form.content, { 'label_attr': { 'class': 'form-inline' } } ) }}
                        {{ form_row(form.date, { 'label_attr': { 'class': 'form-inline hidden' }, 'attr':{'class': 'hidden'} } ) }}
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <a class="btn btn-default" href="{{ path('news_list') }}">{{ 'action.cancel'|trans }}</a>
                                <button class="btn btn-primary" type="submit">{{ 'action.add'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}