{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "news.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "news.list" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "news.list" | trans }}</h2>
            </div>
        </div>
    </div>

<div class="content animate-panel">
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col-md-3">
            <div class="hpanel hbgblue">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>{{ 'news.news_online'|trans }}</h3>
                        <p class="text-big font-light">{{ total_news }}</p>
                        <small>
                            <a href="{{ path('news_add') }}" class="btn btn-default pull-right ">{{ "action.add" | trans }}</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% for news in newsList %}
        <div class="col-md-3">
            <div class="hpanel blog-box">
                <div class="panel-heading">
                    <div class="media clearfix">
                        <a class="pull-left">
                            <img src="{{ asset(news.author.avatar) }}" alt="profile-picture">
                        </a>
                        <div class="media-body">
                            <small><span class="font-bold">{{ news.author.name }}</span><br/>
                            {{ news.date |date('d/m/Y') }}</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   <a href="{{  path('news_view', { slug: news.getSlug() }) }}"><h4>{{ news.title }}</h4></a>
                    <p>{{ news.content| striptags |slice(0, 200)|raw }}</p>
                    <a href="{{  path('news_view', { slug: news.getSlug() }) }}" class="btn btn-primary btn-xs">{{ 'read_more'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <span class="pull-right">
                        <a href="{{ path('news_edit', { slug: news.getSlug() }) }}" ><i class="fa fa-pencil-square-o"> </i></a>
                        <a data-href="{{ path('news_delete', { slug: news.getSlug() }) }}" data-confirm-title="{{ "news_has_been_deleted" | trans }}" class="need_confirmation"><i class="fa fa-trash"> </i></a>
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}