{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ news.getTitle() }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a href="{{ path('news_list') }}">{{ "news.list" | trans }}</a></li>
                        <li class="active">
                            <span><a href="{{  path('news_view', { slug: news.getSlug() }) }}">« {{ news.getTitle() }} »</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ news.getTitle() }}</h2>
                <small><span class="font-bold">{{ news.getAuthor().getname() }}</span>, {{ news.getDate() |date('d/m/Y') }}</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel content-boxed">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel blog-article-box">
                    <div class="panel-heading">
                        <h4><a href="{{  path('news_view', { slug: news.getSlug() }) }}">{{ news.getTitle() }}</a></h4>
                        <div class="text-muted small">
                            <span class="font-bold">{{ news.getAuthor().getname() }}</span>, {{ news.getDate() |date('d/m/Y') }}
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ news.getContent() | raw }}
                    </div>
                    <div class="panel-footer">
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="pull-right"><a href="{{ path('news_edit', { slug: news.getSlug() }) }}"><i class="fa fa-pen"></i>{{ "action.edit" | trans }}</a></span>
                        {% endif %}
                        <i class="fa fa-eye"> </i> {{ "news_vue_count"|trans({"%nbr%":news.getNbViews() },'commiti') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}