{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        <div class="checkbox">
            {{- form_widget(child) -}}
            <label for="{{ child.vars.id }}">{{ child.vars.label|raw }}</label>
        </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"
    {% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}

