{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.add" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "ads.create" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "ads.create" | trans }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {#<div class="row text-center m-b-md" id="wizardControl">
                            {% if not app.user.hasRole('ROLE_SALESMAN') %}
                            <h2>{{ 'ads.choose_type'|trans }}</h2>
                            <form id="commercialForm">
                                {% if groupsList %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'group.list'|trans }}  :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="group" id="groups">
                                                <option value="">-------</option>
                                                {% for group in groupsList %}
                                                    <option value="{{ group.getRemoteId() }}" {% if app.request.cookies.has('use_group') and app.request.cookies.get('use_group') == group.getRemoteId() %}selected{% endif %}>{{ group.getName()|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_MARKETING') %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'agences.list'|trans }} :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="agences" id="agences">
                                                <option value="">-------</option>
                                                {% if agenciesList %}
                                                {% for agence in agenciesList %}
                                                    <option value="{{ agence.getRemoteId() }}" {% if app.request.cookies.has('use_agency') and app.request.cookies.get('use_agency') == agence.getRemoteId() %}selected{% endif %}>{{ agence.getName()|capitalize }}</option>
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_BRANDLEADER') %}
                                <div class="col-sm-offset-2 col-sm-6">
                                    <label class="col-sm-4">{{ 'commercials'|trans }} :</label>
                                    <div class="col-sm-8">
                                        <select class="select2" name="commercials" id="commercials">
                                            <option value="">-------</option>
                                            {% if commercials %}
                                                {% for commercial in commercials %}
                                                    <option value="{{ commercial.getRemoteId() }}" {% if app.request.cookies.has('write_as_commercial') and app.request.cookies.get ('write_as_commercial') == commercial.getRemoteId() %}selected{% endif %}>{{ commercial.getName()|capitalize }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                {% endif %}
                            </form>

                        </div>#}
                        <div class="row">
                            <div class="col-lg-4 annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">1 {{ 'Annonce'|trans  }}</h2>
                                            <p class="font-bold text-success">{{ 'ads.house_and_terrain'|trans  }}
                                            </p>
                                            <div class="m">
                                                <i class="fa fa-home fa-5x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'ads.house_and_terrain_description'|trans  }}
                                            </p>
                                            {% if houseModels %}
                                                <div class="use_model">
                                                    <p>
                                                        <input type="checkbox" class="i-checks" checked
                                                               data-target="#choose_projet_model">
                                                        {{ 'ads.use_model'|trans  }}
                                                    </p>
                                                </div>
                                                <a class="btn btn-success btn-sm type_choice"
                                                   data-type="projet" data-target="#choose_projet_model"
                                                   data-toggle="modal" data-url="{{ path('add_ads_project',
                                                {'projectType':'projet'}) }}">{{ 'action.add'|trans }}</a>
                                            {% else %}
                                                <div class="use_model">
                                                    <p>
                                                        <input type="checkbox"
                                                               class="i-checks" disabled="disabled"
                                                               data-target="#choose_projet_model">
                                                        {{ 'ads.use_model'|trans  }}
                                                    </p>
                                                </div>
                                                <a href="{{ path('add_ads_project',{'projectType':'projet'}) }}"
                                                   class="btn btn-success btn-sm type_choice"
                                                   data-type="terrain">
                                                    {{ 'action.add'|trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">1 {{ 'Annonce'|trans  }}</h2>
                                            <p class="font-bold text-success">{{ 'ads.terrain_only'|trans  }}
                                            </p>
                                            <div class="m">
                                                <i class="fa fa-map-o fa-3x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'ads.terrain_only'|trans  }}
                                            </p>
                                            <a href="{{ path('add_ads_project',{'projectType':'terrain'}) }}"
                                               class="btn btn-success btn-sm type_choice" data-type="terrain">
                                                {{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">2 {{ 'Annonces'|trans }}</h2>
                                            <p class="font-bold text-success">{{ 'ads.house_and_terrain'|trans  }}
                                                + {{ 'ads.terrain_only'|trans  }}</p>
                                            <div class="m">
                                                <i class="fa fa-home fa-5x"></i>
                                                <span class="icon-plus">+</span>
                                                <i class="fa fa-map-o fa-3x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'ads.duo_description'|trans|raw }}
                                            </p>


                                            {% if houseModels %}
                                                <div class="use_model">
                                                    <p>
                                                        <input type="checkbox" class="i-checks"
                                                               id="Check2" checked
                                                               data-target="#choose_duo_model" />
                                                        {{ 'ads.use_model'|trans  }}
                                                    </p>
                                                </div>
                                                <a class="btn btn-success btn-sm type_choice"
                                                   data-type="duo" data-target="#choose_duo_model"
                                                   data-toggle="modal" data-url="{{ path('add_ads_duo_project',
                                                {'projectType':'duo'}) }}">{{ 'action.add'|trans }}</a>
                                            {% else %}
                                                <div class="use_model">
                                                    <p>
                                                        <input type="checkbox"
                                                               class="i-checks" disabled="disabled"
                                                               data-target="#choose_projet_model">
                                                        {{ 'ads.use_model'|trans  }}
                                                    </p>
                                                </div>
                                                <a href="{{ path('add_ads_duo_project',{'projectType':'duo'}) }}"
                                                   class="btn btn-success btn-sm type_choice"
                                                   data-type="terrain">
                                                    {{ 'action.add'|trans }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'AppBundle:HouseModels:includes/modal.html.twig' with {'projectType':'projet'} %}
    {% include 'AppBundle:HouseModels:includes/modal.html.twig' with {'projectType':'duo'} %}
{% endblock %}



{% block javascript  %}
    <script type="application/javascript">
        $(function() {
            $('.use_model input').on('ifChecked', function(event){
                var link = $(this).closest('.panel-body').find('.type_choice');
                link.attr('data-target',$(this).data('target'));
                link.attr('data-toggle','modal');
                link.removeAttr('href');
            });
            $('.use_model input').on('ifUnchecked', function(event){
                    var link = $(this).closest('.panel-body').find('.type_choice');
                    link.attr('href', link.data('url'));
                    link.removeAttr('data-target');
                    link.removeAttr('data-toggle');
            });

            $('.type_choice').click(function(e){
                if($('#commercialForm').size() && !$('#commercialForm').valid()) {
                    e.preventDefault();
                    $(this).removeAttr('data-target');
                    $(this).removeAttr('data-toggle');
                } else {
                    var use_model = $(this).prev('.use_model').find('input');
                    console.info("use_model", use_model);
                    if(use_model.prop( "checked")) {
                        $(this).attr('data-target',use_model.data('target'));
                        $(this).attr('data-toggle','modal');
                }}
            });
        });
    </script>
{% endblock %}