{% extends 'AppBundle::layout.html.twig' %}
{% block title %}{{ "ad.add" | trans }}{% endblock %}
{% if program.getType()== 'mixte' %}
    {% set step = 2 %}
{% else %}
    {% set step = 1 %}
{% endif %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "News" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "News" | trans }}</a>
                </h2>
                <small>Actualité du site</small>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-heading">
                        {{ 'ad_create'|trans }}
                    </div>
                    <div class="panel-body">
                        {{ form_start(form,{'attr':{'id':'program_ad'}}) }}
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {% include 'AppBundle:Common:Flow/ad_program_stepList_content.html.twig' with { 'isMixte': program.getType()== 'mixte' ? true : false } %}
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                        {% if flow.getCurrentStepNumber() == 1 %}
                                            {% include '@App/Ads/project_by_program/1.html.twig'  %}
                                        {% elseif flow.getCurrentStepNumber() == 2 %}
                                            {% include '@App/Ads/project_by_program/2.html.twig'  %}
                                        {% elseif flow.getCurrentStepNumber() == 3 %}
                                            {% include '@App/Ads/project_by_program/3.html.twig'  %}
                                        {% endif %}
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'AppBundle:HouseModels:includes/dropzone.html.twig' %}
    {% endif %}
    {% include 'AppBundle:HouseModels:includes/javascript.html.twig' %}
    <script type="application/javascript">
    $(function() {
         $('.filestyle.uplodable').fileupload({
            dataType: 'json',
            autoUpload: true,
            maxFileSize: 10000,
            loadImageFileTypes: /^image\/(jpg|jpeg)$/,
            formData: {
                type: 'images',
                id: {{ brouillon.id }}
            },
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(jpe?g)$/i;
                if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type');
                }
                if(uploadErrors.length > 0) {
                    data.abort();
                    var error = "{{ "image.error.message.allowed_types" | trans }}";
                    $( this ).closest('.image-container').append('<div class="alert alert-danger alert-dismissible" ' +
                     'role="alert"><button type="button" class="close" ' +
                      'data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>' +
                       '</button>'+error+'</div>');
                } else {
                    $(this).closest('.image-container').find('.image-stat').removeClass('hidden');
                    data.submit();
                }

            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $( this ).closest('.image-container').find('.progress-small .progress-bar').css('width',progress + '%');
                $( this ).closest('.image-container').find('.progress-extended').html(fileRender.renderExtendedProgress(data));
            },
            done: function (e, data) {
                $( this ).closest('.image-container').find('.bootstrap-filestyle .input-group').val(data.result.originalName);
                var img = $(this).closest('.image-container').find('img');
                if(!img.length) {
                    img = $('<img>').prependTo($(this).closest('.image-container'));
                }
                var reader = new FileReader();
                    reader.onload = function(e) {
                        img.attr('src', e.target.result);
                    };
                    reader.readAsDataURL(data.files[0]);
            }
        });
    });
    </script>
{% endblock %}