{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "ad_add" | trans }}{% endblock %}

{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "ads" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "ad_create" | trans }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6 annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ "Maison"|trans }}</h2>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <a href="{{ path('ads_create_program_2',{'remoteId':program.getRemoteId(),'projectType':'maison'}) }}" class="btn btn-success btn-sm type_choice">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ "Appartement"|trans }}</h2>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <a href="{{ path('ads_create_program_2',{'remoteId':program.getRemoteId(),'projectType':'appartement'}) }}" class="btn btn-success btn-sm type_choice" data-type="terrain">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}