{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.diffuse" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "ads.diffuse" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ "ads.diffuse" | trans }}</a>
                </h2>
                <small>{{ 'ads.diffuse_ad'|trans }}</small>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {% set editLink = path('ads_edit',{'projectType':ad.getTypeDiffusion(), 'remoteId':ad.getRemoteId()}) %}
                        <div class="text-center m-b-md" id="wizardControl">
                            <a class="btn btn-default" href="{{ path('ads_create') }}">{{ 'ads.step1_ad_type'|trans }}</a>
                            <a class="btn btn-default" href="{{ editLink~"#step2" }}">{{ 'ads.step2_set_ad'|trans }}</a>
                            <a class="btn btn-default" href="{{ editLink~"#step3" }}">
                                {% if ad.typeDiffusion == 'terrain' %}
                                    {{ 'ads.step3_bien_terrain'|trans }}
                                {% else %}
                                    {{ 'ads.step3_bien_immobilier'|trans }}
                                {% endif %}
                            </a>
                            <a class="btn btn-default" href="{{ editLink~"#step4" }}">{{ 'ads.step4_confirmation'|trans }}</a>
                            {% if app.session.has('second_diffusion') %}
                                <a class="btn {{ ad.getRemoteId() == app.session.get('second_diffusion') ? 'btn-default' : 'btn-primary' }}" href="javascript:void(0);">{{ 'ads.step5_ad_diffuse'|trans }}</a>
                                <a class="btn {{ ad.getRemoteId() == app.session.get('second_diffusion') ? 'btn-primary' : 'btn-default' }}" href="javascript:void(0);">{{ 'ads.step6_diffusion_terrain'|trans }}</a>
                            {% else %}
                                <a class="btn btn-primary" href="javascript:void(0);">{{ 'ads.step5_ad_diffuse'|trans }}</a>
                            {% endif %}
                        </div>
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    {% form_theme form 'AppBundle:Common:Form/diffusion_entity.html.twig' %}
                                    {{ form_start(form,{'attr':{'id':'diffusion'}}) }}
                                    {{ form_widget(form.broadcastPortals,{'commercialLimit':commercialLimit, 'subtractValue':substractValue, 'typeDiffusion':ad.typeDiffusion}) }}
                                    <div class="text-right m-t-xs">
                                        {{ form_widget(form.cancel) }}
                                        {{ form_widget(form.submit) }}
                                    </div>
                                    <div class="hidden">
                                        {{ form_rest(form) }}
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}