{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.edit" | trans }}{% endblock %}
{% block body %}

    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('program_view',{'remoteId':ad.remoteId}) }}"{{ "program.voir" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "ads.edit" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "ads.edit" | trans }}</h2>
            </div>
        </div>
    </div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    {{ 'ads.add'|trans }}
                </div>
                <div class="panel-body">
                    {{ form_start(form,{'attr':{'id':'program_ad'}}) }}
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {% include 'AppBundle:Common:Flow/ad_program_stepList_content.html.twig' with { 'isMixte': program.getType()== 'mixte' ? true : false } %}
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="tab-content">
                                    {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                    {% if flow.getCurrentStepNumber() == 1 %}
                                        <!-- Annonce -->
                                        <div id="step1" class="tab-pane active">
                                            <h3>{{ 'ads.set_ad'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.libelle) }}
                                                {{ form_row(form.referenceInterne) }}
                                                {{ form_row(form.prix) }}
                                                {{ form_row(form.pays) }}
                                                {{ form_row(form.ville) }}
                                                {{ form_row(form.codePostal) }}
                                                {{ form_row(form.adresse) }}
                                                {{ form_row(form.lienVisitVirtuel) }}
                                                {{ form_row(form.description) }}
                                                {{ form_row(form.imagePrincipale,{'brouillon':brouillon}) }}
                                                {{ form_row(form.titreImagePrincipale) }}
                                                <tr>
                                                    <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(ad.getImagesDocuments()) : ad.getImagesDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type':'housemodels'} %}
                                                        <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type':'housemodels'} %}
                                                        <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone_pdf"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    {% elseif flow.getCurrentStepNumber() == 2 %}
                                        {% set BienForm = form.bienImmobilier[0] %}
                                        <!-- {{ typeBien|trans|capitalize }} -->
                                        <div id="step2" class="tab-pane active">
                                            <h3>{{ typeBien|capitalize }}</h3>
                                            <hr/>
                                            {{ form_widget(BienForm) }}
                                        </div>
                                    {% elseif flow.getCurrentStepNumber() == 3 %}
                                        <!-- Visuel -->
                                        <div id="step3" class="tab-pane active">
                                            <div>
                                                <h3>{{ 'ads.ads_visual'|trans }}</h3>
                                                <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
                                                    <tbody>
                                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                                    <tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ ad.getLibelle() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td><td>{{ ad.getReferenceInterne() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.country'|trans }}</b></td><td>{{ ad.getPays() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.city'|trans }}</b></td><td>{{ ad.getVille() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.adresse'|trans }}</b></td><td>{{ ad.getAdresse() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.zip_code'|trans }}</b></td><td>{{ ad.getCodePostal() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td><td>{{ ad.getLienVisitVirtuel() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ ad.getPrix() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.description'|trans }}</b></td><td>{{ ad.getDescription()|raw }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.diffusion_type'|trans }}</b></td><td>{{ ad.getTypeDiffusion() }}</td></tr>
                                                    <tr><td><b>{{ 'ads.ad.status'|trans }}</b></td><td>{{ ad.getStat() }}</td></tr>
                                                    </tbody>
                                                </table>
                                                <h3>{{ typeBien|trans|capitalize }}</h3>
                                                {% set bien = ad.getBienImmobilier()[0] %}
                                                <table class="table table-bordered table-striped" id="terrain-table-review" style="clear: both">
                                                    <tbody>
                                                    {% if typeBien == 'terrain' %}
                                                        {% set Terrain = ad.getTerrain() %}
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {% if Terrain.getTitle() %}<tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ Terrain.getTitle() }}</td></tr>{% endif %}
                                                        {% if Terrain.getPrix() %}<tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ Terrain.getPrix() }}</td></tr>{% endif %}
                                                        <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ Terrain.getTypeValue() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ Terrain.getSurface() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.exposition'|trans }}</b></td><td>{{ Terrain.getExpositionValue() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.environnement'|trans }}</b></td><td>{{ Terrain.getEnvironnement() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.nice_view'|trans }}</b></td><td>{{ Terrain.getBelleVue() ? 'Oui' : 'Non' }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.vis_a_vis'|trans }}</b></td><td>{{ Terrain.getVisAVis() ? 'Oui' : 'Non' }}</td></tr>
                                                    {% elseif typeBien == 'maison' or typeBien == 'appartement' %}
                                                        {% if typeBien == 'appartement' %}
                                                            <tr><td><b>{{ 'ads.ad.nombre_etages'|trans }}</b></td><td>{{ bien.nbEtages }}</td></tr>
                                                            {% if bien.getSiAscenseur() %}<tr><td><b>{{ 'ads.ad.ascenseur'|trans }}</b></td><td>{{ bien.getSiAscenseur() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ bien.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiToilette() ? 'Nombre: '~bien.getNbToilette() : '' }}</td></tr>{% endif %}
                                                            {% if bien.getSiBoxValue() %}<tr><td><b>{{ 'ads.ad.box'|trans }}</b></td><td>{{ bien.getSiBoxValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBoxValue() ? 'Nombre: '~bien.getNbBox() : '' }}</td></tr>{% endif %}
                                                            {% if bien.getSiGardien() %}<tr><td><b>{{ 'ads.ad.gardien'|trans }}</b></td><td>{{ bien.getSiGardien() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiDuplex() %}<tr><td><b>{{ 'ads.ad.duplex'|trans }}</b></td><td>{{ bien.getSiDuplex() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiDigicode() %}<tr><td><b>{{ 'ads.ad.digicode'|trans }}</b></td><td>{{ bien.getSiDigicode() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiInterphone() %}<tr><td><b>{{ 'ads.ad.interphone'|trans }}</b></td><td>{{ bien.getSiInterphone() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiVideophone() %}<tr><td><b>{{ 'ads.ad.videophone'|trans }}</b></td><td>{{ bien.getSiVideophone() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiAlarme() %}<tr><td><b>{{ 'ads.ad.alarme'|trans }}</b></td><td>{{ bien.getSiAlarme() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                            {% if bien.getSiJardin() %}<tr><td><b>{{ 'ads.ad.jardin'|trans }}</b></td><td>{{ bien.getSiJardin() ? 'Oui' : 'Non' }}</td></tr>{% endif %}
                                                        {% else %}
                                                            <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ bien.getType() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td><td>{{ bien.getTypeArchitectureValue() }}</td></tr>
                                                        {% endif %}
                                                        <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ bien.getSurface() ~'m²'}}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td><td>{{ bien.nbPieces() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td><td>{{ bien.getNbChambres() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td><td>{{ bien.getNbSalleBain() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td><td>{{ bien.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSalleEau() ? 'Nombre: '~bien.getNbSalleEau() : '' }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.parking'|trans }}</b></td><td>{{ bien.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiParking() ? 'Nombre: '~bien.getNbParking() : '' }}<br/>{{ bien.getSiParking() ? 'Surface: '~bien.getSurfaceParking()~'m²' : '' }}</td></tr>
                                                        <tr><td><b>{{ 'ads.images_secondaires'|trans }}</b></td>
                                                            <td>
                                                                {% set documents = brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(ad.getImagesDocuments()) : ad.getImagesDocuments() %}
                                                                {% if documents %}
                                                                    {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                                                                {% else %}
                                                                    ---
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr><td><b>{{ 'ads.documents_joint'|trans }}</b></td>
                                                            <td>
                                                                {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                                                                {% if documents %}
                                                                    {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                                                                {% else %}
                                                                    ---
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% if bien.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ bien.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiToilette() ? 'Nombre: '~bien.getNbToilette() : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiSejourValue() %}<tr><td><b>{{ 'ads.ad.livingroom'|trans }}</b></td><td>{{ bien.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSejour() ? 'Surface: '~bien.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiSalleAMangerValue() %}<tr><td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td><td>{{ bien.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiSalleAManger() ? 'Surface: '~bien.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getTypeCuisine() %}<tr><td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td><td>{{ bien.getTypeCuisineValue() }}</td></tr>{% endif %}
                                                        {% if bien.getSiBureauValue() %}<tr><td><b>{{ 'ads.ad.bureau'|trans }}</b></td><td>{{ bien.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBureau() ? 'Surface: '~bien.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiBuanderieValue() %}<tr><td><b>{{ 'ads.ad.buanderie'|trans }}</b></td><td>{{ bien.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBuanderie() ? 'Surface: '~bien.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiTerrasseValue() %}<tr><td><b>{{ 'ads.ad.terrasse'|trans }}</b></td><td>{{ bien.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiTerrasse() ? 'Nombre: '~bien.getNbTerrasse() : '' }}<br/>{{ bien.getSiTerrasse() ? 'Surface: '~bien.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiDressingValue() %}<tr><td><b>{{ 'ads.ad.dressing'|trans }}</b></td><td>{{ bien.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiDressing() ? 'Surface: '~bien.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiBalconsValue() %}<tr><td><b>{{ 'ads.ad.balcon'|trans }}</b></td><td>{{ bien.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiBalcons() ? 'Nombre: '~bien.getNbBalcons() : '' }}<br/>{{ bien.getSiBalcons() ? 'Surface: '~bien.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiCaveValue() %}<tr><td><b>{{ 'ads.ad.cave'|trans }}</b></td><td>{{ bien.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiCave() ? 'Surface: '~bien.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiVerandaValue() %}<tr><td><b>{{ 'ads.ad.veranda'|trans }}</b></td><td>{{ bien.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiVeranda() ? 'Surface: '~bien.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiChemineeValue() %}<tr><td><b>{{ 'ads.ad.cheminee'|trans }}</b></td><td>{{ bien.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiCheminee() ? 'Surface: '~bien.getNumberCheminee()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getSiPlacardsValue() %}<tr><td><b>{{ 'ads.ad.placards'|trans }}</b></td><td>{{ bien.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ bien.getSiPlacards() ? 'Surface: '~bien.getNumberPlacards()~'m²' : '' }}</td></tr>{% endif %}
                                                        {% if bien.getRevetementDeSol() %}<tr><td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td><td>{{ bien.getRevetementDeSolValue() }}</td></tr>{% endif %}
                                                        {% if bien.getDPE() %}<tr><td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td><td>{{ bien.getDPE() }}</td></tr>{% endif %}
                                                        {% if bien.getGES() %}<tr><td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td><td>{{ bien.getGES() }}</td></tr>{% endif %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            {{ form_rest(form) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascript %}
    {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'AppBundle:HouseModels:includes/dropzone.html.twig' %}
    {% endif %}
    {% include 'AppBundle:HouseModels:includes/javascript.html.twig' %}
     <script type="application/javascript">
    $(function() {
         $('.filestyle.uplodable').fileupload({
            dataType: 'json',
            autoUpload: true,
            maxFileSize: 10000,
            loadImageFileTypes: /^image\/(jpg|jpeg)$/,
            formData: {
                type: 'images',
                id: {{ brouillon.id }}
            },
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(jpe?g)$/i;
                if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type');
                }
                if(uploadErrors.length > 0) {
                    data.abort();
                    var error = "{{ "image.error.message.allowed_types" | trans }}";
                    $( this ).closest('.image-container').append('<div class="alert alert-danger alert-dismissible" ' +
                     'role="alert"><button type="button" class="close" ' +
                      'data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>' +
                       '</button>'+error+'</div>');
                } else {
                    $(this).closest('.image-container').find('.image-stat').removeClass('hidden');
                    data.submit();
                }

            },progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $( this ).closest('.image-container').find('.progress-small .progress-bar').css('width',progress + '%');
                $( this ).closest('.image-container').find('.progress-extended').html(fileRender.renderExtendedProgress(data));
            },
            done: function (e, data) {
                $( this ).closest('.image-container').find('.bootstrap-filestyle .input-group').val(data.result.originalName);
                var img = $(this).closest('.image-container').find('img');
                if(!img.length) {
                    img = $('<img>').prependTo($(this).closest('.image-container'));
                }
                var reader = new FileReader();
                    reader.onload = function(e) {
                        img.attr('src', e.target.result);
                    };
                    reader.readAsDataURL(data.files[0]);
            }
        });
    });
    </script>
{% endblock %}