{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.edit" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('ads_index') }}">{{ "ads.list" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "ads.edit" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "ads.edit" | trans }}</h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {{ form_start(form,{'attr':{'id':'ad'}}) }}
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {% include 'AppBundle:Common:Flow/ad_stepList_content.html.twig' with {'diffusion': path('diffusion_ads_project',{'remoteId':ad.getRemoteId()}), 'isDuo' : false} %}
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                        {% if flow.getCurrentStepNumber() == 1 %}
                                        <!-- Annonce -->
                                        <div id="step2" class="tab-pane active">
                                            <h3>{{ 'ads.set_ad'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.libelle) }}
                                                {{ form_row(form.referenceInterne) }}
                                                {{ form_row(form.prix) }}
                                                {{ form_row(form.adresse) }}
                                                {{ form_row(form.pays) }}
                                                {{ form_row(form.ville) }}
                                                {{ form_row(form.codePostal) }}
                                                {{ form_row(form.lienVisitVirtuel) }}
                                                {{ form_row(form.description) }}
                                                {{ form_row(form.imagePrincipale) }}
                                                {{ form_row(form.titreImagePrincipale) }}
                                                <tr>
                                                    <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getImagesDocuments() ? brouillon.getImagesDocuments()|merge(ad.getImagesDocuments()) : ad.getImagesDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': ad.getProgram() ? 'housemodels' : 'ad'} %}
                                                        <div action="{{ oneup_uploader_endpoint(ad.getProgram() ? 'housemodel' : 'ad') }}" class="dropzone" id="dropzone"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents, 'type': ad.getProgram() ? 'housemodels' : 'ad'} %}
                                                        <div action="{{ oneup_uploader_endpoint('ad') }}" class="dropzone" id="dropzone_pdf"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {% elseif flow.getCurrentStepNumber() == 2 %}
                                            <!-- Terrain -->
                                            {% set TerrainForm = null %}
                                            {% for BienForm in form.bienImmobilier %}
                                                 {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Terrain') %}
                                                    {% set TerrainForm = BienForm %}
                                                 {% endif %}
                                            {% endfor %}
                                            <div id="step3" class="tab-pane active">

                                                {% set MaisonForm = null %}
                                                {% for BienForm in form.bienImmobilier %}
                                                     {% if BienForm.vars.value is instanceof('AppBundle\\Entity\\Maison') %}
                                                        {% set MaisonForm = BienForm %}
                                                     {% endif %}
                                                {% endfor %}
                                                {% if MaisonForm %}
                                                    <h3>{{ 'Maison'| trans  }}</h3>
                                                    <hr/>
                                                    <h4>{{ "Détails Maison"| trans  }}</h4>
                                                    <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.type) }}
                                                            {{ form_row(MaisonForm.typeArchitecture) }}
                                                            {{ form_row(MaisonForm.surface) }}
                                                            {{ form_row(MaisonForm.typeCharpante) }}
                                                            {{ form_row(MaisonForm.typeTuile) }}
                                                            {{ form_row(MaisonForm.materiauxTuile) }}
                                                            {{ form_row(MaisonForm.zinguerie) }}
                                                            {{ form_row(MaisonForm.menuiserie) }}
                                                            {{ form_row(MaisonForm.volets) }}
                                                            {{ form_row(MaisonForm.porteGarage) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ "Prestations Intérieures"| trans  }}</h4>
                                                    <table class="table table-bordered table-striped" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.nbPieces) }}
                                                            {{ form_row(MaisonForm.nbChambres) }}
                                                            {{ form_row(MaisonForm.nbSalleBain) }}
                                                            {{ form_row(MaisonForm.siSalleEau) }}
                                                            {{ form_row(MaisonForm.siToilette) }}
                                                            {{ form_row(MaisonForm.siSalon) }}
                                                            {{ form_row(MaisonForm.siSalleAManger) }}
                                                            {{ form_row(MaisonForm.siCheminee) }}
                                                            {{ form_row(MaisonForm.typeCuisine) }}
                                                            {{ form_row(MaisonForm.revetementDeSol) }}
                                                            {{ form_row(MaisonForm.typeDeChauffage) }}
                                                            {{ form_row(MaisonForm.energieDeChauffage) }}
                                                            {{ form_row(MaisonForm.siBureau) }}
                                                            {{ form_row(MaisonForm.siPlacards) }}
                                                            {{ form_row(MaisonForm.siDressing) }}
                                                            {{ form_row(MaisonForm.siBuanderie) }}
                                                            {{ form_row(MaisonForm.siAlarme) }}
                                                            {{ form_row(MaisonForm.siTV) }}
                                                            {{ form_row(MaisonForm.siPMR) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ "Prestations Extérieures"| trans  }}</h4>
                                                    <table class="table table-bordered table-striped" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.siParking) }}
                                                            {{ form_row(MaisonForm.siTerrasse) }}
                                                            {{ form_row(MaisonForm.siBalcons) }}
                                                            {{ form_row(MaisonForm.siVeranda) }}
                                                            {{ form_row(MaisonForm.siCave) }}
                                                            {{ form_row(MaisonForm.siPiscine) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ "Consommation Energétique"| trans  }}</h4>
                                                    <table class="table table-bordered table-striped" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.DPE) }}
                                                            {{ form_row(MaisonForm.dpeValue) }}
                                                            {{ form_row(MaisonForm.GES) }}
                                                            {{ form_row(MaisonForm.gesValue) }}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                                {% if TerrainForm %}
                                                <h3>{{ 'Terrain'|trans }}</h3>
                                                <hr/>
                                                <h4>{{ "Détails Terrain"| trans  }}</h4>
                                                <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                    <tbody>
                                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                                    {% if ad.getTypeDiffusion() == 'terrain' %}
                                                        {{ form_row(TerrainForm.type) }}
                                                        {{ form_row(TerrainForm.surface) }}
                                                        {{ form_row(TerrainForm.libreConstruction) }}
                                                        {{ form_row(TerrainForm.siViabilise) }}
                                                        {{ form_row(TerrainForm.constructible) }}
                                                        {{ form_row(TerrainForm.servitude) }}
                                                        {{ form_row(TerrainForm.pente) }}
                                                        {{ form_row(TerrainForm.assainissementEauUsees) }}
                                                        {{ form_row(TerrainForm.assainissementEauPluviale) }}
                                                        {{ form_row(TerrainForm.certificatUrbanismeDelivrer) }}
                                                        {{ form_row(TerrainForm.surfacePlancher) }}
                                                    {% else %}
                                                        {{ form_row(TerrainForm.surface) }}
                                                        {{ form_row(TerrainForm.siViabilise) }}
                                                        {{ form_row(TerrainForm.exposition) }}
                                                        {{ form_row(TerrainForm.environnement) }}
                                                        {{ form_row(TerrainForm.belleVue) }}
                                                        {{ form_row(TerrainForm.calme) }}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                                <h4>{{ "Détails environnement"|trans }}</h4>
                                                <table class="table table-bordered table-striped" style="clear: both">
                                                    <tbody>
                                                    {% if ad.getTypeDiffusion() == 'terrain' %}
                                                    {{ form_row(TerrainForm.vis_a_vis) }}
                                                    {{ form_row(TerrainForm.calme) }}
                                                    {{ form_row(TerrainForm.belleVue) }}
                                                    {% endif %}
                                                    {{ form_row(TerrainForm.siProximiteCentreville) }}
                                                    {{ form_row(TerrainForm.siProximiteCommerces) }}
                                                    {{ form_row(TerrainForm.siProximiteCentreCommercial) }}
                                                    {{ form_row(TerrainForm.siProximiteCreche) }}
                                                    {{ form_row(TerrainForm.siProximiteEcolePrimaire) }}
                                                    {{ form_row(TerrainForm.siProximiteCollege) }}
                                                    {{ form_row(TerrainForm.siProximiteLycee) }}
                                                    {{ form_row(TerrainForm.siProximiteUniversite) }}
                                                    {{ form_row(TerrainForm.siProximiteSortieAutoroute) }}
                                                    {{ form_row(TerrainForm.siProximiteGare) }}
                                                    {{ form_row(TerrainForm.siProximiteTramway) }}
                                                    {{ form_row(TerrainForm.siProximiteAeroport) }}
                                                    {{ form_row(TerrainForm.siProximiteParking) }}
                                                    {{ form_row(TerrainForm.siProximiteEspacesVerts) }}
                                                    </tbody>
                                                </table>
                                                {% endif %}
                                                {% if MaisonForm %}
                                                    <a class="btn btn-primary" data-toggle="collapse" data-target="#options">{{ 'ads.see_more_options'|trans }}</a>
                                                    <div id="options" class="collapse">
                                                        <h3>{{ 'Certifications et labels'|trans }}</h3>
                                                        <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.hauteQualiteEnvironnementale) }}
                                                            {{ form_row(MaisonForm.nfLogement) }}
                                                            {{ form_row(MaisonForm.labelHabitatEnvironnement) }}
                                                            {{ form_row(MaisonForm.THPE) }}
                                                            {{ form_row(MaisonForm.HPE_ENR) }}
                                                            {{ form_row(MaisonForm.labelBatimentBasseConsommation) }}
                                                            {{ form_row(MaisonForm.labelHabitatEnvironnementEffinergie) }}
                                                            {{ form_row(MaisonForm.planLocalHabitat) }}
                                                            {{ form_row(MaisonForm.RT2012) }}
                                                            </tbody>
                                                        </table>
                                                        <h3>{{ 'Avantages environnementaux'|trans }}</h3>
                                                        <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                            <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.siEcoQuartier) }}
                                                            {{ form_row(MaisonForm.siBioConstruction) }}
                                                            </tbody>
                                                        </table>
                                                        <h3>{{ 'Avantages Investissement'|trans }}</h3>
                                                        <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                            <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {{ form_row(MaisonForm.loiPinel) }}
                                                            {{ form_row(MaisonForm.loiDuflot) }}
                                                            {{ form_row(MaisonForm.censiBouvard) }}
                                                            {{ form_row(MaisonForm.LMP_LMNP) }}
                                                            {{ form_row(MaisonForm.loi_Girardin_Paul) }}
                                                            {{ form_row(MaisonForm.loi_Malraux) }}
                                                            {{ form_row(MaisonForm.loi_Demessine) }}
                                                            {{ form_row(MaisonForm.regime_SCPI) }}
                                                            {{ form_row(MaisonForm.nue_Propriete) }}
                                                            {{ form_row(MaisonForm.pret_Locatif_Social) }}
                                                            {{ form_row(MaisonForm.PSLA) }}
                                                            {{ form_row(MaisonForm.monumentHistorique) }}
                                                            {{ form_row(MaisonForm.elligiblePret) }}
                                                            {{ form_row(MaisonForm.tva_1) }}
                                                            {{ form_row(MaisonForm.tva_2) }}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% elseif flow.getCurrentStepNumber() == 3 %}
                                            <!-- Visuel -->
                                            <div id="step5" class="tab-pane active">
                                                <h3>{{ 'Photo principale'|trans }}</h3>
                                                <div class="col-lg-3">
                                                    <div class="hpanel hred" id="documents-review">
                                                        <div class="uploadedDocument">
                                                            <div class="hpanel">
                                                                <div class="panel-body file-body">
                                                                    <img src="{{ brouillon.getImagePrincipale() ? '/'~brouillon.getImagePrincipale() : ad.getImagePrincipale()|imagine_filter('model_small') }}" class="img-responsive" />
                                                                </div>
                                                                <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span></div>
                                                            </div>
                                                        </div>
                                                        {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) : ad.getPdfDocuments() %}
                                                        {% set documentsCount = documents|length %}
                                                        {% if documentsCount > 0 %}
                                                            <hr/>
                                                            <h3>Photos secondaire</h3>
                                                            {% for document in documents %}
                                                                <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                                                    <div class="hpanel">
                                                                        <div class="panel-body file-body">
                                                                            <img src="{{ ('/uploads/ad/' ~ document.getName()) }}" class="img-responsive" />
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                            <span>{{ document.getTitle() }}</span>
                                                                            <div class="btn-group">
                                                                                <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">Supprimer</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% set documents = brouillon.getPdfDocuments()|merge(ad.getPdfDocuments()) %}
                                                        {% set documentsCount = documents|length %}
                                                        {% if documentsCount > 0 %}
                                                            <hr/>
                                                            <h3>PDFs</h3>
                                                            {% for document in documents %}
                                                                <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                                                    <div class="hpanel">
                                                                        <div class="panel-body file-body">
                                                                            <i class="fa fa-file-pdf-o text-info"></i>
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                            <span>{{ document.getTitle() }}</span>
                                                                            <div class="btn-group pdf_buttons">
                                                                                <a class="btn btn-xs btn-default" target="_blank" href="{{ ('/uploads/ad/' ~ document.getName()) }}">Ouvrir</a>
                                                                                <a class="btn btn-xs btn-default removeDocument" data-id="{{ document.id }}" data-name="{{ document.getOriginalFileName() }}">Supprimer</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-9">
                                                    <h3>{{ 'ads.ads_visual'|trans }}</h3>
                                                    <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            <tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ ad.getLibelle() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td><td>{{ ad.getReferenceInterne() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.country'|trans }}</b></td><td>{{ ad.getPays()|country(app.request.locale) }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.city'|trans }}</b></td><td>{{ ad.getVille() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.adresse'|trans }}</b></td><td>{{ ad.getAdresse() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.zip_code'|trans }}</b></td><td>{{ ad.getCodePostal() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td><td>{{ ad.getLienVisitVirtuel() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ ad.getPrix() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.description'|trans }}</b></td><td>{{ ad.getDescription()|raw }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.diffusion_type'|trans }}</b></td><td>{{ ad.getTypeDiffusion() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.status'|trans }}</b></td><td>{{ ad.getStat() }}</td></tr>
                                                        </tbody>
                                                    </table>
                                                    {% set Terrain = ad.getTerrain() %}
                                                    {% if Terrain %}
                                                    <h3>Terrain</h3>
                                                    <table class="table table-bordered table-striped" id="terrain-table-review" style="clear: both">
                                                        <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {% if Terrain.getTitle() %}<tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ Terrain.getTitle() }}</td></tr>{% endif %}
                                                            {% if Terrain.getPrix() %}<tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ Terrain.getPrix()~' €' }}</td></tr>{% endif %}
                                                            <tr><td><b>{{ 'ads.ad.type_terrain'|trans }}</b></td><td>{{ Terrain.getTypeValue() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ Terrain.getSurface()~' m²' }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.exposition'|trans }}</b></td><td>{{ Terrain.getExpositionValue() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.environnement'|trans }}</b></td><td>{{ Terrain.getEnvironnement() }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.nice_view'|trans }}</b></td><td>{{ Terrain.getBelleVue() ? 'Oui' : 'Non' }}</td></tr>
                                                            <tr><td><b>{{ 'ads.ad.vis_a_vis'|trans }}</b></td><td>{{ Terrain.getVisAVis() ? 'Oui' : 'Non' }}</td></tr>
                                                        </tbody>
                                                    </table>
                                                    {% endif %}
                                                    {% set maison = ad.getMaison() %}
                                                    {% if ad.getHouseModel() %}
                                                        {% set maison = ad.getHouseModel().getMaison() %}
                                                    {% endif %}
                                                    {% if maison %}
                                                    <h3>{{ 'Maison'|trans }}</h3>
                                                        <table class="table table-bordered table-striped" id="maison-table" style="clear: both">
                                                            <tbody>
                                                            <tr><td width="35%"></td><td width="65%"></td></tr>
                                                            {% if ad.getTypeDiffusion() != 'terrain' %}
                                                                <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ maison.getTypeValue() }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td><td>{{ maison.getTypeArchitectureValue() }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ maison.getSurface() ~'m²'}}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td><td>{{ maison.nbPieces() }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td><td>{{ maison.getNbChambres() }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td><td>{{ maison.getNbSalleBain() }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td><td>{{ maison.getSiSalleEauValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleEau() ? 'Nombre: '~maison.getNbSalleEau() : '' }}</td></tr>
                                                                <tr><td><b>{{ 'ads.ad.parking'|trans }}</b></td><td>{{ maison.getSiParkingValue() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiParking() ? 'Nombre: '~maison.getNbParking() : '' }}<br/>{{ maison.getSiParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : '' }}</td></tr>
                                                                {% if maison.getSiToiletteValue() %}<tr><td><b>{{ 'ads.ad.wc'|trans }}</b></td><td>{{ maison.getSiToilette() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiToilette() ? 'Nombre: '~maison.getNbToilette() : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiSejourValue() %}<tr><td><b>{{ 'ads.ad.livingroom'|trans }}</b></td><td>{{ maison.getSiSejour() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiSalleAMangerValue() %}<tr><td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td><td>{{ maison.getSiSalleAManger() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getTypeCuisine() %}<tr><td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td><td>{{ maison.getTypeCuisineValue() }}</td></tr>{% endif %}
                                                                {% if maison.getSiBureauValue() %}<tr><td><b>{{ 'ads.ad.bureau'|trans }}</b></td><td>{{ maison.getSiBureau() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiBuanderieValue() %}<tr><td><b>{{ 'ads.ad.buanderie'|trans }}</b></td><td>{{ maison.getSiBuanderie() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiTerrasseValue() %}<tr><td><b>{{ 'ads.ad.terrasse'|trans }}</b></td><td>{{ maison.getSiTerrasse() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiTerrasse() ? 'Nombre: '~maison.getNbTerrasse() : '' }}<br/>{{ maison.getSiTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiDressingValue() %}<tr><td><b>{{ 'ads.ad.dressing'|trans }}</b></td><td>{{ maison.getSiDressing() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiBalconsValue() %}<tr><td><b>{{ 'ads.ad.balcon'|trans }}</b></td><td>{{ maison.getSiBalcons() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiBalcons() ? 'Nombre: '~maison.getNbBalcons() : '' }}<br/>{{ maison.getSiBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiCaveValue() %}<tr><td><b>{{ 'ads.ad.cave'|trans }}</b></td><td>{{ maison.getSiCave() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiVerandaValue() %}<tr><td><b>{{ 'ads.ad.veranda'|trans }}</b></td><td>{{ maison.getSiVeranda() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiChemineeValue() %}<tr><td><b>{{ 'ads.ad.cheminee'|trans }}</b></td><td>{{ maison.getSiCheminee() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getSiPlacardsValue() %}<tr><td><b>{{ 'ads.ad.placards'|trans }}</b></td><td>{{ maison.getSiPlacards() ? 'Oui' : 'Non' }}<br/>{{ maison.getSiPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}</td></tr>{% endif %}
                                                                {% if maison.getRevetementDeSol() %}<tr><td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td><td>{{ maison.getRevetementDeSolValue() }}</td></tr>{% endif %}
                                                                {% if maison.getDPE() %}<tr><td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td><td>{{ maison.getDPE() }}</td></tr>{% endif %}
                                                                {% if maison.getGES() %}<tr><td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td><td>{{ maison.getGES() }}</td></tr>{% endif %}
                                                            {% endif %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">{{ form_rest(form) }}</div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'AppBundle:HouseModels:includes/dropzone.html.twig' %}
    {% endif %}
    {% include 'AppBundle:HouseModels:includes/javascript.html.twig' %}
    <script type="application/javascript">
    $(function() {
         $('.filestyle.uplodable').fileupload({
            dataType: 'json',
            autoUpload: true,
            maxFileSize: 10000,
            loadImageFileTypes: /^image\/(jpg|jpeg)$/,
            formData: {
                type: 'images',
                id: {{ brouillon.id }}
            },
            add: function (e, data) {
                var uploadErrors = [];
                var acceptFileTypes = /^image\/(jpe?g)$/i;
                if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
                    uploadErrors.push('Not an accepted file type');
                }
                if(uploadErrors.length > 0) {
                    data.abort();
                    var error = "{{ "image.error.message.allowed_types" | trans }}";
                    $( this ).closest('.image-container').append('<div class="alert alert-danger alert-dismissible" ' +
                     'role="alert"><button type="button" class="close" ' +
                      'data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>' +
                       '</button>'+error+'</div>');
                } else {
                    $(this).closest('.image-container').find('.image-stat').removeClass('hidden');
                    data.submit();
                }

            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $( this ).closest('.image-container').find('.progress-small .progress-bar').css('width',progress + '%');
                $( this ).closest('.image-container').find('.progress-extended').html(fileRender.renderExtendedProgress(data));
            },
            done: function (e, data) {
                $( this ).closest('.image-container').find('.bootstrap-filestyle .input-group').val(data.result.originalName);
                var img = $(this).closest('.image-container').find('img');
                if(!img.length) {
                    img = $('<img>').prependTo($(this).closest('.image-container'));
                }
                var reader = new FileReader();
                    reader.onload = function(e) {
                        img.attr('src', e.target.result);
                    };
                    reader.readAsDataURL(data.files[0]);
            }
        });
    });
    </script>
{% endblock %}