{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "ads.list" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "ads.list" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">

            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Filtres
                    </div>
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Ads:_widget_ads.html.twig' %}
                        {{ form_start(form,{'attr':{'id':'adsForm'}}) }}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.dateRemonterMin) }}
                                {{ form_row(form.prixMin) }}
                                {% if is_granted('ROLE_MARKETING') %}
                                    {% if form.bigGroups is defined %}
                                        {{ form_row(form.bigGroups,{'id':'bigGroups'}) }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.dateRemonterMax) }}
                                {{ form_row(form.prixMax) }}
                                {% if is_granted('ROLE_MARKETING') %}
                                    {% if form.bigGroups is defined %}
                                        {{ form_row(form.bigGroups,{'id':'bigGroups'}) }}
                                    {% endif %}
                                    <div id="groupContainer">
                                        {{ form_row(form.group,{'id':'group'}) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.typeAd) }}
                                {{ form_row(form.ville) }}
                                <div id="commercialsContainer">
                                    {% if form.commercial is defined %}
                                        <div id="commercials">
                                            {{ form_row(form.commercial) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.portalDiffusion) }}
                                {{ form_row(form.etat) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                {{ form_row(form.submit) }}
                            </div>
                            <div class="col-md-3">
                                <a href="{{ path('ads_index') }}" class="btn btn-primary btn-block btn">{{ "Réinitialisé"|trans }}</a>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        {{ 'ads.list'|trans }}
                    </div>
                    <div id="datatable-container" class="panel-body">
                        {% if trackingAdvantage is defined and trackingAdvantage %}
                        <div id="tracking-information">

                        </div>
                        {% endif %}
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="affectModal2" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Affectation de commercial'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="hpanel blog-box col-sm-12">
                            <div class="media clearfix">
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post">
                                                <select class="select2" name="commercial" id="commercialsList">
                                                </select>
                                                <hr/>
                                                <button type="submit" class="btn btn-default" data-dismiss="modal" id="affectCommecial">{{ 'Affecter'|trans }}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(function() {
            if($('#bigGroups').length) {
                $('#bigGroups').on('change', function(){
                    $(this).closest('form').ajaxSubmit({
                        success: function(res) {
                            $('#groupContainer .select2-container').remove();
                            $('#groupContainer select').replaceWith($(res).find('#groupContainer select'));
                            $('#group').select2();
                        }
                    });
                });
            }
            $(document).on('change','#group', function(){
                $(this).closest('form').ajaxSubmit({
                    success: function(res) {
                        $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                    }
                });
            });

            $(document).on('click', '#affectCommecial', function(e){
                $(this).closest('form').submit();
            });
            $(document).on('click', '.btn-datatable-affect2', function(e){
                e.preventDefault();
                var id = $(this).closest('tr').find('> td:eq(1)').text();
                var action = Routing.generate('ads_affect_commercial', {
                    'remoteId':id
                });
                $('#commercialsList').closest('form').attr('action',action);
                $.ajax({
                    url: Routing.generate('commercials_list_by_ad', {
                        'remoteId':id
                    }),
                    type: 'POST',
                    success: function (data) {
                        $('#commercialsList option').remove();
                        jQuery.each( data, function( i, item ) {
                            $('#commercialsList').append('<option value="'+item.id+'">'+item.nom+'</option>');
                        });
                        $('#commercialsList').select2();
                    }
                });
            });
        });
    </script>
{% endblock %}