{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ 'ads.moderation'|trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>{{ 'ads.moderation'|trans }}</span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ 'ads.moderation'|trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Filtres
                    </div>
                    <div class="panel-body">
                        {% form_theme form 'AppBundle:Ads:_widget_ads.html.twig' %}
                        {{ form_start(form,{'attr':{'id':'filtersForm'}}) }}
                        <div class="row">
                            {% if is_granted('ROLE_MARKETING') %}
                            <div class="col-md-3">
                                {% if form.bigGroups is defined %}
                                    {{ form_row(form.bigGroups,{'id':'bigGroups'}) }}
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                <div id="groupContainer">
                                    {% if form.group is defined %}
                                        {{ form_row(form.group,{'id':'group'}) }}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-3">
                                <div id="commercialsContainer">
                                    {% if form.commercial is defined %}
                                        <div id="commercials">
                                            {{ form_row(form.commercial) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'ads.notification'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="hpanel blog-box col-sm-12">
                            <div class="media clearfix">
                                <div class="media-body">
                                    <textarea id="notificationMessage" class="form-control"  rows="5"></textarea>
                                    <hr/>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="sendInformation">{{ 'action.send'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="affectModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Affectation de commercial'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="hpanel blog-box col-sm-12">
                            <div class="media clearfix">
                                <div class="media-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post">
                                                <select class="select2" name="commercial" id="commercialsList">
                                                </select>
                                                <hr/>
                                                <button type="submit" class="btn btn-default" data-dismiss="modal" id="affectCommecial">{{ 'Affecter'|trans }}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var id ;
        $(document).on('click', '.btn-datatable-informer', function(e){
            id = $(this).data('id');
        });
        $(document).on('click', '#sendInformation', function(e){
            $.ajax({
                url: Routing.generate('ads_informer', {
                    'remoteId':id,
                    'value': $('#notificationMessage').val()
                }),
                type: 'POST',
                success: function (data) {
                    $('#notificationMessage').val('');
                    toastr["success"]("{{ 'ads.notification_has_been_sent'|trans }}")
                }
            });
        });

        var idGroup ;
        $(document).on('click', '#affectCommecial', function(e){
            $(this).closest('form').submit();
        });
        $(document).on('click', '.btn-datatable-affect', function(e){
            idGroup = $(this).data('group');
            var action = Routing.generate('ads_affect_commercial', {
                'remoteId':$(this).data('id')
            });
            $('#commercialsList').closest('form').attr('action',action);
            $.ajax({
                url: Routing.generate('group_commercials_list', {
                    'remoteId':idGroup
                }),
                type: 'POST',
                success: function (data) {
                    $('#commercialsList option').remove();
                    jQuery.each( data, function( i, item ) {
                        $('#commercialsList').append('<option value="'+item.id+'">'+item.nom+'</option>');
                    });
                    $('#commercialsList').select2();
                }
            });
        });
        $(function() {
            if($('#bigGroups').length) {
                $('#bigGroups').on('change', function(){
                    $(this).closest('form').ajaxSubmit({
                        success: function(res) {
                            $('#groupContainer .select2-container').remove();
                            $('#groupContainer').replaceWith($(res).find('#groupContainer'));
                            $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                            $('#group').select2();
                        }
                    });
                });
            }
            $(document).on('change','#group', function(){
                $(this).closest('form').ajaxSubmit({
                    success: function(res) {
                        $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                    }
                });
            });
        });
    </script>
{% endblock %}