<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ ad.getLibelle() }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="32x32">
    {% block head %}
        {% include 'AppBundle:Common:head_styles.html.twig' %}
        {% include 'AppBundle:Common:head_scripts.html.twig' %}
    {% endblock %}
    {% block stylesheets %}
    <style>
        .uploadedDocument .file-body {
            max-height: 190px;
            overflow: hidden;
        }
        .print .content-container h3 {
            margin-top: 20px;
        }
        .print .content-container {
            padding: 20px;
        }
        .print.print_portrait {
            width: 100%;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
            color: #000000;
        }
        .table-print-info tr td b {
            color: #6a6c6f;
        }
        .table-print-info tr td:first-child {
            border-right: 1px solid transparent;
        }
        .print-description {
            margin-bottom: 10px;
        }
        .print {
            page-break-before: always;
        }
        div.print_portrait, div.print_paysage {
            margin: 0;
            padding: 0;
            border: none;
            background: none;
        }
        div.print_paysage {
            /*width: 464mm;*/
            width: 334.5mm;
            height: 210mm;

            -webkit-transform: translateY(334.5mm) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(334.5mm) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(334.5mm) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(334.5mm) rotate(270deg); /* IE 9 */
            transform: translateY(334.5mm) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */

            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        @media print {
            div.print_paysage {
                width: 375mm;
                height: 210mm;

                -webkit-transform: translateY(375mm) rotate(270deg); /* Chrome, Safari 3.1+ */
                -moz-transform: translateY(375mm) rotate(270deg); /* Firefox 3.5+ */
                -o-transform: translateY(375mm) rotate(270deg); /* Opera 10.5-12.0 */
                -ms-transform: translateY(375mm) rotate(270deg); /* IE 9 */
                transform: translateY(375mm) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */

                -webkit-transform-origin: 0% 0%;
                -moz-transform-origin: 0% 0%;
                -o-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
            }
        }
        .img-responsive {
            zoom: 1.7;
        }
        {% if ad.getImagesDocuments()|length == 0 %}
        .print.print_paysage h1 {
            margin-top: 70px;
        }
        {% endif %}
    </style>
    {% endblock %}
</head>
<body>
{% include "AppBundle:Ads:print_mode.html.twig" with {'mode': 'portrait'} %}
{% include "AppBundle:Ads:print_mode.html.twig" with {'mode': 'paysage'} %}
{% block javascript %}
{% if print is defined %}
    <script>
        window.print();
    </script>
{% endif %}
{% endblock %}
</body>
</html>