{% set mode = mode ? mode : 'paysage' %}
<div class="container print print_{{ mode }}">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 cover-image-container">
            <div class="cover-image" style="border-bottom: 30px solid {{ ad.group.agency.color ? ad.group.agency.color : '#efefef' }};">
                <img src="{{ asset(ad.getImagePrincipale()|imagine_filter('cover_paysage')) }}" class="img-full" />
            </div>
            {% if ad.group.agency.avatar %}
            <div class="cover-image-logo">
                <img src="{{ asset(ad.group.agency.avatar|imagine_filter('cover_logo')) }}" class="img-circle m-b m-t-md" style="border: 10px solid {{ ad.group.agency.color ? ad.group.agency.color : '#efefef' }};" />
            </div>
            {% endif %}
            {% set title = (ad.getTypeDiffusion() == 'projet' ? "Maison & Terrain" : "Terrain")~" - <span class='price'>"~ad.prix|number_format(2, '.', ',')~' €'~"</span><br/> "~ ad.getAdresse()~" "~ad.getVille()~", "~ad.getPays()~" ("~ad.codePostal~")"|country(app.request.locale)  %}
            <h1>{{ title|raw }}</h1>
        </div>
    </div>
    <div class="row content-container">
        <div class="{{ not ad.getImagesDocuments() or mode == "portrait" ? 'col-lg-12 col-md-12  col-sm-12 col-xs-12' : 'col-xs-9 col-sm-8 col-lg-9 col-md-9' }}">
            <div class="print-description">
                <b>Détails de l'annonce: </b>
                <span>{{ ad.getDescription()|raw }}</span>
            </div>
            {% set maison = ad.getMaison() %}
            {% set terrain = ad.getTerrain() %}
            <table class="table table-bordered table-striped table-print-info" style="clear: both">
                <tbody>
                <tr><td colspan="2"><b style="font-size: 16px;color: #000000;">Fiche technique</b></td></tr>
                {% if maison %}<tr><td width="20%"><b>Surface habitable</b></td><td width="80%">{{ maison.getSurface() ~'m²'}}</td></tr>{% endif %}
                <tr><td><b>Surface terrain</b></td><td>{{ terrain.getSurface() ~'m²'}}</td></tr>
                {% if maison %}<tr><td width="20%"><b>Nombre de Pièces</b></td><td width="80%">{{ maison.nbPieces() }}</td></tr>{% endif %}
                </tbody>
            </table>
        </div>
        {% if ad.getImagesDocuments() %}
        <div class="{{ mode == "portrait" ? 'col-lg-12 col-md-12  col-sm-12 col-xs-12' : 'col-sm-3 col-lg-3 col-md-3 col-xs-3' }} images-secondary">
            {% set params = {'documents':ad.getImagesDocuments(),'type': 'ad','remove':null,'review': true  } %}
            {% if mode == "portrait" %}
                {% set params = {'documents':ad.getImagesDocuments(),'type': 'ad','remove':null,  } %}
            {% endif %}
            {% set documents = ad.getImagesDocuments() %}
            {% if mode == "portrait" %}
                {% for document in documents %}
                    {% if loop.first %}<div class="row">{% endif %}
                    <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 pull-left uploadedDocument">
                        <div class="hpanel">
                            <div class="panel-body file-body">
                                {% if document.getMimeType() == 'application/pdf' %}
                                    <i class="fa fa-file-pdf-o text-info"></i>
                                {% else %}
                                    <img src="{{ asset(( (ad.program ? '/uploads/housemodels/' : '/uploads/ad/' ) ~ document.getName())) }}" class="img-responsive" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 4 == 0 or loop.last  %}
                        </div>
                        {% if not loop.last %}<div class="row">{% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="row">
                    {% for document in documents %}
                        {% if loop.index == 1 or loop.index == 2 %}
                            <div class="uploadedDocument">
                            <div class="hpanel">
                                <div class="panel-body file-body">
                                    {% if document.getMimeType() == 'application/pdf' %}
                                        <i class="fa fa-file-pdf-o text-info"></i>
                                    {% else %}
                                        <img src="{{ asset(( (ad.program ? '/uploads/housemodels/' : '/uploads/ad/' ) ~ document.getName())) }}" class="img-responsive" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        </div>
        {% if mode == "paysage" %}
        <div class="content-container" style="margin-top: 0;padding-top: 0;">
            {% for document in documents %}
                {% if loop.index > 2 %}
                    {% if loop.index == 3 %}<div class="row">{% endif %}
                        <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 pull-left uploadedDocument">
                            <div class="hpanel">
                                <div class="panel-body file-body">
                                    {% if document.getMimeType() == 'application/pdf' %}
                                        <i class="fa fa-file-pdf-o text-info"></i>
                                    {% else %}
                                        <img src="{{ asset(( (ad.program ? '/uploads/housemodels/' : '/uploads/ad/' ) ~ document.getName())) }}" class="img-responsive" />
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% if (loop.index +2) % 4 == 0 or loop.last  %}
                        </div>
                        {% if not loop.last %}
                            <div class="row">
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
    {#<div class="print-footer" style="background-color: {{ ad.group.agency.color ? ad.group.agency.color : '#efefef' }};"></div>#}
</div>
    </div></div>