{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.reaffect_housemodel" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ block('title') }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row text-center m-b-md choose_model">
                            {% for houseModel in houseModels %}
                                {% set owner = houseModel.getOwner() %}
                                <div class="hpanel blog-box col-sm-3">
                                    <div class="panel-heading">
                                        <div class="media clearfix">
                                            <a class="pull-left">
                                                {% if owner.getAvatar() %}
                                                    <img src="{{ asset(owner.getAvatar()) }}" alt="profile-picture">
                                                {% else %}
                                                    <i class="pe-7s-user fa-5x text-muted"></i>
                                                {% endif %}
                                            </a>
                                            <div class="media-body">
                                                <small>{{ 'created_by'|trans }}: <span class="font-bold">{{ owner.getName()|capitalize }}</span> </small>
                                                <br/>
                                                <small class="text-muted">{{ houseModel.getCreatedAt()|date('d-m-Y à h:m:s') }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-image">
                                        <img src="{{ (houseModel.getImagePrincipale())|imagine_filter('model_small') }}" class="img-responsive" />
                                        <div class="title">
                                            <a href="{{ path('ads_reaffect',{'remoteId':ad.remoteId,'housemodel_remoteId':houseModel.getRemoteId()}) }}"><h4>{{ houseModel.getName() }}</h4></a>
                                            <small>{{ houseModel.getMaison().getDescription()|striptags|truncate(50)|raw }}</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}