{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "ads.voir" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "ads.voir" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "ads.voir" | trans }}</h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        {% if ad.getProgram() %}<a
                            href="{{ path('program_view',{'remoteId':ad.getProgram().getRemoteId()}) }}">Retour au
                            programme</a>{% endif %}
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="dt-buttons dt-buttons-ads">
                                <a class="dt-button buttons-print-paysage buttons-html5"
                                   href="{{ path('ads_print',{"remoteId":ad.remoteId}) }}"><span>Export PDF</span></a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="hpanel hred" id="documents-review">
                                <h3>{{ 'Photo principale'|trans }}</h3>
                                <div class="uploadedDocument">
                                    <div class="hpanel">
                                        <div class="panel-body file-body">
                                            <img src="{{ ad.getImagePrincipale()|imagine_filter('model_small') }}"
                                                 class="img-responsive"/>
                                        </div>
                                        <div class="panel-footer"><span><b>{{ ad.getTitreImagePrincipale() }}</b></span>
                                        </div>
                                    </div>
                                </div>
                                {% set documents = ad.getImagesDocuments() %}
                                {% set documentsCount = documents|length %}
                                {% if documentsCount > 0 %}
                                    <hr/>
                                    <h3>{{ 'Photos secondaire'|trans }}</h3>
                                    {% for document in documents %}
                                        <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    {% if document.getMimeType() == 'application/pdf' %}
                                                        <i class="fa fa-file-pdf-o text-info"></i>
                                                    {% else %}
                                                        <img src="{{ (ad.program ? '/uploads/housemodels/' : '/uploads/ad/') ~ document.name }}"
                                                             class="img-responsive"/>
                                                    {% endif %}
                                                </div>
                                                <div class="panel-footer">
                                                    <span>{{ document.getTitle() }}</span>
                                                    <div class="btn-group">
                                                        <a class="btn btn-xs btn-default removeDocument"
                                                           data-id="{{ document.id }}"
                                                           data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% set documents = ad.getPdfDocuments() %}
                                {% set documentsCount = documents|length %}
                                {% if documentsCount > 0 %}
                                    <hr/>
                                    <h3>PDFs</h3>
                                    {% for document in documents %}
                                        <div class="uploadedDocument {% if documentsCount >= 5 %}col-sm-6{% endif %}">
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    <i class="fa fa-file-pdf-o text-info"></i>
                                                </div>
                                                <div class="panel-footer">
                                                    <span>{{ document.getTitle() }}</span>
                                                    <div class="btn-group pdf_buttons">
                                                        <a class="btn btn-xs btn-default" target="_blank"
                                                           href="{{ ('/uploads/ad/' ~ document.getName()) }}">{{ 'action.open'|trans }}</a>
                                                        <a class="btn btn-xs btn-default removeDocument"
                                                           data-id="{{ document.id }}"
                                                           data-name="{{ document.getOriginalFileName() }}">{{ 'action.delete'|trans }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="pull-right text-right">
                                        <div class="btn-group">
                                            <a href="{{ path(ad.program ? 'ads_edit_program' : 'ads_edit',{'remoteId':ad.getRemoteId()}) }}"><i
                                                        class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                                        </div>
                                    </div>
                                    <!-- Visuel -->
                                    <h3>{{ 'ads.ads_visual'|trans }}</h3>
                                    <table class="table table-bordered table-striped" id="annonce-table-review"
                                           style="clear: both">
                                        <tbody>
                                        <tr>
                                            <td width="35%"></td>
                                            <td width="65%"></td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'ads.ad.title'|trans }}</b></td>
                                            <td>{{ ad.getLibelle() }}</td>
                                        </tr>
                                        {% if ad.getReferenceInterne() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td>
                                                <td>{{ ad.getReferenceInterne() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getPays() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.country'|trans }}</b></td>
                                                <td>{{ ad.getPays()|country(app.request.locale) }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getVille() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.city'|trans }}</b></td>
                                                <td>{{ ad.getVille() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getAdresse() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.adresse'|trans }}</b></td>
                                                <td>{{ ad.getAdresse() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getCodePostal() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.zip_code'|trans }}</b></td>
                                                <td>{{ ad.getCodePostal() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getLienVisitVirtuel() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td>
                                                <td>{{ ad.getLienVisitVirtuel() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getPrix() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.price'|trans }}</b></td>
                                                <td>{{ ad.getPrix() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getDescription() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.description'|trans }}</b></td>
                                                <td>{{ ad.getDescription()|raw }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getTypeDiffusion() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.diffusion_type'|trans }}</b></td>
                                                <td>{{ ad.getTypeDiffusion() }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ad.getStat() %}
                                            <tr>
                                                <td><b>{{ 'ads.ad.status'|trans }}</b></td>
                                                <td>{{ ad.getStat()|raw }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    {% set Terrain = ad.getTerrain() %}
                                    {% if Terrain %}
                                        <h3>{{ 'Terrain'|trans }}</h3>
                                        <table class="table table-bordered table-striped" id="terrain-table-review"
                                               style="clear: both">
                                            <tbody>
                                            <tr>
                                                <td width="35%"></td>
                                                <td width="65%"></td>
                                            </tr>
                                            {% if Terrain.getTitle() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.title'|trans }}</b></td>
                                                <td>{{ Terrain.getTitle() }}</td></tr>{% endif %}
                                            {% if Terrain.getPrix() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.price'|trans }}</b></td>
                                                <td>{{ Terrain.getPrix() }}</td></tr>{% endif %}
                                            {% if Terrain.getTypeValue() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.type'|trans }}</b></td>
                                                <td>{{ Terrain.getTypeValue() }}</td></tr>{% endif %}
                                            {% if Terrain.getSurface() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.surface'|trans }}</b></td>
                                                <td>{{ Terrain.getSurface()~'m²' }}</td></tr>{% endif %}
                                            {% if Terrain.getExpositionValue() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.exposition'|trans }}</b></td>
                                                <td>{{ Terrain.getExpositionValue() }}</td></tr>{% endif %}
                                            {% if Terrain.getBelleVue() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.nice_view'|trans }}</b></td>
                                                <td>Oui</td></tr>{% endif %}
                                            {% if Terrain.getVisAVis() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.vis_a_vis'|trans }}</b></td>
                                                <td>Oui</td></tr>{% endif %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    {% set maison = ad.getMaison() %}
                                    {% if ad.getHouseModel() %}
                                        {% set maison = ad.getHouseModel().getMaison() %}
                                    {% endif %}
                                    {% if maison %}
                                        <h3>{{ 'Maison'|trans }}</h3>
                                        <table class="table table-bordered table-striped" id="maison-table"
                                               style="clear: both">
                                            <tbody>
                                            <tr>
                                                <td width="35%"></td>
                                                <td width="65%"></td>
                                            </tr>
                                            {% if maison.getTypeValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.type'|trans }}</b></td>
                                                    <td>{{ maison.getTypeValue() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getTypeArchitectureValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.type_architecture'|trans }}</b></td>
                                                    <td>{{ maison.getTypeArchitectureValue() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSurface() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.surface'|trans }}</b></td>
                                                    <td>{{ maison.getSurface() ~'m²' }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.nbPieces() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.pieces_number'|trans }}</b></td>
                                                    <td>{{ maison.nbPieces() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getNbChambres() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.rooms_number'|trans }}</b></td>
                                                    <td>{{ maison.getNbChambres() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getNbSalleBain() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bathroom_number'|trans }}</b></td>
                                                    <td>{{ maison.getNbSalleBain() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiSalleEauValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.salle_eau'|trans }}</b></td>
                                                    <td>{{ maison.getSiSalleEauValue() }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiParkingValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.parking'|trans }}</b></td>
                                                    <td>
                                                        {% if maison.getNbParking() %}
                                                            Nombre: {{ maison.getNbParking()}}<br>
                                                        {% endif %}
                                                        {{ maison.getSurfaceParking() ? 'Surface: '~maison.getSurfaceParking()~'m²' : ''}}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiToiletteValue() and maison.getNbToilette() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.wc'|trans }}</b></td>
                                                    <td>{{ maison.getNbToilette() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiSejourValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.livingroom'|trans }}</b></td>
                                                    <td>
                                                        {{ maison.getSurfaceSejour() ? 'Surface: '~maison.getSurfaceSejour()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiSalleAMangerValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td>
                                                    <td>
                                                        {{ maison.getSurfaceSalleAManger() ? 'Surface: '~maison.getSurfaceSalleAManger()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getTypeCuisineValue() %}
                                                <tr>
                                                <td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td>
                                                <td>{{ maison.getTypeCuisineValue() }}</td></tr>
                                            {% endif %}
                                            {% if maison.getSiBureauValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bureau'|trans }}</b></td>
                                                    <td>
                                                        {{ maison.getSurfaceBureau() ? 'Surface: '~maison.getSurfaceBureau()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiBuanderieValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.buanderie'|trans }}</b></td>
                                                    <td>{{ maison.getSurfaceBuanderie() ? 'Surface: '~maison.getSurfaceBuanderie()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiTerrasseValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.terrasse'|trans }}</b></td>
                                                    <td>
                                                        {% if maison.getNbTerrasse() %}
                                                            Nombre: {{ maison.getNbTerrasse() }}<br />
                                                        {% endif %}
                                                        {{ maison.getSurfaceTerrasse() ? 'Surface: '~maison.getSurfaceTerrasse()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiDressingValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.dressing'|trans }}</b></td>
                                                    <td>{{ maison.getSurfaceDressing() ? 'Surface: '~maison.getSurfaceDressing()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiBalconsValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.balcon'|trans }}</b></td>
                                                    <td>
                                                    {% if maison.getNbBalcons() %}
                                                        Nombre: {{ maison.getNbBalcons() }} <br />
                                                    {% endif %}
                                                    {{ maison.getSurfaceBalcons() ? 'Surface: '~maison.getSurfaceBalcons()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiCaveValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.cave'|trans }}</b></td>
                                                    <td>{{ maison.getSurfaceCave() ? 'Surface: '~maison.getSurfaceCave()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiVerandaValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.veranda'|trans }}</b></td>
                                                    <td>{{ maison.getSurfaceVeranda() ? 'Surface: '~maison.getSurfaceVeranda()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiChemineeValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.cheminee'|trans }}</b></td>
                                                    <td>{{ maison.getNumberCheminee() ? 'Surface: '~maison.getNumberCheminee()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getSiPlacardsValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.placards'|trans }}</b></td>
                                                    <td>{{ maison.getNumberPlacards() ? 'Surface: '~maison.getNumberPlacards()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getRevetementDeSolValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td>
                                                    <td>{{ maison.getRevetementDeSolValue() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getDPE() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td>
                                                    <td>{{ maison.getDPE() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if maison.getGES() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td>
                                                    <td>{{ maison.getGES() }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    {% set appartement = ad.getAppartement() %}
                                    {% if appartement %}
                                        <h3>Appartement</h3>
                                        <table class="table table-bordered table-striped" id="appartement-table-review"
                                               style="clear: both">
                                            <tbody>
                                            {% if appartement.getSurface() %}
                                                <tr>
                                                    <td><b>Surface Model</b></td>
                                                    <td>{{ appartement.getSurface() ~'m²' }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.nbEtages() %}
                                                <tr>
                                                    <td><b>Nombre d'étages</b></td>
                                                    <td>{{ appartement.nbEtages }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.nbPieces() %}
                                                <tr>
                                                    <td><b>Nombre de Pièces</b></td>
                                                    <td>{{ appartement.nbPieces() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getNbChambres() %}
                                                <tr>
                                                    <td><b>Nombre de Chambre</b></td>
                                                    <td>{{ appartement.getNbChambres() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getNbSalleBain() %}
                                                <tr>
                                                    <td><b>Nombre de salle de bain</b></td>
                                                    <td>{{ appartement.getNbSalleBain() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiSalleEauValue() %}
                                                <tr>
                                                    <td><b>Salle d'eau</b></td>
                                                    <td>{{ appartement.getNbSalleEau() ? 'Nombre: '~appartement.getNbSalleEau() : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiParkingValue() %}
                                                <tr>
                                                    <td><b>Parking</b></td>
                                                    <td>
                                                        {% if appartement.getNbParking() %}
                                                            Nombre: {{ appartement.getNbParking() }}<br />
                                                        {% endif %}
                                                        {{ appartement.getSurfaceParking() ? 'Surface: '~appartement.getSurfaceParking()~'m²' : ''}}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiAscenseur() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.ascenseur'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiToiletteValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.wc'|trans }}</b></td>
                                                    <td>{{ appartement.getNbToilette() ? 'Nombre: '~appartement.getNbToilette() : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiBoxValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.box'|trans }}</b></td>
                                                    <td>{{ appartement.getNbBox() ? 'Nombre: '~appartement.getNbBox() : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiGardien() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.gardien'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiDuplex() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.duplex'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiDigicode() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.digicode'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiInterphone() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.interphone'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiVideophone() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.videophone'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiAlarme() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.alarme'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiJardin() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.jardin'|trans }}</b></td>
                                                    <td>Oui</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiSejourValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.livingroom'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSurfaceSejour() ? 'Surface: '~appartement.getSurfaceSejour()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiSalleAMangerValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.dinningroom'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSurfaceSalleAManger() ? 'Surface: '~appartement.getSurfaceSalleAManger()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getTypeCuisineValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.kitchen_type'|trans }}</b></td>
                                                    <td>{{ appartement.getTypeCuisineValue() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiBureauValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bureau'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSiBureau() ? 'Surface: '~appartement.getSurfaceBureau()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiBuanderieValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.buanderie'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSurfaceBuanderie() ? 'Surface: '~appartement.getSurfaceBuanderie()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiTerrasseValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.terrasse'|trans }}</b></td>
                                                    <td>
                                                        {% if appartement.getNbTerrasse() %}
                                                            Nombre: {{ appartement.getNbTerrasse() }}<br />
                                                        {% endif %}
                                                        {{ appartement.getSurfaceTerrasse() ? 'Surface: '~appartement.getSurfaceTerrasse()~'m²' : ''}}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiDressingValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.dressing'|trans }}</b></td>
                                                    <td>{{ appartement.getSurfaceDressing() ? 'Surface: '~appartement.getSurfaceDressing()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiBalconsValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.balcon'|trans }}</b></td>
                                                    <td>
                                                        {% if appartement.getNbBalcons() %}
                                                            Nombre: {{ appartement.getNbBalcons() }}<br />
                                                        {% endif %}
                                                        {{ appartement.getSurfaceBalcons() ? 'Surface: '~appartement.getSurfaceBalcons()~'m²' : ''}}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiCaveValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.cave'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSiCave() ? 'Surface: '~appartement.getSurfaceCave()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiVerandaValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.veranda'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getSiVeranda() ? 'Surface: '~appartement.getSurfaceVeranda()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiChemineeValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.cheminee'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getNumberCheminee() ? 'Surface: '~appartement.getNumberCheminee()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getSiPlacardsValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.placards'|trans }}</b></td>
                                                    <td>
                                                        {{ appartement.getNumberPlacards() ? 'Surface: '~appartement.getNumberPlacards()~'m²' : '' }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getRevetementDeSolValue() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.revetement_du_sol'|trans }}</b></td>
                                                    <td>{{ appartement.getRevetementDeSolValue() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getDPE() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bilan_consomation_energie'|trans }}</b></td>
                                                    <td>{{ appartement.getDPE() }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if appartement.getGES() %}
                                                <tr>
                                                    <td><b>{{ 'ads.ad.bilan_emission_ges'|trans }}</b></td>
                                                    <td>{{ appartement.getGES() }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                    {% if ad.getDiffusion() and ad.getDiffusion().getBroadcastPortals()|length %}
                                        <h3>{{ 'ads.diffused_list'|trans }}</h3>
                                        <table class="table table-bordered table-striped" style="clear: both">
                                            <tbody>
                                            <tr>
                                                <td width="35%"></td>
                                                <td width="65%"></td>
                                            </tr>
                                            {% for portal in ad.getDiffusion().getBroadcastPortals() %}
                                                <tr>
                                                    <td><img src="{{ '/'~portal.getIcon() }}"/></td>
                                                    <td>{{ portal.getCluster() }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}