{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain "commiti" %}
{% block title %}{{ "switch_commercial" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "switch_commercial" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "switch_commercial" | trans }}</h2>
            </div>
        </div>
    </div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row text-center m-b-md" id="wizardControl">
                            <h2>{{ 'choose_commercial'|trans }}</h2>
                            <form id="commercialForm" class="row">
                                {% if groupsList %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'group.list'|trans }} :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="group" id="groups">
                                                <option value="">-------</option>
                                                {% for group in groupsList %}
                                                    <option value="{{ group.getRemoteId() }}">{{ group.getName()|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_MARKETING') and agenciesList %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'agence.list'|trans }} :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="agences" id="agences">
                                                <option value="">-------</option>
                                                {% if agenciesList %}
                                                    {% for agence in agenciesList %}
                                                        <option value="{{ agence.getRemoteId() }}">{{ agence.getName()|capitalize }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if is_granted('ROLE_BRANDLEADER') %}
                                    {% if not app.user.hasRole('ROLE_SALEMAN') %}
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <label class="col-sm-4">{{ 'commercials'|trans }} :</label>
                                            <div class="col-sm-8">
                                                <select class="select2" name="commercials" id="commercials">
                                                    <option value="">-------</option>
                                                    {% if commercials %}
                                                        {% for commercial in commercials %}
                                                            <option value="{{ commercial.getRemoteId() }}" {% if app.request.cookies.has('write_as_commercial') and app.request.cookies.get ('write_as_commercial') == commercial.getRemoteId() %}selected{% endif %}>{{ commercial.getName()|capitalize }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </form>
                            <a class="btn btn-success btn" id="validate" style="margin-top: 5px;" href="{{ app.request.get('redirect')|default(path('ads_index')) }}">Valider</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascript  %}
    <script type="application/javascript">
        $(function() {
            $('#validate').click(function(e){
                if(!$('#commercialForm').valid()) {
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}