{% trans_default_domain "commiti" %}
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-body stats">
                <div class="text-center">
                    <div class="stats-title">
                        <h3 class="m-b-xs ">Mon compte</h3>
                    </div>
                    <p class="font-bold text-success">display</p>
                    <div class="m">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                </div>
                    <p>
                        Nouvelles <br />
                        Type de compte : <span class="m-xs font-extra-bold text-success">{{ user.roles.0|trans }}</span><br />
                        Nom de l'utilisateur : <span class="m-xs font-extra-bold text-success">{{ user.name }}</span>
                    </p>
                <div class="text-center ">
                    <a href="{{ path('agency_employee_show', {"remoteId": user.remoteId}) }}" class="btn btn-success btn-sm">Voir tout</a>
                </div>
            </div>
        </div>
    </div>