{% trans_default_domain "commiti" %}
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-body stats">
                <div class="text-center">
                    <div class="stats-title">
                        <h3 class="m-b-xs">Mes annonces</h3>
                    </div>
                    <p class="font-bold text-success">display</p>
                    <div class="m">
                        <i class="fa fa-folder-open fa-5x"></i>
                    </div>
                </div>
                <p>
                        Annonces Actives : <span class="m-xs font-extra-bold text-success">{{ adStatistiques.total }}</span>
                    <br />
                    {% if adStatistiques.projet is defined %}
                        Annonces Projet :
                    <span class="m-xs font-extra-bold text-success">{{ adStatistiques.projet }}</span>
                    <br />
                    {% endif %}
                    {% if adStatistiques.terrain is defined %}
                        Annonces Terrains :
                    <span class="m-xs font-extra-bold text-success">{{ adStatistiques.terrain }}</span>
                    <br />
                    {% endif %}
                    {% if adStatistiques.program is defined %}
                        Annonces Programmes :
                    <span class="m-xs font-extra-bold text-success">{{ adStatistiques.program }}</span>
                    {% endif %}
                </p>
                <div class="text-center">
                    <a href="{{ path('ads_index') }}" class="btn btn-success btn-sm">Voir tout</a>
                </div>
            </div>
        </div>
    </div>