{% trans_default_domain "commiti" %}
<div class="col-lg-3">
    <div class="hpanel ">
        <div class="panel-body stats">
            <div class="text-center">
                <div class="stats-title">
                    <h3 class="m-b-xs">Mes diffusions</h3>
                </div>
                <p class="font-bold text-success">rapports</p>
                <div class="m">
                    <i class="fa fa-feed fa-5x"></i>
                </div>
            </div>
            <p>
                Annonces diffusées : <span class="m-xs font-extra-bold text-success">{{ adDiffusionStatistics ? adDiffusionStatistics.total : '-' }}</span>
                <br />
                {% for type,score in adDiffusionStatistics if type != 'total' %}
                    Annonces {{ type|capitalize }} : <span class="m-xs font-extra-bold text-success">{{ score }}</span>
                    <br />
                {% endfor %}
            </p>
            <div class="text-center">
                <a href="/" class="btn btn-success btn-sm" disabled="disabled">Voir rapport</a>
            </div>
        </div>
    </div>
</div>