{% trans_default_domain "commiti" %}
<div class="col-lg-3">
    <div class="hpanel ">
        <div class="panel-body stats">
            <div class="text-center">
                <div class="stats-title">
                    <h3 class="m-b-xs">Mes modèles</h3>
                </div>
                <p class="font-bold text-success">catalogue</p>
                <div class="m">
                    <i class="fa fa-image fa-5x"></i>
                </div>
            </div>
            <p>
                {% for type,score in houseModelStatistiques if type != 'total' %}
                    {{ type|capitalize }} : <span class="m-xs font-extra-bold text-success">{{ score }}</span>
                    <br />
                {% endfor %}
            </p>
            <div class="text-center">
                <a href="{{ path('housemodels_list') }}" class="btn btn-success btn-sm">Voir tout</a>
            </div>
        </div>
    </div>
</div>