{% trans_default_domain "commiti" %}
<div class="col-lg-3">
    <div class="hpanel ">
        <div class="panel-body">
            <div class="text-center">
                <div class="stats-title">
                    <h3 class="m-b-xs">Taux traitement</h3>
                </div>
                <p class="font-bold text-success">des opportunités reçus</p>
                <div id="gauge3"></div>
            </div>
            <p>

                Plan pied : <span class="m-xs font-extra-bold text-success">80%</span>
                <br />
                Demi niveau : <span class="m-xs font-extra-bold text-success">90%</span>
                <br />
                Etage : <span class="m-xs font-extra-bold text-success">10%</span>
            </p>
            <div class="text-center">
                <button class="btn btn-success btn-sm">Voir tout</button>
            </div>
        </div>
    </div>
</div>