{% trans_default_domain "commiti" %}
<div class="col-lg-3">
    <div class="hpanel ">
        <div class="panel-body">
            <div class="text-center">
                <div class="stats-title">
                    <h3 class="m-b-xs">Taux traitement</h3>
                </div>
                <p class="font-bold text-success">des opportunités reçus</p>
                <div id="gauge-opportunity-received" class="gauge" data-score="{{ opportunityReceived ? opportunityReceived.total : '-' }}"></div>
            </div>
            <p>
                {% for type,score in opportunityReceived if type != 'total' %}
                    {{ type|capitalize }} : <span class="m-xs font-extra-bold text-success">{{ score }}%</span>
                    <br />
                {% endfor %}
            </p>
            <div class="text-center">
                <a href="{{ path('gestion_opportunity_list') }}" class="btn btn-success btn-sm">Voir tout</a>
            </div>
        </div>
    </div>
</div>