{% trans_default_domain "commiti" %}
<div class="col-lg-3">
    <div class="hpanel ">
        <div class="panel-body stats">
            <div class="text-center">
                <div class="stats-title">
                    <h3 class="m-b-xs">Taux transformation</h3>
                </div>
                <p class="font-bold text-success">des opportunités en clients</p>
                <div id="gauge-opportunity-contact" class="gauge" data-score="{{ opportunityTransform ? opportunityTransform.total : '-' }}"></div>
            </div>
            <p>
                {% for type,score in opportunityTransform if type != 'total' %}
                    {{ type|capitalize }} : <span class="m-xs font-extra-bold text-success">{{ score }}%</span>
                    <br />
                {% endfor %}
            </p>
            <div class="text-center">
                <a href="{{ path('gestion_contacts_list') }}" class="btn btn-success btn-sm">Voir tout</a>
            </div>
        </div>
    </div>
</div>