{% trans_default_domain "commiti" %}
    <div class="col-lg-3">
        <div class="hpanel {% if not hasSuiviOption %} panel-disabled text-white {% endif %}">
            <div class="panel-body stats">
                <div class="text-center">
                    <div class="stats-title">
                        <h3 class="m-b-xs">Opportunités</h3>
                    </div>
                    <p class="font-bold {% if hasSuiviOption %} text-success {% else %} text-white {% endif %}">non traitées</p>
                    <div class="m">
                        <i class="fa fa-user-plus fa-5x"></i>
                    </div>
                    {% if hasSuiviOption %}
                        <h1 class="m-xs font-extra-bold text-success">
                            {{ opportunityCount }}
                        </h1>
                        <a href="{{ path('gestion_opportunity_list') }}" class="btn btn-success btn-sm">Voir tout</a>
                    {% else %}
                        <a href="{{ path('agency_my') }}" class="btn btn-success btn-sm">
                            Souscrire à l'offre <br /> Gestion commercial
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>