{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Profil{% endblock %}

{% block body %}

	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <a class="small-header-action" href="">
	                <div class="clip-header">
	                    <i class="fa fa-arrow-up"></i>
	                </div>
	            </a>

	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('fos_user_profile_show') }}">Profil</a> </span>
                        </li>
                        <li class="active">
                            <span>Editer </span>
                        </li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">
	                <a href="{{ path('fos_user_profile_show') }}">Profil</a>
	            </h2>
	            <small>Résumé de votre profil</small>
	        </div>
	    </div>
	</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/employee.html.twig' %}
                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register',  'id': 'loginForm'}}) }}
                    <div class="row">
                        <div class="col-lg-3 text-center">
                            {{ form_row(form.avatar) }}
                            <p class="small m-t-md">
                                Cliquez sur l’icône changer l'avatar
                            </p>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(form.username,{'attr':{'placeholder':'Username'}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.email,{'attr':{'placeholder':'user@email.com'}}) }}
                                </div>
                                <div class="col-lg-12">
                                    {{ form_row(form.current_password,{'attr':{'placeholder':''}, 'label': 'user.edit.confirm.password'|trans([], 'commiti') }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">{{ form_rest(form) }}</div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="/">{{ 'action.cancel'|trans }}</a>
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="">
            <div class="hpanel hblue">
                <div class="panel-body">
                    {{ form_start(formPassword, { 'method': 'post' }) }}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(formPassword.current_password, { 'attr': {'class': 'form-control','placeholder': 'Mot de passe'} }) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.first,{'attr':{'placeholder':'******'}}) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.second,{'attr':{'placeholder':'******'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">{{ 'action.cancel'|trans }}</a>
                        <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                    </div>
                    {{ form_end(formPassword) }}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}