{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ "Profil"|trans }}{% endblock %}

{% block body %}

	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <a class="small-header-action" href="">
	                <div class="clip-header">
	                    <i class="fa fa-arrow-up"></i>
	                </div>
	            </a>

	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
	                    <li class="active">
	                        <span><a href="{{ path('fos_user_profile_show') }}">{{ "Profil"|trans }}</a> </span>
	                    </li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">
	                <a href="{{ path('fos_user_profile_show') }}">{{ "Profil"|trans }}</a>
	            </h2>
	            <small>{{ "Résumé de votre profil"|trans }}</small>
	        </div>
	    </div>
	</div>

<div class="content animate-panel">

<div class="row">
    <div class="col-lg-12" style="">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <div class="pull-right text-right">
                    <div class="btn-group">
                    	<a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                    </div>
                </div>
                {% if user.getAvatar() %}
                    <img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(user.getAvatar()) }}">
                {% else %}
                    <i class="pe-7s-user fa-5x text-muted"></i>
                {% endif %}
                <h3><a href="{{ path('fos_user_profile_show') }}">{{ user.name }}</a></h3>
                <div class="text-muted font-bold m-b-xs"><b>Identifiant: </b>{{ user.username }}</div>
                <div class="text-muted m-b-xs"><b>Email: </b> {{ user.email }}</div>
            </div>


        </div>
    </div>

</div>

</div>

{% endblock %}