{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "user.list"|trans }}{% endblock %}
{% block body %}

    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "user.list" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "user.list" | trans }}</h2>
            </div>
        </div>
    </div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    {{ datatable_render(datatable) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}