{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ user.name }}{% endblock %}
{% block body %}
	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
	                    <li class="active"><span>{{ 'user.voir'|trans }}</span></li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">{{ 'user.voir'|trans }}</h2>
	        </div>
	    </div>
	</div>
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <div class="btn-group">
                                <a href="{{ path('users_admin_edit', {'remoteId': user.getRemoteId()}) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                            </div>
                        </div>
                        {% if user.getAvatar() %}
                            <img alt="logo" class="img-circle m-b m-t-md avatar" src="{{ asset(user.getAvatar()) }}">
                        {% else %}
                            <i class="pe-7s-user fa-5x text-muted"></i>
                        {% endif %}
                        <h3><a href="">{{ user.name }}</a></h3>

                        <table id="user" class="table table-bordered table-striped" style="clear: both">
                            <tbody>
                            <tr>
                                <td width="35%">{{ 'Username'|trans }}</td>
                                <td width="65%">{{ user.getUsername() }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Nom'|trans }}</td>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Email'|trans }}</td>
                                <td>{{ user.getEmail() }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'Roles'|trans }}</td>
                                <td>
                                    <ul>
                                        {% for role in user.getRoles() %}
                                            <li>{{ role |trans }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if user.hasRole('ROLE_SALESMAN') %}
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% for portalRegistrationLimit in user.getCommercialsPortal() %}
                                {% set portalId = portalRegistrationLimit.getPortal().getId() %}
                                <tr>
                                    <td class="col-sm-2"><img src="/{{ portalRegistrationLimit.getPortal().getIcon() }}" />
                                    </td>
                                    <td class="col-sm-2">{% if portalRegistrationLimit.getPortal().getCluster() == 'PAYANT' %}{{- portalRegistrationLimit.getLimit() ~' / '~ portalsRegistrations[portalId].getAdLimit() -}}{% else %}{{ 'free'|trans }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
{% endblock %}