{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ 'user.edit'|trans }}{% endblock %}
{% block body %}

	<div class="normalheader transition animated fadeIn small-header">
	    <div class="hpanel">
	        <div class="panel-body">
	            <div id="hbreadcrumb" class="pull-right">
	                <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ 'user.edit'|trans }}</span>
                        </li>
	                </ol>
	            </div>
	            <h2 class="font-light m-b-xs">{{ 'user.edit'|trans }}</h2>
	        </div>
	    </div>
	</div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12" style="">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {% form_theme user_form 'AppBundle:Common:Form/employee.html.twig' %}
                        {{ form_start(user_form, { 'action': path('users_admin_edit', { 'remoteId' : user.getRemoteId() }) }) }}
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                {{ form_row(user_form.avatar) }}
                                <p class="small m-t-md">
                                    {{ "employees.add_avatar_description" | trans }}
                                </p>
                            </div>
                            {% trans_default_domain 'FOSUserBundle' %}
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {{ form_row(user_form.username,{'attr':{'placeholder':'Username'}}) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(user_form.email,{'attr':{'placeholder':'user@email.com'}}) }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form_row(user_form.name,{'attr':{'placeholder':''}}) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_row(user_form.password) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_row(user_form.roles,{'attr':{'placeholder':'Fonction', 'class':'select2'}}) }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form_row(user_form.groups,{'attr':{'placeholder':'Fonction', 'class':'select2'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-default" href="{{ path('agency_employees_list') }}">{{ 'action.cancel'|trans }}</a>
                            <input type="submit" class="btn btn-primary" value="{{ 'action.edit'|trans }}" />
                        </div>
                        {{ form_end(user_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}