{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "faq.add" | trans }}{% endblock %}
{% block action %}{{ "action.add" | trans }}{% endblock %}
{% block body %}

{% block breadcrumb %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "faq.add" | trans }}</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                    {{ form_start(form) }}
                    <h3>{{ 'faq.add'| trans  }}</h3>
                    <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                        <tbody>
                        <tr><td width="35%"></td><td width="65%"></td></tr>
                        {{ form_row(form.question) }}
                        {{ form_row(form.answer) }}
                        {{ form_row(form.youtubeEmbed) }}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <a class="btn btn-default" href="{{ path('faq_list_admin') }}">{{ 'action.cancel'|trans }}</a>
                        <input type="submit" class="btn btn-primary" value="{{ block('action') }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}