{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "faq.page" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "faq.page" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "faq.page" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-body">
                    <h4 class="m-t-none m-b-none">{{ "Questions general"|trans }}</h4>
                    <small class="text-muted">{{ "Tout les questions-réponses fréquentes a propos l'application."|trans }}</small>
                </div>
                {% for faq in faqs %}
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q{{ loop.index }}" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        {{ faq.question }}
                    </a>
                    <div id="q{{ loop.index }}" class="panel-collapse collapse">
                        <hr>{{ faq.answer|raw }}
                        <hr/>
                        {% if faq.youtubeEmbed %}
                            {{ faq.youtubeEmbed|raw }}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}