{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "faq.voir" | trans }}{% endblock %}
{% block body %}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>{{ "faq.voir" | trans }}</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">{{ "faq.voir" | trans }}</h2>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <a href="{{ path('faq_edit_admin', {'id': faq.id }) }}"><i class="fa fa-pencil-square-o btn btn-default btn-xs"></i></a>
                        </div>
                    </div>
                    <h3><a href="">{{ faq.question }}</a></h3>
                    <div class="text-muted font-bold m-b-xs"></div>
                    <blockquote>
                        {{ faq.answer|raw }}
                        <hr/>
                        {% if faq.youtubeEmbed %}
                            {{ faq.youtubeEmbed|raw }}
                        {% endif %}
                    </blockquote>

                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}