{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Branchement Portail "{{ portal.getName() }}"
{% endblock %}
{% block body %}
    <p>Bonjour Administrateur,</p>
    <p>{{ user.name }} souhaite être branché au portail de diffusion {{ portal.getName() }}
        pour l'agence "{{ group.name }}".<br/>
        Merci de bien vouloir prendre en compte rapidement sa demande.
    </p>
{% endblock %}