{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}
    Display-immo - Branchement Portail "{{ portal.getName() }}"
{% endblock %}
{% block body %}
    <p>Bonjour {{ user.name|capitalize }},</p>
    <p>Votre demande de branchement concernant {{ portal.getName() }} pour l'agence "{{ group.name }}"
        est bien parvenue à nos équipes.
        Nous vous tiendrons informé rapidement de l'évolution de votre demande.
    </p>
{% endblock %}