{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Changement statut du Portail "{{ portalRegistration.broadcastPortal.getName() }}"{% endblock %}
{% block body %}
    <p>Bonjour {{ owner.name|capitalize }},</p>
    <p>
        Nous avons le plaisir de vous informer que votre demande de branchement au portail
        {{ portalRegistration.broadcastPortal.getName() }}
        {{ portalRegistration.createdAt ? 'faite le '~portalRegistration.createdAt|date('d-m-Y à H:i:s') : '' }} est désormais en statut "{{ status }}"
    </p>
{% endblock %}