{% if documents %}
    {% set type = type is defined ? type : 'housemodels' %}
    <div class="row">
        {% for document in documents %}
            <div class="{% if review is not defined %}col-sm-3{% endif %} uploadedDocument">
                <div class="hpanel">
                    <div class="panel-body file-body">
                        {% if document.getMimeType() == 'application/pdf' %}
                            <i class="fa fa-file-pdf-o text-info"></i>
                        {% else %}
                            <img src="{{ ('/uploads/'~type~'/' ~ document.getName()) }}" class="img-responsive" />
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <span>{{ document.getTitle() }}</span>
                        {% if (remove is defined and remove is not null) or remove is not defined %}
                        <div class="btn-group">
                            <a class="btn btn-xs btn-default removeDocument" data-name="{{ document.getOriginalFileName() }}" data-id="{{ document.id }}">{{ 'action.delete'|trans }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}