{% trans_default_domain 'commiti' %}
    {% set type = type is defined ? type : 'housemodel' %}
    <script type="text/javascript">
        $(function() {
            Dropzone.autoDiscover = false;
            myDropzone = new Dropzone("#dropzone",{
                maxFiles: 5,
                acceptedFiles: "image/jpeg,image/jpg",
                addRemoveLinks: true,
                dictInvalidFileType: '{{ 'validation.invalid_file_format'|trans }}',
                dictRemoveFile: "{{ 'action.delete'|trans }}",
                dictCancelUpload: "{{ 'action.delete'|trans }}",
                dictDefaultMessage: "Glisser vos fichiers ici pour télécharger",
                removedfile: function(file) {
                    if(file.xhr) {
                        var json = $.parseJSON(file.xhr.responseText);
                        $.ajax({
                            url: Routing.generate('api_delete_document', {'id':json.id}),
                            type: 'DELETE',
                            success: function (data) {
                                var _ref;
                                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                            }
                        });
                    } else {
                        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                    }
                }
            });
            myDropzone.on("sending", function(file, xhrRequest, formData) {
                formData.append('type', '{{ type }}');
                formData.append('userId', '{{ app.user.getId() }}');
                formData.append('fileName', file.name);
            }).on("success", function (file) {
                var json = $.parseJSON(file.xhr.responseText);
                file.previewElement.querySelector(".dz-remove").setAttribute('data-id',json.id);
            });
        });
    </script>