{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="pull-right craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
    {#
        Default button (the one trigged by pressing the enter/return key) must be defined first.
        Thus, all buttons are defined in reverse order and will be reversed again via CSS.
        See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
    #}
    <div class="text-left m-t-xs">
        {%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
            <button type="submit" class="btn btn-default next">{{ "button.next" | trans }}</button>
        {%- else -%}
            <button type="submit" class="btn btn-success" >{{ "button.finish" | trans }}</button>
        {%- endif -%}
    </div>

    {% if renderBackButton %}
        {# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
        <div class="text-left m-t-xs">
            <button type="submit" class="btn btn-default prev" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">{{ "button.back" | trans }}</button>
        </div>
    {% endif %}
</div>
