{% use 'CraueFormFlowBundle:FormFlow:stepList_blocks.html.twig' %}
{% trans_default_domain "commiti" %}
{%- if flow.getStepLabels() is not empty -%}
    <div class="text-center m-b-md" id="wizardControl">
        <a class="btn btn-default" href="{{ path('program_create_1') }}">{{ 'program.step1'|trans }}</a>
        {% for stepLabel in flow.getStepLabels() %}
            {%- if craue_isStepLinkable(flow, loop.index) -%}
                <a class="btn btn-default" href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                | merge(app.request.attributes.get('_route_params'))
                | craue_addDynamicStepNavigationParameter(flow, loop.index)) }}">{{- block('craue_flow_stepLabel')|trans -}}</a>
            {%- else -%}
                <a class="{% if flow.getCurrentStepNumber() == loop.index %}btn btn-primary{% else %}btn btn-default{% endif %}" href="javascript:void(0);">{{- block('craue_flow_stepLabel')|trans -}}</a>
            {%- endif -%}
        {% endfor %}
        <a class="btn btn-default" href="{{ diffusion is not null ? diffusion : 'javascript:void(0);' }}">{{ 'program.step6'|trans }}</a>
    </div>
{%- endif -%}
