{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Nouveau ticket d'incident{% endblock %}
{% block body %}
    <p>Bonjour {{ ticket.getOwner().name|capitalize }},</p>
    Nous vous confirmons que le ticket d'incident ouvert le {{ ticket.getCreatedAt|date('d-m-Y à H:i:s') }}
    a bien été reçu par nos services.<br/> <br/>
    <b>Titre : </b>{{ ticket.title }}<br/><br/>
    <b>Priorité : </b>{{ ticket.priority }}<br/><br/>
    <b>Description : </b>{{ ticket.description }}<br/><br/>
    Nous allons vous répondre dans les meilleurs délais.
{% endblock %}