{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %} Display-immo - Changement du statut du ticket {{ ticket.title }}{% endblock %}
{% block body %}
    <p>Bonjour {{ ticket.getOwner().name|capitalize }},</p>
    Votre ticket d'incident "{{ ticket.title }}" ouvert le {{ ticket.getCreatedAt|date('d-m-Y à H:i:s') }}
    est désormais en statut "{{ ticket.status }}"
{% endblock %}