{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Nouveau ticket d'incident {{ ticket.status }}{% endblock %}
{% block body %}
    <p>Bonjour Administrateur,</p>
    Un nouveau ticket d'incident a été ouvert par {{ ticket.getOwner().name() }}.<br/> <br/>
    {{ ticket.title }}<br/>
    {{ ticket.priority }}<br/>
    {{ ticket.description }}<br/><br/>
    Merci de bien vouloir y répondre dans les meilleurs délais.
{% endblock %}