{% extends 'AppBundle::Emails/layout.html.twig' %}
{% block title %}Display-immo - Réponse au ticket "{{ ticket.title }}"{% endblock %}
{% block body %}
    <p>Bonjour {{ ticket.owner.name|capitalize }},</p>
    Une réponse vous a été envoyé sur votre interface DISPLAY concernant le ticket d'incident
    "{{ ticket.title }}" ouvert le {{ ticket.getCreatedAt|date('d-m-Y à H:i:s') }}.<br/> <br/>
    Merci de bien vouloir en prendre connaissance rapidement en vous connectant sur
    <a href="www.display-immo.fr">www.display-immo.fr</a>.
{% endblock %}