{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "program.choose_type" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>{{ "program.choose_type" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "program.choose_type" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {#<div class="row text-center m-b-md" id="wizardControl">
                            <h2>{{ 'program.choose_type'|trans }}</h2>
                            <form id="commercialForm">
                                {% if groupsList %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'group.list'|trans }} :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="group" id="groups">
                                                <option value="">-------</option>
                                                {% for group in groupsList %}
                                                    <option value="{{ group.getRemoteId() }}" {% if app.request.cookies.has('use_group') and app.request.cookies.get('use_group') == group.getRemoteId() %}selected{% endif %}>{{ group.getName()|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if agenciesList %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'agences.list'|trans }} :</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="agences" id="agences">
                                                {% for agence in agenciesList %}
                                                    <option value="{{ agence.getRemoteId() }}" {% if app.request.cookies.has('use_agency') and app.request.cookies.get('use_agency') == agence.getRemoteId() %}selected{% endif %}>{{ agence.getName()|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if commercials %}
                                    <div class="col-sm-offset-2 col-sm-6">
                                        <label class="col-sm-4">{{ 'commercials'|trans }}:</label>
                                        <div class="col-sm-8">
                                            <select class="select2" name="commercials" id="commercials">
                                                <option value="">-------</option>
                                                {% for commercial in commercials %}
                                                    <option value="{{ commercial.getRemoteId() }}" {% if app.request.cookies.has('write_as_commercial') and app.request.cookies.get ('write_as_commercial') == commercial.getRemoteId() %}selected{% endif %}>{{ commercial.getName()|capitalize }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>#}
                        {% set options = 0 %}
                        {% if group.getProgramMaisonOption() %}{% set options = options + 1 %}{% endif %}
                        {% if group.getProgramAppartementOption() %}{% set options = options + 1 %}{% endif %}
                        {% if group.getProgramTerrainOption() %}{% set options = options + 1 %}{% endif %}
                        {% if group.getProgramMixteOption() %}{% set options = options + 1 %}{% endif %}
                        <div class="row">
                            {% if group.getProgramMaisonOption() %}
                            <div class="col-lg-{{ 12 / options }} annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ 'Maisons'|trans }}</h2>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'program.maison_description'|trans }}
                                            </p>
                                            <a class="btn btn-success btn-sm type_choice" href="{{ path('program_create_2',{'projectType':'maison'}) }}">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if group.getProgramAppartementOption() %}
                            <div class="col-lg-{{ 12 / options }} annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ 'Appartements'|trans }}</h2>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'program.appartement_description'|trans }}
                                            </p>
                                            <a href="{{ path('program_create_2',{'projectType':'appartement'}) }}" class="btn btn-success btn-sm">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if group.getProgramTerrainOption() %}
                            <div class="col-lg-{{ 12 / options }} annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ 'Terrains'|trans }}</h2>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'program.appartement_description'|trans }}
                                            </p>
                                            <a href="{{ path('program_create_2',{'projectType':'terrain'}) }}" class="btn btn-success btn-sm">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if group.getProgramMixteOption() %}
                            <div class="col-lg-{{ 12 / options }} annonce-block">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <div class="text-center">
                                            <h2 class="m-b-xs">{{ 'Mixte'|trans }}</h2>
                                            <p class="font-bold text-success">{{ 'Appartements + Maison'|trans }}</p>
                                            <div class="m">
                                                <i class="pe-7s-science fa-5x"></i>
                                            </div>
                                            <p class="small">
                                                {{ 'program.mixte_description'|trans }}
                                            </p>
                                            <a href="{{ path('program_create_2',{'projectType':'mixte'}) }}" class="btn btn-success btn-sm">{{ 'action.add'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript  %}
    <script type="application/javascript">
        $(function() {
            $('.annonce-block a').click(function(e){
                if(!$('#commercialForm').valid())
                    e.preventDefault();
            });
        });
    </script>
{% endblock %}