{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "program.diffuse" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('program_index') }}">{{ "program.list" | trans }}</a></span>
                        </li>
                        <li class="active">
                            <span>{{ "program.diffusion" | trans }}</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "program.diffusion" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {% set editLink = path('program_edit',{'remoteId':program.getRemoteId()}) %}
                        <div class="text-center m-b-md" id="wizardControl">
                            <a class="btn btn-default" href="{{ path('program_create_1') }}">{{ 'program.step1'|trans }}</a>{#Étape 1 - Type de programme#}
                            <a class="btn btn-default" data-toggle="tab" href="{{ editLink~"#step2" }}">{{ 'program.step2'|trans }}{#Étape 2 - Principale#}</a>
                            <a class="btn btn-default" data-toggle="tab" href="{{ editLink~"#step3" }}">{{ 'program.step3'|trans }}{#Étape 3 - Détails#}</a>
                            <a class="btn btn-default" data-toggle="tab" href="{{ editLink~"#step4" }}">{{ 'program.step4'|trans }}{#Étape 4 - Autres#}</a>
                            <a class="btn btn-default" data-toggle="tab" href="{{ editLink~"#step5" }}">{{ 'program.step5'|trans }}{#Étape 5 - Visuel#}</a>
                            <a class="btn btn-primary" data-toggle="tab" href="javascript:void(0);">{{ 'program.step6'|trans }}{#Étape 6 - Diffusion#}</a>
                        </div>

                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    {% if not alreadyRegistredPortalsCount %}
                                        <p>{{ 'no_portal_registred_contact_administrator'|trans }}{#Aucun portal n'est encore enregistrer pour cette agence, consulter l'administrateur pour plus d'informations#}</p>
                                        <a href="{{ path('program_index') }}">{{ 'back'|trans }}</a>
                                    {% else %}
                                        {% form_theme form 'AppBundle:Common:Form/diffusion_entity.html.twig' %}
                                        {{ form_start(form,{'attr':{'id':'diffusion'}}) }}
                                        {{ form_widget(form.broadcastPortals,{'commercialLimit':commercialLimit, 'subtractValue':substractValue, 'typeDiffusion':'program'}) }}
                                        <div class="text-right m-t-xs">
                                            {{ form_widget(form.cancel) }}
                                            {{ form_widget(form.submit) }}
                                        </div>
                                        <div class="hidden">
                                            {{ form_rest(form) }}
                                        </div>
                                        {{ form_end(form) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}