{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "program.edit" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li>
                            <span><a href="{{ path('program_index') }}">{{ "program.list" | trans }}</a></span>
                        </li>
                        <li class="active"><span>{{ "program.edit" | trans }}</span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "program.edit" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {% set projectType = program.getType() %}
                        {{ form_start(form,{'attr':{'id':'program'}}) }}
                        {% form_theme form 'AppBundle:Common:Form/bootstrap_3_horizontal_layout_extends.html.twig' %}
                        {% include 'AppBundle:Common:Flow/program_stepList_content.html.twig' with { 'diffusion':null } %}
                        <div class="col-lg-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                        {% if flow.getCurrentStepNumber() == 1 %}
                                        <!-- Principales -->
                                        <div id="step2" class="tab-pane active">
                                            <h3>{{ 'program.step2'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="annonce-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.title) }}
                                                {{ form_row(form.referenceInterne) }}
                                                {{ form_row(form.pays) }}
                                                {{ form_row(form.ville) }}
                                                {{ form_row(form.codePostal) }}
                                                {{ form_row(form.adresse) }}
                                                {{ form_row(form.adresseBulleDeVente) }}
                                                {{ form_row(form.description) }}
                                                {{ form_row(form.typeAvancement) }}
                                                {{ form_row(form.dateCommercialisation) }}
                                                {{ form_row(form.dateLivraison) }}
                                                {{ form_row(form.nbLots) }}
                                                {{ form_row(form.nbLotsDisponible) }}
                                                {{ form_row(form.lienVisitVirtuel) }}
                                                {{ form_row(form.titreImagePrincipale) }}
                                                {{ form_row(form.imagePrincipale, {'brouillon':brouillon}) }}
                                                <tr>
                                                    <td><label>{{ 'ads.images_secondaires'|trans }} <p>{{ image.allowed_types }}</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getImagesDocuments() ?  brouillon.getImagesDocuments()|merge(program.getImagesDocuments()) : program.getImagesDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                                                        <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone"></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><label>{{ 'ads.documents_joint'|trans }} <p>("application/pdf")</p></label></td>
                                                    <td>
                                                        {% set documents = brouillon.getPdfDocuments() ? brouillon.getPdfDocuments()|merge(program.getPdfDocuments()) : program.getPdfDocuments() %}
                                                        {% include 'AppBundle:HouseModels:includes/documents.html.twig' with {'documents':documents} %}
                                                        <div action="{{ oneup_uploader_endpoint('housemodel') }}" class="dropzone" id="dropzone_pdf"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <h3>{{ 'program.bon_plan'|trans }}</h3>
                                            <table class="table table-bordered table-striped" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.titreOffre) }}
                                                {{ form_row(form.descriptionOffre) }}
                                                {{ form_row(form.mentionLegalOffre) }}
                                                {{ form_row(form.dateDebutOffre) }}
                                                {{ form_row(form.dateFinOffre) }}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% elseif flow.getCurrentStepNumber() == 2 %}
                                        <!-- Terrain -->
                                            <div id="step3" class="tab-pane active">
                                                <h3>{{ 'program.step3'|trans }}</h3>
                                                <hr/>
                                                {% if projectType != 'terrain' %}
                                                    <h4>{{ 'Prestations générales'|trans }}</h4>
                                                    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {{ form_row(form.environnement) }}
                                                        {{ form_row(form.nbetages) }}
                                                        {{ form_row(form.standing) }}
                                                        {{ form_row(form.investisseur) }}
                                                        {{ form_row(form.habitat) }}
                                                        {{ form_row(form.typeDeChauffage) }}
                                                        {{ form_row(form.energieDeChauffage) }}
                                                        {{ form_row(form.revetementDeSol) }}
                                                        {{ form_row(form.vitrage) }}
                                                        {{ form_row(form.siVoletsRoulantsElectriques) }}
                                                        {{ form_row(form.siClimatise) }}
                                                        {{ form_row(form.siTV) }}
                                                        {{ form_row(form.siPMR) }}
                                                        {{ form_row(form.siPiscine) }}
                                                        {{ form_row(form.grenier) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ 'Prestations extérieures et stationnement'|trans }}</h4>
                                                    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {{ form_row(form.siGarage) }}
                                                        {{ form_row(form.siParking) }}
                                                        {{ form_row(form.siBox) }}
                                                        {{ form_row(form.siTerrasse) }}
                                                        {{ form_row(form.siBalcons) }}
                                                        {{ form_row(form.siCave) }}
                                                        {{ form_row(form.siJardin) }}
                                                        {{ form_row(form.typeJardin) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ 'Sécurité'|trans }}</h4>
                                                    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {% if projectType == 'appartement' %}
                                                            {{ form_row(form.siGardien) }}
                                                            {{ form_row(form.siVideophone) }}
                                                            {{ form_row(form.siInterphone) }}
                                                        {% endif %}
                                                        {{ form_row(form.siDigicode) }}
                                                        {{ form_row(form.siAlarme) }}
                                                        {{ form_row(form.siAscenseur) }}
                                                        </tbody>
                                                    </table>
                                                    <h4>{{ 'Consommation énergie'|trans }}</h4>
                                                    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {{ form_row(form.DPE) }}
                                                        {{ form_row(form.dpeValue) }}
                                                        {{ form_row(form.GES) }}
                                                        {{ form_row(form.gesValue) }}
                                                        </tbody>
                                                    </table>
                                                {% else %}
                                                    <h4>{{ 'Détails de lotissement'|trans }}</h4>
                                                    <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                        <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        {{ form_row(form.libreConstruction) }}
                                                        {{ form_row(form.siViabilise) }}
                                                        {{ form_row(form.constructible) }}
                                                        {{ form_row(form.servitude) }}
                                                        {{ form_row(form.pente) }}
                                                        {{ form_row(form.typeTerrain) }}
                                                        {{ form_row(form.exposition) }}
                                                        {{ form_row(form.environnement) }}
                                                        {{ form_row(form.belleVue) }}
                                                        </tbody>
                                                    </table>
                                                {% endif %}
                                        </div>
                                        {% elseif flow.getCurrentStepNumber() == 3 %}
                                        <div id="step4" class="tab-pane active">
                                            <h3>{{ 'Commodites a proximite'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.siProximiteCentreville) }}
                                                {{ form_row(form.siProximiteCommerces) }}
                                                {{ form_row(form.siProximiteCentreCommercial) }}
                                                {{ form_row(form.siProximiteCreche) }}
                                                {{ form_row(form.siProximiteEcolePrimaire) }}
                                                {{ form_row(form.siProximiteCollege) }}
                                                {{ form_row(form.siProximiteLycee) }}
                                                {{ form_row(form.siProximiteUniversite) }}
                                                {{ form_row(form.siProximiteSortieAutoroute) }}
                                                {{ form_row(form.siProximiteGare) }}
                                                {{ form_row(form.siProximiteTramway) }}
                                                {{ form_row(form.siProximiteAeroport) }}
                                                {{ form_row(form.siProximiteParking) }}
                                                {{ form_row(form.siProximiteEspacesVerts) }}
                                                </tbody>
                                            </table>
                                            <h3>{{ 'Avantages environnementaux'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.siEcoQuartier) }}
                                                {{ form_row(form.siBioConstruction) }}
                                                </tbody>
                                            </table>
                                            <h3>{{ 'Avantages Investissement'|trans }}</h3>
                                            <table class="table table-bordered table-striped" id="terrain-table" style="clear: both">
                                                <tbody>
                                                <tr><td width="35%"></td><td width="65%"></td></tr>
                                                {{ form_row(form.loiPinel) }}
                                                {{ form_row(form.loiDuflot) }}
                                                {{ form_row(form.censiBouvard) }}
                                                {{ form_row(form.LMP_LMNP) }}
                                                {{ form_row(form.loi_Girardin_Paul) }}
                                                {{ form_row(form.loi_Malraux) }}
                                                {{ form_row(form.loi_Demessine) }}
                                                {{ form_row(form.regime_SCPI) }}
                                                {{ form_row(form.nue_Propriete) }}
                                                {{ form_row(form.pret_Locatif_Social) }}
                                                {{ form_row(form.PSLA) }}
                                                {{ form_row(form.monumentHistorique) }}
                                                {{ form_row(form.elligiblePret) }}
                                                {{ form_row(form.tva_1) }}
                                                {{ form_row(form.tva_2) }}
                                                </tbody>
                                            </table>
                                            {% if projectType != 'terrain' %}
                                                <h3>{{ 'Certifications et labels'|trans }}</h3>
                                                <table class="table table-bordered table-striped" style="clear: both">
                                                    <tbody>
                                                    <tr><td width="35%"></td><td width="65%"></td></tr>
                                                    {{ form_row(form.hauteQualiteEnvironnementale) }}
                                                    {{ form_row(form.nfLogement) }}
                                                    {{ form_row(form.labelHabitatEnvironnement) }}
                                                    {{ form_row(form.THPE) }}
                                                    {{ form_row(form.HPE_ENR) }}
                                                    {{ form_row(form.labelBatimentBasseConsommation) }}
                                                    {{ form_row(form.labelHabitatEnvironnementEffinergie) }}
                                                    {{ form_row(form.planLocalHabitat) }}
                                                    {{ form_row(form.RT2012) }}
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        </div>
                                        {% elseif flow.getCurrentStepNumber() == 4 %}
                                        <!-- Visuel -->
                                        <div id="step5" class="tab-pane active">
                                            <div>
                                                <h3>{{ 'program.step5'|trans }}</h3>
                                                <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
                                                    <tbody>
                                                        <tr><td width="35%"></td><td width="65%"></td></tr>
                                                        <tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ program.getTitle() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.type'|trans }}</b></td><td>{{ program.getType() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td><td>{{ program.getReferenceInterne() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.adresse'|trans }}</b></td><td>{% if program.getAdresse() %}{{ program.getAdresse() }}, {% endif %}{{ program.getVille()~', '~program.getPays()|trans }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.zip_code'|trans }}</b></td><td>{{ program.getCodePostal() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.principale_image'|trans }}</b></td><td><img class="img-limit" src="/{{ brouillon.getImagePrincipale() }}" /></td></tr>
                                                        <tr><td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td><td>{{ program.getLienVisitVirtuel() }}</td></tr>
                                                        <tr><td><b>{{ 'ads.ad.description'|trans }}</b></td><td>{{ program.getDescription()|raw }}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% include 'AppBundle:Common:Flow/buttons.html.twig' %}
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>
                            {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {% if flow.getCurrentStepNumber() == 1 %}
        {% include 'AppBundle:HouseModels:includes/dropzone.html.twig' %}
    {% endif %}
    {% include 'AppBundle:HouseModels:includes/javascript.html.twig' %}
    <script type="application/javascript">
        $(function() {
             $('.filestyle.uplodable').fileupload({
                dataType: 'json',
                autoUpload: true,
                maxFileSize: 10000,
                formData: {
                    type: 'images',
                    id: {{ brouillon.id }}
                },
                add: function (e, data) {
                    $(this).closest('.image-container').find('.image-stat').removeClass('hidden');
                    data.submit();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $( this ).closest('.image-container').find('.progress-small .progress-bar').css('width',progress + '%');
                    $( this ).closest('.image-container').find('.progress-extended').html(fileRender.renderExtendedProgress(data));
                },
                done: function (e, data) {
                    $( this ).closest('.image-container').find('.bootstrap-filestyle .input-group').val(data.result.originalName);
                    var img = $(this).closest('.image-container').find('img');
                    if(img.length) {
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            img.attr('src', e.target.result);
                        };
                        reader.readAsDataURL(data.files[0]);
                    }
                }
            });
        });
    </script>
{% endblock %}