{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "program.list" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "program.list" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "program.list" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            {% if form %}
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            Filtres
                        </div>
                        <div class="panel-body">
                            {% form_theme form 'AppBundle:Ads:_widget_ads.html.twig' %}
                            {{ form_start(form,{'attr':{'id':'filtersForm'}}) }}
                            <div class="row">
                                {% if is_granted('ROLE_MARKETING') %}
                                    <div class="col-md-3">
                                        {% if form.bigGroups is defined %}
                                            {{ form_row(form.bigGroups,{'id':'bigGroups'}) }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        <div id="groupContainer">
                                            {% if form.group is defined %}
                                                {{ form_row(form.group,{'id':'group'}) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-3">
                                    <div id="commercialsContainer">
                                        {% if form.commercial is defined %}
                                            <div id="commercials">
                                                {{ form_row(form.commercial) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-12">
                <div class="hpanel">
                    <div id="datatable-container" class="panel-body">
                        {% if trackingAdvantage %}
                            <div id="tracking-information">

                            </div>
                        {% endif %}
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(function() {
            if($('#bigGroups').length) {
                $('#bigGroups').on('change', function(){
                    $(this).closest('form').ajaxSubmit({
                        success: function(res) {
                            $('#groupContainer .select2-container').remove();
                            $('#groupContainer').replaceWith($(res).find('#groupContainer'));
                            $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                            $('#group').select2();
                        }
                    });
                });
            }
            $(document).on('change','#group', function(){
                $(this).closest('form').ajaxSubmit({
                    success: function(res) {
                        $('#commercialsContainer').replaceWith($(res).find('#commercialsContainer'));
                    }
                });
            });
        });
    </script>
{% endblock %}