{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ 'program.list_lots' }}{% endblock %}
{% block body %}

    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>{{ block('title') }}</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel panel-collapse">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                        </div>
                        Filtres
                    </div>
                    <div class="panel-body" style="display: none;">
                        {% form_theme form 'AppBundle:Program:_widget_lots.html.twig' %}
                        {{ form_start(form,{'attr':{'id':'lotsForm'}}) }}
                        <div class="row">
                            <div class="col-md-3">
                                {{ form_row(form.dateRemonter) }}
                                {{ form_row(form.prixMax) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.portalDiffusion) }}
                                {{ form_row(form.typeLot) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.zipcode) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.etat) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        {{ datatable_render(datatableSearch) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .nav.nav-tabs .btn-default { background-color: transparent; }
    </style>
{% endblock %}