{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ 'program.moderation'|trans }}{% endblock %}
{% block body %}

    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active"><span>{{ block('title') }}</span></li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <a href="">{{ block('title') }}</a>
                </h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'ads.notification'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="hpanel blog-box col-sm-12">
                            <div class="media clearfix">
                                <div class="media-body">
                                    <textarea id="notificationMessage" class="form-control"  rows="5"></textarea>
                                    <hr/>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="sendInformation">{{ 'action.send'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        var id ;
        $(document).on('click', '.btn-datatable-informer', function(e){
            id = $(this).data('id');
        });
        $(document).on('click', '#sendInformation', function(e){
            $.ajax({
                url: Routing.generate('program_informer', {
                    'remoteId':id,
                    'value': $('#notificationMessage').val()
                }),
                type: 'POST',
                success: function (data) {
                    $('#notificationMessage').val('');
                    toastr["success"]("{{ 'ads.notification_has_been_sent'|trans }}")
                }
            });
        });
    </script>
{% endblock %}