{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "program.voir" | trans }}{% endblock %}
{% block body %}
    <div class="normalheader transition animated fadeIn small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span><a href="">{{ "program.voir" | trans }}</a></span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">{{ "program.voir" | trans }}</h2>
            </div>
        </div>
    </div>

    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-6">
                <div class="hpanel hblue">
                    <div class="panel-body">
                        <div class="pull-right text-right">
                            <div class="btn-group">
                                <a href="{{ path('program_edit',{'remoteId':program.getRemoteId()}) }}">
                                    <i class="fa fa-pencil-square-o btn btn-default btn-xs"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Visuel -->
                        <h3>{{ "program.resumer" | trans }}</h3>
                        <table class="table table-bordered table-striped" id="annonce-table-review" style="clear: both">
                            <tbody>
                            <tr><td width="35%"></td><td width="65%"></td></tr>
                            <tr><td><b>{{ 'ads.ad.title'|trans }}</b></td><td>{{ program.getTitle() }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.type_program'|trans }}</b></td><td>{{ program.getType() }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.internal_reference'|trans }}</b></td><td>{{ program.getReferenceInterne() }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.adresse'|trans }}</b></td><td>{% if program.getAdresse() %}{{ program.getAdresse() }}, {% endif %}{{ program.getVille()~', '~program.getPays()|trans }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.zip_code'|trans }}</b></td><td>{{ program.getCodePostal() }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.principale_image'|trans }}</b></td><td><img src="{{ program.getImagePrincipale()|imagine_filter('model_small') }}" /></td></tr>
                            <tr><td><b>{{ 'ads.ad.virtual_visit_link'|trans }}</b></td><td>{{ program.getLienVisitVirtuel() }}</td></tr>
                            {% if programParams['prixMin'] %}<tr><td><b>{{ 'ads.ad.price'|trans }}</b></td><td>{{ programParams['prixMin']~"€"~' ~ '~programParams['prixMax']~"€" }}</td></tr>{% endif %}
                            {% if programParams['surfaceMin'] %}<tr><td><b>{{ 'ads.ad.surface'|trans }}</b></td><td>{{ programParams['surfaceMin']~"m²"~' ~ '~programParams['surfaceMax']~"m²" }}</td></tr>{% endif %}
                            <tr><td><b>{{ 'program.nombre_total_lots'|trans }}</b></td><td>{{ program.nbLots }}</td></tr>
                            <tr><td><b>{{ 'program.nombre_lots_existant'|trans }}</b></td><td>{{ programParams['nbAds'] }}</td></tr>
                            <tr><td><b>{{ 'program.nombre_lots_restant'|trans }}</b></td><td>{{ program.nbLotsDisponible }}</td></tr>
                            <tr><td><b>{{ 'ads.ad.description'|trans }}</b></td><td>{{ program.getDescription()|raw }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel hred">
                    <div class="panel-body">
                        {{ datatable_render(datatable) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}