{% stylesheets
    'bundles/notes/css/common.css'
    'bundles/notes/css/notes.css'        
    filter='cssrewrite,?yui_css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" async defer />
{% endstylesheets %}