{% trans_default_domain 'commiti' %}
    {% set type = type is defined ? type : 'housemodel' %}
    <script type="text/javascript">
        $(function() {
            Dropzone.autoDiscover = false;
            myDropzone = new Dropzone("#dropzone",{
                maxFiles: 5,
                acceptedFiles: "image/jpeg,image/jpg",
                addRemoveLinks: true,
                dictInvalidFileType: '{{ 'validation.invalid_file_format'|trans }}',
                dictRemoveFile: "{{ 'action.delete'|trans }}",
                dictCancelUpload: "{{ 'action.delete'|trans }}",
                dictDefaultMessage: "Glisser vos fichiers ici pour télécharger",
                removedfile: function(file) {
                    if(file.xhr) {
                        var json = $.parseJSON(file.xhr.responseText);
                        $.ajax({
                            url: Routing.generate('api_delete_document', {'id':json.id}),
                            type: 'DELETE',
                            success: function (data) {
                                var _ref;
                                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                            }
                        });
                    } else {
                        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                    }
                }
            });
            myDropzone.on("addedfile", function(file) {
                if(file.status == "success") {
                    file._captionBox = Dropzone.createElement("<div class='dz-title'><input class='caption' id='"+file.name+"' type='text' placeholder='Titre photo' name='caption' class='dropzone_caption' value='' /></div>");
                    file.previewElement.appendChild(file._captionBox);
                }
            });
            $("#dropzone").on('focusout', 'input.caption', function() {
                var caption = $(this).val();
                var id = $(this).closest('.dz-preview').find('.dz-remove').data('id');
                $.ajax({
                    url: Routing.generate('api_title_document', {'id':id,'caption':caption}),
                    type: 'POST'
                });
            });
            myDropzone.on("sending", function(file, xhrRequest, formData) {
                formData.append('type', '{{ type }}');
                formData.append('userId', '{{ app.user.getId() }}');
                formData.append('brouillonId', '{{ brouillon.getId() }}');
                formData.append('fileName', file.name);
            }).on("success", function (file) {
                var json = $.parseJSON(file.xhr.responseText);
                file.previewElement.querySelector(".dz-remove").setAttribute('data-id',json.id);
            }).on("maxfilesexceeded", function(file){
                alert("{{ 'validation.no_more_files_please'|trans }}");
                this.removeFile(file);
            });

            myDropzonePDF = new Dropzone("#dropzone_pdf",{
                maxFiles: 5,
                acceptedFiles: "application/pdf",
                addRemoveLinks: true,
                dictInvalidFileType: '{{ 'validation.invalid_file_format'|trans }}',
                dictRemoveFile: "{{ 'action.delete'|trans }}",
                dictCancelUpload: "{{ 'action.delete'|trans }}",
                dictDefaultMessage: "Glisser vos fichiers ici pour télécharger",
                removedfile: function(file) {
                    if(file.xhr) {
                        var json = $.parseJSON(file.xhr.responseText);
                        $.ajax({
                            url: Routing.generate('api_delete_document', {'id': json.id}),
                            type: 'DELETE',
                            success: function (data) {
                                var _ref;
                                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                            }
                        });
                    } else {
                        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                    }
                }
            });
            myDropzonePDF.on("sending", function(file, xhrRequest, formData) {
                formData.append('type', '{{ type }}');
                formData.append('userId', '{{ app.user.getId() }}');
                formData.append('brouillonId', '{{ brouillon.getId() }}');
                formData.append('fileName', file.name);
            }).on("maxfilesexceeded", function(file){
                alert("{{ 'validation.no_more_files_please'|trans }}");
                this.removeFile(file);
            });
        });
    </script>