    <script type="text/javascript">
        $(function() {
            {% if brouillon is defined %}
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                if(target == '#step3') {
                    $('#maison-table-review').siblings('h3').html($('.model_name').val() ? $('.model_name').val() : '----');
                    showResults.maison('#step1,#step2');
                    $.ajax({
                        url: Routing.generate('api_housemodel_documents_list', {'brouillon':{{ brouillon.getId() }}, 'sessionId': "{{ brouillon.getSessionId() }}"  }),
                        type: 'GET',
                        success: function (data) {
                            $('#documents-review').html(data);
                        }
                    });

                }
            });
            {% endif %}
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href");
                if(target == '#step3') {
                    $('#maison-table-review').siblings('h3').html($('.model_name').val() ? $('.model_name').val() : '----');
                    showResults.maison('#step1,#step2');
                    $.ajax({
                        url: Routing.generate('api_housemodel_documents_list', {'brouillon':{{ brouillon.getId() }}, 'sessionId': "{{ brouillon.getSessionId() }}"  }),
                        type: 'GET',
                        success: function (data) {
                            $('#documents-review').html(data);
                        }
                    });

                }
            });
            $('.removeDocument').click(function(){
                var $this = $(this);
                $.ajax({
                    url: Routing.generate('api_delete_document', {
                        'id':$this.data('id')
                    }),
                    type: 'DELETE',
                    success: function (data) {
                        $this.closest('.uploadedDocument').remove();
                    }
                });
            });
            // close accordion if any require field there
            $("div[id^=accordionStep]").each(function(index, value){
                if($("label.required", value).size() == 0) {
                    $(".panel-title a.accordion-title", value).click();
                }
            });
        });

    </script>