<div class="modal fade choose_model" id="{{ 'choose_'~projectType~'_model'}}" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">{{ 'ads.choose_model'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    {% for houseModel in houseModels %}
                        {% set owner = houseModel.getOwner() %}
                        <div class="hpanel blog-box col-sm-4">
                            <div class="panel-heading">
                                <div class="media clearfix">
                                    <a class="pull-left">
                                        {% if owner and owner.getAvatar() %}
                                            <img src="{{ asset(owner.getAvatar()) }}" alt="profile-picture">
                                        {% else %}
                                            <i class="pe-7s-user fa-5x text-muted"></i>
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        {% if owner %}
                                        <small>{{ 'created_by'|trans }}: <span class="font-bold">{{ owner.getName()|capitalize }}</span> </small>
                                        <br/>
                                        {% endif %}
                                        <small class="text-muted">{{ houseModel.getCreatedAt()|date('d-m-Y à h:m:s') }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-image">
                                {% if houseModel.getImagePrincipale() %}
                                <img src="{{ (houseModel.getImagePrincipale())|imagine_filter('model_small') }}" class="img-responsive" />
                                {% endif %}
                                <div class="title">
                                    {% if projectType == 'duo' %}
                                        <a href="{{ path('add_ads_duo_project',{'remoteId':houseModel.getRemoteId()}) }}"><h4>{{ houseModel.getName() }}</h4></a>
                                    {% else %}
                                        <a href="{{ path('add_ads_project',{'projectType':projectType,'remoteId':houseModel.getRemoteId()}) }}"><h4>{{ houseModel.getName() }}</h4></a>
                                    {% endif %}
                                    <small>{{ houseModel.getMaison().getDescription()|striptags|truncate(50)|raw }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'action.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>