{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "home" | trans }}{% endblock %}

{% block body %}
    <div class="content animate-panel">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="pull-right">
                <a class="btn btn-success" href="{{ path('homepage_edit') }}" title='{{ "Setting dashoard" | trans }}' >
                    {{ "Setting dashboard" | trans }}
                </a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12 text-center m-t-md" >
                <h1>Bienvenue sur <img src="{{ asset('images/logo.png') }}" style="height: 90px;vertical-align: sub;" /><br/></h1>
                <p>Le portail de diffusion dédié aux spécialistes des <strong>annonces immobilières</strong> sur l'internet</p>
            </div>
        </div>
        <div class="row">
            {% include '@App/Dashboard/topRow.html.twig'  %}
        </div>
        <form name="dashboard-filter-form" method="POST">
            <div class="row">
                {% include "AppBundle:Dashboard:statisticsFilters.html.twig" %}
            </div>
            <div class="row">
                {% include "AppBundle:Dashboard/Charts:contacts.html.twig" %}
            </div>
        </form>
        <div class="row">
            {% include '@App/Dashboard/topClassement.html.twig'  %}
        </div>
        <div class="row">
            {% include '@App/Dashboard/widgets.html.twig'  %}
        </div>
{% endblock %}

{% block javascript %}
<script>

    $(function () {

        /**
         * Flot charts data and options
         */
        var data1 = {{ contactStats ? contactStats.scores|json_encode|raw : '' }};
        var data3 = [ [0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51] ];
        var data2 = [ [0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59] ];

        var chartUsersOptions = {
            series: {
                splines: {
                    show: true,
                    tension: 0.4,
                    lineWidth: 1,
                    fill: 0.4
                },
                label: "x = Jrs, y = Nbres"
            },
            grid: {
                tickColor: "#f0f0f0",
                borderWidth: 1,
                borderColor: 'f0f0f0',
                color: '#6a6c6f'
            },
            colors: [ "#62cb31", "#efefef"],
            axis: {
                ticks:{
                    label: "XXXX",
                    labelPos: "high"
                }
            }
        };

        $.plot($("#contacts-line-chart"), [data3], chartUsersOptions);
        console.info("chartUsersOptions", chartUsersOptions);
        console.info("data1", data1);

        /**
         * Flot charts 2 data and options
         */
        var chartIncomeData = [
            {
                label: "line",
                data: [ [1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51] ]
            }
        ];

        var chartIncomeOptions = {
            series: {
                lines: {
                    show: true,
                    lineWidth: 0,
                    fill: true,
                    fillColor: "#64cc34"

                }
            },
            colors: ["#62cb31"],
            grid: {
                show: false
            },
            legend: {
                show: false
            },
            plotWidth: "200px",
            plotHeight: "200px"
        };

        //$.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);

        setTimeout(function(){
            $(".gauge").each(function(index, element) {
               score = $(element).data("score");
                c3.generate({
                    bindto: element,
                    data:{
                        columns: [
                            ['Taux', score]
                        ],

                        type: 'gauge'
                    },
                    color:{
                        pattern: ['#62cb31', '#BABABA']

                    },
                    size: {
                        width: 200
                    }
                });
            });

            c3.generate({
                bindto: '#gauge1',
                data:{
                    columns: [
                        ['data', 91.4]
                    ],

                    type: 'gauge'
                },
                color:{
                    pattern: ['#62cb31', '#BABABA']

                },
                size: {
                    width: 200
                }
            });
            c3.generate({
                bindto: '#gauge2',
                data:{
                    columns: [
                        ['data', 91.4]
                    ],

                    type: 'gauge'
                },
                color:{
                    pattern: ['#62cb31', '#BABABA']

                },
                size: {
                    width: 200
                }
            });
            c3.generate({
                bindto: '#gauge3',
                data:{
                    columns: [
                        ['data', 91.4]
                    ],

                    type: 'gauge'
                },
                color:{
                    pattern: ['#62cb31', '#BABABA']

                },
                size: {
                    width: 200
                }
            });
        },700);

        $(".notification-stats-btn").on("click", function(event){
            event.stopPropagation();
            $(".label-menu-corner").click();
        })
    });

</script>
{% endblock %}