{% extends 'AppBundle::Emails/layout.html.twig' %}
{% trans_default_domain 'commiti' %}
{% block title %}{{ "opportunity.received_subject"|trans }}{% endblock %}
{% block body %}
    <p>
        Bonjour  {{ opportunity.commercial.name }} ,
    </p>
    <p>Nous vous informons qu'une nouvelle
        <a href="{{ path('gestion_opportunity_view', {"remoteId": opportunity.remoteId}) }}">
            opportunité
        </a> vient de vous être envoyer interface DISPLAY..<br/> <br/>
        Merci de bien vouloir en prendre connaissance.<br/>
    </p>
{% endblock %}